@import '../../../../assets/css/variable.scss';

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .filter-fields {
        width: 22%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.buttons-search-clear {
    display: flex;
    width: 25%;
    justify-content: left;
    font-size: 14px;

    .mat-flat-button {
        background-color: $bms_white !important;
        box-shadow: none !important;
        color: $bms_black !important;
        font-size: 14px;

        .mat-icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
            line-height: 16px;
            padding-bottom: 5px;
        }
    }
}

.server-table {
    min-height: 360px;
}

.table-placeholder {
    position: absolute;
}
