@import '../../../../assets/css/variable.scss';

.filters {
    display: flex;
    .filter-fields {
        width: 25%;
    }
}

.buttons-search-clear {
    display:flex;
    width: 100%;
    justify-content: left;
    font-size: 14px;
    

    .mat-raised-button {
        background-color:$bms_white !important;
        box-shadow: none !important;
        color:$bms_black !important;
        font-size: 14px;

        .mat-icon {
            width:16px;
            height:16px;
            font-size: 16px;
            line-height: 16px;
            padding-bottom:5px;
        }
    }
}

.spinner-container {
    display: flex;
    justify-content: space-around;
}