<div class="table-container">
    <div class="noDataContainer" *ngIf="!tableServerData">
        <h3>
            <mat-icon>cloud_off</mat-icon>
            {{language.no_data}}
        </h3>
    </div>

    <div class="buttons-header">
        <div class="container-header" *ngIf="tableServerData">
            <mat-form-field class="search-input">
                <input matInput (keyup)="applySpecificFilter($event.target.value, 'any')"
                    placeholder="{{language.table_filter | uppercaseFirst}}">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="buttons-search-clear">
            <button mat-flat-button class="button-text-accent" (click)="showAdvancedResearch()">
                <mat-icon *ngIf="!advancedResearch">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="advancedResearch">keyboard_arrow_up</mat-icon>
                {{language.beneficiary_advanced_research | uppercaseFirst}}
            </button>
            <button *ngIf="advancedResearch" mat-flat-button class="button-text-accent" (click)="clearSearch()">
                <mat-icon>clear</mat-icon>
                {{language.beneficiary_clear_all_research | uppercaseFirst}}
            </button>
        </div> 

        <div class="selected-items" *ngIf="selectable && selection.selected.length > 0">
            <p *ngIf="selection.selected.length < 2; else plural">{{selection.selected.length}} {{language.beneficiary | uppercaseFirst}} {{language.selected}}</p>
            <ng-template #plural>
                <p>{{selection.selected.length}} {{language.beneficiaries | uppercaseFirst}} {{language.selected}}</p> 
            </ng-template>     
        </div>  
    </div>

    <div *ngIf="filtersForm && advancedResearch">
        <form [formGroup]="filtersForm" class="filters">
            <ng-container *ngFor="let fieldName of filterFields">
                <div *ngIf="display(filters.fields[fieldName]); let field" class="filter-fields">
                    <ng-container *ngIf="field.kindOfField === 'MultipleSelect'; else isSingleSelect">
                        <ng-select [formControlName]="fieldName" [placeholder]="field.title | uppercaseFirst"
                            [multiple]="true" [closeOnSelect]="false">
                            <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                {{(language[option.get(field.bindField)] || option.get(field.bindField)) | uppercaseFirst}}
                            </ng-option>
                        </ng-select>
                    </ng-container>

                    <ng-template #isSingleSelect>
                        <ng-container *ngIf="field.kindOfField === 'SingleSelect'; else isMaterialField">
                            <ng-select [formControlName]="fieldName" [placeholder]="field.title | uppercaseFirst">
                                <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                    {{option.get(field.bindField) | uppercaseFirst}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </ng-template>

                    <ng-template #isMaterialField>
                        <mat-form-field
                            *ngIf="field.kindOfField !== 'Object' && field.kindOfField !== 'MultipleObject'; else isObject">
                            <ng-container *ngIf="field.kindOfField === 'Text'; else checkForDateField">
                                <input *ngIf="field.isPassword; else checkForTextArea"
                                    [placeholder]="field.title | uppercaseFirst" matInput type="password"
                                    [formControlName]="fieldName" autocomplete="new-password">

                                <ng-template #checkForTextArea>
                                    <ng-container *ngIf="field.isLongText; else checkForTextInput">
                                        <textarea matInput type="text" [formControlName]="fieldName"
                                            [placeholder]="field.title | uppercaseFirst"></textarea>
                                    </ng-container>
                                </ng-template>

                                <ng-template #checkForTextInput>
                                    <input matInput type="text" [formControlName]="fieldName"
                                        [placeholder]="field.title | uppercaseFirst">
                                </ng-template>
                            </ng-container>


                            <ng-template #checkForDateField>
                                <ng-container *ngIf="field.kindOfField === 'Date'; else checkForNumberField">
                                    <input matInput [matDatepicker]="picker" [formControlName]="fieldName"
                                        [placeholder]="field.title | uppercaseFirst">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </ng-container>
                            </ng-template>

                            <ng-template #checkForNumberField>
                                <ng-container *ngIf="field.kindOfField === 'Number'">
                                    <input matInput type="number" [formControlName]="fieldName">
                                </ng-container>
                            </ng-template>
                            <mat-error
                                *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('required')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('required'))">
                                {{ fieldName | uppercaseFirst}} {{ language.is_required }}
                            </mat-error>
                            <mat-error
                                *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('pattern')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('pattern'))">
                                {{field.hint | uppercaseFirst}}
                            </mat-error>
                            <mat-hint align="start" *ngIf="field.hint && modalType !== 'Details'">
                                <strong>{{field.hint | uppercaseFirst}}</strong> </mat-hint>
                        </mat-form-field>
                    </ng-template>
                </div>
            </ng-container>
        </form>
    </div>

    <div class="spinner-container" *ngIf="tableServerData.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <div class="table-placeholder" *ngIf="tableServerData.loading$ | async">
        <!-- Just to have the loader in a blank space between the title and the paginator -->
    </div>
    <mat-table class="server-table" [dataSource]="tableServerData" matSort
        [ngClass]="{'rtl':language.direction === 'rtl'}">
        <ng-container *ngIf="selectable" matColumnDef="check">
            <mat-header-cell class="header-cell" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell class="content-cell" *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="selectCheck($event, element)"
                    [checked]="selection.isSelected(element)" color="primary">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container *ngFor="let property of displayProperties" matColumnDef="{{property}}">
            <mat-header-cell mat-sort-header *matHeaderCellDef>
                {{entityInstance.fields[property].title | uppercaseFirst}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.fields[property]; let field">
                    <app-display-field [field]="field" [element]="element"></app-display-field>
                </ng-container>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>{{language.table_actions | uppercaseFirst }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="validatable">
                    <button mat-icon-button (click)="openDialog('visit', element); $event.stopPropagation();">
                        <mat-icon *ngIf="element.get('validated') && element.get('finished')" [matTooltip]="language.update | uppercaseFirst">done</mat-icon>
                        <mat-icon *ngIf="element.get('validated') && !element.get('finished')" class="red" [matTooltip]="language.update | uppercaseFirst">lock
                        </mat-icon>
                        <mat-icon *ngIf="!element.get('validated') && updatable" class="dark-blue" [matTooltip]="language.update | uppercaseFirst">edit</mat-icon>
                    </button>
                </ng-container>
                <button mat-icon-button (click)="openDialog('visit', element); $event.stopPropagation();">
                    <mat-icon *ngIf="!validatable && updatable" class="dark-blue" [matTooltip]="language.update | uppercaseFirst">edit</mat-icon>
                </button>

                <button mat-icon-button (click)="requestLogs(element); $event.stopPropagation()" class="logsButton"
                    *ngIf="loggable" [matTooltip]="language.settings_log_button">
                    <mat-icon>history</mat-icon>
                </button>

                <button *ngIf="editable && (!validatable || !element.get('validated'))" mat-icon-button
                    (click)="openDialog('edit', element); $event.stopPropagation()" [matTooltip]="language.view"
                    class="green">
                    <mat-icon>search</mat-icon>
                </button>
                <button *ngIf="deletable && (!validatable || !element.get('validated'))" mat-icon-button
                    (click)="openDialog('delete', element); $event.stopPropagation()" [matTooltip]="language.delete"
                    class="red">
                    <mat-icon>delete_outline</mat-icon>
                </button>
                <button *ngIf="printable" mat-icon-button (click)="print(element); $event.stopPropagation()"
                    [matTooltip]="language.table_print | uppercaseFirst" class="grey" [disabled]="!element.isPrintable()">
                    <mat-icon>printer</mat-icon>
                </button>
                <button mat-icon-button [matTooltip]="language.table_assign | uppercaseFirst" *ngIf="assignable"
                    (click)="assign(element); $event.stopPropagation()" class="grey"
                    [disabled]="!element.isAssignable()">
                    <mat-icon>assignment</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns(); let element" class="cursor-pointer"
            (click)="openDialog('details', element)"></mat-row>
    </mat-table>
    <mat-paginator [length]="tableServerData.length$ | async" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10"
        showFirstLastButtons></mat-paginator>
</div>
