@import '../../../../assets/css/variable.scss';


.table-entry {
    box-shadow: $bms_shadow;
    background-color: $bms-grey;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .table-properties {
        padding: 20px 20px 0 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .table-property {
            display: flex;
            flex-direction: co;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 10px 0;
            flex-wrap: wrap;
        }
        .element-title {
            font-weight: bold;
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &>button {
            flex-grow: 1;
            border: 1px solid $bms_grey;
            border-radius: 0;
            color: $bms_white;
            &:first-child {
                border-bottom-left-radius: 10px;
            }
            &:last-child {
                border-bottom-right-radius: 10px;
            }
            &.blue {
                background-color: $bms_dark_blue;
            }
            &.red {
                background-color: $bms_red;
            }
            &.green {
                background-color: $bms_green;
            }
            &.grey {
                background-color: $bms_dark_grey;
            }
        }
    }
}
