<!-- TABLE -->
<div class="table-container">
  <div class="noDataContainer" *ngIf="!tableData">
      <h3>
        <mat-icon>clear</mat-icon>
        {{table.no_data}}
      </h3>
  </div>
  <div *ngIf="tableData">
    <table *ngFor="let element of tableData.data" class="box-element">
      <tbody>
        <tr *ngFor="let property of displayProperties" (click)="openDialog('details', element)" class="cursor-pointer">
          <td class="element-title">
            <span> {{entityInstance.fields[property].title | uppercaseFirst}}</span>
          </td>
          <td class="element-value" *ngIf="element.fields[property]; let field">
              <app-display-field [field]="field" [element]="element"></app-display-field>
          </td>
        </tr>
      </tbody>
      <tfoot>
          <ng-container *ngIf="validatable">
              <button mat-button (click)="openDialog('visit', element); $event.stopPropagation();" class="light-red">
                  <mat-icon *ngIf="element.get('validated') && element.get('finished')">done</mat-icon>
                  <mat-icon *ngIf="element.get('validated') && !element.get('finished')">lock</mat-icon>
                  <mat-icon *ngIf="!element.get('validated') && updatable">edit</mat-icon>
              </button>
          </ng-container>
          <button mat-button *ngIf="!validatable && updatable" (click)="openDialog('visit', element); $event.stopPropagation();"  class="light-red">
                  <mat-icon inline=true>edit</mat-icon>
          </button>

          <button mat-button (click)="requestLogs(element); $event.stopPropagation()" *ngIf="loggable" class="grey">
              <mat-icon>history</mat-icon>
          </button>

          <button *ngIf="editable && (!validatable || !element.get('validated'))" mat-button (click)="openDialog('edit', element); $event.stopPropagation()" class="green">
              <mat-icon>search</mat-icon>
          </button>
          <button *ngIf="deletable && (!validatable || !element.get('validated'))" mat-button (click)="openDialog('delete', element); $event.stopPropagation()" class="red">
              <mat-icon>close</mat-icon>
          </button>
          <button *ngIf="printable" mat-button (click)="print(element); $event.stopPropagation()" class="grey" [disabled]="!element.isPrintable()">
              <mat-icon>description</mat-icon>
          </button>
          <button mat-button *ngIf="assignable" (click)="assign(element); $event.stopPropagation()" class="grey" [disabled]="!element.isAssignable()">
              <mat-icon>assignment</mat-icon>
          </button>
      </tfoot>
    </table>
  </div>
</div>
