<!-- TABLE -->
<div class="table-container">
    <div class="noDataContainer" *ngIf="(!tableData || (tableData.data && tableData.data.length === 0)) && !isLoading; else dataInTable">
        <h3>
          <mat-icon>cloud_off</mat-icon>
          {{language.no_data}}
        </h3>
    </div>

    <ng-template #dataInTable>
        <div *ngFor="let element of tableData?.data" class="table-entry">
            <div class="table-properties" (click)="openDialog('details', element)"
                appMobilePress (longPressedAndReleased)="(selection ? toggleCheck(element) : '')"
                [ngClass]="{'checked': selection?.selected.includes(element)}">
                <div *ngFor="let property of displayProperties" class="table-property">
                    <div class="element-title">
                        <span> {{entityInstance.fields[property].title | uppercaseFirst}}</span>
                    </div>
                    <div class="element-value" *ngIf="element.fields[property]; let field">
                        <app-display-field [field]="field" [element]="element"></app-display-field>
                    </div>
                </div>
            </div>
            <div class="actions">
                <ng-container *ngIf="validatable">
                    <button mat-button (click)="openDialog('visit', element); $event.stopPropagation();" class="blue">
                        <mat-icon *ngIf="element.get('validated') && element.get('finished')">done</mat-icon>
                        <mat-icon *ngIf="element.get('validated') && !element.get('finished')">lock</mat-icon>
                        <mat-icon *ngIf="!element.get('validated') && updatable">edit</mat-icon>
                    </button>
                </ng-container>
                <button mat-button *ngIf="!validatable && updatable" (click)="openDialog('visit', element); $event.stopPropagation();"  class="blue">
                        <mat-icon inline=true>edit</mat-icon>
                </button>

                <button mat-button (click)="requestLogs(element); $event.stopPropagation()" *ngIf="loggable" class="grey">
                    <mat-icon>history</mat-icon>
                </button>

                <button *ngIf="editable && (!validatable || !element.get('validated'))" mat-button (click)="openDialog('edit', element); $event.stopPropagation()" class="green">
                    <mat-icon>search</mat-icon>
                </button>
                <button *ngIf="deletable && (!validatable || !element.get('validated'))" mat-button (click)="openDialog('delete', element); $event.stopPropagation()" class="red">
                    <mat-icon>close</mat-icon>
                </button>
                <button *ngIf="printable" mat-button (click)="print(element); $event.stopPropagation()" class="grey" [disabled]="!element.isPrintable()">
                    <mat-icon>description</mat-icon>
                </button>
                <button mat-button *ngIf="assignable" (click)="assign(element); $event.stopPropagation()" class="grey" [disabled]="!element.isAssignable()">
                    <mat-icon>assignment</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>
</div>
