<!-- TABLE -->
<div class="table-container">
  <div *ngIf="!filled" class="noDataContainer">
    <h3>
      <mat-icon>clear</mat-icon>
      {{table.no_data}}
    </h3>
  </div>

  <div class="container-header" *ngIf="filled">
    <mat-form-field>
      <input matInput [(ngModel)]="keyWords" (keyup)="applyFilter($event.target.value, 'familyName'); sendSortedData()"
        placeholder="{{table.table_filter}}">
    </mat-form-field>

    <div *ngIf="advancedResearch" class="filter-combo">
      <ng-select class="input-filter multiple-select" [(ngModel)]="project" bindLabel="name" [items]="data.projects.value"
        [multiple]="true" placeholder="{{table.project}}" [closeOnSelect]="false" [searchable]="true" (change)="applyFilter($event, 'projects'); sendSortedData()">
      </ng-select>

      <ng-select class="input-filter single-select" bindLabel="name" [items]="data.adm1.value" [closeOnSelect]="false"
        [searchable]="true" placeholder="{{table.adm1}}" (clear)="applyFilter($event, 'locations', true)" [(ngModel)]="newObject['adm1']"
        (change)="selected('adm1'); applyFilter($event, 'locations'); sendSortedData()">
      </ng-select>

      <ng-select class="input-filter single-select" bindLabel="name" [items]="data.adm2.value" [closeOnSelect]="false"
        [searchable]="true" placeholder="{{table.adm2}}" [(ngModel)]="newObject['adm2']" (change)="selected('adm2'); applyFilter($event, 'locations', false); sendSortedData()">
      </ng-select>

      <ng-select class="input-filter single-select" bindLabel="name" [items]="data.adm3.value" [closeOnSelect]="false"
        [searchable]="true" placeholder="{{table.adm3}}" [(ngModel)]="newObject['adm3']" (change)="selected('adm3'); applyFilter($event, 'locations'); sendSortedData()">
      </ng-select>

      <ng-select class="input-filter single-select" bindLabel="name" [items]="data.adm4.value" [closeOnSelect]="false"
        [searchable]="true" placeholder="{{table.adm4}}" [(ngModel)]="newObject['adm4']" (change)="selected('adm4'); applyFilter($event, 'locations'); sendSortedData()">
      </ng-select>

      <ng-select class="input-filter multiple-select" bindLabel="name" [(ngModel)]="vulnerability" [items]="data.vulnerabilities.value"
        [multiple]="true" placeholder="{{table.model_vulnerabilities}}" [closeOnSelect]="false" [searchable]="true"
        (change)="applyFilter($event, 'vulnerabilities'); sendSortedData()">
      </ng-select>
    </div>

    <div class="buttons-search-clear">
      <button mat-raised-button class="button-text-accent" (click)="showAdvancedResearch()">
        {{beneficiary.beneficiaries_advanced_research | titlecase}}
        <mat-icon *ngIf="!advancedResearch">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="advancedResearch">keyboard_arrow_up</mat-icon>
      </button>
      <button *ngIf="this.data.filter.length !== 0 " mat-raised-button class="button-text-accent" (click)="clearSearch()">
        <mat-icon>clear</mat-icon>
        {{beneficiary.beneficiaries_clear_all_research | titlecase}}
      </button>
    </div>

    <div *ngIf="filled && data" style="max-height: 370px; overflow: auto;" [ngClass]="{hidden: testLoading, visible: !testLoading}">
      <table mat-table [dataSource]="data" matSort>
        <ng-container matColumnDef="check">
          <th mat-header-cell class="header-cell" *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
            </mat-checkbox>
          </th>
          <td mat-cell class="content-cell" *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="selectCheck($event, element)" [checked]="selection.isSelected(element)"
              color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let property of properties" matColumnDef="{{property}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="table-header" [ngClass]="{'integered':propertiesTypes[property]=='number'}">
            <p>{{mapperService.mapTitle(property)}}</p>
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="propertiesTypes[property]=='image'">
              <app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)" [name]="image"></app-icon-svg>
            </span>
            <span *ngIf="propertiesTypes[property]=='png'">
              <img [matTooltip]="getImageName(mapperService.mapValue(element, property)[0])" *ngIf="mapperService.mapValue(element, property)[0]" class="png" [src]="mapperService.mapValue(element, property)[0]">
            </span>
            <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element,
              property)}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell class="header-cell" *matHeaderCellDef>{{table.table_actions | titlecase}}</th>
          <td mat-cell class="content-cell" *matCellDef="let element">
            <button *ngIf="editable && checkEntityUpdateRights() && rights" mat-icon-button (click)="update(element); $event.stopPropagation()"
              [matTooltip]="table.update" class="light-red">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="editable && rightsDelete" mat-icon-button (click)="openDialog('delete', element); $event.stopPropagation()"
              [matTooltip]="table.delete" class="red">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="propertiesActions; sticky: true" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: propertiesActions; let element" class="single-row cursor-pointer"
          (click)="openDialog('details', element)"></tr>
      </table>
    </div>


    <div class="no-data-container" *ngIf="testLoading || this.data.householdsSubject._value.length === 0">
      <div *ngIf="testLoading" class="loadingContent">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="this.data.householdsSubject._value.length === 0 && !testLoading" class="loadingContent">
        <h4 class="no-data">
          <mat-icon>cloud_off</mat-icon>
          <span> {{table.no_data}} </span>
        </h4>
      </div>
    </div>

    <mat-paginator *ngIf="filled==true" [length]="data.length$ | async" [pageSizeOptions]="[10, 20, 50, 100]"
      [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>

  <td mat-cell *matCellDef="let element">
    <app-icon-svg *ngIf="propertiesTypes[property]=='image'" class="icon" [name]="mapperService.mapValue(element, property)"></app-icon-svg>
    <span class="icon" *ngIf="propertiesTypes[property]=='png'">
      <img src={{mapperService.mapValue(element,property)}}>
    </span>
    <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element,
      property)}}</span>
  </td>