@import '../../../../assets/css/variable.scss'; 

.container-fields{
    display: flex;
    width:100%;
    flex-direction: row;
    flex-grow: 1;
    padding : 20px;
    
    .field-distribution{
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 600px;

        .distribution-title{
            height: 40px;
            padding : 20px;
            display: flex;
            align-items: center;
            width:100%;
            font-family: $bms_font_header;
            font-size: 25px;
            margin: 0;
            margin-bottom: 0.5vh !important;
            line-height: 25px;
        }

        .distribution-accordion{
            display: flex;
            padding : 20px;
            width:100%;
            height:100%;
            min-height: 400px;

            .accordion-table {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .accordion-field{
                    width: 100%;                    
                }
            }

        }
    }

    .field-forms{
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        
        .forms-criteria{
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            .criteria-text{
                display: flex;
                align-items: center;
                padding : 20px;

                .criteria-title{
                    display: flex;
                    font-family: $bms_font_header;
                    font-size: 25px;
                    padding-right : 20px;
                    margin: 0;
                    margin-bottom: 0.5vh !important;
                }
    
                .add-button{
                    height: 40px;
                    width: 40px;
                    background-color: $bms_red;
                    color: white;
                }
            }

            .criteria-form{
                display: flex;
                flex-grow: 1;
                padding : 20px;

                app-table-small{
                    width: 100%;
                    height: 100%;
                }

                app-table-small-mobile{
                    width: 100%;
                    height: 100%;
                }
            }

            .criteria-summary{
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                padding-right : 20px;

                .summary-text{
                    flex-grow: 1;
                    display: flex;
                    text-align: flex-end;
                    align-items: center;
                    justify-content: flex-end;
                    font-family: $bms_font_header;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin:0;
                    font-size: 15px;
                    span{
                        font-size: 20px;
                        color: $bms_red;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }   
        .forms-commodity{
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            .commodity-text{
                display: flex;
                align-items: center;
                padding : 20px;
                
                .commodity-title{
                    display: flex;
                    font-family: $bms_font_header;
                    font-size: 25px;
                    padding-right : 20px;
                    margin: 0;
                    margin-bottom: 0.5vh !important;
                }

                .add-button{
                    height: 40px;
                    width: 40px;
                    background-color: $bms_red;
                    color: white;
                }
            }

            .commodity-form{
                display: flex;
                flex-grow: 1;
                padding : 20px;

                app-table-small{
                    width: 100%;
                    height: 100%;
                }

                app-table-small-mobile{
                    width: 100%;
                    height: 100%;
                }
            }

            .commodity-summary{
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                padding-right : 20px;

                .commodity-text{
                    flex-grow: 1;
                    display: flex;
                    text-align: flex-end;
                    align-items: center;
                    justify-content: flex-end;
                    font-family: $bms_font_header;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin:0;
                    font-size: 15px;
                    span{
                        font-size: 20px;
                        color: $bms_red;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.typeDistribution {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
    
.container-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    padding: 40px;
    justify-content: flex-end;

    .button-create{
        color: white;
        width: 15vh;
        background-color: $bms_green;
    }

    .button-cancel{
        color: $bms_green;
        // background-color: $bms_slate;
        width: 15vh;
        margin-right: 10px;
    }
}

.container-create-error{
    display: flex;
    width: 100% !important;
    justify-content: flex-end;
    padding-left: 40px;
    padding-right: 40px;
    font-style: italic;
    font-family: $bms_font_header;
}

@media only screen and (max-width: 750px),(max-height: 700px){
    .container-fields{
        flex-direction: column !important;

        .distribution-accordion{
            min-height: 200px !important;
        }
    }
}