.form-item {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

/deep/ .date .mat-form-field-flex div.mat-form-field-infix  {
  display: flex;
  padding: 0;

  mat-datepicker-toggle svg {
    height: 20px;
    width: 20px;
  }
}

.ng-select.multiple ::ng-deep .ng-select-container .ng-value-container .ng-value {
  background-color: #424242;
}

.ng-select-focused ::ng-deep {
  .ng-select-container::after {
      border-color: #424242;
      border-width: 2px;
  }
}

.ng-select-focused ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  color: #424242;
}

.ng-select-focused ::ng-deep .ng-arrow {
  color: #424242 !important;
}

.ng-select-opened ::ng-deep .ng-option-selected {
  color: #424242 !important;
}
