.form-item {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

@media only screen and (min-width: 750px) {

  mat-dialog-content {
    width: 60vw !important;
  }
}


/deep/ .mat-form-field-flex div.mat-form-field-infix  {
  display: flex;
  padding: 0;

  mat-datepicker-toggle svg {
    height: 20px;
    width: 20px;
  }
}