<mat-dialog-content class="modal-container">
    <h4 class="modal-title underline-accent stickyHeader">{{modalTitle | titlecase}} {{objectInstance.title | titlecase}}</h4>
    <form [formGroup]="form">
        <table class="modal-table">
            <ng-container *ngFor="let fieldName of objectFields">
                <ng-container *ngIf="objectInstance.fields[fieldName].isDisplayedInModal">
                    <tr class="modal-row" *ngIf="display(objectInstance.fields[fieldName]); let field">
                        <th class="table-title">{{ field.title | titlecase }}</th>
                        <td class="form-item">
                            <ng-container *ngIf="((form.controls[fieldName] && form.controls[fieldName].disabled) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].disabled)) && isEmpty(field); else isArrayInputField">
                                <mat-form-field>
                                        <input matInput disabled="true" type="text" [placeholder]="field.title" [value]="field.nullValue">
                                </mat-form-field>
                            </ng-container>

                            <ng-template #isArrayInputField>
                                <ng-container *ngIf="field.kindOfField === 'ArrayInputField'; else isBoolean">
                                        <ng-container *ngFor="let value of field.value; let index=index">
                                            <mat-form-field>
                                                <input matInput type="text" [formControlName]="fieldName+index.toString()">
                                            </mat-form-field>
                                        </ng-container>
                                </ng-container>
                            </ng-template>

                            <ng-template #isBoolean>
                                <ng-container *ngIf="field.kindOfField === 'Boolean' ; else isMultipleSelect">
                                    Hello
                                </ng-container>
                            </ng-template>
                                   
                            <ng-template #isMultipleSelect>
                                <ng-container *ngIf="field.kindOfField === 'MultipleSelect'; else isSingleSelect">
                                        <ng-select [formControlName]="fieldName" [placeholder]="field.title" [multiple]="true" [closeOnSelect]="false">
                                            <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                                {{option.get(field.bindField) | titlecase}}
                                            </ng-option>
                                        </ng-select>
                                </ng-container>
                            </ng-template>

                            <ng-template #isSingleSelect>
                                <ng-container *ngIf="field.kindOfField === 'SingleSelect'; else isMaterialField">
                                    <ng-select [formControlName]="fieldName" [placeholder]="field.title">
                                        <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                            {{option.get(field.bindField) | titlecase}}
                                        </ng-option>
                                    </ng-select>
                                </ng-container>
                            </ng-template>

                            <ng-template #isMaterialField>
                                <mat-form-field>
                                    <ng-container *ngIf="field.kindOfField === 'Text'; else checkForDateField">
                                        <input *ngIf="field.isPassword; else checkForTextArea" [placeholder]="field.title"
                                            matInput type="password" [formControlName]="fieldName">

                                        <ng-template #checkForTextArea>
                                            <ng-container *ngIf="field.isLongText; else checkForTextInput">
                                                <textarea matInput type="text" [formControlName]="fieldName" [placeholder]="field.title"></textarea>
                                            </ng-container>
                                        </ng-template>

                                        <ng-template #checkForTextInput>
                                            <input matInput type="text" [formControlName]="fieldName" [placeholder]="field.title">
                                        </ng-template>
                                    </ng-container>


                                    <ng-template #checkForDateField>
                                        <ng-container *ngIf="field.kindOfField === 'Date'; else checkForNumberField">
                                            <input matInput [matDatepicker]="picker" [formControlName]="fieldName" [placeholder]="field.title">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </ng-container>
                                    </ng-template>

                                    <ng-template #checkForNumberField>
                                        <ng-container *ngIf="field.kindOfField === 'Number'; else isObject">
                                            <input matInput type="number" [formControlName]="fieldName">
                                        </ng-container>
                                    </ng-template>

                                    <ng-template #isObject>
                                        <ng-container *ngIf="field.kindOfField === 'Object'; else isMultipleObject">
                                                <input matInput disabled="true" type="text" [placeholder]="field.title" [value]="field.displayModalFunction(field.value)">
                                        </ng-container>
                                    </ng-template>
                            
                                    <ng-template #isMultipleObject>
                                        <ng-container *ngIf="field.kindOfField === 'MultipleObject'">
                                            <input matInput disabled="true" type="text" [placeholder]="field.title" [value]="field.displayModalFunction(field.value)">
                                        </ng-container>
                                    </ng-template>
                                        
                                   


                                    <mat-error *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('required')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('required'))">
                                        {{ fieldName | titlecase}} is required
                                    </mat-error>
                                    <mat-error *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('pattern')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('pattern'))">
                                        The {{ fieldName | titlecase}} must contain {{ field.pattern }}
                                    </mat-error>
                                </mat-form-field>
                            </ng-template>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </table>
        <div class="modal-button action-buttons stickyFooter" *ngIf="modalType !== 'Details'">
            <button mat-button (click)="onCancel()" class="button-text-accent">Cancel</button>
            <button mat-raised-button [disabled]="!form.valid" (click)="onSubmit()" class="button-background-accent">Save</button>
        </div>
        <div class="modal-button action-buttons stickyFooter" *ngIf="modalType === 'Details'">
            <button mat-button (click)="onCancel()" class="button-background-accent">Close</button>
        </div>
    </form>
</mat-dialog-content>
