@import '../../../../assets/css/global.scss';

.form-item {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

/deep/ .date .mat-form-field-flex div.mat-form-field-infix  {
  display: flex;
  padding: 0;

  mat-datepicker-toggle svg {
    height: 20px;
    width: 20px;
  }
}

.color {
  width: 70px;
  height: 15px;
  border: 1px black solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.color-grid {
  width: 500px;
  .color-row {
    display: flex;
    height: 25px;
    .color-column {
      display:flex;
      flex-direction: column;
      width: 50px
    }
    .selected {
      border: 1px solid black;
    }
  }
}

.file-error {
  font-size: 14px;
  margin-top: -1em;
  color: red
}