<form [formGroup]="form">
  <div class="column-container">
    <mat-form-field>
      <input matInput type="text" placeholder={{Text.add_beneficiary_getFamilyName}} formControlName="familyName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder={{Text.add_beneficiary_getGivenName}} formControlName="givenName" required>
    </mat-form-field>
  </div>
  <div class="column-container">
    <ng-select class="single-select gender" [multiple]="false" [searchable]=true [closeOnSelect]="true"
      placeholder={{Text.gender}} formControlName="gender" required>
      <ng-option *ngFor="let option of beneficiary.fields.gender.options" [value]="option.fields.id.value">
        {{option.fields.name.value | titlecase}}
      </ng-option>
    </ng-select>
    <mat-form-field class="datepicker-computer" required>
      <input #DateOfBirthHead matInput [matDatepicker]="birthHeadComputer" placeholder={{Text.add_beneficiary_getDateOfBirth}}
        formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="birthHeadComputer"></mat-datepicker-toggle>
      <mat-datepicker #birthHeadComputer></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="datepicker-mobile" required>
      <input #DateOfBirthHead matInput [matDatepicker]="birthHeadMobile" placeholder={{Text.add_beneficiary_getDateOfBirth}}
      formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="birthHeadMobile"></mat-datepicker-toggle>
      <mat-datepicker touchUi #birthHeadMobile></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="column-container">
    <ng-select class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true"
      placeholder={{Text.add_beneficiary_getTypeNationalId}} formControlName="IDType">
      <ng-option *ngFor="let option of beneficiary.fields.nationalIds.value[0].fields.type.options" [value]="option.fields.id.value">
        {{option.fields.name.value}}
      </ng-option>
    </ng-select>
    <mat-form-field>
      <input matInput type="text" placeholder={{Text.add_beneficiary_getNationalID}} formControlName="IDNumber">
    </mat-form-field>
  </div>
  <div class="column-container">
    <ng-select class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true"
      placeholder={{Text.model_residencystatus}} formControlName="residencyStatus">
      <ng-option *ngFor="let option of beneficiary.fields.residencyStatus.options" [value]="option.fields.id.value">
        {{option.fields.name.value}}
      </ng-option>
    </ng-select>
  </div>
  <div *ngFor="let phone of beneficiary.fields.phones.value; let index = index" class="column-container columns-phones">
    <div class="items-line">
      <ng-select class="single-select phone-type" [multiple]="false" [searchable]=true [closeOnSelect]="true"
        placeholder={{Text.add_beneficiary_getTypePhone}} [formControlName]="'phoneType'+index">
        <ng-option *ngFor="let option of phone.fields.type.options" [value]="option.fields.id.value">
          {{ option.fields.name.value }}
        </ng-option>
      </ng-select>
      <mat-checkbox color="primary" [formControlName]="'phoneProxy'+index">{{Text.beneficiaries_proxy}}</mat-checkbox>
    </div>

    <div class="items-line">
      <ng-select class="single-select country-code" [multiple]="false" [searchable]=true [closeOnSelect]="true"
      [formControlName]="'phonePrefix'+index" placeholder="{{Text.add_beneficiary_code}}">
        <ng-option *ngFor="let country of countryCodesList" [value]="country">{{country}}</ng-option>
      </ng-select>
      <mat-form-field class="phone-number">
        <input matInput type="tel" placeholder={{Text.model_beneficiaries_phones|titlecase}} [formControlName]="'phoneNumber'+index">
      </mat-form-field>
    </div>
  </div>
  <div class="lign-container">
    <mat-checkbox color='primary' *ngFor="let vulnerability of vulnerabilityList" [formControlName]="vulnerability.fields.field.value">
      {{vulnerability.fields.field.value | titlecase }}
    </mat-checkbox>
  </div>
</form>