@import '../../../assets/css/variable.scss';


.box-image {
    background-image: url('../../../assets/images/login_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex: 1 0 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .box-info {
        background-color: rgba(161, 160, 160, 0.8);
        padding: 20px;
        width: 500px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-family: $bms_font_header;
        color: $bms_grey;
        font-weight: bold;
        font-size: 20px;
        text-align: center;

        button, mat-spinner {
            margin-top: 20px;
        }
    }

    .box-login {
        background-color: rgba(161, 160, 160, 0.6);
        padding: 10px 0;
        height: auto;
        width: 500px;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 5px;

        .login-title {
            flex-grow: 1;
            display: flex;
            text-align: center;
            justify-content: center;
            margin: 5px;

            .title-text {
                display: flex;
                font-family: $bms_font_header;
                color: $bms_grey;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
            }
        }

        .login-user {
            flex-grow: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px;

            .user-input {
                width: 57%;
                height: 35px;
                margin: 5px;
                padding: 10px;
                font-weight: 200;
                font-size: 20px;
                align-items: baseline;
                border-radius: 5px;
                border: solid 1px #00000033;
            }
        }
        .login-button {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 5px;
    
            .button-background-primary {
                margin: 5px;
                width: 55%;
            }
        }
    }
}