
<!-- <ng-container  *ngIf="mode === 'create' && !loader">
    <form [formGroup]="form" *ngIf="form">
        <table class="modal-table" [ngClass]="{'rtl':language.direction === 'rtl'}" cdkFocusRegionstart>
            <ng-container *ngFor="let fieldName of objectFields">
                <tr class="modal-row" *ngIf="user.fields[fieldName]; let field">
                    <th class="table-title">
                        {{ field.title | uppercaseFirst }}
                    </th>
                    <td class="form-item">
                        <ng-container *ngIf="field.kindOfField === 'MultipleSelect'; else isSingleSelect">
                            <ng-select appendTo="body" [formControlName]="fieldName" [placeholder]="field.title | uppercaseFirst"
                                [multiple]="true" [closeOnSelect]="false">
                                <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                    {{option.get(field.bindField) | uppercaseFirst}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
    
                        <ng-template #isSingleSelect>
                            <ng-container *ngIf="field.kindOfField === 'SingleSelect'; else isColor">
                                <ng-select appendTo="body" [formControlName]="fieldName" [placeholder]="field.title | uppercaseFirst">
                                    <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                        {{option.get(field.bindField) | uppercaseFirst}}
                                    </ng-option>
                                </ng-select>
                            </ng-container>
                        </ng-template>
    
                        <app-hint-error [form]="form" [fieldName]="fieldName" [field]="field" [isMatField]="false"></app-hint-error>
                    </td>
                </tr>
            </ng-container>
        </table>
    </form>
    
    <button (click)="createHumanId()">Click here to add the user</button>
</ng-container> -->
<button *ngIf="!loader" (click)="loginHumanId()">Click here to access the website</button>
<mat-spinner *ngIf="loader"></mat-spinner>
