@import '../../../assets/css/variable.scss';
a
{
   color:white;
   text-decoration: none;
}

.container-box {
    height:100%;
    width: 100%;

    .box-image {
        background-image: url('../../../assets/images/login_page.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        display: flex;
        flex: 1 0 100%;
        height:100%;
        justify-content: center;
        align-items: center;

        .box-login {
            background-color: rgba(161, 160, 160, 0.8);
            padding: 10px 0;
            width: 500px;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius : 5px;

            .login-title {
                flex-grow: 1;
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 5px;

                .title-text {
                        display: flex;
                        font-family: $bms_font_header;
                        color : $bms_grey;
                        font-weight: bold;
                        font-size: 20px;
                        text-align: center;
                }
            }
        }
    }
}

