@import '../../../../assets/css/variable.scss';

.placeholder-container {
    width: 99%;
    display: flex;
    flex-direction: row;
    margin-left: 5px;

    .placeholder-box-line {
        width: 300px;
        height: 80px;
        margin-bottom: 10px;
        margin-right: 10px;
        background: $bms_dark_grey;
        animation: wave 2s ease-in-out 0s infinite;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 750px) {

    
    .placeholder-panel {
        margin: 20px;
        width: 90%;
        height: 600%;
        background: $bms_dark_grey;
        animation: wave 2s ease-in-out 0s infinite;
        border-radius: 3px;
        margin-right: 10px !important;
    }
}