<!-- TABLE -->
<div class="table-container">
    <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
  
      <ng-container *ngFor="let property of properties" matColumnDef="{{property}}">
        <th mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header>{{mapperObject[property]}}</th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="propertiesTypes[property]=='image'"><app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)" [name]="mapperService.mapValue(element, property)"></app-icon-svg></span>
            <span *ngIf="propertiesTypes[property]=='png'"><img *ngFor="let image of mapperService.mapValue(element, property)" class="png" src={{mapperService.mapValue(element,property)}}></span>
            <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element, property)}}</span>
          </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell class="header-cell" *matHeaderCellDef>{{table.table_actions}}</th>
        <td mat-cell (click)="remove(element)" class="content-cell" *matCellDef="let element">
          <button mat-icon-button class="green">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="propertiesActions"></tr>
      <tr mat-row *matRowDef="let row; columns: propertiesActions;"></tr>
    </table>
  </div>