<div class="container-table">
  <div class="container-content box-primary">
    <div class="content-button">
      <div class="action-buttons">
        <div class="button-with-extension" *ngIf="exportable"
          [ngClass]="{'rtl':language.direction === 'rtl'}">
          <button mat-flat-button [disabled]="!(data.data && data.data.length>0)" class="button-background-primary" (click)="export()" *ngIf="!loadingExport">
            <mat-icon>get_app</mat-icon>
            <span>{{language.export | titlecase}}</span>
          </button>
          <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
          <div class="extension">
            <button mat-flat-button class="dropdown button-background-primary" *ngIf="!loadingExport" [disabled]="!(data.data && data.data.length>0)" [matMenuTriggerFor]="exportType">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #exportType>
              <button mat-menu-item (click)="setType('xls')"> .xls <mat-icon *ngIf="extensionType=='xls'">done</mat-icon>
              </button>
              <button mat-menu-item (click)="setType('csv')"> .csv <mat-icon *ngIf="extensionType=='csv'">done</mat-icon>
              </button>
              <button mat-menu-item (click)="setType('ods')"> .ods <mat-icon *ngIf="extensionType=='ods'">done</mat-icon>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <!-- <button mat-flat-button class="button-background-primary" *ngIf="selectedTitle === 'users'">
        <a href="https://auth.staging.humanitarian.id/oauth/authorize?response_type=token&client_id=Humsis-stag&scope=profile&redirect_uri=https://front-test.bmstaging.info/sso?origin=hid&state=12345">
            Login with Humanitarian ID
        </a>
      </button> -->
    
      <button mat-flat-button *ngIf="currentDisplayType.type !== 'mobile' && checkRights() && deletable" (click)="openDialog({action: 'add'})" class="add-button-create">
        <mat-icon>add</mat-icon>
        {{language.add | titlecase}}
      </button>
      <button mat-fab *ngIf="currentDisplayType.type === 'mobile' && checkRights() && deletable" (click)="openDialog({action: 'add'})" class="add-button" [ngClass]="{'add-button-rtl':language.direction === 'rtl'}">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="content-table">
      <app-table [isLoading]="loadingData" [searchable]="true" [paginable]="true" *ngIf="currentDisplayType.type !== 'mobile'" [entity]="referedClassToken" [service]="referedClassService" [data]="data" [editable]="editable" [deletable]="deletable" (openModal)="openDialog($event)" [printable]="printable" [loggable]="loggable" (printOne)="print($event)"></app-table>
      <app-table-mobile [isLoading]="loadingData" *ngIf="currentDisplayType.type === 'mobile'" [entity]="referedClassToken" [service]="referedClassService" [data]="data" [editable]="editable" [deletable]="deletable" [printable]="printable" [loggable]="loggable" (openModal)="openDialog($event)" (printOne)="print($event)"></app-table-mobile>
    </div>
  </div>
</div>
