.modal-table {
  .select-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .single-select {
      width:100%;
    }

    span {
      width: 50%;
    }
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .modal-table {
    .select-container {
      flex-direction: column;
    }
  }
}

