<mat-dialog-content class="modal-container">
  <h4 class="modal-title underline-accent stickyHeader" [ngClass]="{'arabic': isArabic === true}">{{modal.modal_language_title}}</h4>
  <div class="modal-table" [ngClass]="{'arabic': isArabic === true}" cdkFocusRegionstart>
    <div class="select-container">
      <span class="language-text">{{modal.modal_language_actual}}</span>

      <ng-select [clearable]="false" class="single-select" [(ngModel)]="language" [multiple]="false" placeholder="{{ modal.header_language | titlecase }}"
        [closeOnSelect]="true" [searchable]="true" [ngModelOptions]="{standalone: true}" (close)="choseLanguage()">
        <ng-option *ngFor="let l of languages" [value]="l">
          {{l | titlecase}}
        </ng-option>
      </ng-select>

    </div>

    <div class="align-items">
      <mat-checkbox color="primary" [checked]="default" [(ngModel)]="isCheckedDefault"></mat-checkbox>
      <span class="spacement">{{ modal.modal_save_language_as_default }}</span>
    </div>
  </div>
  <div class="modal-button action-buttons stickyFooter"  [ngClass]="{'arabic':isArabic === true}">
    <button mat-button (click)="closeDialog()" class="button-text-accent">{{modal.close}}</button>
    <button mat-raised-button (click)="save()" class="button-background-accent">{{modal.save}}</button>
  </div>
</mat-dialog-content>
