@import '../../../../assets/css/variable.scss'; 

.modal-container{
    height: 100% !important;   
    width: 100% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .modal-title{
        display: flex;
        flex-grow: 1;
        padding: 5px;
        font-family: $bms_font_header;
        font-size: 3vh;                
        border-bottom: solid 1px $bms_green;
    }

    .modal-table{
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
        padding: 5px;
        font-family: $bms_font_text;
        flex-direction: row;
        justify-content: flex-start;

        .language-text{
            display: flex;
            vertical-align: middle;
            height: 4vh;
        }
        .select-container{
            display: flex;
            height: 4vh;
            flex-grow: 1;
            justify-content: flex-start;
            margin-left: 5px;

            .button-flag{
                max-width: 50px;
            }
        }
    }

    .modal-button{
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
        padding-top: 20px;
        justify-content: flex-end;

        .button-close{
            color: $bms_green;
            width: 7vh;
        }

        .button-save{
            color: $bms_green;
            width: 7vh;
        }
    }
}

//for mobile screen
@media only screen and (max-width: 750px){
    .modal-container{
        width: 45vh;  
    }
}