<div class="modal-container">
  <h4 class="modal-title">{{modal.modal_language_title}}</h4>
  <div class="modal-table" cdkFocusRegionstart>
    <span class="language-text">{{modal.modal_language_actual}}</span>
    <div class="select-container">
      <mat-select [(ngModel)]="language" [formControl]="controls" class="button-flag">
        <mat-option *ngFor="let l of languages" [value]="l">{{l | uppercase}}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="modal-button">
    <button mat-button (click)="closeDialog()" class="button-close">{{modal.modal_close}}</button>
    <button mat-button (click)="save()" class="button-save">{{modal.modal_save}}</button>
  </div>
</div>