<div class="modal-container">
  <h4 class="modal-title underline-accent">{{modal.modal_language_title}}</h4>
  <div class="modal-table" cdkFocusRegionstart>
    <span class="language-text">{{modal.modal_language_actual}}</span>
    <div class="select-container">
      <mat-select [(ngModel)]="language" [formControl]="controls" class="button-flag" [ngClass]="language">
        <mat-option *ngFor="let l of languages" [value]="l">
          <img width="20" height="10" src="assets/images/{{ l }}.jpg"/>
          {{l | uppercase}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="modal-button action-buttons">
    <button mat-button (click)="closeDialog()" class="button-text-accent">{{modal.modal_close}}</button>
    <button mat-raised-button (click)="save()" class="button-background-accent">{{modal.modal_save}}</button>
  </div>
</div>
