@import "../../../../assets/css/variable.scss";

.placeholder-panel {
    margin: 20px;
    width: 95%;
    height: 100%;
    background: $bms_dark_grey;
    animation: wave 2s ease-in-out 0s infinite;

    margin-right: 20px !important;
}

@media only screen and (max-width: 750px) {

    
    .placeholder-panel {
        margin: 20px;
        width: 90%;
        height: 60%;
        background: $bms_dark_grey;
        animation: wave 2s ease-in-out 0s infinite;

        margin-right: 10px !important;
    }
}