@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/animations.scss';


.mat-grid-list {
  margin: 0 20px;

  .mat-grid-tile {
    overflow: initial !important;
    height: calc(75px);

    .mat-card {
      padding: 10px !important;
      background-color: $bms_white !important;
      width: 130px;
      height: 100px;
      display: flex;
      flex-direction: column;
      box-shadow: none;

      h5 {
        margin-bottom: 0;
        height: 50px;
        text-align: center;
        border-bottom: solid 3px $bms_light_blue;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 5px;
      }
      h3 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        padding-top: 5px;
        height: 45px;
      }
      .sector-icons {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 5px;
        height: 40px;
      }
    }
  }
}

.box-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:10px;

    .content-info{
            justify-content: center;
            align-content: center;
            text-align: left;
            font-family: $bms_font_text;
            padding:15px;

            .info-title{
                font-size : 1.5vh;
                line-height : 1.5vh;
                margin: 0 !important;
            }
        }
}

mat-grid-list {
    animation: box-pop-in 0.3s;
}

//for mobile screen
@media only screen and (max-width: 750px){
    .content-info{
        display: flex;
        flex-direction: row;
        line-height : 2.5vh !important;

        .info-subtitle{
            display: flex;
            flex-grow: 1;
            font-size : 2.5vh !important;
            line-height : 2.5vh !important;
            word-break: break-word;
            hyphens: auto;
        }

        .info-title{
            display: flex;
            min-width: 20vh;
            font-size : 2.5vh !important;
            line-height : 2.5vh !important;
        }
    }
}
