<!-- <label for="username">Username: </label>
<input id="username" type="text" [(ngModel)]="username" />
<label for="password">Password: </label>
<input id="password" type="password" [(ngModel)]="password" />
<button (click)="login()">Login</button> -->

<div class="container-box">
    <div class="box-image">
        <div class="box-login">
            <div class="login-logo">
                <img class="logo-image" src="../../../assets/images/bms_logo.png" />
            </div>
            <div class="login-title">
                <h1 class="title-text">BENEFICIARY MANEMENT SYSTEM</h1>
            </div>
            <div class="login-user">

            </div>
        </div>
    </div>
</div>