<form [formGroup]="form" class="location-form">
  <div class="column-container">
    <h4 class="location">{{ language.household_location_current_location | uppercaseFirst}}</h4>
    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]="true" [closeOnSelect]="true" placeholder="{{language.adm1[countryId] | uppercaseFirst}}" formControlName="currentAdm1" (change)="loadAdm('current', 'adm1', $event)" required>
      <ng-option *ngFor="let option of locations.current.getOptions('adm1')" [value]="option.get('id')">
        {{option.get('name') | uppercaseFirst}}
      </ng-option>
    </ng-select>
    <app-hint-error [form]="form" fieldName="currentAdm1" [field]="locations.current.fields.adm1" [isMatField]="false"></app-hint-error>
    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.adm2[countryId] | uppercaseFirst}}" formControlName="currentAdm2" (change)="loadAdm('current', 'adm2', $event)">
      <ng-option *ngFor="let option of locations.current.getOptions('adm2')" [value]="option.get('id')">
        {{option.get('name') | uppercaseFirst}}
      </ng-option>
    </ng-select>
    <app-hint-error [form]="form" fieldName="currentAdm2" [field]="locations.current.fields.adm2" [isMatField]="false"></app-hint-error>
    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.adm3[countryId] | uppercaseFirst}}" formControlName="currentAdm3" (change)="loadAdm('current', 'adm3', $event)">
      <ng-option *ngFor="let option of locations.current.getOptions('adm3')" [value]="option.get('id')">
        {{option.get('name') | uppercaseFirst}}
      </ng-option>
    </ng-select>
    <app-hint-error [form]="form" fieldName="currentAdm3" [field]="locations.current.fields.adm3" [isMatField]="false"></app-hint-error>
    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.adm4[countryId] | uppercaseFirst}}" formControlName="currentAdm4" (change)="loadAdm('current', 'adm4', $event)">
      <ng-option *ngFor="let option of locations.current.getOptions('adm4')" [value]="option.get('id')">
        {{option.get('name') | uppercaseFirst}}
      </ng-option>
    </ng-select>
    <app-hint-error [form]="form" fieldName="currentAdm4" [field]="locations.current.fields.adm4" [isMatField]="false"></app-hint-error>
  </div>
  <div class="column-container">
    <h4>{{ language.household_location_type | uppercaseFirst }}</h4>
    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.household_location_type | uppercaseFirst}}" formControlName="currentType">
      <ng-option *ngFor="let option of householdLocationTypes" [value]="option.get('id')">
        {{option.get('name') | uppercaseFirst}}
      </ng-option>
    </ng-select>
    <ng-container *ngIf="form.controls.currentType.value && form.controls.currentType.value !== 'camp'">
      <h4>{{ language.household_location_address }}</h4>
      <div class="address-fields">
        <mat-form-field>
          <input matInput placeholder="{{language.add_beneficiary_getAddressNumber | uppercaseFirst}}" formControlName="currentAddressNumber" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{language.add_beneficiary_getAddressStreet | uppercaseFirst}}" formControlName="currentAddressStreet" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{language.add_beneficiary_getAddressPostcode | uppercaseFirst}}" formControlName="currentAddressPostcode" required>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngIf="form.controls.currentType.value && form.controls.currentType.value === 'camp'">
      <h4>{{ language.household_location_address }}</h4>
      <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.household_location_camp | uppercaseFirst}}" formControlName="currentCamp">
        <ng-option *ngFor="let option of campLists.current" [value]="option.get('id')">
          {{option.get('name') | uppercaseFirst}}
        </ng-option>
      </ng-select>
      <div class="create-camp">
        <mat-checkbox color="primary" formControlName="currentCreateCamp"></mat-checkbox>
        <span>{{ language.household_location_create_camp }}</span>
        <mat-form-field *ngIf="form.controls.currentCreateCamp.value">
          <input matInput placeholder="{{language.household_location_camp_name | uppercaseFirst}}" formControlName="currentNewCamp" required>
        </mat-form-field>
        </div>
      <mat-form-field>
        <input matInput placeholder="{{language.household_location_tent | uppercaseFirst}}" formControlName="currentTentNumber" required>
      </mat-form-field>
    </ng-container>
  </div>
</form>