<!-- TABLE -->
<div class="table-container">
  <div class="white-background">
    <table *ngFor="let element of data._renderData._value" class="box-element mat-elevation-z8">
      <tbody>
        <tr *ngFor="let property of properties">
          <td class="element-value">
            <span>{{mapperObject[property]}}</span>
          </td>
          <td>
            <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{element.getMapper(element)[property]}}</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <button mat-button (click)="remove(element)" class="red">
          <mat-icon inline=true>close</mat-icon>
        </button>
      </tfoot>
    </table>
  </div>
</div>