@import '../../../../assets/css/variable.scss';

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
}

.white-background {
  background-color: white;
  padding: 10px;
}

table {
  overflow: auto;
  width: 100%;
}

.mat-elevation-z8 {
  background-color: $bms_white;
}

.box-element{
  margin-bottom :20px;
  padding: 10px !important;
  padding-bottom: 10px !important;

  tbody{
    background-color: $bms_grey;
  }
  tr{
    display: flex;
    padding :5px;
    td{
      display: flex;
      width:100%;
      justify-content: center;

      span{
        font-size : 1.2em;
        font-family: $bms_font_header;
      }

      &.element-title{
        padding :3px;
        font-weight: bold;
        justify-content: space-between !important;
      }


      &.element-value{
        flex-grow: 1;
        max-width: 160px;
        font-family: $bms_font_header;
        word-wrap:break-word;
        border: none;
        display:inline-block;
      }

      app-icon-svg{
        display: inline-flex;
        width: 4.5vh;
        height: 4.5vh;
      }
    }
  }

  tfoot{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      button{
        display:flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: center;
        align-self: center;
        height: 25px;
        margin: 0 !important ;
        border-radius: 0 !important;
        i{
            display:flex;
        }
      }
  }

}
button{
    // color: $bms_grey;
    margin: 0.5vh;

    mat-icon {
      font-weight: 800  !important;
      font-size: 25px;
    }

    &:hover {
        background-color: $bms_white;
    }
  }

  .green{
    color: $bms_light_blue;
  }

  .red{
    color: $bms_white;
    background-color: $bms_red;
  }

  .light-red{
    color: $bms_dark_blue;
  }

.container-header {
  padding: 20px;
}

.mat-paginator {
  margin: 3vw;
}


.png {
  display: flex;
  height: 5vh;
}

.mat-button {
  line-height: normal;
}
