<mat-dialog-content class="modal-container">
    <p [hidden]="!hasDevices || !hasPermission" cdkFocusRegionstart>{{ language.voucher_scan_text }}</p>

    <div [hidden]="!hasDevices || !hasPermission">
        <ng-select [clearable]="false" [formControl]="selectedDeviceControl" *ngIf="selectedDeviceControl.value">
            <ng-option *ngFor="let device of availableDevices" [value]="device.deviceId">
                {{device.label }}
            </ng-option>
        </ng-select>

        <zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)"
            (scanError)="log($event)" (scanFailure)="log($event)" (scanComplete)="log($event)"
            [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']">
        </zxing-scanner>
    </div>

    <div *ngIf="!hasDevices">
        <p>{{ language.voucher_no_device }}.</p>
    </div>

    <div *ngIf="!hasPermission && hasDevices">
        <p>{{ language.voucher_no_permission }}.</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions >
    <div class="modal-button action-buttons" *ngIf="!hasDevices || !hasPermission" [ngClass]="{'arabic':languageService.languageToString(language)==='ar'}">
        <button mat-flat-button class="button-background-accent"
            (click)="exit('Assignation canceled')">{{language.cancel}}</button>
    </div>
</mat-dialog-actions>
