<div class="menu-container" [class.close-menu-top]="!openMenu" [class.open-menu-top]="openMenu"> 
    <div class="container-button" *ngIf="openMenu">
        <button (click)="closeTopMenu()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="container-content" >
        <menu-item-box (emitActive)='setCurrentRoute($event)' [activeTitle]="activeTitle" [info]='{icon: "distribution", title:menu.menu_distributions, menuHover:"true"}' *ngIf="openMenu"></menu-item-box>
        <menu-item-box (emitActive)='setCurrentRoute($event)' [activeTitle]="activeTitle" [info]='{icon: "households", title:menu.menu_households, menuHover:"true"}' *ngIf="openMenu"></menu-item-box>
        <menu-item-box (emitActive)='setCurrentRoute($event)' [activeTitle]="activeTitle" [info]='{icon: "reports", title:menu.menu_reports, menuHover:"true"}' *ngIf="openMenu"></menu-item-box>
        <menu-item-box (emitActive)='setCurrentRoute($event)' class="isLast" [activeTitle]="activeTitle" [info]='{icon: "settings", title:menu.menu_settings, menuHover:"true", isLast:"true"}' *ngIf="openMenu"></menu-item-box>
    </div>
</div>