@import '../../../assets/css/variable.scss'; 

.header-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 10;
    .container-routes{
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding : 10px;
        font-size: 1.9vh;
        flex-wrap: wrap;

        span{
            padding: 3px;
            font-family: $bms_font_text;
            text-decoration: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .container-buttons{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        text-align: end;            
        padding: 10px;

        .buttons{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 22vh;
            text-align: end;  
            align-content: end;          
            height: 5vh;
            z-index: 50;
            
        }
        .button-admin{
            border:none;
            outline: none;
            display: flex;
            align-items: center;
            background: none; 
            height: 4vh;
            img{
                width: 4vh;
                height: 100%;
                border-radius: 20px;  
            } 
            &:hover{
                cursor: pointer;
            }
        }

        .button-language{
            border:none;
            outline: none;
            display: flex;
            align-items: center;
            background: none; 
            height: 4vh;
            padding: 0.4vh;
            margin-left: 1vh;
            img{
                width: 3.2vh;
                height: 100%;
                border-radius: 15px;  
            } 
            &:hover{
                cursor: pointer;
            }
        }
        .menu{
            position: fixed;
            z-index: 30;
        }
        .button-menu {
            margin-top : 20vh !important;
            display: none;
            background-color: #3d3d3d;
            min-width: 160px;
            width: 20vh;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
            a {
                color: $bms_white;
                padding: 17px 16px;
                text-decoration: none;
                display: flex;
                font-family: $bms_font_text;
                justify-content: space-between !important;
                align-items: center;
                i{
                    display: flex;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                span{
                    display: flex;
                    width: 50%;
                    
                }

                &:hover{
                    background-color: #ddd;
                    color: $bms_menu; 
                }
            }

            &.open-menu{
                display: block !important;
                margin :10px;
            }
        }
    }
}

@media only screen and (max-width: 750px){
    
    .header-container{
        position: fixed !important;
        background-color: white;

        .menu {
            padding-top : 15vh !important;
        }
    }

    .button-admin {
        font-size : 5vh !important;
    }
}