<div class="header-container">
  <div class="container-routes">
    <span *ngFor="let item of routeNameParsed">
      <span *ngIf="(item[0] != '')&&(item[0] != header.header_home)">
        >
      </span>
      <a *ngIf="item[0] == header.header_home" routerLink="/">
        {{item[0].charAt(0).toUpperCase() + item[0].slice(1)}}
      </a>
      <a *ngIf="item[0] != header.header_home" [routerLink]="item[1]">
        {{item[0].charAt(0).toUpperCase() + item[0].slice(1)}}
      </a>
    </span>
  </div>
  <div class="container-buttons">
    <div class="buttons">
	  <button class="button-language" (click)="openDialog('language')" color="white">
		  {{language | uppercase}}
	  </button>
      <button class="button-country">
        <img src="assets/images/cambodia.png">
      </button>
	  <button [matMenuTriggerFor]="menu" class="button-admin">
		<img src="assets/images/profile.png">
	  </button>
	  <mat-menu #menu="matMenu" overlapTrigger=false>
	    <button mat-menu-item  routerLink="/profile">
	      <mat-icon>person_outline</mat-icon>
		  <span>{{header.header_profile | uppercase}}</span>
	    </button>
	    <button mat-menu-item (click)="logOut()" routerLink="/login">
	     <mat-icon>exit_to_app</mat-icon>
	       <span>{{header.header_disconnect | uppercase}}</span>
	    </button>
	  </mat-menu>
    </div>
  </div>
</div>
