<div class="page-container">
  <div class="container-fields">
    <div class="field-distribution">
      <h2 class="distribution-title">{{distribution.add_project_new_distribution | titlecase}}</h2>
      <div [ngClass]="{'distribution-accordion': language!=='ar', 'distribution-accordion-ar': language==='ar'}">
        <mat-card class="accordion-card">
          <div *ngFor="let p of properties">
            <ng-select *ngIf="propertiesTypes[p]=='select' && propertiesTypes[p]!='date'" [(ngModel)]="newObject[p]" placeholder="{{mapperObject[p]}}" 
              (change)="selected(p)" class="single-select" [multiple]="false" [closeOnSelect]="true" [searchable]="true" [ngModelOptions]="{standalone: true}">
              <ng-option *ngFor="let singleData of loadedData[p]" [value]="singleData.name">{{singleData.name}}</ng-option>
            </ng-select>
            <mat-form-field class="accordion-field" *ngIf="propertiesTypes[p]!='select' && propertiesTypes[p]=='date'">
              <input *ngIf="propertiesTypes[p]=='date'" matInput [matDatepicker]="dateDistribution" placeholder="{{mapperObject[p]}}" (ngModel)="newObject[p]" (dateChange)='selectDate($event)' [min]="projectInfo.startDate" [max]="projectInfo.endDate">
              <mat-datepicker-toggle *ngIf="propertiesTypes[p]=='date'" matSuffix [for]="dateDistribution"></mat-datepicker-toggle>
              <mat-datepicker #dateDistribution></mat-datepicker>
            </mat-form-field>
            <label *ngIf="propertiesTypes[p]!='select' && propertiesTypes[p]!='date' && propertiesTypes[p]=='radio'">{{mapperObject[p]}}</label>
            <mat-radio-group class="type-distribution" (change)="typeDistributionOnChange($event)" *ngIf="propertiesTypes[p]!='select' && propertiesTypes[p]!='date' && propertiesTypes[p]=='radio'" [(ngModel)]="newObject[p]">
              <mat-radio-button checked='true' color="warn" value="Household" disabled='false'>{{distribution.households}}</mat-radio-button>
              <mat-radio-button color="warn" value="Individual">{{distribution.individual}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="field-forms">
      <div class="forms-criteria">
        <div class="distribution-title">
          <h2>{{distribution.add_distribution_selection_criteria | titlecase}}</h2>
          <button mat-stroked-button class="button-text-accent distribution-add-button" (click)="openDialog(criteriaAction)">
            <span>{{ distribution.add | titlecase }}</span>
          </button>
        </div>

        <div class="form" *ngIf="widthScreen > maxWidthMobile">
          <app-table-small (onRemove)="removeElement($event, criteriaAction)" [entity]="criteriaClass" [data]="criteriaData"></app-table-small>
        </div>

        <div class="summary-container">
          <mat-form-field class="accordion-field" id="threshold">
            <mat-label>{{ distribution.add_distribution_threshold }}</mat-label>
            <input class="field-input" matInput type="number" [(ngModel)]="newObject.threshold" [formControl]="controlNumber" (input)="numberOnInput($event)" (change)="numberOnChange()">
          </mat-form-field>

          <h3 class="summary-text" *ngIf="criteriaArray.length != 0 && newObject.type == 'Individual'">
            <span *ngIf="!load">{{criteriaNbBeneficiaries}}</span><span *ngIf="load">
              <mat-spinner [diameter]="25"></mat-spinner>
            </span>{{distribution.add_distribution_beneficiaries_reached |
                            titlecase}}</h3>
          <h3 class="summary-text" *ngIf="criteriaArray.length != 0 && newObject.type == 'Household'">
            <span *ngIf="!load">{{criteriaNbBeneficiaries}}</span><span *ngIf="load">
              <mat-spinner [diameter]="25"></mat-spinner>
            </span>{{distribution.add_distribution_households_reached |
                            titlecase}}</h3>
        </div>
        <small id="text-explanation">{{ distribution.add_distribution_text_explanation }}</small>

        <div class="form" *ngIf="widthScreen < maxWidthMobile">
          <app-table-small-mobile (onRemove)="removeElement($event, criteriaAction)" [entity]="criteriaClass" [data]="criteriaData"></app-table-small-mobile>
        </div>
      </div>
      <div class="forms-commodity">
        <div class="distribution-title">
          <h2>{{distribution.add_distribution_distributed_commodity | titlecase}}</h2>
          <button mat-stroked-button class="button-text-accent distribution-add-button" (click)="openDialog(commodityAction)">
            <span>{{ distribution.add | titlecase }}</span>
          </button>
        </div>
        <div class="form" *ngIf="widthScreen > maxWidthMobile">
          <app-table-small (onRemove)="removeElement($event, commodityAction)" [entity]="commodityClass" [data]="commodityData"></app-table-small>
        </div>
        <div class="summary-container" *ngIf="commodityArray.length != 0">
          <h3 class="summary-text" *ngFor="let commodity of commodityArray; let i = index;">
            <span>{{commodityNb[i]}}</span>{{commodity.unit}}
            {{distribution.add_distribution_commodities_delivered | titlecase}}</h3>
        </div>
        <div class="form" *ngIf="widthScreen < maxWidthMobile">
          <app-table-small-mobile (onRemove)="removeElement($event, commodityAction)" [entity]="commodityClass" [data]="commodityData"></app-table-small-mobile>
        </div>
      </div>
    </div>
  </div>
  <div class="action-buttons content-button content-button-footer">
    <button mat-raised-button *ngIf="!loadingCreation" (click)="add()" class="button-background-primary">{{distribution.create}}</button>
    <mat-spinner *ngIf="loadingCreation" [diameter]="30"></mat-spinner>
    <button mat-raised-button (click)="cancel()" class="button-text-primary">{{distribution.cancel}}</button>
  </div>
</div>
