<div class="page-container">
    <div class="container-fields">
        <div class="field-distribution">
            <h1 class="distribution-title">{{distribution.add_project_new_distribution | titlecase}}</h1>
            <div class="distribution-accordion">
                <mat-accordion class="accordion-table">
                    <mat-expansion-panel *ngFor="let p of properties" [expanded]="step === p" (opened)="setStep(p)"
                        class="mat-elevation-z8">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{mapperObject[p]}}
                            </mat-panel-title>
                            <mat-panel-description *ngIf=" propertiesTypes[p]!='text'">
                                {{newObject[p]}}
                            </mat-panel-description>

                        </mat-expansion-panel-header>
                        <mat-form-field class="accordion-field" *ngIf="propertiesTypes[p]=='select' || propertiesTypes[p]=='date'">
                            <mat-select *ngIf="propertiesTypes[p]=='select' && propertiesTypes[p]!='date'" [(ngModel)]="newObject[p]"
                                placeholder="{{mapperObject[p]}}" [formControl]="controls" (selectionChange)="selected(p)">
                                <mat-option *ngFor="let singleData of loadedData[p]" [value]="singleData.name">{{singleData.name}}</mat-option>
                            </mat-select>
                            <input *ngIf="propertiesTypes[p]=='date'" matInput [matDatepicker]="dateDistribution"
                                placeholder="{{mapperObject[p]}}" (ngModel)="newObject[p]" (dateChange)='selectDate($event)' [min]="projectInfo.startDate" [max]="projectInfo.endDate">
                            <mat-datepicker-toggle *ngIf="propertiesTypes[p]=='date'" matSuffix [for]="dateDistribution"></mat-datepicker-toggle>
                            <mat-datepicker #dateDistribution></mat-datepicker>
                        </mat-form-field>
                        <mat-radio-group class="typeDistribution" (change)="typeDistributionOnChange($event)" *ngIf="propertiesTypes[p]!='select' && propertiesTypes[p]!='date' && propertiesTypes[p]=='radio'"
                            [(ngModel)]="newObject[p]">
                            <mat-radio-button checked='true' color="warn" value="Household" disabled='false'>Household</mat-radio-button>
                            <mat-radio-button color="warn" value="Beneficiary">Beneficiary</mat-radio-button>
                        </mat-radio-group>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="field-forms">
            <div class="forms-criteria">
                <div class="text">
                    <h1 class="title">{{distribution.add_distribution_selection_criteria | titlecase}}</h1>
                    <button mat-stroked-button class="button-text-accent" (click)="openDialog(criteriaAction)">
                        <span>ADD</span>
                    </button>
                </div>

                <div class="form" *ngIf="widthScreen > maxWidthMobile">
                    <app-table-small (onRemove)="removeElement($event, criteriaAction)" [entity]="criteriaClass" [data]="criteriaData"></app-table-small>
                </div>

                <div class="criteria-threshold">
                    <mat-form-field class="accordion-field" id="threshold">
                        <mat-label>{{ distribution.add_distribution_threshold }}</mat-label>
                        <input class="field-input" matInput type="number" [(ngModel)]="newObject.threshold"
                            [formControl]="controlNumber" (input)="numberOnInput($event)" (change)="numberOnChange()">
                    </mat-form-field>

                    <div class="summary" *ngIf="criteriaArray.length != 0">
                        <h3 class="summary-text" *ngIf="newObject.type == 'Beneficiary'">
                            <span *ngIf="!load">{{criteriaNbBeneficiaries}}</span><span *ngIf="load">
                                <mat-spinner [diameter]="25"></mat-spinner>
                            </span>{{distribution.add_distribution_beneficiaries_reached |
                            uppercase}}</h3>
                        <h3 class="summary-text" *ngIf="newObject.type == 'Household'">
                            <span *ngIf="!load">{{criteriaNbBeneficiaries}}</span><span *ngIf="load">
                                <mat-spinner [diameter]="25"></mat-spinner>
                            </span>{{distribution.add_distribution_households_reached |
                            uppercase}}</h3>
                    </div>
                </div>
                <small id="text-explanation">{{ distribution.add_distribution_text_explanation }}</small>

                <div class="form" *ngIf="widthScreen < maxWidthMobile">
                    <app-table-small-mobile (onRemove)="removeElement($event, criteriaAction)" [entity]="criteriaClass"
                        [data]="criteriaData"></app-table-small-mobile>
                </div>
            </div>
            <div class="forms-commodity">
                <div class="text">
                    <h1 class="title">{{distribution.add_distribution_distributed_commodity | titlecase}}</h1>
                    <button mat-stroked-button class="button-text-accent" (click)="openDialog(commodityAction)">
                        <span>ADD</span>
                    </button>
                </div>
                <div class="form" *ngIf="widthScreen > maxWidthMobile">
                    <app-table-small (onRemove)="removeElement($event, commodityAction)" [entity]="commodityClass"
                        [data]="commodityData"></app-table-small>
                </div>
                <div class="summary" *ngIf="commodityArray.length != 0">
                    <h3 class="text">
                        <span>{{commodityNb}}</span>{{commodityData.data[0].unit}}
                        {{distribution.add_distribution_commodities_delivered | uppercase}}</h3>
                </div>
                <div class="form" *ngIf="widthScreen < maxWidthMobile">
                    <app-table-small-mobile (onRemove)="removeElement($event, commodityAction)" [entity]="commodityClass"
                        [data]="commodityData"></app-table-small-mobile>
                </div>
            </div>
        </div>
    </div>
    <div class="container-buttons">
        <button mat-button (click)="cancel()" class="button-cancel">{{distribution.modal_cancel}}</button>
        <mat-spinner *ngIf="loadingCreation" [diameter]="30"></mat-spinner>
        <button mat-button *ngIf="!loadingCreation" (click)="add()" class="button-create">{{distribution.modal_create}}</button>
    </div>
</div>