@import '../../../../assets/css/variable.scss';

.container-fields{
    display: flex;
    width:100%;
    flex-direction: row;
    flex-grow: 1;
    padding : 20px;

    .field-distribution{
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 650px;

        .distribution-title{
            height: 40px;
            padding : 20px;
            display: flex;
            align-items: center;
            width:100%;
            font-family: $bms_font_header;
            font-size: 25px;
            margin: 0;
            margin-bottom: 0.5vh !important;
            line-height: 25px;
        }

        .distribution-accordion{
            display: flex;
            padding : 20px;
            width:100%;
            min-height: 400px;

            .accordion-card {
              width: 100%;

              .accordion-field {
                width: 100%;
              }
            }
        }
    }

    .field-forms{
        display: flex;
        flex-grow: 2;
        flex-direction: column;

        .forms-criteria, .forms-commodity{
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            .text{
                display: flex;
                align-items: center;
                padding : 20px;

                .title{
                    display: flex;
                    align-items: center;
                    font-family: $bms_font_header;
                    font-size: 25px;
                    margin-right : 20px;
                    margin-left : 20px;
                }

                .add-button{
                    height: 40px;
                    width: 40px;
                    background-color: $bms_red;
                    color: white;
                }
            }

            .form{
                display: flex;
                flex-grow: 1;
                padding : 20px;

                app-table-small{
                    width: 100%;
                    height: 100%;
                }

                app-table-small-mobile{
                    width: 100%;
                    height: 100%;
                }
            }

            .summary{
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                padding-right : 20px;

            }
            .summary-text{
                flex-grow: 1;
                display: flex;
                text-align: flex-end;
                align-items: center;
                justify-content: flex-end;
                font-family: $bms_font_header;
                padding-left: 10px;
                padding-right: 10px;
                margin:0;
                font-size: 15px;
                span{
                    font-size: 20px;
                    color: $bms_red;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

.typeDistribution {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.criteria-threshold {
    display: flex;
    justify-content: space-between;
}

#threshold{
    margin: 0px 20px 0px 20px;
    max-width: 30%;
}

#text-explanation{
    margin: 0px 20px 0px 20px;
    margin-bottom: 20px;
}


.ng-select-focused ::ng-deep {
    .ng-select-container::after {
        border-color: #424242;
        border-width: 2px;
    }
}

.ng-select-focused ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
    color: #424242;
}

.ng-select-focused ::ng-deep .ng-arrow {
    color: #424242 !important;
}

.ng-select-opened ::ng-deep .ng-option-selected {
    color: #424242 !important;
}

@media only screen and (max-width: 750px),(max-height: 700px){
    .container-fields{
        flex-direction: column !important;
        padding: 0px;
        overflow-x: hidden;

        .distribution-accordion{
            min-height: 200px !important;
        }
    }
}
