<div class="page-container">
  <div class="container-fields">
    <div class="field-distribution">
      <h2 class="distribution-title">{{texts.add_project_new_distribution | titlecase}}</h2>
      <div [ngClass]="{'distribution-accordion': language!=='ar', 'distribution-accordion-ar': language==='ar'}">
        <mat-card class="accordion-card">
          <form [formGroup]="form">
            <ng-container>
                <ng-select [multiple]="false" [closeOnSelect]="true" [searchable]="true" class="single-select" formControlName="adm1" (change)="loadDistrict($event)" [placeholder]="objectInstance.get('location').fields.adm1.title">
                    <ng-option *ngFor="let option of objectInstance.get('location').getOptions('adm1')" [value]="option.get('id')">
                        {{option.get('name') | titlecase}}
                    </ng-option>
                </ng-select>
            </ng-container>

            <ng-container>
                <ng-select [multiple]="false" [closeOnSelect]="true" [searchable]="true" class="single-select" formControlName="adm2" (change)="loadCommunity($event)" [placeholder]="objectInstance.get('location').fields.adm2.title">
                    <ng-option *ngFor="let option of objectInstance.get('location').getOptions('adm2')"  [value]="option.get('id')">
                        {{option.get('name') | titlecase}}
                    </ng-option>
                </ng-select>
            </ng-container>

            <ng-container>
                <ng-select [multiple]="false" [closeOnSelect]="true" [searchable]="true" class="single-select" formControlName="adm3"  (change)="loadVillage($event)" [placeholder]="objectInstance.get('location').fields.adm3.title">
                    <ng-option *ngFor="let option of objectInstance.get('location').getOptions('adm3')"[value]="option.get('id')">
                        {{option.get('name') | titlecase}}
                    </ng-option>
                </ng-select>
            </ng-container>

            <ng-container>
                <ng-select [multiple]="false" [closeOnSelect]="true" [searchable]="true" class="single-select" formControlName="adm4" [placeholder]="objectInstance.get('location').fields.adm4.title">
                    <ng-option *ngFor="let option of objectInstance.get('location').getOptions('adm4')" [value]="option.get('id')">
                        {{option.get('name') | titlecase}}
                    </ng-option>
                </ng-select>
            </ng-container>
            <mat-form-field class="accordion-field">
              <input matInput [matDatepicker]="dateDistribution" [placeholder]="objectInstance.fields.date.title" formControlName="date" [min]="projectInfo.startDate" [max]="projectInfo.endDate">
              <mat-datepicker-toggle matSuffix [for]="dateDistribution"></mat-datepicker-toggle>
              <mat-datepicker #dateDistribution></mat-datepicker>
            </mat-form-field>
            <label>{{objectInstance.fields.type.title}}</label>
            <mat-radio-group formControlName="type" class="type-distribution" (change)="updateNbBeneficiary()">
              <mat-radio-button checked='true' color="warn" [value]="objectInstance.getOptions('type')[0].get('name')" disabled='false'>{{objectInstance.getOptions('type')[0].get('name')}}</mat-radio-button>
              <mat-radio-button color="warn" [value]="objectInstance.getOptions('type')[1].get('name')">{{objectInstance.getOptions('type')[1].get('name')}}</mat-radio-button>
            </mat-radio-group>
          </form>
        </mat-card>
      </div>
    </div>


    <div class="field-forms">
      <div class="forms-criteria">
        <div class="distribution-title">
          <h2>{{texts.add_distribution_selection_criteria | titlecase}}</h2>
          <button mat-stroked-button class="button-text-accent distribution-add-button" (click)="openDialog('addCriteria')">
            <span>{{ texts.add | titlecase }}</span>
          </button>
        </div>

        <form [formGroup]="form">

          <div class="form" *ngIf="widthScreen > maxWidthMobile">
            <app-table class="mat-elevation-z8" (openModal)="removeElement($event, 'criteria')" [entity]="criteriaClass" [data]="criteriaArray" deletable="true" rights="true" #criteriaTable></app-table>
          </div>

          <div class="summary-container">
            <mat-form-field class="accordion-field" id="threshold">
              <mat-label>{{ texts.add_distribution_threshold }}</mat-label>
              <input class="field-input" matInput type="number" formControlName="threshold" (change)="updateNbBeneficiary()">
            </mat-form-field>

            <h3 class="summary-text" *ngIf="criteriaArray.length != 0 && form.controls.type.value === 'Individual'">
              <span *ngIf="!load">{{criteriaNbBeneficiaries}}</span>
              <span *ngIf="load">
                <mat-spinner [diameter]="25"></mat-spinner>
              </span>
              {{texts.add_distribution_beneficiaries_reached | titlecase}}
            </h3>
            <h3 class="summary-text" *ngIf="criteriaArray.length != 0 && form.controls.type.value === 'Household'">
              <span *ngIf="!load">{{criteriaNbBeneficiaries}}</span>
              <span *ngIf="load">
                <mat-spinner [diameter]="25"></mat-spinner>
              </span>
              {{texts.add_distribution_households_reached | titlecase}}
            </h3>
          </div>
          <small id="text-explanation">{{ texts.add_distribution_text_explanation }}</small>
          <div class="form" *ngIf="widthScreen < maxWidthMobile">
            <app-table-mobile (openModal)="removeElement($event, 'criteria')" [entity]="criteriaClass" [data]="criteriaArray"></app-table-mobile>
          </div>
        </form>

        <div class="forms-commodity">
          <div class="distribution-title">
            <h2>{{texts.add_distribution_distributed_commodity | titlecase}}</h2>
            <button mat-stroked-button class="button-text-accent distribution-add-button" (click)="openDialog('addCommodity')">
              <span>{{ texts.add | titlecase }}</span>
            </button>
          </div>
          <div class="form" *ngIf="widthScreen > maxWidthMobile">
            <app-table class="mat-elevation-z8" (openModal)="removeElement($event, 'commodity')" [entity]="commodityClass" [data]="commodityArray" deletable="true" rights="true" #commodityTable></app-table>
          </div>
          <div class="summary-container" *ngIf="commodityArray.length != 0">
            <h3 class="summary-text" *ngFor="let commodity of commodityArray; let i = index;">
              <span>{{commodityNb[i]}}</span>{{commodity.get('unit')}}
              {{texts.add_distribution_commodities_delivered | titlecase}}</h3>
          </div>
          <div class="form" *ngIf="widthScreen < maxWidthMobile">
            <app-table-mobile (openModal)="removeElement($event, 'commodity')" [entity]="commodityClass" [data]="commodityArray"></app-table-mobile>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="action-buttons content-button content-button-footer">
    <button mat-raised-button *ngIf="!loadingCreation" (click)="add()" class="button-background-primary">{{texts.create}}</button>
    <mat-spinner *ngIf="loadingCreation" [diameter]="30"></mat-spinner>
    <button mat-button (click)="cancel()" class="button-text-primary">{{texts.cancel}}</button>
  </div>
</div>
