@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/animations.scss';

$box-content: 80px;

.box-content{
    width :100%;
    height: $box-content;
    border-radius: 8px;
    overflow: hidden;
    animation: box-right-in 0.3s;
    background-color: $bms_white;

    .content-icon{
        background-color: $bms_green;
    }
    button{
        width :100%;
        height: 100%;
        border:0;
        background: none;
        padding: 0 !important;
        box-shadow: $bms_shadow;

        &:hover{
            cursor: pointer;
        }
    }
}

.box-content-content{
    display: flex;
    justify-content: left;
    height: 100%;
    .content-info{
        justify-content: right;
        align-content: center;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        font-family: $bms_font_text;
        width :100%;
        padding:15px;
        color : $bms_black;

        .info-title{
            display: flex;
            margin: 0 !important;
            word-break: break-word;
            hyphens: auto;
        }

        .info-subtitle{
            font-weight: bold;
            font-size : 2.5vh;
            margin: 0 !important;
            padding-top:10px;
        }
    }

    .content-icon{
        flex-shrink: 1;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            padding: 5px;
            display:inline-block;
            color: $bms_grey;
            text-align: center;
            vertical-align: bottom;
            -webkit-filter: invert(1);
            height: 3em;
        }
    }


}

.box-green{
    background-color: $bms_green !important;
}

.box-red{
    background-color: $bms-red !important;
}

.selected{
    background-color: $bms_dark_blue !important;
    .content-info {
        color: $bms_white;
    }


}

//for mobile screen
@media only screen and (max-width: 750px){
    .info-title{
    }
}
