<div class="box-content">
  <button (click)="emitTitle(info.ref)" style="text-decoration: none;" [class.selected]="!(info.ref == selectedTitle)">
    <div class="box-content-content">
      <div class="content-icon box-background-{{info.color}}">
        <img src="assets/images/{{info.icon}}.png">
      </div>
      <div class="content-info">
        <h5 class="info-title">{{info.title | uppercase}}</h5>
        <h4 class="info-subtitle">{{info.subtitle}}</h4>
      </div>
    </div>
  </button>
</div>