@import '../../../../assets/css/variable.scss'; 

$box-content: 80px;

.box-content{
    width :100%;
    background-color: $bms_light_grey;
    height: $box-content;
    button{
        width :100%;
        height: 100%;
        border:0;
        background: none;
        padding: 0 !important;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);    
        
        &:hover{
            cursor: pointer;
        }
    }
}

.box-content-content{
    display: flex;
    justify-content: left;
    height: 100%;

    .content-info{
        justify-content: right;
        align-content: center;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        font-family: $bms_font_text;
        width :100%;
        padding:15px;

        .info-title{
            display: flex;
            font-size : 1.5vh;
            margin: 0 !important;
        }

        .info-subtitle{
            font-weight: bold;
            font-size : 2.5vh;
            margin: 0 !important;
            padding-top:10px;
        }
    }

    .content-icon{
        flex-shrink: 1;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            padding: 5px;
            display:inline-block;
            color:white;
            text-align: center;
            vertical-align: bottom;
            -webkit-filter: invert(1);
            height: 5vh;
        }
    }

    
}

.box-green{
    background-color: $bms_green;
}

.box-red{
    background-color: $bms-red;
}

.selected{
    .content-icon{
        background-color: $bms_menu;
    }
    background-color: $bms_dark_grey !important;
    color: $bms_white;
}

//for mobile screen
@media only screen and (max-width: 750px){
    .info-title{
        font-size : 2.5vh !important;
    }
}