@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/animations.scss';

.box-content {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    animation: box-right-in 0.3s;
    background-color: $bms_white;

    
    button {
        width: 100%;
        height: 100%;
        border: 0;
        background: none;
        padding: 0 !important;
        
        &:hover {
            cursor: pointer;
        }
        
        &:focus {
            outline: none;
        }
        .content-icon {
            background-color: $bms_green;
        }
    }
}

.box-content-content {
    display: flex;
    height: 100%;

    .content-info {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 15px;
        color: $bms_black;

        .info-title {
            display: flex;
            margin: 0 !important;
            word-break: break-word;
            hyphens: auto;
            text-align: left;
        }
    }

    .content-icon {
        flex-shrink: 1;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            padding: 5px;
            display: inline-block;
            text-align: center;
            vertical-align: bottom;
            -webkit-filter: invert(1);
            height: 3em;
        }
    }
}

.box-primary {
    background-color: $bms_green !important;
}

.selected {
    background-color: $bms_dark_blue !important;

    .content-info {
        color: $bms_white;
    }
}
