<div class="box-content">
  <button style="text-decoration: none;" [class.selected]="isSelected" >
    <div class="box-content-content">
      <div class="content-icon" [class.box-primary]="is">
            <img src="assets/images/{{info.icon}}.svg">
      </div>
      <div class="content-info">
        <h3 class="info-title" *ngIf="info.title.length <= MAX_PROP_LENGTH">{{info.title | titlecase}}</h3>
        <h3 class="info-title" *ngIf="info.title.length > MAX_PROP_LENGTH" [matTooltip] = "info.title"> {{info.title.substring(0,MAX_PROP_LENGTH-1) | titlecase}} ...</h3>
        <h4 class="info-subtitle">{{info.subtitle}}</h4>
      </div>
    </div>
  </button>
</div>
