<div class="box-content">
    <button style="text-decoration: none;" [class.selected]="isSelected" >
    <div class="box-content-content">
      <div class="content-icon" [class.box-primary]="isSelected">
            <img src="assets/images/{{info.icon}}.svg">
      </div>
      <div class="content-info">
        <h3 class="info-title" *ngIf="info.title.length <= maxLength">{{ info.title | uppercaseFirst }}</h3>
        <h3 class="info-title" *ngIf="info.title.length > maxLength" [matTooltip] = "info.title"> {{info.title.substring(0, maxLength-1) | uppercaseFirst}} ...</h3>
        <!-- <h4 class="info-subtitle">{{info.subtitle}}</h4> -->
      </div>
    </div>
  </button>
</div>
