<div class="page-container">
    <div class="container-title">
        <h2>IMPORT HOUSEHOLDS DATA</h2>
    </div>

    <div class="container-boxes">
        <app-box-setting (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "folder", color: "green", title:"file import", subtitle:"", ref:""}'></app-box-setting>
        <app-box-setting class="isLast" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/api", color: "red", title:"api import", subtitle:"", ref:""}'></app-box-setting>
    </div>

    <div class="container-table" *ngIf="selectedTitle == 'file import'">
        <div class="container-content box-green">

            <div class="content-button">
                <mat-form-field>
                    <mat-select placeholder="Projects" [formControl]="projects" (selectionChange)="getProjectSelected($event)">
                        <mat-option *ngFor="let project of projectList" [value]="project" >{{project}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="content-table">
                <div class="content-drag-and-drop" draggable="true" [ngClass]="dragAreaClass">
                    <mat-card class="card-drag-and-drop">
                        <div>
                            <img class='img-folder' src="assets/images/folder.png">
                        </div>
                        <div>
                            <h3>ADD FILE</h3>
                        </div>
                        <div class="select-file">
                            <a class="fenetre-selection" href="javascript:void(0)" (click)="file.click()">
                                Ouvrir la fenêtre de sélection
                            </a>
                            Ou Glisser-Déposer vos fichiers
                            <input type="file" #file [multiple] (change)="fileChange($event, 'target')" style="display:none" />
                        </div>

                    </mat-card>
                </div>
                <span class="template" (click)="exportTemplate()">
                    CSV file to upload : ( See template )
                </span>
                <table class="list-file" *ngIf="csv != null">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Last modified date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ csv.name }}</td>
                            <td>{{ csv.size }} bytes</td>
                            <td>{{ csv.lastModifiedDate | date: ddMMyyyy}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="content-button content-button-footer">
                <a routerLink="/households/data-validation">
                    <button mat-button class="upload-button" (click)="addHouseholds()" [disabled]="!(csv && selectedProject)">
                        <i class="fas fa-upload">
                            <span>UPLOAD</span>
                        </i>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="container-table" *ngIf="selectedTitle == 'api import'">
        <div class="container-content box-red">

            <div class="content-button">

            </div>
            <div class="content-table">


            </div>
            <div class="content-button content-button-footer">

            </div>
        </div>
    </div>
</div>