<div class="container-table">
    <div class="container-content box-primary">
        <div *ngIf="transactionData !== undefined" class="progression">
            <div class="commodities" *ngFor="let commodity of actualDistribution.get('commodities')">
                <h4>{{ commodity.get('modalityType').get('name') }} {{ language.transaction_progress | uppercaseFirst }}
                    {{ getPercentageValue(commodity) | number: '1.0-0' }} % </h4>
                <mat-progress-bar mode="determinate" [value]="getPercentageValue(commodity)"></mat-progress-bar>
                <div class="details">
                    <div class="info_1">
                        <h5>{{language.transaction_amount_total | uppercaseFirst}}</h5>
                        {{ getTotalCommodityValue(commodity) }} {{commodity.get('unit')}}
                    </div>

                    <ng-container>
                        <div class="info_2">
                            <h5>{{language.transaction_amount_done | uppercaseFirst}}</h5>
                            {{ getAmountSent(commodity) }} {{commodity.get('unit')}}
                        </div>
                        <div class="info_3">
                            <h5>{{language.transaction_amount_waiting | uppercaseFirst}}</h5>
                            {{ getReceivedValue(commodity) }} {{commodity.get('unit')}}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="content-button" *ngIf="transactionData">
            <div class="action-buttons">
                <button [disabled]="actualDistribution.get('finished')" mat-flat-button
                    class="button-background-primary" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                    <span>{{language.table_actions | uppercaseFirst}}</span>
                </button>
                <div class="extension">
                    <mat-menu #menu class="extMenu">
                        <button mat-menu-item (click)="refreshStatuses()">
                            <mat-icon>refresh</mat-icon>
                            <span class="text-button">{{language.transaction_refresh}}</span>
                        </button>
                        <button class="log-button" [disabled]="noHistory()" mat-menu-item
                            *ngIf="userService.hasRights('ROLE_DISTRIBUTIONS_MANAGEMENT')" (click)="requestLogs()">
                            <mat-icon>history</mat-icon>
                            <span class="text-button">{{language.distribution_request_logs}}</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="button-with-extension"
                    [ngClass]="{'rtl':language.direction === 'rtl'}">
                    <button mat-flat-button class="button-background-primary"
                        (click)="exportTransaction(extensionType, 'transactionDistribution')" *ngIf="!loadingExport">
                        <mat-icon>get_app</mat-icon>
                        <span>{{language.export | uppercaseFirst}}</span>
                    </button>
                    <mat-spinner [diameter]='35' *ngIf="loadingExport"></mat-spinner>
                    <div class="extension" *ngIf="!loadingExport">
                        <button mat-flat-button class="dropdown button-background-primary"
                            [matMenuTriggerFor]="exportTypeTransaction">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #exportTypeTransaction class="extMenu">
                            <button mat-menu-item (click)="extensionType = 'xls'"> .xls <mat-icon
                                    *ngIf="extensionType=='xls'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'csv'"> .csv <mat-icon
                                    *ngIf="extensionType=='csv'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'ods'"> .ods <mat-icon
                                    *ngIf="extensionType=='ods'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'pdf'"> .pdf <mat-icon
                                *ngIf="extensionType=='pdf'">done</mat-icon>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <button mat-flat-button
                *ngIf="currentDisplayType.type !== 'mobile' && userService.hasRights('ROLE_PROJECT_MANAGEMENT')"
                (click)="openModal({action:'addBeneficiary', distribution: actualDistribution})"
                class="add-button-create">
                <mat-icon>add</mat-icon>
                {{language.add | titlecase}}
            </button>
            <button mat-fab
                *ngIf="currentDisplayType.type === 'mobile' && userService.hasRights('ROLE_PROJECT_MANAGEMENT')"
                (click)="openModal({action:'addBeneficiary', distribution: actualDistribution})" class="add-button"
                [ngClass]="{'add-button-rtl': language.direction === 'rtl'}">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="content-table">
            <!-- Add filters and checkboxes -->
            <app-table [isLoading]="loadingTransaction" [searchable]="true" [paginable]="true"
                *ngIf="currentDisplayType.type !== 'mobile'"
                [editable]="userService.hasRights('ROLE_DISTRIBUTIONS_MANAGEMENT')" [parentObject]="actualDistribution"
                [entity]="entity" [service]="BeneficiariesService" [data]="transactionData"
                (openModal)="openModal($event)" [deletable]="userService.hasRights('ROLE_PROJECT_MANAGEMENT')">
            </app-table>
            <app-table-mobile [isLoading]="loadingTransaction" *ngIf="currentDisplayType.type === 'mobile'"
                [editable]="userService.hasRights('ROLE_DISTRIBUTIONS_MANAGEMENT')" [parentObject]="actualDistribution"
                [entity]="entity" [service]="BeneficiariesService" [data]="transactionData"
                (openModal)="openModal($event)" [deletable]="userService.hasRights('ROLE_PROJECT_MANAGEMENT')">
            </app-table-mobile>
        </div>

        <div class="content-button content-button-footer">
            <div class="action-buttons">
                <mat-spinner [diameter]="35" *ngIf="loadingComplete"></mat-spinner>
                <button mat-stroked-button (click)="complete(); $event.stopPropagation()" color="primary"
                    *ngIf="!actualDistribution.get('finished') && userService.hasRights('ROLE_DISTRIBUTIONS_MANAGEMENT') && !loadingComplete">
                    <mat-icon>done</mat-icon> {{language.close}}
                </button>
                <mat-spinner [diameter]="35" *ngIf="loaderCache"></mat-spinner>
                <button mat-stroked-button [disabled]="distributionIsStored" *ngIf="!loaderCache"
                    class="button-text-accent" (click)="storeBeneficiaries()">
                    <mat-icon>save</mat-icon>
                    <ng-container *ngIf="distributionIsStored; else distributionIsntStored">
                        {{language.cache_stored_beneficiaries}}
                    </ng-container>
                    <ng-template #distributionIsntStored>
                        {{language.cache_store_beneficiaries}}
                    </ng-template>
                </button>
                <mat-spinner [diameter]="35" *ngIf="transacting"></mat-spinner>
                <button [disabled]="actualDistribution.get('finished')" mat-flat-button
                    *ngIf="userService.hasRights('ROLE_AUTHORISE_PAYMENT') && !transacting && transactionData"
                    (click)="openDialog(transaction);" class="button-background-accent" [matBadge]="getPeopleCount()"
                    matBadgePosition="before" matBadgeColor="primary">
                    <mat-icon>send</mat-icon> {{language.transaction_transaction}}
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #transaction>
    <h4 mat-dialog-title *ngIf="!codeSent" class="modal-title underline-accent" [ngClass]="{'rtl':language.direction === 'rtl'}">{{language.transaction_confirm}}
    </h4>
    <h4 mat-dialog-title *ngIf="codeSent" class="modal-title underline-accent" [ngClass]="{'rtl':language.direction === 'rtl'}">{{language.transaction_inProgress}}
    </h4>
    <mat-dialog-content class="modal-container">
        <ng-container *ngIf="!codeSent; else codeIsCorrect">
            <div class="modal-body">
                <p> {{language.transaction_email_code}} <br /> {{actualUser.get('email')|uppercaseFirst}}.
                </p>
                <p> {{language.transaction_paste_code}}</p>
                <br />
                <div class="lign-container">
                    <mat-form-field>
                        <input matInput [formControl]="enteredCodeControl" [placeholder]="language.booklet_code">
                    </mat-form-field>
                    <button mat-stroked-button class='button-text-primary sendCode-button'
                        (click)='codeVerif()'>{{language.transaction_again}}</button>
                </div>
                <br />
            </div>
        </ng-container>

        <ng-template #codeIsCorrect>
            <div class="modal-body progression-bar">
                <h4>{{ progression }} %</h4>
                <mat-progress-bar mode="determinate" [value]="progression"></mat-progress-bar>
            </div>
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions *ngIf="!codeSent" >
        <div class="modal-button action-buttons"
            [ngClass]="{'rtl':language.direction === 'rtl'}">
            <button mat-button class="button-text-accent"
                (click)="exit('Transaction canceled')">{{language.cancel}}</button>
            <button mat-flat-button class="button-background-accent" *ngIf="!transacting"
                [disabled]="!enteredCodeControl.valid"
                (click)="confirmTransaction()">{{language.transaction_confirm_button}}</button>
            <mat-spinner [diameter]="30" *ngIf="transacting"></mat-spinner>
        </div>
    </mat-dialog-actions>
</ng-template>
