@import '../../../../assets/css/variable.scss';

.placeholder-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch !important;
    margin-top: 10px;
    margin-bottom: 10px;
    .summary-box-container {
        width: 48%;
        height: 100px;
        background: $bms_neutral_grey;
        animation: wave 2s ease-in-out 0s infinite;
        border-radius: 3px;
    }
}
