<div class="page-container">
  <div class="container-title">
    <h2>{{distribution.distribution_title | uppercase}}</h2>
  </div>
  <div class="container-boxes">
    <app-box-setting *ngFor="let project of projects" (emitClickedTitle)="selectTitle($event, project)" [selectedTitle]="selectedTitle"
      [info]='{icon: "settings/projects", color: "green", title:project.name, ref:project.name}'></app-box-setting>
  </div>
  <div class="container-table">
    <div class="container-content" *ngIf="isBoxClicked">
      <div class="content-button">
        <button mat-icon-button class="add-button">
          <mat-icon>add</mat-icon>
        </button>
        <app-box-properties class="properties-displayed" [entity]="projectClass" [mapperService]="mapperService" [componentDisplayed]="selectedProject"></app-box-properties>
        <div class="export-button-container">
          <button mat-raised-button class="export-button">
            <mat-icon>get_app</mat-icon>
            <span>{{distribution.distribution_export | uppercase}}</span>
          </button>
        </div>
      </div>
      <div class="content-table">
        <app-table-distribution *ngIf="widthScreen > maxWidthMobile" [entity]="distributionClass" [service]="distributionService" [data]="distributionData"></app-table-distribution>
        <app-table-mobile-distribution *ngIf="widthScreen < maxWidthMobile" [entity]="distributionClass" [service]="distributionService"
          [data]="distributionData"></app-table-mobile-distribution>
      </div>
    </div>
  </div>
</div>