@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/animations.scss';

h4, p {
    margin: unset;
}

.container-table {
    flex-direction: column;
    width: unset;
}

.content-table {
    display: block !important;

    .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

mat-horizontal-stepper {
    width: 100%;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;

    &.invisible {
        opacity: 0;
        visibility: hidden;
    }
}

.global-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;

    &.align-end {
        justify-content: flex-end;
    }

    &.align-start {
        justify-content: flex-start;
    }

    .new {
        color: $bms_green;
    }

    .old {
        color: $bms_dark_blue;
    }
}

form .errors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;

    .beneficiary {
        width: 100%;
        padding: 10px;
        display: flex;
        place-content: space-between;

        &.old {
            margin-right: 10px;
        }

        &.new {
            margin-left: 10px;
        }
    }

    .household {
        width: 100%;
        display: flex;
        flex-direction: column;

        &.old {
            margin-right: 10px;
        }

        &.new {
            margin-left: 10px;
        }

        .head {
            background-color: lighten($bms_neutral_grey, 15%);
            padding: 10px;
            display: flex;
            place-content: space-between;
            flex-direction: row;

            .head-info {
                display: flex;
                flex-direction: column;
                place-content: space-around;
            }
        }

        .members {
            .member {
                padding: 10px;
            }

            &.step-duplicates {
                border-top: 1px solid $bms_neutral_grey;
                background-color: lighten($bms_neutral_grey, 15%);
                flex-grow: 1;
            }
        }

        .duplicate {
            padding: 10px;
            color: $bms_red;
            font-weight: bolder;
        }
    }
}

.step-info {
    background-color: rgba($bms_green, 0.2);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    overflow: hidden;
    max-height: 300px;

    h3, p {
        margin: 10px 0;
    }

    &:not(.displayed) {
        animation: disappear 0.5s forwards;
    }

    mat-icon {
        float: right;
        cursor: pointer;
        color: $bms_green;
    }

    @keyframes disappear {
        0% {
            opacity: 1;
            max-height: 300px;
            margin: 10px 0;
            padding: 20px;
        }

        100% {
            opacity: 0;
            max-height: 0;
            margin: 0;
            padding: 0;
        }
    }
}

// //for mobile screen
// @media only screen and (max-width: 750px){
//     .issues {
//         width: 80% !important;
//         flex-direction: column;
//         .content-issue {
//           margin: 10px 0;
//         }
//     }
//     .step-info {
//        //width: 90% !important;
//        box-sizing: border-box;
//     }
//     .done {
//         width: 95% !important;
//         padding: 20px !important;
//     }
// }

// @media only screen and (max-width: 750px) and (min-width: 450px) {
//     .container-table {
//     }
//     .step-info {
//         width: 100% !important;
//         div {
//             box-sizing: border-box;
//         }
//     }
// }
