<div class="page-container">
    <div class="container-title">
        <h2>{{language.data_verification_title | uppercaseFirst}}</h2>
    </div>
    <mat-horizontal-stepper class="disable-step" #stepper>
        <mat-step>
            <ng-template matStepLabel>
                {{language.data_verification_step_typos | uppercaseFirst}}
            </ng-template>
            <div class="container-table">

            <ng-container *ngTemplateOutlet="stepInfo; context: {title: language.data_verification_step_typos, description: language.data_verification_description_typos}"></ng-container>


                <div class="container-content box-primary">

                    <div class="content-table" *ngIf="currentStep === step.Typos">
                        <div class="global-actions">
                            <mat-checkbox class="old" color="primary" #oldCheckBox
                                [checked]="getStatusCheckboxState('old')===checkboxState.Checked"
                                [indeterminate]="getStatusCheckboxState('old')===checkboxState.Indeterminate"
                                (change)="setAllOldCheckboxesValues(oldCheckBox)">
                                {{language.import_select_old| uppercaseFirst}}
                            </mat-checkbox>

                            <mat-checkbox class="new" color="primary" #newCheckBox
                                [checked]="getStatusCheckboxState('new')===checkboxState.Checked"
                                [indeterminate]="getStatusCheckboxState('new')===checkboxState.Indeterminate"
                                (change)="setAllNewCheckboxesValues(newCheckBox)">
                                {{language.import_select_new| uppercaseFirst}}
                            </mat-checkbox>
                        </div>
                        <form *ngIf="form" [formGroup]="form">
                            <div class ="error" *ngFor="let error of errors; let i=index">
                                <div class="beneficiary old">
                                    <mat-checkbox [formControl]="form.controls[i].controls.old" color="primary">
                                        <h4>{{error.old.beneficiaries[0].local_given_name}} {{error.old.beneficiaries[0].local_family_name}}</h4>
                                        <p>{{error.old.address_number}} {{error.old.address_street}} {{error.old.address_postcode}}</p>
                                        <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{error.old.beneficiaries[0].updated_on | date:'dd-MM-yyyy'}}</p>
                                    </mat-checkbox>
                                    <mat-chip-list>
                                        <mat-chip>{{language.data_verification_chip_existing | uppercaseFirst}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div class="beneficiary new">
                                    <mat-checkbox [formControl]="form.controls[i].controls.new" color="primary">
                                        <h4>{{error.new.beneficiaries[0].local_given_name}} {{error.new.beneficiaries[0].local_family_name}}</h4>
                                        <p>{{error.new.address_number}} {{error.new.address_street}} {{error.new.address_postcode}}</p>
                                        <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{language.time_just_now| uppercaseFirst}}</p>
                                    </mat-checkbox>
                                    <mat-chip-list>
                                        <mat-chip>{{language.data_verification_chip_add| uppercaseFirst}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </form>
                        <ng-container *ngTemplateOutlet="validateButton"></ng-container>
                    </div>
                </div>
            </div>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel>
                {{language.data_verification_step_more | uppercaseFirst}}
            </ng-template>
            <div class="container-table">

                <ng-container *ngTemplateOutlet="stepInfo; context: {title: language.data_verification_step_more, description: language.data_verification_description_more}"></ng-container>

                <div class="container-content box-primary">
                    <div class="content-table" *ngIf="currentStep === step.More">
                        <div class="global-actions align-end">
                                <mat-checkbox class="new" color="primary" #checkBox
                                    [checked]="getGlobalCheckboxState()===checkboxState.Checked"
                                    [indeterminate]="getGlobalCheckboxState()===checkboxState.Indeterminate"
                                    (change)="setAllCheckboxesValues(checkBox)">
                                    {{language.import_select_new| uppercaseFirst}}
                                </mat-checkbox>
                            </div>
                        <form class="errors" *ngIf="form" [formGroup]="form">
                            <div class ="error" *ngFor="let error of errors; let householdIndex=index">
                                <div class="household old">
                                    <div class="head">
                                        <div class="head-info">
                                            <h4>{{error.old.beneficiaries[0].local_given_name}} {{error.old.beneficiaries[0].local_family_name}}</h4>
                                            <p>{{error.old.address_number}} {{error.old.address_street}} {{error.old.address_postcode}}</p>
                                            <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{error.old.beneficiaries[0].updated_on | date:'dd-MM-yyyy'}}</p>
                                        </div>
                                        <mat-chip-list>
                                            <mat-chip>{{language.data_verification_chip_existing | uppercaseFirst}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="members">
                                        <ng-container *ngFor="let beneficiary of error.old.beneficiaries; let beneficiaryIndex=index">
                                            <div class="member" *ngIf="beneficiaryIndex !== 0">
                                                <h4>{{error.old.beneficiaries[beneficiaryIndex].local_given_name}} {{error.old.beneficiaries[beneficiaryIndex].local_family_name}}</h4>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="household new">
                                    <div class="head">
                                        <div class="head-info">
                                            <h4>{{error.new.beneficiaries[0].local_given_name}} {{error.new.beneficiaries[0].local_family_name}}</h4>
                                            <p>{{error.new.address_number}} {{error.new.address_street}} {{error.new.address_postcode}}</p>
                                            <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{language.time_just_now| uppercaseFirst}}</p>
                                        </div>
                                        <mat-chip-list>
                                            <mat-chip>{{language.data_verification_chip_add| uppercaseFirst}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="members">
                                        <ng-container *ngFor="let beneficiary of error.new.beneficiaries; let beneficiaryIndex=index">
                                            <div class="member" *ngIf="beneficiaryIndex !== 0">
                                                <mat-checkbox [formControl]="form.controls[householdIndex].controls[beneficiaryIndex]" color="primary" >
                                                    <h4>{{error.new.beneficiaries[beneficiaryIndex].local_given_name}} {{error.new.beneficiaries[beneficiaryIndex].local_family_name}}</h4>
                                                </mat-checkbox>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <ng-container *ngTemplateOutlet="validateButton"></ng-container>
                    </div>
                </div>
            </div>

        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                {{language.data_verification_step_less | uppercaseFirst}}
            </ng-template>
            <div class="container-table">

                <ng-container *ngTemplateOutlet="stepInfo; context: {title: language.data_verification_step_less, description: language.data_verification_description_less}"></ng-container>

                <div class="container-content box-primary">
                    <div class="content-table" *ngIf="currentStep === step.Less">
                        <div class="global-actions align-start">
                            <mat-checkbox class="new" color="primary" #checkBox
                                [checked]="getGlobalCheckboxState()===checkboxState.Checked"
                                [indeterminate]="getGlobalCheckboxState()===checkboxState.Indeterminate"
                                (change)="setAllCheckboxesValues(checkBox)">
                                {{language.import_select_old| uppercaseFirst}}
                            </mat-checkbox>
                        </div>
                        <form class="errors" *ngIf="form" [formGroup]="form">
                            <div class ="error" *ngFor="let error of errors; let householdIndex=index">
                                <div class="household old">
                                    <div class="head">
                                        <div class="head-info">
                                            <h4>{{error.old.beneficiaries[0].local_given_name}} {{error.old.beneficiaries[0].local_family_name}}</h4>
                                            <p>{{error.old.address_number}} {{error.old.address_street}} {{error.old.address_postcode}}</p>
                                            <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{error.old.beneficiaries[0].updated_on | date:'dd-MM-yyyy'}}</p>
                                        </div>
                                        <mat-chip-list>
                                            <mat-chip>{{language.data_verification_chip_existing | uppercaseFirst}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="members">
                                        <ng-container *ngFor="let beneficiary of error.old.beneficiaries; let beneficiaryIndex=index">
                                            <div class="member" *ngIf="beneficiaryIndex !== 0">
                                                <mat-checkbox [formControl]="form.controls[householdIndex].controls[beneficiaryIndex]" color="primary" >
                                                    <h4>{{error.old.beneficiaries[beneficiaryIndex].local_given_name}} {{error.old.beneficiaries[beneficiaryIndex].local_family_name}}</h4>
                                                </mat-checkbox>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="household new">
                                    <div class="head">
                                        <div class="head-info">
                                            <h4>{{error.new.beneficiaries[0].local_given_name}} {{error.new.beneficiaries[0].local_family_name}}</h4>
                                            <p>{{error.new.address_number}} {{error.new.address_street}} {{error.new.address_postcode}}</p>
                                            <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{language.time_just_now| uppercaseFirst}}</p>

                                        </div>
                                        <mat-chip-list>
                                            <mat-chip>{{language.data_verification_chip_add| uppercaseFirst}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="members">
                                        <ng-container *ngFor="let beneficiary of error.new.beneficiaries; let beneficiaryIndex=index">
                                            <div class="member" *ngIf="beneficiaryIndex !== 0">
                                                <h4>{{error.new.beneficiaries[beneficiaryIndex].local_given_name}} {{error.new.beneficiaries[beneficiaryIndex].local_family_name}}</h4>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngFor="let beneficiary of getOldRestoredBeneficiaries(householdIndex)">
                                            <div class="member">
                                                <h4>{{beneficiary.local_given_name}} {{beneficiary.local_family_name}}</h4>
                                            </div>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <ng-container *ngTemplateOutlet="validateButton"></ng-container>
                    </div>
                </div>
            </div>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel>
                {{language.data_verification_step_duplicates | uppercaseFirst}}
            </ng-template>
            <div class="container-table">

                <ng-container *ngTemplateOutlet="stepInfo; context: {title: language.data_verification_step_duplicates, description: language.data_verification_description_duplicates}"></ng-container>

                <div class="container-content box-primary">
                    <div class="content-table" *ngIf="currentStep === step.Duplicates">
                        <div class="global-actions">
                            <mat-checkbox class="old" color="primary" #oldCheckBox
                                [checked]="getStatusCheckboxState('old')===checkboxState.Checked"
                                [indeterminate]="getStatusCheckboxState('old')===checkboxState.Indeterminate"
                                (change)="setAllOldCheckboxesValues(oldCheckBox)">
                                {{language.import_select_old| uppercaseFirst}}
                            </mat-checkbox>

                            <mat-checkbox class="new" color="primary" #newCheckBox
                                [checked]="getStatusCheckboxState('new')===checkboxState.Checked"
                                [indeterminate]="getStatusCheckboxState('new')===checkboxState.Indeterminate"
                                (change)="setAllNewCheckboxesValues(newCheckBox)">
                                {{language.import_select_new| uppercaseFirst}}
                            </mat-checkbox>
                        </div>
                        <form class="errors" *ngIf="form" [formGroup]="form">
                            <div class="error" *ngFor="let error of errors; let householdIndex=index">
                                <div class="household old">
                                    <div class="head">
                                        <div class="head-info">
                                            <h4>{{error.old_household.beneficiaries[0].local_given_name}} {{error.old_household.beneficiaries[0].local_family_name}}</h4>
                                            <p>{{error.old_household.address_number}} {{error.old_household.address_street}} {{error.old_household.address_postcode}}</p>
                                            <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{error.old_household.beneficiaries[0].updated_on | date:'dd-MM-yyyy'}}</p>
                                        </div>
                                        <mat-chip-list>
                                            <mat-chip>{{language.data_verification_chip_existing | uppercaseFirst}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="members step-duplicates">
                                        <ng-container *ngFor="let beneficiary of error.old_household.beneficiaries; let beneficiaryIndex=index">
                                            <div class="member" *ngIf="beneficiaryIndex !== 0">
                                                <h4>{{beneficiary.local_given_name}} {{beneficiary.local_family_name}}</h4>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="duplicate">
                                        <mat-checkbox [formControl]="form.controls[householdIndex].controls.old" color="primary">
                                            <h4>{{error.old.local_given_name}} {{error.old.local_family_name}}</h4>
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="household new">
                                    <div class="head">
                                        <div class="head-info">
                                            <h4>{{error.new_household.beneficiaries[0].local_given_name}} {{error.new_household.beneficiaries[0].local_family_name}}</h4>
                                            <p>{{error.new_household.address_number}} {{error.new_household.address_street}} {{error.new_household.address_postcode}}</p>
                                            <p>{{language.data_verification_last_updated| uppercaseFirst}}: {{language.time_just_now| uppercaseFirst}}</p>
                                        </div>
                                        <mat-chip-list>
                                            <mat-chip>{{language.data_verification_chip_add| uppercaseFirst}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div class="members step-duplicates">
                                        <ng-container *ngFor="let beneficiary of error.new_household.beneficiaries; let beneficiaryIndex=index">
                                            <div class="member" *ngIf="beneficiaryIndex !== 0">
                                                <h4>{{beneficiary.local_given_name}} {{beneficiary.local_family_name}}</h4>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="duplicate">
                                        <mat-checkbox [formControl]="form.controls[householdIndex].controls.new" color="primary">
                                            <h4>{{error.new.local_given_name}} {{error.new.local_family_name}}</h4>
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <ng-container *ngTemplateOutlet="validateButton"></ng-container>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                {{language.done | uppercaseFirst}}
            </ng-template>
            <div class="container-table">
                <div class="container-content box-primary">
                    <div class="content-table centered" *ngIf="currentStep === step.Update">
                        <div class="centered">
                            <h3 class="step-title">{{language.data_verification_done | uppercaseFirst}}</h3>
                            <button *ngIf="!loading" class="button-background-primary" mat-flat-button (click)="finishImport()">{{language.done | uppercaseFirst}}</button>
                            <mat-spinner [diameter]="35" *ngIf="loading"></mat-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>


<ng-template #validateButton>
    <div class="action-buttons">
        <button *ngIf="!loadingStep" [disabled]="form.invalid" class="button-background-primary" mat-flat-button (click)="validateStep()">{{language.next | uppercaseFirst}}</button>
        <mat-spinner [diameter]="35" *ngIf="loadingStep"></mat-spinner>
    </div>
</ng-template>

<ng-template #stepInfo let-title="title" let-description="description">
    <div class="step-info" [ngClass]="{'displayed': helpDisplayed}">
        <mat-icon (click)="helpDisplayed = false">close</mat-icon>
        <h3> {{title|uppercaseFirst}} {{language.data_verification_step_info|uppercaseFirst}}</h3>
        <p>{{description}}</p>
        <p>{{language.data_verification_description_end}}</p>
    </div>
</ng-template>


