@import '../../../assets/css/variable.scss';

.container-profile {
    width: 40%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;

    .profile-field {
        display: flex;
        flex-direction: column;

        h2 {
            text-align: left;
            font-weight: lighter;
        }
    }
    .action-buttons {
      margin-top: 20px;
    }
}

//for mobile screen
@media only screen and (max-width: 750px) {
    .container-profile {
      width: unset;
      height: unset;
      margin: unset;
    }
}
