<div class="page-container">
    <div class="container-title">
        <h2> {{language.profile | titlecase}} </h2>
    </div>

    <div class="container-table">
        <div class="container-profile">
            <form class="profile-field" [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
                <h2> {{ language.profile_user_information | titlecase }} </h2>
                <mat-form-field *ngIf='actualUser'>
                    <input matInput placeholder="{{language.email | titlecase}}" formControlName="email"
                        [disabled]="true">
                </mat-form-field>

                <h2> {{ language.profile_user_change_password | titlecase }} </h2>
                <mat-form-field>
                    <input matInput [placeholder]="language.profile_user_hint_old_password | titlecase" type="password"
                        formControlName="oldPassword">
                </mat-form-field>

                <mat-form-field>
                    <input autocomplete="new-password" matInput
                        [placeholder]="language.profile_user_hint_new_password | titlecase" type="password"
                        formControlName="newPassword1">
                </mat-form-field>

                <mat-form-field>
                    <input autocomplete="new-password" matInput
                        [placeholder]="language.profile_user_hint_new_password_again | titlecase" type="password"
                        formControlName="newPassword2">
                </mat-form-field>

                <div class="action-buttons">
                    <mat-spinner [diameter]="25" *ngIf="loadingPassword"></mat-spinner>
                    <button *ngIf="!loadingPassword" mat-flat-button type="submit" [disabled]="!passwordForm.valid"
                        class="button-background-primary">
                        {{ language.save | titlecase }}
                    </button>
                </div>
            </form>

            <form class="profile-field" [formGroup]="phoneForm" (ngSubmit)="onPhoneSubmit()">
                <h2>{{ language.profile_change_phone | titlecase }}</h2>
                <div class="items-line">
                    <ng-select class="single-select country-code" [multiple]="false" [searchable]="true"
                        [closeOnSelect]="true" formControlName="phonePrefix"
                        placeholder="{{ language.profile_user_hint_new_phone_prefix | titlecase }}">
                        <ng-option *ngFor="let country of countryCodesList" [value]="country">{{country}}</ng-option>
                    </ng-select>
                    <mat-form-field class="phone-number">
                        <input matInput [placeholder]="language.profile_user_hint_new_phone_number | titlecase"
                            formControlName="phoneNumber">
                    </mat-form-field>
                </div>

                <div class="action-buttons">
                    <mat-spinner [diameter]="25" *ngIf="loadingPhone"></mat-spinner>
                    <button *ngIf="!loadingPhone" mat-flat-button type="submit" [disabled]="!phoneForm.valid"
                        class="button-background-primary">
                        {{ language.save | titlecase }}
                    </button>
                </div>
            </form>

            <h2>{{ language.profile_two_fa_title | titlecase }}</h2>
            <p mat-line class="text">{{ language.profile_two_fa_information }}</p>
            <br>
            <strong *ngIf="!canTwoFA">{{ language.profile_two_fa_disabled }}</strong>
            <div class="action-buttons">
                <mat-spinner [diameter]="25" *ngIf="loadingTwoFA"></mat-spinner>
                <button mat-flat-button *ngIf="!userTwoFA && !loadingTwoFA" class="button-background-primary" (click)="toogleTwoFA()" [disabled]="!canTwoFA || !twoFAService">
                    {{ language.profile_two_fa_enable | titlecase }}
                </button>
                <button mat-flat-button *ngIf="userTwoFA && !loadingTwoFA" class="button-background-accent" (click)="toogleTwoFA()">
                    {{ language.profile_two_fa_disable | titlecase }}
                </button>
            </div>
        </div>
    </div>
</div>