<!-- TABLE -->
<div class="table-container">
  <div class="noDataContainer" *ngIf="!filled">
    <h3>
      <mat-icon>clear</mat-icon>
      {{table.no_data}}
    </h3>
  </div>

  <div class="container-header" *ngIf="filled">
      <mat-form-field>
        <input matInput [(ngModel)]="keyWords" (keyup)="applyFilter($event.target.value, 'familyName'); sendSortedData()" placeholder="{{table.table_filter}}">
      </mat-form-field>

      <div *ngIf="advancedResearch" class="filter-combo">
        <ng-select class="input-filter custom" [(ngModel)]="project" bindLabel="name" [items]="data.projects.value" [multiple]="true"
          placeholder="{{table.project}}" [closeOnSelect]="false" [searchable]="true" (change)="applyFilter($event, 'projects'); sendSortedData()">
        </ng-select>

        <ng-select class="input-filter" bindLabel="name" [items]="data.adm1.value" [closeOnSelect]="false" [searchable]="true"
          placeholder="{{table.adm1}}" (clear)="applyFilter($event, 'locations', true)" [(ngModel)]="newObject['adm1']"
          (change)="selected('adm1'); applyFilter($event, 'locations'); sendSortedData()">
        </ng-select>

        <ng-select class="input-filter" bindLabel="name" [items]="data.adm2.value" [closeOnSelect]="false" [searchable]="true"
          placeholder="{{table.adm2}}" [(ngModel)]="newObject['adm2']" (change)="selected('adm2'); applyFilter($event, 'locations', false); sendSortedData()">
        </ng-select>

        <ng-select class="input-filter" bindLabel="name" [items]="data.adm3.value" [closeOnSelect]="false" [searchable]="true"
          placeholder="{{table.adm3}}" [(ngModel)]="newObject['adm3']" (change)="selected('adm3'); applyFilter($event, 'locations'); sendSortedData()">
        </ng-select>

        <ng-select class="input-filter" bindLabel="name" [items]="data.adm4.value" [closeOnSelect]="false" [searchable]="true"
          placeholder="{{table.adm4}}" [(ngModel)]="newObject['adm4']" (change)="selected('adm4'); applyFilter($event, 'locations'); sendSortedData()">
        </ng-select>

        <ng-select class="input-filter custom" bindLabel="name" [(ngModel)]="vulnerability" [items]="data.vulnerabilities.value" [multiple]="true"
          placeholder="{{table.model_vulnerabilities}}" [closeOnSelect]="false" [searchable]="true" (change)="applyFilter($event, 'vulnerabilities'); sendSortedData()">
        </ng-select>
      </div>

      <div class="buttons-search-clear">
        <button mat-raised-button class="button-text-accent" (click)="showAdvancedResearch()">
          {{beneficiary.beneficiaries_advanced_research | titlecase}}
          <mat-icon *ngIf="!advancedResearch">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="advancedResearch">keyboard_arrow_up</mat-icon>
        </button>
        <button *ngIf="this.data.filter.length !== 0 " mat-raised-button class="button-text-accent" (click)="clearSearch()">
          <mat-icon>clear</mat-icon>
          {{beneficiary.beneficiaries_clear_all_research | titlecase}}
        </button>
      </div>

  <div *ngIf="filled && !testLoading">
    <table *ngFor="let element of data.householdsSubject.value" class="box-element">
      <tbody>
        <tr *ngFor="let property of properties" (click)="openDialog('details', element)" class="cursor-pointer">
          <td class="element-value">
            <span> {{mapperService.mapTitle(property)}}</span>
          </td>
          <td>
            <span *ngIf="propertiesTypes[property]=='image'">
              <app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)" [name]="image"></app-icon-svg>
            </span>
          </td>
          <td *ngIf="propertiesTypes[property]=='png'">
            <img *ngFor="let image of mapperService.mapValue(element, property)" class="png" [src]=image>
          </td>
          <td *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">
            <span>{{mapperService.mapValue(element, property)}}</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <button mat-button (click)="openDialog('details', element); $event.stopPropagation()" class="green">
          <mat-icon inline=true>search</mat-icon>
        </button>
        <button mat-button *ngIf="editable && checkEntityUpdateRights()" (click)="update(element); $event.stopPropagation()"
          class="light-red">
          <mat-icon inline=true>edit</mat-icon>
        </button>
        <button mat-button *ngIf="editable" (click)="openDialog('delete', element); $event.stopPropagation()" class="red">
          <mat-icon inline=true>close</mat-icon>
        </button>
      </tfoot>
    </table>
  </div>
  <div class="spinner-container" *ngIf="testLoading || data.householdsSubject._value.length === 0">
    <div *ngIf="data.loading" class="loadingSpinner">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="data.householdsSubject._value.length === 0 && !data.loading" class="loadingContent">
      <h4 class="no-data">
        <mat-icon>cloud_off</mat-icon>
        <span> {{table.no_data}} </span>
      </h4>
    </div>
  </div>
  <mat-paginator *ngIf="filled" [length]="data.length$ | async" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10"
    showFirstLastButtons></mat-paginator>
</div>
