@import 'src/assets/css/variable.scss';

.placeholder {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: $bms_slate;
        font-size: 4em;
    }
}
