<h4 mat-dialog-title class="modal-title underline-primary" [ngClass]="{'rtl':language.direction === 'rtl'}" >{{data.title}}</h4>
<mat-dialog-content class="modal-container">
    <div class="modal-body">
        {{ data.sentence }}
    </div>
</mat-dialog-content>
<mat-dialog-actions >
    <div class="modal-button action-buttons" [ngClass]="{'rtl':language.direction === 'rtl'}">
        <button mat-button class="button-text-primary" (click)="cancel()">{{language.cancel}}</button>
        <button mat-flat-button class="button-background-primary" (click)="accept()">{{ data.ok }}</button>
    </div>
</mat-dialog-actions>
