@import "./variable.scss";

app-box-setting{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width : 23%;
    height : 80px;
    &.isLast{
        margin-right: 0px !important;
    }
}

.page-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .container-title{
        width: 100%;
        padding-left: 20px;
        font-family: $bms_font_header;
        font-size: 2vh;   
        margin-top: 3vh;    
    }

    .container-boxes{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        padding: 20px;
    }

    .container-table{
        display: flex;
        width: 100%;
        padding: 20px;

        .container-content{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: $bms_light_grey;
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);    
            border-radius: 3px;
    
          .content-table{
              display: flex;
              width: 100%;
              padding : 20px;
            }
        }

        .content-button{
            display: flex;
            width: 100%;
            padding-top : 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0px;
            align-items: center;
            justify-content: space-between;
            .mat-raised-button {
                color: $bms_white;
                background-color: $bms_green;
                span{
                    font-weight: bold;
                    font-family: $bms_font_text;
                }
            }
        }
    
    }
}

.box-background-green{
    background-color: $bms_green;
}

.box-background-red{
    background-color: $bms-red;
}

.box-green{
    border-top: solid 12px $bms_green;
}

.box-red{
    border-top: solid 12px $bms_red;
}

.buttonIcon {
    line-height: 25px !important;
    height: 25px !important;
    width: 25px !important;
  }
  
.icon-table-search {
    line-height: 15px !important;
    height: 15px !important;
    width: 15px !important;
    font-size: 15px !important;
}

.add-button{
    width: 50px;
    height: 50px;
}

.box-content{
    width :100%;
}




//for mobile screen
@media only screen and (max-width: 750px){
    .container-boxes{
        flex-wrap: nowrap !important;
        overflow-x: scroll;
    }
    .container-table{
        padding: 5px 5px 20px 5px !important;

        .content-button {
            justify-content: flex-end !important;
            
            .mat-raised-button{
            margin-right: 0px !important;
            }
        }

        .content-table {
            padding: 0px !important;
        }
    }

    button{
        &.add-button{
            position: absolute;
            bottom: 20px;
            left: 80%;
            z-index: 1000;
        }
    }    


}