//colors
$bms_white : #FFFFFF;
$bms_light_grey : #ECECEC;
$bms_slate : #ADC2D2;
$bms_dark_grey : #A1A0A0;
$bms_green : #6CA6A8;
$bms_red : #E75B48;
$bms_menu : #3D3D3D;

//Font
$bms_font_header : 'Lato', sans-serif;
$bms_font_text : 'Roboto', sans-serif;