//colors
// $bms_white : #FAFAFA;
$bms_light_grey : #ECECEC;
// $bms_slate : #ADC2D2;
// $bms_dark_grey : #A1A0A0;
// $bms_green : #6CA6A8;
$bms_bright_green : #4fbec2;
$bms_black : #132f30;
// $bms_red : #E75B48;
$bms_light_red : #ffa5a3;
$bms_menu : #3D3D3D;

//....new version....

$bms_white: #FBFCFC;
$bms_dark_blue: #02617F;
$bms_green: #4AA896;
$bms_dark_grey: #585A5E;
// $bms_light_grey: #979B9E;
$bms_slate: #CED9DC;
$bms_light_blue: #51C9DF;
$bms_red: #DC3D49;

//Font
$bms_font_header : 'Lato', sans-serif;
$bms_font_text : 'Roboto', sans-serif;
