//colors

$bms_black : #132F30;
$bms_grey: #F1F1FB;
$bms_dark_blue: #02617F;
$bms_green: #4AA896;
$bms_dark_grey: #585A5E;
$bms_white:  #FBFCFC;
$bms_slate: #979B9E;
$bms_light_blue: #51C9DF;
$bms_red: #DC3D49;
$menu_select_color: #A6F2F9;
$menu_select_bg: #134252;
$bms_highlight: #FBFD8D;
$bms_neutral_grey: #c5c5ce;

//Font
$bms_font_header : 'Lato', sans-serif;
$bms_font_text : 'Roboto', sans-serif;


// Shadow
$bms_shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);

// constants for animation scss

$width-gap-xsmall : 15px;
$width-gap-small: 20px;
$width-gap-big  : 50px;

$width-item-one  : 270px;
$width-item-two  : 2*$width-item-one + 1*$width-gap-small;
$width-item-three: 3*$width-item-one + 2*$width-gap-small;
$width-item-four : 4*$width-item-one + 3*$width-gap-small;
