@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/global.scss';

app-placeholder-panel {
    width: 95%;
    height: 800px;
}

app-table {
    width: 100%;
    height: 100%;
}

app-table-mobile {
    width: 100%;
    height: 100%;
}

.scan-checked {
    width: 50%;
    padding-top: 50%;
    position: relative;
    margin: 20px auto;
    background-color: $bms_grey;
    border-radius: 10px;

    mat-icon {
        font-size: 7em;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.margin-left {
    margin-left: 15px;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 750px) {
    app-placeholder-panel {
        width: 85% !important;
    }

    .table-value p {
      font-style: italic;
    }
}

.ng-select {
    width: 100%
}
