<mat-dialog-content class="modal-container">
  <h4 class="modal-title underline-accent">{{voucher.voucher_assign_title | titlecase}}</h4>
  <div class="dialog-template" *ngIf="step === 1">
    <div class="modal-body">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <table class="modal-table">
        <tr class="modal-row">
          <th class="table-title">{{ voucher.project }}</th>
          <th class="table-value">
              <ng-select *ngIf="!this.data.project" class="full-width single-select" [clearable]=false formControlName="projectControl" (change)="getDistributions()" bindLabel="id">
                <ng-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</ng-option>
              </ng-select>
              <p *ngIf="this.data.project">{{ this.data.project.name }}</p>
          </th>
        </tr>

        <tr class="modal-row">
          <th class="table-title">{{ voucher.distribution }}</th>
          <th class="table-value">
              <ng-select *ngIf="!this.data.distribution" class="full-width single-select" [clearable]=false formControlName="distributionControl"
                (change)="getBeneficiaries()" bindLabel="id">
                <ng-option *ngFor="let distribution of distributions" [value]="distribution.id">{{distribution.name}}</ng-option>
              </ng-select>
              <p *ngIf="this.data.distribution">{{ this.data.distribution.name }}</p>
          </th>
        </tr>

        <tr class="modal-row">
          <th class="table-title">{{ voucher.beneficiary }}</th>
          <th class="table-value">
              <ng-select class="full-width single-select" [clearable]=false
              formControlName="beneficiaryControl" bindLabel="id">
                <ng-option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary.id">{{beneficiary.full_name}}</ng-option>
              </ng-select>
          </th>
      </tr>
      </table>
      </form>
    </div>
    <div class="modal-footer action">
      <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
      <button mat-button class="confirm" (click)="nextStep()" [disabled]="!form.valid">{{voucher.next}}</button>
    </div>
  </div>

  <div class="dialog-template" *ngIf="step === 2">
    <app-scanner (result)="getResultScanner($event)"></app-scanner>
  </div>

  <div *ngIf="step === 3">
    <p>{{ voucher.voucher_scan_text }}</p>

    <div class="scan-checked">
      <mat-icon>check_circle_outline</mat-icon>
    </div>

    <div class="button-text-accent center-items">
      <mat-icon>local_activity</mat-icon>
      <span>{{ bookletQRCode }}</span>
    </div>

    <div class="dialog-template">
      <div class="modal-footer action">
        <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
        <button mat-button class="confirm" (click)="nextStep()">{{voucher.next}}</button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 4">
    <span>{{ voucher.voucher_define_password}} {{ bookletQRCode }} ?</span>
    <mat-checkbox color="primary" [(ngModel)]="displayPassword" class="margin-left"></mat-checkbox>
    <div [hidden]="!displayPassword">
      <p>{{ voucher.voucher_ask_code }}</p>
      <div class="dialog-template">
        <mat-form-field class="full-width">
          <input matInput type="password" autocomplete="new-password" [formControl]="voucherPasswordControl" placeholder={{voucher.model_password}} />
          <mat-error *ngIf=""></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="dialog-template">
      <div class="modal-footer action">
        <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
        <mat-spinner [diameter]="25" *ngIf="loadingPassword"></mat-spinner>
        <button mat-button class="confirm" (click)="nextStep()" *ngIf="!loadingPassword">{{voucher.next}}</button>
      </div>
    </div>
  </div>

  <div *ngIf="step === 5">
    <p>{{ voucher.model_booklet }} {{ bookletQRCode }} {{ voucher.voucher_step5 }} {{ beneficiaryName }} {{
      voucher.voucher_for }} {{ distributionName }}</p>

    <div class="dialog-template">
      <div class="modal-footer action">
        <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
        <mat-spinner [diameter]="25" *ngIf="loadingAssignation"></mat-spinner>
        <button mat-button class="confirm" (click)="assignBooklet()" *ngIf="!loadingAssignation">{{voucher.transaction_confirm_button}}</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
