<div class="container-table" *ngIf="!comparing">
  <div class="content-table">
    <div class="content-drag-and-drop" draggable="true" [ngClass]="dragAreaClass">
      <mat-card class="card-drag-and-drop">
        <p>{{TEXT.import_description}}</p>
        <div>
          <img class='img-folder' src="assets/images/folder.png">
        </div>
        <div class="select-file">
          <a class="fenetre-selection" href="javascript:void(0)" (click)="file.click()">
            <button mat-stroked-button color="primary">{{TEXT.beneficiaries_import_addFile | titlecase}}</button>
          </a>
          <input type="file" #file [multiple] (change)="fileChange($event, 'target')" style="display:none" />
        </div>
      </mat-card>
    </div>
  </div>

  <div class="content-button content-button-footer">
    <button mat-raised-button class="upload-button" (click)="updateDistribution(1)" *ngIf="csv && !loadFile">
      <mat-icon>publish</mat-icon>
      <span>{{TEXT.import | titlecase }}</span>
    </button>
    <mat-spinner [diameter]="35" *ngIf="loadFile"></mat-spinner>
    <mat-list *ngIf="csv">
      <mat-list-item>
        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
        <h4 mat-line class="text">{{ csv.name }}</h4>
        <p mat-line class="text">{{ csv.size }} bytes, {{ csv.lastModifiedDate | date: ddMMyyyy}} </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div class="container-table" *ngIf="comparing">
  <mat-tab-group class="tabs" *ngIf="! noChanges">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="badge">
          <label>
            {{ TEXT.import_added | titlecase }}
          </label>
          <mat-chip-list>
            <mat-chip>{{numberAdded}}</mat-chip>
          </mat-chip-list>
        </div>
      </ng-template>
      <div class="table-content">
        <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="addingData" [editable]="false">
        </app-table-search>
        <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="addingData" [editable]="false">
        </app-table-mobile-search>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="badge">
          <label>
            {{ TEXT.import_deleted | titlecase }}
          </label>
          <mat-chip-list>
            <mat-chip>{{numberRemoved}}</mat-chip>
          </mat-chip-list>
        </div>
      </ng-template>
      <div class="table-content">
        <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="removingData" [editable]="false">
        </app-table-search>
        <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="removingData" [editable]="false">
        </app-table-mobile-search>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="badge">
          <label>
            {{ TEXT.import_created | titlecase }}
          </label>
          <mat-chip-list>
            <mat-chip>{{numberCreated}}</mat-chip>
          </mat-chip-list>
        </div>
      </ng-template>
      <div class="table-content">
        <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="createData" [editable]="false">
        </app-table-search>
        <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="createData" [editable]="false">
        </app-table-mobile-search>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="badge">
          <label>
            {{ TEXT.import_updated | titlecase }}
          </label>
          <mat-chip-list>
            <mat-chip>{{numberUpdated}}</mat-chip>
          </mat-chip-list>
        </div>
      </ng-template>
      <div class="table-content">
        <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="updateData" [editable]="false">
        </app-table-search>
        <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="updateData" [editable]="false">
        </app-table-mobile-search>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="noChanges" class="no-data-box">
    <h2 class="box-title">
      {{TEXT.distribution_no_beneficiaries}}
    </h2>
  </div>

  <mat-spinner [diameter]="35" *ngIf="loadUpdate"></mat-spinner>
  <div class="footer-content" *ngIf="! loadUpdate">
    <button mat-button class="button-text-accent" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      <span>{{TEXT.back}}</span>
    </button>
    <button mat-raised-button class="button-background-accent" (click)="updateDistribution(2)">
      <mat-icon>check_circle</mat-icon>
      <span>{{TEXT.distribution_accept_changed}}</span>
    </button>
  </div>
</div>
