<div class="container-table" *ngIf="!comparing">
      
      <div class="content-head">
      </div>

        <div class="content-table">
            <div class="content-drag-and-drop" draggable="true" [ngClass]="dragAreaClass">
                <mat-card class="card-drag-and-drop">
                    <div>
                        <img class='img-folder' src="assets/images/folder.png">
                    </div>
                    <div class="select-file">
                        <a class="fenetre-selection" href="javascript:void(0)" (click)="file.click()">
                            <button mat-button color="primary" class="button-add-file">{{TEXT.beneficiaries_import_addFile | uppercase}}</button>
                        </a>
                        <input type="file" #file [multiple] (change)="fileChange($event, 'target')" style="display:none" />
                    </div>
                </mat-card>
            </div>
            <mat-list *ngIf="csv != null">
                <mat-list-item>
                    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                    <h4 mat-line class="text">{{ csv.name }}</h4>
                    <p mat-line class="text" >{{ csv.size }} bytes, {{ csv.lastModifiedDate | date: ddMMyyyy}} </p>
                </mat-list-item>
            </mat-list>
        </div>

        <div class="content-button content-button-footer">
            <mat-spinner  [diameter]="35" *ngIf="loadFile"></mat-spinner>
            <button mat-raised-button class="upload-button" (click)="updateDistribution(1)" *ngIf="csv && !loadFile">
                <mat-icon>publish</mat-icon>
                <span>{{TEXT.beneficiaries_import_upload | uppercase }}</span>
            </button>
        </div>
</div>

<div class="container-table" *ngIf="comparing">

    <div class="tableTitles">
        <div class="buttonTitles">
            <button mat-raised-button [ngClass]="{'selected': this.compareAction === 'add'}" class="add" [matBadge]="removingData" (click)="selectComparingAction('add')">
                <mat-icon>add_circle_outline</mat-icon>
                <span>{{ TEXT.import_added | uppercase }}</span>
            </button>
            <button mat-raised-button [ngClass]="{'selected': this.compareAction === 'remove'}" class="remove" [matBadge]="numberRemoved" (click)="selectComparingAction('remove')">
                <mat-icon>highlight_off</mat-icon>
                <span>{{ TEXT.import_deleted | uppercase }}</span>
            </button>
            <button mat-raised-button [ngClass]="{'selected': this.compareAction === 'error'}" class="error" [matBadge]="numberErrors" (click)="selectComparingAction('error')">
                <mat-icon>error_outline</mat-icon>
                <span>{{ TEXT.import_errors | uppercase }}</span>
            </button>
        </div>
    </div>

    <div class="table-content">
        <app-table-search [entity]="importedBeneficiaryEntity" [service]="distributionService" [data]="getRightData()" [editable]="false">
        </app-table-search>
    </div>

    <mat-spinner  [diameter]="35" *ngIf="loadUpdate"></mat-spinner>
    <div class="footer-content">
        <button mat-raised-button class="back" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            <span>Back</span>
        </button>
        <button mat-raised-button class="submit" (click)="updateDistribution(2)">
            <mat-icon>check_circle</mat-icon>
            <span>Update</span>
        </button>
    </div>

</div>
