@import '../../../../../assets/css/variable.scss';
.container-table {
    display: flex;
    flex-direction: column;
    padding: 0px !important;

    //import
    .content-head {
        text-align: right;
        margin: 10px;
        padding-bottom: 10px;
    }

    .content-table {
        width: 100%;
        padding: 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content-button-footer{
        justify-content: space-between !important;
        padding: 0px !important;
    }

    .upload-zone {
        width: 100%;
    }

    .content-drag-and-drop {
        display: flex;
        width: 100%;

        p {
            text-align: center;
            font-style: italic;
        }
    }

    .card-drag-and-drop {
        padding: 10px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .img-folder {
        height: 8vh;
        padding: 5%;
        margin-bottom: 20%;
    }

    .mat-stroked-button {
        border: 1px dotted currentColor;
    }

    .upload-button{

        height: 40px;
        margin-bottom: 2vh;
        margin-left: 2vh;
        background-color: $bms_red;
        color: white;

    }
    span{
        font-family: $bms_font_text;
        padding-left:10px;
    }

    app-box-setting {
        justify-content: flex-end;
        display: flex;
        margin-right: 10px;
        margin-bottom: 10px;
        flex-grow: 1;
        height : 80px;
        min-width: 150px;
        &.isLast{
          margin-right: 0px !important;
        }
    }

    .box-primary{
        border-top: solid 12px $bms_green;
    }

    .box-red{
        border-top: solid 12px $bms_red;
    }

    .button-add-file {
        background-color: white;
    }

    .mat-spinner {
        margin-bottom: 2vh;
    }

    .no-data-box {
      width: unset;
    }

    //compare
    .buttonTitles{
        width: 100%;
        display: flex;
        justify-content: center;

        button{
            margin-left: 1px;
            font-size : 14px;
        }

        .add {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        .error {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        .selected {
            background-color: $bms_green;
            color: white;
            font-weight: bold;
        }
    }

    .footer-content
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top : 10px;
        button {
            font-weight: bold;
            margin-right: 5px;
        }
    }
}

.badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    label {
        margin-right: 5px;
    }

    mat-chip-list-wrapper {
        background-color: $bms_green;
    }
}


.buttonTitles {
    .add {
        z-index: 300;
    }
    .remove {
        z-index: 200;
    }
    .error {
        z-index: 100;
    }
}

//for mobile screen
@media only screen and (max-width: 750px){

    .mat-form-field {
        width: 100%;
    }

    .select-file {
        font-size: 1.2em;
        text-align: center;
    }

    .template {
        margin-bottom: 3vh;
        font-size: 1.2em;
        text-align: center;
    }

    .list-file {
        font-size: 3vw;
    }

    .content-button {
        flex-direction: column;
    }

    .text {
        font-size: 1em;
    }

    .mat-button {
        font-size: 12px !important;
    }

    .mat-list {
        display: flex !important;
        justify-content: center;
    }
}

.load-update {
    align-self: center;
}