@import '../../../../assets/css/variable.scss';

$box-content: 80px;

.box-content {
    height: 100%;
    background-color: $bms_white;
    border-radius: 4px;
    overflow: hidden;

    button {
        height: 100%;
        width: 100%;
        border: 0;
        background: none;
        padding: 0 !important;

        &:focus {
            outline: none;
        }
    }

    .box-content-content {
        height: 100%;
        display: flex;

        .content-info {
            height: 100%;
            width: 100%;
            padding: 15px;

            .info-title {
                &.rtl {
                    text-align: right;
                }

                font-size : 16px;
                margin: 0 !important;
                text-align:left;
                height: 36px;
            }

            .info-subtitle {
                &.rtl {
                    text-align: right;
                }

                font-weight: bold;
                font-size : 2.5vh;
                margin: 0 !important;
                padding-top:2px;
                text-align:left;
            }
        }

        .content-icon {
            flex-shrink: 1;
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;

            mat-icon {
                padding: 5px;
                display: flex;
                color: white;
                font-size: 2.5em;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


.box-green {
    background-color: $bms_green;
}

.box-blue {
    background-color: $bms_dark_blue;
}
