@import '../../../../assets/css/variable.scss'; 

$box-content: 80px;

.box-content{
    position: relative;
    background-color: $bms_light_grey;
    button{
        width :100%;
        border:0;
        background: none;
        padding: 0 !important;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);    
    }
}

.box-content-content{
    display: flex;
    justify-content: left;

    .content-info{
        justify-content: right;
        align-content: center;
        text-align: right;
        font-family: $bms_font_text;
        width :100%;
        padding:15px;

        .info-title{
            font-size : 1.5vh;
            margin: 0 !important;
        }

        .info-subtitle{
            font-weight: bold;
            font-size : 2.5vh;
            margin: 0 !important;
            padding-top:10px;
        }
    }

    .content-icon{
        flex-shrink: 1;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            padding: 5px;
            display:inline-block;
            color:white;
            text-align: center;
            vertical-align: bottom;
            -webkit-filter: invert(1);
            height: 5vh;
        }
    }
}

.box-green{
    background-color: $bms_green;
}

.box-red{
    background-color: $bms-red;
}
