<div class="box-content">
    <button (click)="changeRoute(info.ref)" style="text-decoration: none;">
        <div class="box-content-content">
            <div class="content-icon box-{{info.color}}">
                <img src="assets/images/{{info.icon}}.svg">
            </div>
            <div class="content-info">
                <h5 class="info-title" [ngClass]="{'arabic':languageService.languageToString(language)==='ar'}" >{{info.title | uppercaseFirst}}</h5>
                <h4 *ngIf="info.subtitle || info.subtitle == 0" class="info-subtitle" [ngClass]="{'arabic':languageService.languageToString(language)==='ar'}">{{info.subtitle | thousands }}</h4>
                <h4 *ngIf="!info.subtitle && info.subtitle !== 0" class="info-subtitle no-data">
                    <mat-icon>cloud_off</mat-icon>
                    <span> {{language.no_data}} </span>
                </h4>
            </div>
        </div>
    </button>
</div>
