@import "../../../../assets/css/variable.scss";

.indicatorChart{
    flex-basis: fit-content;
    display: flex;
    justify-content: center;
    background-color: $bms_grey;
    margin: 10px;
    min-width: 500px;
    min-height: 420px;
    padding-right: 15px;
  }

  @media screen and (max-width:550px) and (min-width:280px) {
    .indicatorChart{
      min-width: 0;
      min-height: 150px;
      width: 80vw;
    }
  }
