<div class="page-container">
  <div class="container-title">
    <h2>{{settings.settings | titlecase}}</h2>
  </div>
  
  <swiper [config]="config" class="swiper-container container-boxes">
    <!-- <app-box-setting class="swiper-slide" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/users", title:settings.settings_users, ref:"users"}'></app-box-setting>
    <app-box-setting class="swiper-slide" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/country_specific", title:settings.settings_country_specific_options, ref:"country specific options"}'></app-box-setting>
    <app-box-setting class="swiper-slide" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/donors", title:settings.settings_donors, ref:"donors"}'></app-box-setting>
    <app-box-setting class="swiper-slide" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/api", title:settings.projects, ref:"projects"}'></app-box-setting>
    <app-box-setting class="swiper-slide" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/api", title:settings.settings_financial_provider, ref:"financialProvider"}'></app-box-setting> -->


    <app-box-setting *ngFor="let settingItemInfo of settingItemInfos" class="swiper-slide" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]="settingItemInfo"></app-box-setting>
  </swiper>


  <app-placeholder-panel class="container-table" *ngIf="loadingData"></app-placeholder-panel>
  <div class="container-table" *ngIf="!loadingData">
    <div class="container-content box-green" *ngIf="isBoxClicked">
      <div class="content-button">
        <div class="action-buttons">
          <button mat-raised-button class="button-background-primary" (click)="export()" *ngIf="!loadingExport">
            <mat-icon>get_app</mat-icon>
            <span>{{settings.export | titlecase}}</span>
          </button>
          <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
          <div class="extension">
            <div mat-button class="dropdown" *ngIf="!loadingExport" [matMenuTriggerFor]="exportType" [ngClass]="{'arabic':language==='ar'}">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
            <mat-menu #exportType>
              <button mat-menu-item (click)="setType('xls')"> .xls <mat-icon *ngIf="extensionType=='xls'">done</mat-icon>
              </button>
              <button mat-menu-item (click)="setType('csv')"> .csv <mat-icon *ngIf="extensionType=='csv'">done</mat-icon>
              </button>
              <button mat-menu-item (click)="setType('ods')"> .ods <mat-icon *ngIf="extensionType=='ods'">done</mat-icon>
              </button>
            </mat-menu>
          </div>
        </div>
        <button mat-raised-button *ngIf="widthScreen > maxWidthMobile && hasRights && deletable" (click)="openDialog('add')" class="add-button-create">
          <mat-icon>add</mat-icon>
          {{settings.add | titlecase}}
        </button>
        <button mat-fab *ngIf="widthScreen <= maxWidthMobile && hasRights && deletable" (click)="openDialog('add')" class="add-button" [ngClass]="{'add-button-arabic':language==='ar'}">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="content-table">
        <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService" [data]="data" [editable]="true" [rights]='hasRights' [deletable]="deletable"></app-table-search>
        <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService" [data]="data" [editable]="true" [rights]='hasRights' [deletable]="deletable"></app-table-mobile-search>
      </div>
    </div>
  </div>
</div>
