<div class="page-container">
  <div class="container-title">
    <h2>{{settings.settings_title | uppercase}}</h2>
  </div>
  <div class="container-boxes">
    <app-box-setting (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/users", color: "green", title:settings.settings_users, ref:"users"}'></app-box-setting>
    <app-box-setting [class.isLast]="widthScreen<maxWidthSecondRow && widthScreen>maxWidthMobile" (emitClickedTitle)="selectTitle($event)"
      [selectedTitle]="selectedTitle" [info]='{icon: "settings/country_specific", color: "red", title:settings.settings_country_specific_options, ref:"country specific options"}'></app-box-setting>
    <app-box-setting [class.isLast]="widthScreen<maxWidthFirstRow && widthScreen>maxWidthSecondRow" (emitClickedTitle)="selectTitle($event)"
      [selectedTitle]="selectedTitle" [info]='{icon: "settings/donors", color: "green", title:settings.settings_donors, ref:"donors"}'></app-box-setting>
    <app-box-setting class="isLast" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/api", color: "red", title:settings.settings_projects, ref:"projects"}'></app-box-setting>
  </div>
  <div class="container-table">
    <div class="container-content" *ngIf="isBoxClicked">
      <div class="content-button">
        <button mat-fab [color] = "accent" (click)="openDialog('add')" class="add-button">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button class="export-button">
          <mat-icon>get_app</mat-icon>
          <span>{{settings.settings_export | uppercase}}</span>
        </button>
      </div>
      <div class="content-table">
        <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService" [data]="data"></app-table-search>
        <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService"
          [data]="data"></app-table-mobile-search>
      </div>
    </div>
  </div>
</div>