@import '../../../assets/css/variable.scss';

app-placeholder-panel {
    margin-top: 15px;
    width: 100% !important;
    height: 300px;
    margin-left: 10px;
}

app-table-search {
    width: 100%;
    height: 100%;
}

app-table-mobile {
    width: 100%;
    height: 100%;
}
