@import '../../../assets/css/variable.scss'; 

.settings-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .container-title{
        width: 100%;
        padding: 20px;
        font-family: $bms_font_header;
        font-size: 3vh;       
    }

    .container-boxes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        justify-content: space-between;

        app-box-setting{
            display: flex;
            margin-right: 10px;
            margin-bottom: 10px;
            flex-grow: 1;
            width : 200px;
            height : 80px;
            min-width: 150px;
            &.isLast{
                margin-right: 0px !important;
            }
        }
    }

    .container-table{
        display: flex;
        width: 100%;
        padding: 20px;

        .container-content{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: $bms_light_grey;
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);    
            border-top: solid 12px $bms_green;
            border-radius: 3px;
    
            .content-table{
                display: flex;
                width: 100%;
                padding : 20px;
    
                app-table-search{
                    width: 100%;
                    height: 100%;
                }

                app-table-mobile{
                    width: 100%;
                    height: 100%;
                }
            }

            .content-button{
                display: flex;
                width: 100%;
                padding : 20px;
                padding-bottom: 0px !important;
                justify-content: space-between;
                align-items: center;
                
                button{
                    color: $bms_white;
                    background-color: $bms_red;
                   

                    &.export-button{
                        background-color: $bms_green !important;
                        height: 40px;
                    }

                    &.add-button{
                        width: 50px;
                        height: 50px;
                    }

                    span{
                        font-family: $bms_font_text;
                        padding-left:20px;
                    }
                }

            }
        }
   
    }
}

//for mobile screen
@media only screen and (max-width: 750px){
    .container-boxes{
        flex-wrap: nowrap !important;
        overflow-x: scroll;
    }
    .container-table{
        padding: 5px !important;

        .content-button{
            justify-content: flex-end !important; 
            button{
                &.add-button{
                    position: absolute;
                    bottom: 10px;
                    left: 80%;
                    z-index: 1000;
                }
            }           
        }
    }
}