<div class="modal-container">
  <h4 class="modal-title underline-primary stickyHeader" [ngClass]="{'arabic': language==='ar'}" >{{modal.delete}}</h4>
  <div class="modal-table" [ngClass]="{'arabic': language==='ar'}" cdkFocusRegionstart>
      {{modal.modal_delete_sentence}} {{data.data.name}}{{data.data.fullname}}{{data.data.username}}{{modal.modal_delete_sentence_2}}
  </div>
  <div class="modal-button action-buttons stickyFooter"  [ngClass]="{'arabic':language==='ar'}">
    <button mat-button (click)="closeDialog()" class="button-text-primary">{{modal.cancel}}</button>
    <button mat-raised-button (click)="delete()" class="button-background-primary">{{modal.delete}}</button>
  </div>
</div>
