<div class="modal-container">
  <h4 class="modal-title underline-primary">{{modal.modal_delete_title}}</h4>
  <div class="modal-table" cdkFocusRegionstart>
      {{modal.modal_delete_sentence}} {{data.data.name}}{{data.data.fullname}}{{data.data.username}}{{modal.modal_delete_sentence_2}}
  </div>
  <div class="modal-button action-buttons">
    <button mat-button (click)="closeDialog()" class="button-text-primary">{{modal.cancel}}</button>
    <button mat-raised-button (click)="delete()" class="button-background-primary">{{modal.modal_delete_title}}</button>
  </div>
</div>
