<h4 mat-dialog-title class="modal-title underline-accent" [ngClass]="{'arabic': languageService.languageToString(language)==='ar'}" >{{language.delete}}</h4>
<mat-dialog-content class="modal-container">
  <div class="modal-table" [ngClass]="{'arabic': languageService.languageToString(language)==='ar'}" cdkFocusRegionstart>
      {{language.modal_delete_sentence | uppercaseFirst}} {{ data.name | uppercaseFirst}} {{language.modal_delete_sentence_2 | uppercaseFirst}}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="modal-button action-buttons"  [ngClass]="{'arabic':languageService.languageToString(language)==='ar'}">
      <button mat-button (click)="onCancel()" class="button-text-accent">{{language.cancel}}</button>
      <button mat-raised-button (click)="onDelete()" class="button-background-accent">{{language.delete}}</button>
    </div>
</mat-dialog-actions>
