@import '../../../assets/css/variable.scss';

svg {
    align-self: stretch;
}

.icon-rect-stroke {
    rect {
        stroke: $bms_slate;
    }

    &.hover-icon {
        rect {
            stroke: $bms_grey !important;
        }
    }

    &.clicked-icon {
        rect {
            stroke: $bms_red !important;
        }
    }
}

.icon-rect-fill {
    rect {
        fill: $bms_slate;
    }

    &.hover-icon {
        rect {
            fill: $bms_grey !important;
        }
    }

    &.clicked-icon {
        rect {
            fill: $bms_red !important;
        }
    }
}

.icon-path-stroke {
    path {
        stroke: $bms_slate;
    }

    &.hover-icon {
        path {
            stroke: $bms_grey !important;
        }
    }

    &.clicked-icon {
        path {
            stroke: $bms_red !important;
        }
    }
}

.icon-path-fill {
    path {
        fill: $bms_slate;
    }

    &.hover-icon {
        path {
            fill: $bms_grey !important;
        }
    }

    &.clicked-icon {
        path {
            fill: $bms_red !important;
        }
    }
}

.icon-polygon-stroke {
    polygon {
        stroke: $bms_slate;
    }

    &.hover-icon {
        polygon {
            stroke: $bms_grey !important;
        }
    }

    &.clicked-icon {
        polygon {
            stroke: $bms_red !important;
        }
    }
}

.icon-polygon-fill {
    polygon {
        fill: $bms_slate;
    }

    &.hover-icon {
        polygon {
            fill: $bms_grey !important;
        }
    }

    &.clicked-icon {
        polygon {
            fill: $bms_red !important;
        }
    }
}

.small-width {
    width: 1.6em;
}
