<div class="page-container">
  <div class="container-title">
    <h2 *ngIf='mode=="update"'>{{language.update_beneficiary_title | uppercaseFirst}}</h2>
    <h2 *ngIf='mode=="create"'>{{language.add_beneficiary_title | uppercaseFirst}}</h2>
  </div>

  <app-placeholder-stepper *ngIf="!household"></app-placeholder-stepper>
  <app-placeholder-panel *ngIf="!household"></app-placeholder-panel>

  <mat-horizontal-stepper (selectionChange)="passHousehold()" #stepper linear *ngIf="!loader && (mode == 'create' || (mode == 'update' && beneficiariesForm[0]))">
    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>
      <mat-step [completed]="validStep1">
        <form [formGroup]="mainForm">
          <ng-template class="step" matStepLabel>{{language.add_beneficiary_step1}} </ng-template>
          <div class="container-table">
            <div class="stepInMobile">
              <span class="dot">1</span>
              <span>{{language.add_beneficiary_step1}} </span>
            </div>
            <div class="container-content box-primary">
              <div class="content-table content-table-step1">
                <div class="step1 all-information">
                  <div class="column-container">
                    <h4 class="location">{{ language.household_location_current_location | uppercaseFirst}}</h4>
                    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]="true" [closeOnSelect]="true" placeholder="{{language.adm1[countryId] | uppercaseFirst}}" formControlName="currentAdm1" (change)="loadDistrict('current', $event)" required>
                      <ng-option *ngFor="let option of locations.current.getOptions('adm1')" [value]="option.get('id')">
                        {{option.get('name') | uppercaseFirst}}
                      </ng-option>
                    </ng-select>
                    <app-hint-error [form]="mainForm" fieldName="currentAdm1" [field]="locations.current.fields.adm1" [isMatField]="false"></app-hint-error>
                    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.adm2[countryId] | uppercaseFirst}}" formControlName="currentAdm2" (change)="loadCommune('current', $event)">
                      <ng-option *ngFor="let option of locations.current.getOptions('adm2')" [value]="option.get('id')">
                        {{option.get('name') | uppercaseFirst}}
                      </ng-option>
                    </ng-select>
                    <app-hint-error [form]="mainForm" fieldName="currentAdm2" [field]="locations.current.fields.adm2" [isMatField]="false"></app-hint-error>
                    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.adm3[countryId] | uppercaseFirst}}" formControlName="currentAdm3" (change)="loadVillage('current', $event)">
                      <ng-option *ngFor="let option of locations.current.getOptions('adm3')" [value]="option.get('id')">
                        {{option.get('name') | uppercaseFirst}}
                      </ng-option>
                    </ng-select>
                    <app-hint-error [form]="mainForm" fieldName="currentAdm3" [field]="locations.current.fields.adm3" [isMatField]="false"></app-hint-error>
                    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.adm4[countryId] | uppercaseFirst}}" formControlName="currentAdm4" (change)="loadCamps('current', 'adm4', $event)">
                      <ng-option *ngFor="let option of locations.current.getOptions('adm4')" [value]="option.get('id')">
                        {{option.get('name') | uppercaseFirst}}
                      </ng-option>
                    </ng-select>
                    <app-hint-error [form]="mainForm" fieldName="currentAdm4" [field]="locations.current.fields.adm4" [isMatField]="false"></app-hint-error>
                  </div>
                  <div class="column-container">
                    <h4>{{ language.household_location_type }}</h4>
                    <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.household_location_type | uppercaseFirst}}" formControlName="currentType">
                      <ng-option *ngFor="let option of household.get('householdLocations')[0].getOptions('type')" [value]="option.get('id')">
                        {{option.get('name') | uppercaseFirst}}
                      </ng-option>
                    </ng-select>
                    <ng-container *ngIf="mainForm.controls.currentType.value && mainForm.controls.currentType.value !== 'camp'">
                      <h4>{{ language.household_location_address }}</h4>
                      <mat-form-field>
                        <input matInput placeholder="{{language.add_beneficiary_getAddressNumber | uppercaseFirst}}" formControlName="currentAddressNumber" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="{{language.add_beneficiary_getAddressStreet | uppercaseFirst}}" formControlName="currentAddressStreet" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="{{language.add_beneficiary_getAddressPostcode | uppercaseFirst}}" formControlName="currentAddressPostcode" required>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="mainForm.controls.currentType.value && mainForm.controls.currentType.value === 'camp'">
                      <h4>{{ language.household_location_address }}</h4>
                      <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.household_location_camp | uppercaseFirst}}" formControlName="currentCamp">
                        <ng-option *ngFor="let option of campLists.current" [value]="option.get('id')">
                          {{option.get('name') | uppercaseFirst}}
                        </ng-option>
                      </ng-select>
                      <div class="create-camp">
                        <mat-checkbox color="primary" formControlName="currentCreateCamp"></mat-checkbox>
                        <span>{{ language.household_location_create_camp }}</span>
                        <mat-form-field *ngIf="mainForm.controls.currentCreateCamp.value">
                          <input matInput placeholder="{{language.household_location_camp_name | uppercaseFirst}}" formControlName="currentNewCamp" required>
                        </mat-form-field>
                        </div>
                      <mat-form-field>
                        <input matInput placeholder="{{language.household_location_tent | uppercaseFirst}}" formControlName="currentTentNumber" required>
                      </mat-form-field>
                    </ng-container>
                  </div>
                  <div class="column-container">
                    <div class="income">
                      <ng-select [clearable]="false" class="single-select" [multiple]="false" [searchable]="true" [closeOnSelect]="true" placeholder="{{language.add_beneficiary_getOccupation | uppercaseFirst}}" formControlName="livelihood">
                        <ng-option *ngFor="let livelihood of household.getOptions('livelihood')" [value]="livelihood.get('id')">
                          {{livelihood.get('name') | uppercaseFirst}}
                        </ng-option>
                      </ng-select>
                      <app-hint-error [form]="mainForm" fieldName="livelihood" [field]="household.fields.livelihood" [isMatField]="false"></app-hint-error>
                      <h4>{{ language.add_beneficiary_income | uppercaseFirst }}</h4>
                      <mat-form-field>
                        <mat-select class="single-select" [multiple]="false" placeholder="{{language.add_beneficiary_income | uppercaseFirst}}" formControlName="incomeLevel">
                          <mat-option *ngFor="let index of [1, 2, 3, 4, 5]" [value]="index">
                              {{ index }} ({{ language['add_beneficiary_income_level'][index.toString()][household.country] }})
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="specifics" *ngIf="household.get('countrySpecificAnswers').length">
                      <h4>{{ language.settings_country_specific_options | uppercaseFirst }}</h4>
                      <mat-form-field *ngFor="let countrySpecificAnswer of household.get('countrySpecificAnswers')">
                        <input *ngIf="countrySpecificAnswer.get('countrySpecific').get('field') === 'IDPoor'" matInput [type]="countrySpecificAnswer.get('countrySpecific').get('type')" placeholder="IDPoor No." [formControlName]="countrySpecificAnswer.get('countrySpecific').get('field')">
                        <input *ngIf="countrySpecificAnswer.get('countrySpecific').get('field') !== 'IDPoor'" matInput [type]="countrySpecificAnswer.get('countrySpecific').get('type')" [placeholder]="countrySpecificAnswer.get('countrySpecific').get('field') | uppercaseFirst" [formControlName]="countrySpecificAnswer.get('countrySpecific').get('field')">
                        <app-hint-error [form]="mainForm" fieldName="countrySpecificAnswer.get('countrySpecific').get('field')" [field]="household.fields.countrySpecificAnswers" [isMatField]="true"></app-hint-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="lign-container textarea-input">
                    <mat-form-field class="area-size">
                      <textarea matInput matTextareaAutosize="true" matAutosizeMinRows="5" matAutosizeMaxRows="5"
                        placeholder="{{language.model_notes | uppercaseFirst}}" formControlName="notes"></textarea>
                        <app-hint-error [form]="mainForm" fieldName="notes" [field]="household.fields.notes" [isMatField]="true"></app-hint-error>
                    </mat-form-field>
                  </div>
                  <div class="content-button-footer">
                    <div class="action-buttons">
                      <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                      <button mat-raised-button class="button-background-primary" (click)="nextValidation(1)">
                        {{language.next}}
                      </button>
                      <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading" (click)="submit(); nextValidation(1, true)">{{language.update}}</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="validStep2">
        <ng-template class="step" matStepLabel>{{language.add_beneficiary_step2}}</ng-template>
        <div class="container-table">
          <div class="stepInMobile">
            <span class="dot">2</span>
            <span>{{language.add_beneficiary_step2}}</span>
          </div>
          <div class="container-content box-primary">
            <div class="content-table">
              <div class="step2 head" *ngIf="beneficiariesForm[0]">
                <app-beneficiary-form [form]="beneficiariesForm[0]" [options]="getBeneficiaryOptions()"></app-beneficiary-form>
              </div>
              <div class="content-button-footer">
                <div class="action-buttons">
                  <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
                  <button mat-button class="button-text-primary" (click)="stepper.previous()">
                    {{language.back}}
                  </button>
                  <button mat-raised-button class="button-background-primary" (click)='nextValidation(2)'>
                    {{language.next}}
                  </button>
                  <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading"
                    (click)="submit(); nextValidation(2, true)">{{language.update}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step [completed]="validStep3">
        <ng-template class="step" matStepLabel>{{language.add_beneficiary_step3}}</ng-template>
        <div class="container-table">
          <div class="stepInMobile">
            <span class="dot">3</span>
            <span>{{language.add_beneficiary_step3}}</span>
          </div>
          <div class="container-content box-primary">
            <div class="content-table">
              <div class="step3 head" *ngFor="let memberForm of beneficiariesForm, let memberIndex=index">
                <div class="container member" *ngIf="memberIndex>0">
                  <div class="button-container">
                    <div class="member-rank">
                      {{memberIndex}}
                    </div>
                    <button mat-mini-fab color='primary' class='delete' (click)="removeBeneficiary(memberForm)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </div>
                  <app-beneficiary-form [form]="memberForm" [options]="getBeneficiaryOptions()"></app-beneficiary-form>
                </div>
                <mat-divider *ngIf="memberIndex>0 && memberIndex < beneficiariesForm.length-1"></mat-divider>
              </div>
              <div class="content-button-footer">
                <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                <div class="action-buttons">
                  <button mat-stroked-button (click)="addBeneficiary()" class="button-text-accent">
                    <mat-icon>add</mat-icon>
                    {{ language.add }}
                  </button>
                  <button mat-button class="button-text-primary" (click)="stepper.previous()">
                    {{language.back}}
                  </button>
                  <button mat-raised-button class="button-background-primary" (click)="passHousehold(); nextValidation(3)">
                    {{language.next}}
                  </button>
                  <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading"
                    (click)="submit(); nextValidation(3, true)">
                    {{language.update}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step [completed]="step4Complete">
        <ng-template matStepLabel>{{language.summary}}</ng-template>
        <div class="container-table">
          <div class="stepInMobile">
            <span class="dot">4</span>
            <span>{{language.summary}}</span>
          </div>
          <div class="container-content box-primary">
            <div class="content-table">
              <form [formGroup]="mainForm">
                <ng-select class="multiple-select" formControlName="projects" placeholder="{{language.projects | uppercaseFirst}}" [multiple]="true"  [closeOnSelect]="false" [searchable]="true" required>
                    <ng-option *ngFor="let option of household.getOptions('projects')" [value]="option.get('id')">
                        {{option.get(household.fields.projects.bindField) | uppercaseFirst}}
                    </ng-option>
                </ng-select>
                <app-hint-error [form]="mainForm" fieldName="projects" [field]="household.fields.projects" [isMatField]="false"></app-hint-error>
              </form>
              <div class="summary">
                <h3>{{language.beneficiaries_household_info}}</h3>
                <div class="info-resume">
                  <div class="info-container" *ngIf="mainForm.controls.livelihood.value">
                    <h4 class='summary-title'>{{language.add_beneficiary_getOccupation}}: </h4>
                    <p class="summary-title-value">{{getLivelihood().get('name')}}</p>
                  </div>
                  <!-- <div class="info-container" *ngIf="mainForm.controls.addressNumber.value && mainForm.controls.addressPostcode.value && mainForm.controls.addressStreet.value">
                    <h4 class='summary-title'> {{language.beneficiaries_full_address}} </h4>
                    <p class="summary-title-value">
                      {{mainForm.controls.addressNumber.value}}
                      {{mainForm.controls.addressStreet.value}},
                      {{mainForm.controls.addressPostcode.value}}
                    </p>
                  </div> -->
                  <!-- <div class="info-container" *ngIf="mainForm.controls.adm1.value">
                    <h4 class='summary-title'> {{ language.beneficiaries_location }} </h4>
                    <p class="summary-title-value">
                      {{getFullLocation()}}
                    </p>
                  </div> -->
                </div>
                <h3> {{ language.beneficiaries}}</h3>
                <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
                  <ng-container matColumnDef="localGivenName">
                    <th mat-header-cell *matHeaderCellDef> {{ language.add_beneficiary_getGivenName | uppercaseFirst }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.controls.localGivenName.value }} ({{ element.controls.enGivenName.value }})</td>
                  </ng-container>

                  <ng-container matColumnDef=localFamilyName>
                    <th mat-header-cell *matHeaderCellDef> {{ language.add_beneficiary_getFamilyName | uppercaseFirst }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.controls.localFamilyName.value }} ({{ element.controls.enFamilyName.value }}) </td>
                  </ng-container>

                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> {{ language.gender |uppercaseFirst }} </th>
                    <td mat-cell *matCellDef="let element"> {{ getGender(element.controls.gender.value) | uppercaseFirst }} </td>
                  </ng-container>

                  <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef> {{ language.add_beneficiary_getDateOfBirth |uppercaseFirst }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.controls.dateOfBirth.value | date: 'dd-MM-yyyy' }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> {{ language.phone |uppercaseFirst}} </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.controls.phoneNumber0.value }} {{ element.controls.phoneNumber1.value }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="nationalId">
                    <th mat-header-cell *matHeaderCellDef> {{ language.add_beneficiary_nationalID | uppercaseFirst }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.controls.IDNumber.value}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                </table>
              </div>
              <div class="content-button-footer">
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                <div class="action-buttons">
                  <button mat-button class="button-text-primary" (click)="leave()">{{language.cancel}}</button>

                  <mat-spinner [diameter]="25" *ngIf="validationLoading"></mat-spinner>
                  <button mat-raised-button class="button-background-primary" *ngIf="mode=='create' && !validationLoading"
                    (click)="submit()">{{language.create}}</button>
                  <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading"
                    (click)="submit()">{{language.update}}</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>
