@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/global.scss';

app-placeholder-stepper {
    width: 100% !important;
    height: 100% !important;
}

mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

app-placeholder-panel {
    width: 95%;
    height: 50vh;
    margin: auto;
}

.datepicker-mobile {
    display: none;
}

.datepicker-computer {
    display: block;
}

.step1.all-information {
    display: flex;
    flex-direction: column;

    .main-information-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .location-question {
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 15px;

            span {
                margin-left: 10px;
            }
        }

        .not-location-form {
            display: flex;
        }
    }

    .step-one-footer {
        width: 100%;
    }
}

.all-information,
.head,
.member,
.summary,
.location-form,
.not-location-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;

    .column-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 10px;

        mat-form-field {
            margin-top: 6px;
            width: 100%
        }

        .combo {
            display: flex;
            flex-direction: row;
            align-items: center;

            mat-form-field:first-child {
                width: 100px;
                margin-right: 10px;
            }
        }
    }

    .specifics {
        display: flex;
        flex-direction: column;
    }

    .lign-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 10px;
        flex-wrap: wrap;
    }

    .columns-phones {
        justify-content: space-between;

        .items-line {
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            display: flex;

            .phone-number {
                flex-grow: 1;
            }

            .mat-form-field {
                width: 40%;
            }

            .mat-form-field:first-child {
                margin-right: 15px;
            }
        }
    }

    .area-size {
        width: 100%;
    }

    .info-resume {
        padding: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;

            p {
                margin-left: 20px;
                text-align: center;
            }
        }
    }

    table {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 !important;
        width: 100%;

        tr {
            display: flex;
            flex-direction: row;
            justify-content: center;

            td,
            th {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    .button-container {
        text-align: right;
        width: 100%;
        margin-bottom: 5px;

        .member-rank {
            float: left;
            width: 30px;
            height: 30px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: $bms_green;
            color: $bms_grey;
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .delete {
            box-shadow: none !important;
        }
    }
}

.action-buttons {
    margin: 0 10px !important;
    flex-wrap: wrap;

    button {
        margin-top: 10px;
    }
}

.country-code,
.phone-type {
    width: 25%;
    margin-right: 15px;
}

.content-button-footer {
    width: 100%;
    margin-top: 10px;
}

@media only screen and (max-width: 750px) {
    .datepicker-mobile {
        display: block;
    }

    .datepicker-computer {
        display: none !important;
    }

    .column-container {
        width: 100% !important;
    }

    mat-horizontal-stepper {
        width: 100%;
    }
}
