<div class="page-container">
    <div class="container-title">
        <h2>Verif</h2>
    </div>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>
                Typos
            </ng-template>
            <div class="step-info">
                <h3>Typo Verification</h3>
                <div class="container-table">



                </div>
            </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>
                Add
            </ng-template>
            <div class="step-info">
                <div class="container-table">
                    <h3>Add Verification</h3>
                    <button mat-raised-button (click)="validateStep()">Confirm</button>
                </div>
            </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>
                Remove
            </ng-template>
            <div class="step-info">
                <div class="container-table">
                    <h3>Remove Verification</h3>
                    <button mat-raised-button (click)="validateStep()">Confirm</button>
                </div>
            </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>
                Duplicates
            </ng-template>
            <div class="step-info">
                <div class="container-table">
                    <h3>Duplicates Verification</h3>
                    <button mat-raised-button (click)="validateStep()">Confirm</button>
                </div>
            </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>
                Review
            </ng-template>
            <div class="step-info">
                <h3>Confirmation</h3>
                <div class="container-table">
                    <button mat-raised-button (click)="validateStep()">Confirm</button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

    <div class="step-info">

        <mat-checkbox (change)="setAllOldCheckboxesValues(oldCheckBox)" #oldCheckBox>OLD</mat-checkbox>
        <mat-checkbox (change)="setAllNewCheckboxesValues(newCheckBox)" #newCheckBox>NEW</mat-checkbox>
        <form *ngIf="form" [formGroup]="form">
            <div class ="error" *ngFor="let error of errors; let i=index">
                <div class="error-tab" [ngClass]="{'valid': form.controls[i].valid}"></div>
                <div class="error-old">
                    <mat-checkbox [formControl]="form.controls[i].controls.old">Keep Old</mat-checkbox>
                    <h4>{{error.old.beneficiaries[0].given_name}} {{error.old.beneficiaries[0].family_name}}</h4>
                    <p>{{error.old.address_number}} {{error.old.address_street}} {{error.old.address_postcode}}</p>
                    <!-- {{error.old.beneficiaries[0] |json}} -->
                    <p>Last updated :</p>
                </div>
                <div class="error-new">
                    <mat-checkbox [formControl]="form.controls[i].controls.new">Keep New</mat-checkbox>

                    <h4>{{error.new.beneficiaries[0].given_name}} {{error.new.beneficiaries[0].family_name}}</h4>
                    <p>{{error.new.address_number}} {{error.new.address_street}} {{error.new.address_postcode}}</p>
                    <!-- {{error.new.beneficiaries[0] |json}} -->
                </div>
            </div>
        </form>
    </div>
    <button mat-raised-button (click)="validateStep()">Confirm</button>
</div>
