@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/animations.scss';

// Prevent stepper navigation
.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.step-info {
    width: 100%;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $bms_white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: $bms_shadow;
    overflow: hidden;

    .error-tab {
        width: 10px;
        background-color: $bms_red;
        transition: background-color 1s;
        &.valid {
            background-color: $bms_black;
        }
    }

    .error-old {
        width: auto;
        border: 3px solid $bms_red;
        border-radius: 10px;
        flex-grow: 5;
        margin: 10px 5px 10px 10px;
        padding: 10px;
    }
    .error-new {
        width: auto;
        border: 3px solid $bms_green;
        border-radius: 10px;
        flex-grow: 5;
        margin: 10px 10px 10px 5px;
        padding: 10px;
    }
}
// .content-table {
//     padding-top : 20px !important;
//     flex-direction: row !important;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: stretch;
// }
// .issues {
//     display: flex;
//     margin: 10px;
//     width: 200px;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: stretch;
//     background-color: $bms_white;

//     .mat-card-content {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         .mat-divider {
//             position: relative !important;
//             margin: 10px 0px 10px 0px;
//         }
//         .householdData {
//             width: 100%;
//             text-align: center;
//             flex-grow: 1;
//             height: 50%;
//             flex-direction: row;

//             .mat-checkbox {
//                 display: flex;
//             }

//             .content-householdData {
//                 width: 100%;

//                 p {
//                     margin: 0;
//                 }
//             }
//             .content-beneficiariesData {
//                 display: flex;
//                 justify-content: center;
//                 width: 100%;
//             }

//             &.head {
//                 background-color: rgba($bms_neutral_grey, 0.4);
//                 border-radius: 4px;
//                 padding: 8px;
//                 font-weight: bold;
//                 .mat-chip-list:not(.old) {
//                     justify-content: center;
//                     .mat-chip {
//                         background-color: $bms_white !important;
//                         font-size: 1.1em;
//                         padding: 3px 10px;
//                     }
//                 }
//             }
//         }
//     }
//     .mat-chip-list, .old {
//         background-color: $bms_white !important;
//         padding: 0;
//         width: 100%;
//         display: flex;
//         justify-content: flex-end;
//         margin-bottom: 10px;

//         .mat-chip {
//             font-size: 0.9em;
//             padding: 1px 8px;
//         }
//     }
//     .content-issue {
//         width: 100%;
//         margin: 10px;
//     }
// }

// mat-horizontal-stepper {
//     mat-icon {
//         font-size: 20px !important;
//     }

// }

// .step-info {
//     width: 100%;
//     height: auto;
//     padding: 10px 20px 10px 20px;
//     animation: box-right-in 0.5s;

//     div:last-child {
//         border-radius: 8px;
//         background-color: rgba($bms_green, 0.2);
//         padding: 20px 40px 20px 40px;

//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         h4 {
//             margin: 0px !important;
//         }
//         p {
//             text-align: justify;
//             margin: 8px !important;
//         }
//     }

//     .hide-info {
//         width: 100%;
//         height: 20px;
//         color: $bms_green;
//         display: flex;
//         justify-content: flex-end;
//         transform: translateY(20px);
//         mat-icon {
//             margin: 5px 5px 0px 0px;
//             cursor: pointer;
//         }
//     }
// }

// .sendbutton {
//     margin-top: 15px;
// }

// .container-checkboxes {
//     width: 100%;
//     text-align: right;
//     margin-right: 2%;
//     margin-top: 10px;
// }

// .checkbox-all:first-child {
//     margin-right: 20px;
// }

// .button-background-primary {
//     mat-icon {
//         padding-top: 5px;
//     }
// }

// //for mobile screen
// @media only screen and (max-width: 750px){
//     .issues {
//         width: 80% !important;
//         flex-direction: column;
//         .content-issue {
//           margin: 10px 0;
//         }
//     }
//     .step-info {
//        //width: 90% !important;
//        box-sizing: border-box;
//     }
//     .done {
//         width: 95% !important;
//         padding: 20px !important;
//     }
// }

// @media only screen and (max-width: 750px) and (min-width: 450px) {
//     .container-table {
//     }
//     .step-info {
//         width: 100% !important;
//         div {
//             box-sizing: border-box;
//         }
//     }
// }
