@import '../../../../assets/css/variable.scss';

.issues {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .content-issue {
        width: 100%;
        margin: 10px;

        .mat-card-content {
            display: flex;
            flex-direction: column;
            height: 100%;

            .mat-divider {
                position: relative !important;
                margin: 10px 0px 10px 0px;
            }
            .householdData {
                width: 100%;
                text-align: center;
                flex-grow: 1;
                height: 50%;
                flex-direction: row;

                .mat-checkbox {
                    display: flex;
                }
                .mat-chip-list {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .mat-chip {
                        font-size: 0.9em;
                        padding: 1px 8px;
                    }
                }

                .content-householdData {
                    width: 100%
                }
                .content-beneficiariesData {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}

.no-data-box {
    border: solid 2px $bms_black;
    border-radius: 80px;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 50%;
    margin: 20px 0;
}

//for mobile screen
@media only screen and (max-width: 750px){
    .issues {
        width: 80% !important;
        flex-direction: column;
        .content-issue {
          margin: 10px 0;
        }
    }

    .no-data-box {
      width: 80%;
    }
}
