<div class="page-container">
  <div class="container-title">
    <h2>{{verification.data_verification_title | titlecase}}</h2>
  </div>

  <mat-horizontal-stepper linear #stepper>
    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step [editable]="false" [completed]="typoDone">
      <ng-template class="step" matStepLabel>{{verification.data_verification_step_1|titlecase}} </ng-template>
      <div class="step-info" *ngIf="step===1 && showedInfo">
        <div class="hide-info" (click)="showedInfo = false">
          <mat-icon>close</mat-icon>
        </div>
        <div class="desc1">
          <h4> {{verification.data_verification_step_1|titlecase}} {{verification.data_verification_step_info|titlecase}}</h4>
          <p>{{verification.data_verification_description1}}</p>
          <p>{{verification.data_verification_description_end}}</p>
        </div>
      </div>
      <div class="container-table">
        <div class="stepInMobile">
          <span class="dot">1</span>
          <span>{{verification.data_verification_step_1|titlecase}}</span>
        </div>
        <div class="container-content box-primary">
          <div *ngIf="typoIssues.length > 0" class="container-checkboxes">
            <mat-checkbox class="checkbox-all" color="primary" (change)="allOld = !allOld; selectAll('old', 'step1TypoIssues')">{{
              verification.import_select_old }}</mat-checkbox>
            <mat-checkbox class="checkbox-all" color="primary" (change)="allNew = !allNew; selectAll('new', 'step1TypoIssues')">{{
              verification.import_select_new }}</mat-checkbox>
          </div>
          <div class="content-table" *ngIf="typoIssues.length > 0">
            <mat-card class="issues" *ngFor="let typoIssue of typoIssues, index as i">
              <mat-chip-list class="old">
                <mat-chip>{{verification.data_verification_chip_existing}}</mat-chip>
              </mat-chip-list>
              <mat-card-content>
                <div class="householdData head">
                  <mat-checkbox color="primary" [checked]="allOld" (change)="step1TypoIssues(typoIssue, 'old', i)">
                  </mat-checkbox>
                  <div class="content-householdData">
                    <div class="dataToCompare">{{typoIssue.old.nameHead}}</div>
                    <div class="dataToCompare">{{typoIssue.old.households.address_number}}
                      {{typoIssue.old.households.address_street}}</div>
                    <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm4">{{typoIssue.old.households.address_postcode}}
                      {{typoIssue.old.households.location.adm4.name}}</div>
                    <!-- <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm4 == ''">{{typoIssue.old.households.address_postcode}}
                                            {{typoIssue.old.households.location.adm3}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm4 != ''">{{typoIssue.old.households.location.adm3}}</div> -->
                    <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm3">{{typoIssue.old.households.address_postcode}}
                      <p>{{typoIssue.old.households.location.adm3.name}}</p>
                    </div>
                    <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm2">{{typoIssue.old.households.location.adm2.name}}</div>
                    <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm1">{{typoIssue.old.households.location.adm1.name}}</div>
                    <div class="dataToCompare" *ngIf="typoIssue.old.households.beneficiaries.length > 1">
                      <div class="dataToCompare" *ngFor="let beneficiary of typoIssue.old.households.beneficiaries">
                        <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                          {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <mat-chip-list>
                  <mat-chip>{{verification.new}}</mat-chip>
                </mat-chip-list>
                <div class="householdData">
                  <mat-checkbox color="primary" [checked]="allNew" (change)="step1TypoIssues(typoIssue, 'new', i)">
                  </mat-checkbox>
                  <div class="content-householdData">
                    <div class="dataToCompare">{{typoIssue.new.nameHead}}</div>
                    <div class="dataToCompare">{{typoIssue.new.households.address_number}}
                      {{typoIssue.new.households.address_street}}</div>
                    <div class="dataToCompare" *ngIf="typoIssue.new.households.location.adm4 != ''">{{typoIssue.new.households.address_postcode}}
                      {{typoIssue.new.households.location.adm4}}</div>
                    <div class="dataToCompare" *ngIf="typoIssue.new.households.location.adm4 == ''">{{typoIssue.new.households.address_postcode}}
                      {{typoIssue.new.households.location.adm3}}</div>
                    <div class="dataToCompare" *ngIf="typoIssue.new.households.location.adm4 != ''">{{typoIssue.new.households.location.adm3}}</div>
                    <div class="dataToCompare">{{typoIssue.new.households.location.adm2}}</div>
                    <div class="dataToCompare">{{typoIssue.new.households.location.adm1}}</div>
                    <div class="dataToCompare" *ngIf="typoIssue.new.households.beneficiaries.length > 1">
                      <div class="dataToCompare" *ngFor="let beneficiary of typoIssue.new.households.beneficiaries">
                        <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                          {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="typoIssues.length == 0" class="no-data-box">
            <h2 class="box-title"> {{verification.data_verification_step_1_no_issues|titlecase}}</h2>
          </div>
          <div class="content-button content-button-footer">
            <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
            <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
            <button mat-raised-button class="button-background-primary" (click)=" sendCorrectedData()" *ngIf='!load'>
              <span>{{verification.next}}</span>
            </button>
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step [editable]="false" [completed]="duplicateDone">
      <ng-template class="step" matStepLabel>{{verification.data_verification_step_2}} </ng-template>
      <div class="step-info" *ngIf="step===2 && showedInfo">
        <div class="hide-info" (click)="showedInfo = false">
          <mat-icon>close</mat-icon>
        </div>
        <div class="desc2">
          <h4> {{verification.data_verification_step_2}} {{verification.data_verification_step_info}}</h4>
          <p>{{verification.data_verification_description2}}</p>
          <p>{{verification.data_verification_description_end}}</p>
        </div>
      </div>
      <div class="container-table">
        <div class="stepInMobile">
          <span class="dot">2</span>
          <span>{{verification.data_verification_step_2}}</span>
        </div>
        <div class="container-content box-primary">
          <div *ngIf="duplicates.length > 0" class="container-checkboxes">
            <mat-checkbox class="checkbox-all" color="primary" (change)="allOld = !allOld; selectAll('old', 'step2Duplicates')">{{
              verification.import_select_old }}</mat-checkbox>
            <mat-checkbox class="checkbox-all" color="primary" (change)="allNew = !allNew; selectAll('new', 'step2Duplicates')">{{
              verification.import_select_new }}</mat-checkbox>
          </div>
          <div class="content-table" *ngIf="duplicates.length > 0">
            <mat-card class="issues" *ngFor="let duplicate of duplicates, index as i">
              <mat-card-content>
                <mat-chip-list mat-chip class="old">
                  <mat-chip>{{verification.data_verification_chip_existing}}</mat-chip>
                </mat-chip-list>
                <div class="householdData head">
                  <mat-checkbox [checked]="duplicate.old.isHead ? duplicate.old.isHead : allOld" [disabled]='duplicate.old.isHead'
                    color="primary" (change)="step2Duplicates(duplicate, 'old', duplicate.id_tmp_beneficiary, duplicate.new_household, duplicate.id_tmp_cache)">
                  </mat-checkbox>
                  <div class="content-householdData">
                    <div class="dataToCompare">{{duplicate.old.households.beneficiaries[0].family_name}}
                      {{duplicate.old.households.beneficiaries[0].given_name}}</div>
                    <div class="dataToCompare">{{duplicate.old.households.address_number}}
                      {{duplicate.old.households.address_street}}</div>
                    <div class="dataToCompare" *ngIf="duplicate.old.households.location.adm4">{{duplicate.old.households.address_postcode}}
                      {{duplicate.old.households.location.adm4.name}}</div>
                    <div class="dataToCompare" *ngIf="duplicate.old.households.location.adm3">{{duplicate.old.households.address_postcode}}
                      <p>{{duplicate.old.households.location.adm3.name}}</p>
                    </div>
                    <div class="dataToCompare" *ngIf="duplicate.old.households.location.adm2">{{duplicate.old.households.address_postcode}}
                      <p>{{duplicate.old.households.location.adm2.name}}</p>
                    </div>
                    <div class="dataToCompare" *ngIf="duplicate.old.households.location.adm1">{{duplicate.old.households.address_postcode}}
                      <p>{{duplicate.old.households.location.adm1.name}}</p>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>

                <div class="householdData">
                  <mat-chip-list>
                    <mat-chip>{{verification.new}}</mat-chip>
                  </mat-chip-list>
                  <mat-checkbox color="primary" [checked]="allNew" (change)="step2Duplicates(duplicate, 'new', duplicate.id_tmp_beneficiary, duplicate.new_household, duplicate.id_tmp_cache)">
                  </mat-checkbox>
                  <div class="content-householdData">
                    <div class="dataToCompare">{{duplicate.new.households.beneficiaries[0].family_name}}
                      {{duplicate.new.households.beneficiaries[0].given_name}}</div>
                    <div class="dataToCompare">{{duplicate.new.households.address_number}}
                      {{duplicate.new.households.address_street}}</div>
                    <div class="dataToCompare" *ngIf="duplicate.new.households.location.adm4 != ''">{{duplicate.new.households.address_postcode}}
                      {{duplicate.new.households.location.adm4}}</div>
                    <div class="dataToCompare" *ngIf="duplicate.new.households.location.adm4 == ''">{{duplicate.new.households.address_postcode}}
                      {{duplicate.new.households.location.adm3}}</div>
                    <div class="dataToCompare" *ngIf="duplicate.new.households.location.adm4 != ''">{{duplicate.new.households.location.adm3}}</div>
                    <div class="dataToCompare">{{duplicate.new.households.location.adm2}}</div>
                    <div class="dataToCompare">{{duplicate.new.households.location.adm1}}</div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="duplicates.length == 0" class="no-data-box">
            <h2 class="box-title"> {{verification.data_verification_step_2_no_issues|titlecase}}</h2>
          </div>
          <div class="content-button content-button-footer">
            <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
            <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
            <button mat-raised-button class="button-background-primary" (click)="sendCorrectedData()" *ngIf='!load'>
              <span>{{verification.next}}</span>
            </button>
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step [editable]="false" [completed]="moreDone">
      <ng-template matStepLabel>{{verification.data_verification_step_3|titlecase}} </ng-template>
      <div class="step-info" *ngIf="step===3 && showedInfo">
        <div class="hide-info" (click)="showedInfo = false">
          <mat-icon>close</mat-icon>
        </div>
        <div class="desc3">
          <h4>{{verification.data_verification_step_3}} {{verification.data_verification_step_info}}</h4>
          <p>{{verification.data_verification_description3}}</p>
          <p>{{verification.data_verification_description_end}}</p>
        </div>
      </div>
      <div class="container-table">
        <div class="stepInMobile">
          <span class="dot">3</span>
          <span>{{verification.data_verification_step_3}}</span>
        </div>
        <div class="container-content box-primary">
          <div *ngIf="more.length > 0" class="container-checkboxes">
            <mat-checkbox class="checkbox-all" color="primary" (change)="allNew = !allNew; selectAll('new', 'step3More')">{{
              verification.import_select_new }}</mat-checkbox>
          </div>
          <div class="container-cards" *ngIf="more.length > 0">
            <div class="content-table">
              <mat-card class="issues" *ngFor="let data of more">
                <mat-card-content>
                  <div class="householdData head">
                    <mat-chip-list>
                      <mat-chip>{{verification.data_verification_chip_actual}}</mat-chip>
                    </mat-chip-list>
                    <div class="content-householdData">
                      <div class="dataToCompare">{{data.old.nameHead}}</div>
                      <div class="dataToCompare">{{data.old.households.address_number}}
                        {{data.old.households.address_street}}</div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm4">{{data.old.households.address_postcode}}
                        {{data.old.households.location.adm4.name}}</div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm3">{{data.old.households.address_postcode}}
                        <p>{{data.old.households.location.adm3.name}}</p>
                      </div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm2">{{data.old.households.address_postcode}}
                        <p>{{data.old.households.location.adm2.name}}</p>
                      </div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm1">{{data.old.households.address_postcode}}
                        <p>{{data.old.households.location.adm1.name}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="householdData" *ngIf="data.old.households.beneficiaries.length > 1">
                    <mat-divider></mat-divider>
                    <mat-chip-list>
                      <mat-chip>{{verification.data_verification_chip_existing}}</mat-chip>
                    </mat-chip-list>
                    <div class="householdData">
                      <div class="content-householdData">
                        <div class="dataToCompare" *ngFor="let beneficiary of data.old.households.beneficiaries">
                          <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                            {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <mat-chip-list>
                    <mat-chip>{{verification.data_verification_chip_add}}</mat-chip>
                  </mat-chip-list>
                  <div class="householdData">
                    <div class="content-beneficiariesData">
                      <div class="dataToCompare" *ngIf="data.new.households.beneficiaries.length > 1">
                        <div class="dataToCompare" *ngFor="let beneficiary of data.new.households.beneficiaries">
                          <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                            <mat-checkbox color="primary" [checked]="allNew" (change)="step3More(beneficiary, data.old.households.id)">
                              {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                            </mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div *ngIf="more.length == 0" class="no-data-box">
            <h2 class="box-title"> {{verification.data_verification_step_3_no_issues|titlecase}}</h2>
          </div>
          <div class="content-button content-button-footer">
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
            <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
            <button mat-raised-button class="button-background-primary" (click)="sendCorrectedData()" *ngIf='!load'>
              <span>{{verification.next}}</span>
            </button>
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step [editable]="false" [completed]="lessDone">
      <ng-template matStepLabel>{{verification.data_verification_step_4}} </ng-template>
      <div class="step-info" *ngIf="step===4 && showedInfo">
        <div class="hide-info" (click)="showedInfo = false">
          <mat-icon>close</mat-icon>
        </div>
        <div class="desc4">
          <h4>{{verification.data_verification_step_4}} {{verification.data_verification_step_info}}</h4>
          <p>{{verification.data_verification_description4}}</p>
          <p>{{verification.data_verification_description_end}}</p>
        </div>
      </div>
      <div class="container-table">
        <div class="stepInMobile">
          <span class="dot">4</span>
          <span>{{verification.data_verification_step_4}}</span>
        </div>
        <div class="container-content box-primary">
          <div *ngIf="less.length > 0" class="container-checkboxes">
            <mat-checkbox class="checkbox-all" color="primary" (change)="allNew = !allNew; selectAll('new', 'step4Less')">{{
              verification.import_select_new }}</mat-checkbox>
          </div>
          <div class="container-cards" *ngIf="less.length > 0">
            <div class="content-table">
              <mat-card class="issues" *ngFor="let data of less">
                <mat-card-content>
                  <div class="householdData head">
                    <mat-chip-list>
                      <mat-chip>{{verification.data_verification_chip_actual}}</mat-chip>
                    </mat-chip-list>
                    <div class="content-householdData">
                      <div class="dataToCompare">{{data.old.nameHead}}</div>
                      <div class="dataToCompare">{{data.old.households.address_number}}
                        {{data.old.households.address_street}}</div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm4">{{data.old.households.address_postcode}}
                        {{data.old.households.location.adm4.name}}</div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm3">{{data.old.households.address_postcode}}
                        <p>{{data.old.households.location.adm3.name}}</p>
                      </div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm2">{{data.old.households.address_postcode}}
                        <p>{{data.old.households.location.adm2.name}}</p>
                      </div>
                      <div class="dataToCompare" *ngIf="data.old.households.location.adm1">{{data.old.households.address_postcode}}
                        <p>{{data.old.households.location.adm1.name}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="householdData" *ngIf="data.new.households.beneficiaries.length > 1">
                    <mat-divider></mat-divider>
                    <mat-chip-list>
                      <mat-chip>{{verification.new}}</mat-chip>
                    </mat-chip-list>
                    <div class="householdData">
                      <div class="content-householdData">
                        <div class="dataToCompare" *ngFor="let beneficiary of data.new.households.beneficiaries">
                          <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                            {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <mat-chip-list>
                    <mat-chip>{{verification.data_verification_chip_remove}}</mat-chip>
                  </mat-chip-list>
                  <div class="householdData">
                    <div class="content-beneficiariesData">
                      <div class="dataToCompare" *ngIf="data.old.households.beneficiaries.length > 1">
                        <div class="dataToCompare" *ngFor="let beneficiary of data.old.households.beneficiaries">
                          <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                            <mat-checkbox color="primary" [(ngModel)]="allNew" (change)="step4Less(beneficiary.id, data.old.households.id, data.id_tmp_cache)">
                              {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                            </mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div *ngIf="less.length == 0" class="no-data-box">
            <h2 class="box-title"> {{verification.data_verification_step_4_no_issues|titlecase}}</h2>
          </div>
          <div class="content-button content-button-footer">
            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
            <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
            <button mat-raised-button class="button-background-primary" (click)="sendCorrectedData()" *ngIf='!load'>
              <span>{{verification.next}}</span>
            </button>
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step [editable]="true">
      <ng-template matStepLabel>{{verification.done}}</ng-template>
      <div class="container-table">
        <div class="stepInMobile">
          <span class="dot">5</span>
          <span>{{verification.done}}</span>
        </div>
        <div class="container-content box-primary">
          <div class="content-table">
            <div class="done">
              {{verification.data_verification_done|titlecase}}
              <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
              <mat-spinner [diameter]="25" *ngIf="loadingSend"></mat-spinner>
              <button mat-raised-button class="button-background-primary sendbutton" *ngIf="!loadingSend" (click)="finished = true; addBeneficiaries()">{{verification.data_verification_send}}</button>
            </div>
          </div>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>
