<div class="page-container">
    <div class="container-title">
        <h2>{{verification.data_verification_title | titlecase}}</h2>
    </div>

    <mat-horizontal-stepper linear #stepper>
        <ng-template matStepperIcon="done">
            <mat-icon>done</mat-icon>
        </ng-template>
        <mat-step [editable]="false" [completed]="typoDone">
            <ng-template class="step" matStepLabel>{{verification.data_verification_step_1}} </ng-template>
            <div class="step-info" *ngIf="step===1 && showedInfo">
                <div class="hide-info" (click)="showedInfo = false">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="desc1">
                    <h4> {{verification.data_verification_step_1}} {{verification.beneficiaries_step_info}}</h4>
                    <p>{{verification.data_verification_description1}}</p>
                </div>
            </div>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">1</span>
                    <span>{{verification.data_verification_step_1}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table" *ngIf="typoIssues.length > 0">
                        <mat-card class="issues" *ngFor="let typoIssue of typoIssues, index as i">
                            <mat-chip-list class="old">
                                <mat-chip>{{verification.data_verification_chip_old}}</mat-chip>
                            </mat-chip-list>
                            <mat-card-content>
                                <div class="householdData head">
                                    <mat-checkbox color="primary" (change)="step1TypoIssues(typoIssue, 'old', i)">
                                    </mat-checkbox>
                                    <div class="content-householdData">
                                        <div class="dataToCompare">{{typoIssue.old.nameHead}}</div>
                                        <div class="dataToCompare">{{typoIssue.old.households.address_number}} {{typoIssue.old.households.address_street}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm4 != ''">{{typoIssue.old.households.address_postcode}} {{typoIssue.old.households.location.adm4}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm4 == ''">{{typoIssue.old.households.address_postcode}} {{typoIssue.old.households.location.adm3}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.old.households.location.adm4 != ''">{{typoIssue.old.households.location.adm3}}</div>
                                        <div class="dataToCompare">{{typoIssue.old.households.location.adm2}}</div>
                                        <div class="dataToCompare">{{typoIssue.old.households.location.adm1}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.old.households.beneficiaries.length > 1">
                                            <div class="dataToCompare" *ngFor="let beneficiary of typoIssue.old.households.beneficiaries">
                                                <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                                                    {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <mat-chip-list>
                                    <mat-chip>{{verification.new}}</mat-chip>
                                </mat-chip-list>
                                <div class="householdData">
                                    <mat-checkbox color="primary" (change)="step1TypoIssues(typoIssue, 'new', i)">
                                    </mat-checkbox>
                                    <div class="content-householdData">
                                        <div class="dataToCompare">{{typoIssue.new.nameHead}}</div>
                                        <div class="dataToCompare">{{typoIssue.new.households.address_number}} {{typoIssue.new.households.address_street}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.new.households.location.adm4 != ''">{{typoIssue.new.households.address_postcode}} {{typoIssue.new.households.location.adm4}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.new.households.location.adm4 == ''">{{typoIssue.new.households.address_postcode}} {{typoIssue.new.households.location.adm3}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.new.households.location.adm4 != ''">{{typoIssue.new.households.location.adm3}}</div>
                                        <div class="dataToCompare">{{typoIssue.new.households.location.adm2}}</div>
                                        <div class="dataToCompare">{{typoIssue.new.households.location.adm1}}</div>
                                        <div class="dataToCompare" *ngIf="typoIssue.new.households.beneficiaries.length > 1">
                                            <div class="dataToCompare" *ngFor="let beneficiary of typoIssue.new.households.beneficiaries">
                                                <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                                                    {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div *ngIf="typoIssues.length == 0" class="no-data-box">
                        <h2 class="box-title"> {{verification.data_verification_step_1_no_issues}}</h2>
                    </div>
                    <div class="content-button content-button-footer">
                        <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                        <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
                        <button mat-raised-button class="button-background-primary" (click)=" sendCorrectedData()" *ngIf='!load'>
                            <mat-icon>navigate_next</mat-icon>
                            <span>{{verification.next}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="false" [completed]="duplicateDone">
            <ng-template class="step" matStepLabel>{{verification.data_verification_step_2}} </ng-template>
            <div class="step-info" *ngIf="step===2 && showedInfo">
                <div class="hide-info" (click)="showedInfo = false">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="desc2">
                    <h4> {{verification.data_verification_step_2}} {{verification.beneficiaries_step_info}}</h4>
                    <p>{{verification.data_verification_description2}}</p>
                </div>
            </div>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">2</span>
                    <span>{{verification.data_verification_step_2}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table" *ngIf="duplicates.length > 0">
                        <div class="issues" *ngFor="let duplicate of duplicates, index as i">
                            <mat-card class="content-issue" *ngFor="let isDuplicate of duplicate.data, index as j">
                                <mat-card-content>
                                    <mat-chip-list mat-chip class="old">
                                        <mat-chip >{{verification.data_verification_chip_old}}</mat-chip>
                                    </mat-chip-list>
                                    <div class="householdData head">
                                        <mat-checkbox [checked]="isDuplicate.old.isHead" [disabled]='isDuplicate.old.isHead' color="primary" (change)="step2Duplicates(isDuplicate, 'old', isDuplicate.id_tmp_beneficiary, duplicate.new_household, duplicate.id_tmp_cache)">
                                        </mat-checkbox>
                                        <div class="content-householdData">
                                            <div class="dataToCompare">{{isDuplicate.old.households.beneficiaries[0].family_name}} {{isDuplicate.old.households.beneficiaries[0].given_name}}</div>
                                            <div class="dataToCompare">{{isDuplicate.old.households.address_number}} {{isDuplicate.old.households.address_street}}</div>
                                            <div class="dataToCompare" *ngIf="isDuplicate.old.households.location.adm4 != ''">{{isDuplicate.old.households.address_postcode}} {{isDuplicate.old.households.location.adm4}}</div>
                                            <div class="dataToCompare" *ngIf="isDuplicate.old.households.location.adm4 == ''">{{isDuplicate.old.households.address_postcode}} {{isDuplicate.old.households.location.adm3}}</div>
                                            <div class="dataToCompare" *ngIf="isDuplicate.old.households.location.adm4 != ''">{{isDuplicate.old.households.location.adm3}}</div>
                                            <div class="dataToCompare">{{isDuplicate.old.households.location.adm2}}</div>
                                            <div class="dataToCompare">{{isDuplicate.old.households.location.adm1}}</div>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>

                                    <div class="householdData">
                                        <mat-chip-list>
                                            <mat-chip>{{verification.new}}</mat-chip>
                                        </mat-chip-list>
                                        <mat-checkbox color="primary" (change)="step2Duplicates(isDuplicate, 'new', isDuplicate.id_tmp_beneficiary, duplicate.new_household, duplicate.id_tmp_cache)">
                                        </mat-checkbox>
                                        <div class="content-householdData">
                                            <div class="dataToCompare">{{isDuplicate.new.households.beneficiaries[0].family_name}} {{isDuplicate.new.households.beneficiaries[0].given_name}}</div>
                                            <div class="dataToCompare">{{isDuplicate.new.households.address_number}} {{isDuplicate.new.households.address_street}}</div>
                                            <div class="dataToCompare" *ngIf="isDuplicate.new.households.location.adm4 != ''">{{isDuplicate.new.households.address_postcode}} {{isDuplicate.new.households.location.adm4}}</div>
                                            <div class="dataToCompare" *ngIf="isDuplicate.new.households.location.adm4 == ''">{{isDuplicate.new.households.address_postcode}} {{isDuplicate.new.households.location.adm3}}</div>
                                            <div class="dataToCompare" *ngIf="isDuplicate.new.households.location.adm4 != ''">{{isDuplicate.new.households.location.adm3}}</div>
                                            <div class="dataToCompare">{{isDuplicate.new.households.location.adm2}}</div>
                                            <div class="dataToCompare">{{isDuplicate.new.households.location.adm1}}</div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div *ngIf="duplicates.length == 0" class="no-data-box">
                        <h2 class="box-title"> {{verification.data_verification_step_2_no_issues}}</h2>
                    </div>
                    <div class="content-button content-button-footer">
                        <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
                        <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
                        <button mat-raised-button class="button-background-primary" (click)="sendCorrectedData()" *ngIf='!load'>
                            <mat-icon>navigate_next</mat-icon>
                            <span>{{verification.next}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="false" [completed]="moreDone">
            <ng-template matStepLabel>{{verification.data_verification_step_3}} </ng-template>
            <div class="step-info" *ngIf="step===3 && showedInfo">
                <div class="hide-info" (click)="showedInfo = false">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="desc3">
                    <h4>{{verification.data_verification_step_3}} {{verification.beneficiaries_step_info}}</h4>
                    <p>{{verification.data_verification_description3}}</p>
                </div>
            </div>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">3</span>
                    <span>{{verification.data_verification_step_3}}</span>
                </div>
                <div class="container-content box-green">                   
                    <div class="content-table" *ngIf="more.length > 0">
                        <mat-card class="issues" *ngFor="let data of more">
                            <mat-card-content>
                                <div class="householdData head">
                                    <mat-chip-list>
                                        <mat-chip>{{verification.data_verification_chip_actual}}</mat-chip>
                                    </mat-chip-list>
                                    <div class="content-householdData">
                                        <div class="dataToCompare">{{data.old.nameHead}}</div>
                                        <div class="dataToCompare">{{data.old.households.address_number}} {{data.old.households.address_street}}</div>
                                        <div class="dataToCompare" *ngIf="data.old.households.location.adm4 != ''">{{data.old.households.address_postcode}} {{data.old.households.location.adm4}}</div>
                                        <div class="dataToCompare" *ngIf="data.old.households.location.adm4 == ''">{{data.old.households.address_postcode}} {{data.old.households.location.adm3}}</div>
                                        <div class="dataToCompare" *ngIf="data.old.households.location.adm4 != ''">{{data.old.households.location.adm3}}</div>
                                        <div class="dataToCompare">{{data.old.households.location.adm2}}</div>
                                        <div class="dataToCompare">{{data.old.households.location.adm1}}</div>
                                    </div>
                                </div>
                                <div class="householdData" *ngIf="data.old.households.beneficiaries.length > 1">
                                    <mat-divider></mat-divider>
                                    <mat-chip-list>
                                        <mat-chip>{{verification.data_verification_chip_existing}}</mat-chip>
                                    </mat-chip-list>
                                    <div class="householdData">
                                        <div class="content-householdData">
                                            <div class="dataToCompare" *ngFor="let beneficiary of data.old.households.beneficiaries">
                                                <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                                                    {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <mat-chip-list>
                                    <mat-chip>{{verification.data_verification_chip_add}}</mat-chip>
                                </mat-chip-list>
                                <div class="householdData">
                                    <div class="content-beneficiariesData">
                                        <div class="dataToCompare" *ngIf="data.new.households.beneficiaries.length > 1">
                                            <div class="dataToCompare" *ngFor="let beneficiary of data.new.households.beneficiaries">
                                                <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                                                    <mat-checkbox color="primary" (change)="step3More(beneficiary, data.old.households.id)">
                                                        {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div *ngIf="more.length == 0" class="no-data-box">
                        <h2 class="box-title"> {{verification.data_verification_step_3_no_issues}}</h2>
                    </div>
                    <div class="content-button content-button-footer">
                        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                        <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
                        <button mat-raised-button class="button-background-primary" (click)="sendCorrectedData()" *ngIf='!load'>
                            <mat-icon>navigate_next</mat-icon>
                            <span>{{verification.next}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="false" [completed]="lessDone">
            <ng-template matStepLabel>{{verification.data_verification_step_4}} </ng-template>
            <div class="step-info" *ngIf="step===4 && showedInfo">
                <div class="hide-info" (click)="showedInfo = false">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="desc4">
                    <h4>{{verification.data_verification_step_4}} {{verification.beneficiaries_step_info}}</h4>
                    <p>{{verification.data_verification_description4}}</p>
                </div>
            </div>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">4</span>
                    <span>{{verification.data_verification_step_4}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table" *ngIf="less.length > 0">
                        <mat-card class="issues" *ngFor="let data of less">
                            <mat-card-content>
                                <div class="householdData head">
                                    <mat-chip-list>
                                        <mat-chip>{{verification.data_verification_chip_actual}}</mat-chip>
                                    </mat-chip-list>
                                    <div class="content-householdData">
                                        <div class="dataToCompare">{{data.old.nameHead}}</div>
                                        <div class="dataToCompare">{{data.old.households.address_number}} {{data.old.households.address_street}}</div>
                                        <div class="dataToCompare" *ngIf="data.old.households.location.adm4 != ''">{{data.old.households.address_postcode}} {{data.old.households.location.adm4}}</div>
                                        <div class="dataToCompare" *ngIf="data.old.households.location.adm4 == ''">{{data.old.households.address_postcode}} {{data.old.households.location.adm3}}</div>
                                        <div class="dataToCompare" *ngIf="data.old.households.location.adm4 != ''">{{data.old.households.location.adm3}}</div>
                                        <div class="dataToCompare">{{data.old.households.location.adm2}}</div>
                                        <div class="dataToCompare">{{data.old.households.location.adm1}}</div>
                                    </div>
                                </div>

                                <div class="householdData" *ngIf="data.new.households.beneficiaries.length > 1">
                                    <mat-divider></mat-divider>
                                    <mat-chip-list>
                                        <mat-chip>{{verification.new}}</mat-chip>
                                    </mat-chip-list>
                                    <div class="householdData">
                                        <div class="content-householdData">
                                            <div class="dataToCompare" *ngFor="let beneficiary of data.new.households.beneficiaries">
                                                <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                                                    {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <mat-chip-list>
                                    <mat-chip>{{verification.data_verification_chip_remove}}</mat-chip>
                                </mat-chip-list>
                                <div class="householdData">
                                    <div class="content-beneficiariesData">
                                        <div class="dataToCompare" *ngIf="data.old.households.beneficiaries.length > 1">
                                            <div class="dataToCompare" *ngFor="let beneficiary of data.old.households.beneficiaries">
                                                <div class="dataToCompare" *ngIf="beneficiary.status == 0">
                                                    <mat-checkbox color="primary" (change)="step4Less(beneficiary.id, data.old.households.id, data.id_tmp_cache)">
                                                        {{beneficiary.given_name}} {{beneficiary.date_of_birth}}
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div *ngIf="less.length == 0" class="no-data-box">
                        <h2 class="box-title"> {{verification.data_verification_step_4_no_issues}}</h2>
                    </div>
                    <div class="content-button content-button-footer">
                        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
                        <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
                        <button mat-raised-button class="button-background-primary" (click)="sendCorrectedData()" *ngIf='!load'>
                            <mat-icon>navigate_next</mat-icon>
                            <span>{{verification.next}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="true">
            <ng-template matStepLabel>{{verification.done}}</ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">5</span>
                    <span>{{verification.done}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table">
                        <div class="done">
                            {{verification.data_verification_done}}
                            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                            <a routerLink="/beneficiaries">
                                <button mat-raised-button class="button-background-primary sendbutton" (click)="stepper.reset()">{{verification.data_verification_send}}</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </mat-step>

    </mat-horizontal-stepper>

</div>
