<div class="page-container">
    <div class="container-title">
        <h2>{{household.add_household_title | uppercase}}</h2>
    </div>

    <mat-horizontal-stepper linear #stepper>
        <ng-template matStepperIcon="done">
            <mat-icon>done</mat-icon>
        </ng-template>

        <mat-step>
            <ng-template class="step" matStepLabel>{{household.add_household_step1}} </ng-template>
            <div class="container-table">
                <!-- <div class="stepInMobile">
                    <span class="dot">1</span>
                    <span>Information</span>
                </div> -->
                <div class="container-content box-green">

                    <div class="content-table">
                        <div class="content-information">
                            <mat-form-field>
                                <mat-select placeholder={{household.add_household_getProvince}} [formControl]="projects" (selectionChange)="getProjectSelected($event)">
                                    <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder={{household.add_household_getDistrict}} [formControl]="projects" (selectionChange)="getProjectSelected($event)">
                                    <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder={{household.add_household_getCommune}} [formControl]="projects" (selectionChange)="getProjectSelected($event)">
                                    <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="content-information">
                            <mat-form-field>
                                <mat-select placeholder={{household.add_household_getVillage}} [formControl]="projects" (selectionChange)="getProjectSelected($event)">
                                    <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder={{household.add_household_getAddress}}>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder={{household.add_household_getProject}} [formControl]="projects" (selectionChange)="getProjectSelected($event)">
                                    <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="content-information notes">
                            <mat-form-field>
                                <textarea matInput matAutosizeMaxRows=9 matTextareaAutosize="true" placeholder={{household.add_household_getNotes}}></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="content-button-footer">
                        <!-- <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
                            <button mat-raised-button class="next-button" (click)=" sendCorrectedData()" *ngIf='!load'>
                                <span>{{verification.data_verification_next}}</span>
                            </button> -->
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template class="step" matStepLabel>{{household.add_household_step2}}</ng-template>
            <div class="container-table">
                <!-- <div class="stepInMobile">
                    <span class="dot">1</span>
                    <span>Head</span>
                </div> -->
                <div class="container-content box-green">

                    <div class="content-table">

                    </div>

                    <div class="content-button-footer">
                        <!-- <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
                                <button mat-raised-button class="next-button" (click)=" sendCorrectedData()" *ngIf='!load'>
                                    <span>{{verification.data_verification_next}}</span>
                                </button> -->
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template class="step" matStepLabel>{{household.add_household_step3}}</ng-template>
            <div class="container-table">
                <!-- <div class="stepInMobile">
                        <span class="dot">1</span>
                        <span>Members</span>
                    </div> -->
                <div class="container-content box-green">

                    <div class="content-table">

                    </div>

                    <div class="content-button-footer">
                        <!-- <mat-spinner *ngIf='load' [diameter]="25"></mat-spinner>
                                    <button mat-raised-button class="next-button" (click)=" sendCorrectedData()" *ngIf='!load'>
                                        <span>{{verification.data_verification_next}}</span>
                                    </button> -->
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="true">
            <ng-template matStepLabel>{{household.add_household_step4}}</ng-template>
            <div class="container-table">
                <!-- <div class="stepInMobile">
                    <span class="dot">5</span>
                    <span>Done</span>
                </div> -->
                <div class="container-content box-green">
                    <div class="content-table">
                        <div class="done">
                            {{household.add_household_done}}
                            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                            <!-- <a routerLink="/households"> -->
                            <button mat-raised-button class="buttonSend">{{household.add_household_create}}</button>
                            <!-- </a> -->
                        </div>


                    </div>
                </div>
            </div>

        </mat-step>

    </mat-horizontal-stepper>
</div>