@import '../../../../assets/css/variable.scss'; 

.content-select {
    display: flex;
    flex-direction: column;
}

.notes, .members {
    justify-content: center;
}
.additional-information {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cancel {
    margin-right: 2vw;
}

.content-table{
    flex-direction: column;
}

.all-information {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.country-specific {
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2vh;
    .country-specific-label {
        align-self: center;
    }
    .field-country-specific {
        display: flex;
        justify-content: space-evenly;
    }
}

//for mobile screen
@media only screen and (max-width: 750px){
    .container-table{
        width: 99% !important;
        flex-direction: column;
    }
}