@import '../../../../assets/css/variable.scss'; 

.content-select {
    display: flex;
    flex-direction: column;
}

.notes, .members {
    justify-content: center;
}

.vulnerabilities {
    justify-content: space-around;
}

.cancel {
    margin-right: 2vw;
}

//for mobile screen
@media only screen and (max-width: 750px){
    .container-table{
        width: 99% !important;
        flex-direction: column;
    }
}