<div class="page-container">
    <div class="container-title">
        <h2>{{household.add_household_title | uppercase}}</h2>
    </div>

    <mat-horizontal-stepper linear #stepper>
        <ng-template matStepperIcon="done">
            <mat-icon>done</mat-icon>
        </ng-template>

        <mat-step>
            <ng-template class="step" matStepLabel>{{household.add_household_step1}} </ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">1</span>
                    <span>{{household.add_household_step1}} </span>
                </div>
                <div class="container-content box-green">

                    <div class="content-table">
                        <div class="all-information">
                            <div class="content-select">
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getProvince}} [formControl]="province" (selectionChange)="selected($event, 'province')">
                                        <mat-option *ngFor="let province of provinceList" [value]="province">{{province}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getDistrict}} [formControl]="district" (selectionChange)="selected($event, 'district')">
                                        <mat-option *ngFor="let district of districtList" [value]="district">{{district}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getCommune}} [formControl]="commune" (selectionChange)="selected($event, 'commune')">
                                        <mat-option *ngFor="let commune of communeList" [value]="commune">{{commune}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getVillage}} [formControl]="village" (selectionChange)="selected($event, 'village')">
                                        <mat-option *ngFor="let village of villageList" [value]="village">{{village}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="content-select">
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getProject}} [formControl]="projects" (selectionChange)="selected($event, 'project')">
                                        <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <input [formControl]="addressNumber" matInput placeholder={{household.add_household_getAddressNumber}} #AddressNumber>
                                </mat-form-field>
                                <mat-form-field>
                                    <input [formControl]="addressStreet" matInput placeholder={{household.add_household_getAddressStreet}} #AddressStreet>
                                </mat-form-field>
                                <mat-form-field>
                                    <input [formControl]="addressPostcode" matInput placeholder={{household.add_household_getAddressPostcode}} #AddressPostcode>
                                </mat-form-field>
                            </div>
                            <div class="content-select notes">
                                <mat-form-field>
                                    <textarea matInput matAutosizeMaxRows=12 matTextareaAutosize="true" placeholder={{household.add_household_getNotes}} #Notes></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="additional-information country-specific">
                            <label class="country-specific-label">{{household.add_household_Country_Specifics}} : </label>
                            <div class="field-country-specific">
                                <mat-form-field *ngFor="let countrySpecific of countrySpecifics, i as index">
                                    <input matInput placeholder={{countrySpecific.field}} #countrySpecificsAnswer>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="content-button-footer">
                        <button mat-raised-button (click)="nextStep1(AddressNumber.value, AddressStreet.value, AddressPostcode.value, Notes.value)">
                            <span>{{household.add_household_next}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template class="step" matStepLabel>{{household.add_household_step2}}</ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">2</span>
                    <span>{{household.add_household_step2}}</span>
                </div>
                <div class="container-content box-green">

                    <div class="content-table">
                        <div class="all-information">
                            <div class="content-select">
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getFamilyName}} #FamilyNameHead>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getGivenName}} #GivenNameHead>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getGender}} [formControl]="gender" (selectionChange)="selected($event, 'gender')">
                                        <mat-option *ngFor="let gender of genderList" [value]="gender">{{gender}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="content-select">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="birthHead" placeholder={{household.add_household_getDateOfBirth}} #DateOfBirthHead>
                                    <mat-datepicker-toggle matSuffix [for]="birthHead"></mat-datepicker-toggle>
                                    <mat-datepicker #birthHead></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getTypeNationalId}} [formControl]="typeNationalId" (selectionChange)="selected($event, 'typeNationalId')">
                                        <mat-option *ngFor="let type of typeNationalIdList" [value]="type">{{type}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getNationalID}} #NationalIDHead>
                                </mat-form-field>
                            </div>
                            <div class="content-select">
                                <mat-form-field>
                                    <input [formControl]="occupation" matInput placeholder={{household.add_household_getOccupation}} #LivelihoodHead>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getTypePhone}} [formControl]="typePhone" (selectionChange)="selected($event, 'typePhone')">
                                        <mat-option *ngFor="let type of typePhoneList" [value]="type">{{type}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getPhone}} #PhoneHead>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="additional-information vulnerabilities">
                            <mat-checkbox color="primary" (change)="choiceVulnerabilities(vulnerability)" *ngFor="let vulnerability of allVulnerability">{{vulnerability.field_string}}</mat-checkbox>
                        </div>
                    </div>

                    <div class="content-button-footer">
                        <button mat-raised-button (click)="nextStep2(FamilyNameHead.value, GivenNameHead.value, DateOfBirthHead.value, NationalIDHead.value, PhoneHead.value, 'head', LivelihoodHead.value)">
                            <span>{{household.add_household_next}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template class="step" matStepLabel>{{household.add_household_step3}}</ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">3</span>
                    <span>{{household.add_household_step3}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table">
                        <div class="all-information">
                            <div class="content-select">
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getFamilyName}} #FamilyNameBeneficiary>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getGivenName}} #GivenNameBeneficiary>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getGender}} [formControl]="gender" (selectionChange)="selected($event, 'gender')">
                                        <mat-option *ngFor="let gender of genderList" [value]="gender">{{gender}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="content-select">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="birth" placeholder={{household.add_household_getDateOfBirth}} #DateOfBirthBeneficiary>
                                    <mat-datepicker-toggle matSuffix [for]="birth"></mat-datepicker-toggle>
                                    <mat-datepicker #birth></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getTypeNationalId}} [formControl]="typeNationalId" (selectionChange)="selected($event, 'typeNationalId')"
                                        value='type1'>
                                        <mat-option *ngFor="let type of typeNationalIdList" [value]="type">{{type}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getNationalID}} #NationalIDBeneficiary>
                                </mat-form-field>
                            </div>
                            <div class="content-select members">
                                <mat-form-field>
                                    <mat-select placeholder={{household.add_household_getTypePhone}} [formControl]="typePhone" (selectionChange)="selected($event, 'typePhone')">
                                        <mat-option *ngFor="let type of typePhoneList" [value]="type">{{type}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder={{household.add_household_getPhone}} #PhoneBeneficiary>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="additional-information vulnerabilities">
                            <mat-checkbox color="primary" (change)="choiceVulnerabilities(vulnerability)" *ngFor="let vulnerability of allVulnerability">{{vulnerability.field_string}}</mat-checkbox>
                        </div>
                    </div>

                    <div class="content-button-footer">
                        <button mat-raised-button (click)="nextStep2(FamilyNameBeneficiary.value, GivenNameBeneficiary.value, DateOfBirthBeneficiary.value, NationalIDBeneficiary.value, PhoneBeneficiary.value, 'beneficiary')">
                            <span>{{household.add_household_next}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="true">
            <ng-template matStepLabel>{{household.add_household_step4}}</ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">4</span>
                    <span>{{household.add_household_step4}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table">
                        <div class="done">
                            {{household.add_household_done}}
                        </div>
                    </div>
                    <div class="content-button-footer">
                        <button mat-raised-button class="cancel" (click)="cancel()">{{household.add_household_cancel}}</button>
                        <button mat-raised-button (click)="create()">{{household.add_household_create}}</button>
                    </div>
                </div>
            </div>

        </mat-step>

    </mat-horizontal-stepper>
</div>