:host{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px !important;
    left: 0px !important;
    background-color: rosybrown;
}

.app-component {
    display: flex;
    height: 100%;
    position: relative;
	padding-left: 0;
    margin: 0 !important;
    flex-direction: row;
    flex-wrap: wrap;

    .page-content-wrapper{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        overflow-y: scroll !important;
        margin: 0 !important;
        flex-grow: 1;
        background-color: darkviolet;
        .wrapper-header{
            width : 100%;
            height: 5%;

            &.hideMenu{
                height : 0% !important; 
                opacity: 0;  
                margin : 0 !important;         	
            }
        }
    }

    .page-menu-wrapper{
        width: 150px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin: 0 !important;

        &:hover{
            width : 300px;
        }
        &.hideMenu{
            opacity: 0;	
            flex-grow: 0 !important;
            width: 0px !important;
            padding: 0px;
        }
    }
}

@media (max-height: 700px) {
    .page-menu-wrapper {
        display: flex;
        width: 100% !important;
        app-menu {
            width: 100% !important;
        }
    }

    .page-content-wrapper{
        display: flex;
        flex-grow: 1 !important;
    }
}