@import '../assets/css/variable.scss';

:host {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px !important;
    left: 0px !important;
}

.app-component {
    display: flex;
    flex-grow: 1;
	  padding-left: 0;
    width :100%;
    height: 100%;
    margin: 0 !important;
    align-items: stretch;

    .page-content-wrapper {
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        &.margin {
              padding-left: 7vh;
        }
        router-outler {
            display: flex;
            flex:0 1 100%;
        }
    }

    .page-menu-wrapper {
        height: 100%;
        background: $bms_menu;
        &.show {
            width : 30vh;
        }
        mat-list-item {
          color: $bms_light_grey;
          span {
            margin-left: 1.5em;
          }
        }
        mat-list-item:nth-of-type(odd) {
          &.selected {
            color: $bms_red;
          }
        }
        mat-list-item:nth-of-type(even) {
          &.selected {
            color: $bms_green;
          }
        }
    }

    mat-toolbar {
      background: $bms_white;
      &.mobile {
        background-color: $bms_menu;
      }
      app-header, app-header-mobile {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
}
