@import '../assets/css/variable.scss'; 

:host{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px !important;
    left: 0px !important;
}

.app-component {
    display: flex;
    flex-grow: 1;
    position: relative;
	padding-left: 0;
    width :100%;
    height: 100%;
    display: flex;
    margin: 0 !important;
    overflow: hidden;

    .page-content-wrapper{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width : 100%;
        height: 100%;
        margin: 0 !important;

        router-outler{
            display: flex;
            flex:0 1 100%;
        }

        .wrapper-header{
            width : 100%;
            height: 5%;

            &.hideMenu{
                height : 0% !important; 
                opacity: 0;  
                margin : 0 !important;         	
            }
        }
    }

    .page-menu-wrapper{
        width: 150px;
        height: 100%;	
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin: 0 !important;

        &:hover{
            width : 300px;
        }
        &.hideMenu{
            opacity: 0;	
            flex-grow: 0 !important;
            width: 0px !important;
            padding: 0px;
        }
    }
}

.page-menu-top-wrapper{
    width : 100%;
    height: 6%;
    position: fixed;
    z-index: 10000 !important;
    background: none;

    &.open-menu-top-wrapper{
        width : 100%;
        height: 100% !important;
        background: none !important;
    }
}