@import '../assets/css/variable.scss';

.bms-logo {
    background: $bms_white;
}

.app-component {
    display: flex;
    flex-grow: 1;
    padding-left: 0;
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    align-items: stretch;

    mat-sidenav {
        overflow: hidden;
        position: fixed;

        &.mobile-side-nav {
            margin-top: 56px;
        }
    }

    .page-content-wrapper {
        width: 100%;
        height: 100%;
        margin-left: 64px;

        router-outlet {
            display: flex;
            flex: 0 1 100%;
        }
    }

    .page-menu-wrapper {
        height: 100%;
        background: $bms_black;
        width: 64px;
        // transition: max-width 0.2s ease-in-out 0.2s;

        &.show {
            width: auto;
        }

        mat-list-item {
            color: $bms_white;

            span {
                margin-left: 1.5em;
                margin-right: 1.5em;
            }

            &.selected {
                color: $menu_select_color;
                background-color: $menu_select_bg;
            }
        }
    }

    mat-toolbar {
        background: $bms_grey;

        &.mobile {
            background-color: $bms_black;
            position: fixed;
            z-index: 1000;
        }

        app-header,
        app-header-mobile {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
}

mat-sidenav-content.no-margin {
    margin: 0 !important;
}

@media only screen and (max-width: 750px) {
    .page-content-wrapper {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .app-component .page-menu-wrapper.show {
        width: auto;

        mat-list-item {
            height: 10vh;
        }
    }
}
