<mat-sidenav-container class="app-component" disableClose="!smallScreenMode" [hasBackdrop]="false">
    <mat-sidenav #sidenav class="page-menu-wrapper" [ngClass]="{show: isShowing}" [opened]="!smallScreenMode && router.url !=='/login'"
        (mouseenter)="change()" (mouseleave)="change()" mode="over" [style.marginTop.px]="smallScreenMode ? 56 : 0" [disableClose]="true">
        <mat-nav-list>
            <mat-list-item *ngIf="!smallScreenMode" routerLink="/">
                <img src="assets/images/bms_logo.png" mat-list-icon>
            </mat-list-item>
            <mat-list-item [ngClass]="{selected: router.url ==='/'}" routerLink="/">
                <span class="full-width" *ngIf="isShowing">{{menu.home | titlecase}}</span>
                <mat-icon mat-list-icon>home</mat-icon>
            </mat-list-item>
            <mat-list-item [ngClass]="{selected: router.url ==='/projects'}" routerLink="/projects">
                <span class="full-width" *ngIf="isShowing">{{menu.projects | titlecase}}</span>
                <mat-icon mat-list-icon>assignment</mat-icon>
            </mat-list-item>
            <mat-list-item [ngClass]="{selected: router.url ==='/beneficiaries'}" routerLink="/beneficiaries">
                <span class="full-width" *ngIf="isShowing">{{menu.beneficiaries | titlecase}}</span>
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
            </mat-list-item>
            <mat-list-item [ngClass]="{selected: router.url ==='/reports'}" routerLink="/reports">
                <span class="full-width" *ngIf="isShowing">{{menu.reports | titlecase}}</span>
                <mat-icon mat-list-icon>timeline</mat-icon>
            </mat-list-item>
            <mat-list-item [ngClass]="{selected: router.url ==='/vouchers'}" routerLink="/vouchers">
                <span class="full-width" *ngIf="isShowing">{{menu.voucher | titlecase}}</span>
                <mat-icon mat-list-icon>local_activity</mat-icon>
            </mat-list-item>
            <mat-list-item *ngIf="userService.hasRights('ROLE_VIEW_ADMIN_SETTINGS')" [ngClass]="{selected: router.url ==='/settings'}" routerLink="/settings">
                <span class="full-width" *ngIf="isShowing">{{menu.settings | titlecase}}</span>
                <mat-icon mat-list-icon>settings</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content  class="page-content-wrapper" [ngClass]="{noMargin: !smallScreenMode && router.url ==='/login'}">
        <mat-toolbar *ngIf="!smallScreenMode && router.url !=='/login'">
            <app-header *ngIf="userService.currentUser"></app-header>
        </mat-toolbar>
        <mat-toolbar *ngIf="smallScreenMode && router.url !=='/login'" class="mobile">
            <app-header-mobile *ngIf="userService.currentUser" (emitToggle)="toggle(sidenav)"></app-header-mobile>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
