@import "../../../../../../assets/css/variable.scss";
 
button.level1 {
    background-color: $bms_green;
    margin-right: 20px;
}

.clicked{

    background-color: $bms_dark_grey !important;
    color: $bms_white;
}

//for mobile screen
@media only screen and (max-width: 750px){

    .filter {
        width: 45%;
        align-self: center;
        margin-bottom: 10px;
    }

    .mat-raised-button{
        font-size: 3vw;
        min-width: 100%;
    }
      
    button.level1 {
        margin-right: 0px !important;
        width: 50% !important;
        
    }
}


