<div class="page-container">
  <div class="container-title">
    <h2>{{voucher.voucher | titlecase}}</h2>

    <button mat-stroked-button class="mat-stroked-button button-text-accent" (click)="getProjects(assign)" *ngIf="!loadingAssign">
      <span>{{voucher.voucher_assign | titlecase }}</span>
    </button>
    <mat-spinner [diameter]='25' *ngIf="loadingAssign"></mat-spinner>
  </div>

  <app-placeholder-panel class="container-table min-height" *ngIf="loadingBooklet"></app-placeholder-panel>
  <div class="container-table" *ngIf="!loadingBooklet">
    <div class="container-content box-green">
      <div class="content-button">
        <div class="action-buttons">
          <button mat-raised-button class="button-background-primary" (click)="export()" *ngIf="!loadingExport">
            <mat-icon>get_app</mat-icon>
            <span>{{voucher.export | titlecase}}</span>
          </button>
          <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
          <div class="extension" *ngIf="!loadingExport">
            <div mat-button class="dropdown" [matMenuTriggerFor]="exportType" [ngClass]="{'arabic':language==='ar'}">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
            <mat-menu #exportType>
              <button mat-menu-item (click)="setType('xls')"> .xls <mat-icon *ngIf="extensionType=='xls'">done</mat-icon>
              </button>
              <button mat-menu-item (click)="setType('csv')"> .csv <mat-icon *ngIf="extensionType=='csv'">done</mat-icon>
              </button>
              <button mat-menu-item (click)="setType('ods')"> .ods <mat-icon *ngIf="extensionType=='ods'">done</mat-icon>
              </button>
            </mat-menu>
          </div>
        </div>

        <button mat-raised-button *ngIf="widthScreen > maxWidthMobile" (click)="openDialog('create')" class="add-button-create">
          <mat-icon>add</mat-icon>
          {{voucher.add | titlecase}}
        </button>
        <button mat-fab *ngIf="widthScreen <= maxWidthMobile" (click)="openDialog('create')" class="add-button"
          [ngClass]="{'add-button-arabic': language == 'ar'}">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="content-table" *ngIf="!load && bookletData">
        <app-table-vouchers *ngIf="widthScreen > maxWidthMobile" [entity]="bookletClass" [service]="bookletService"
          [data]="bookletData"></app-table-vouchers>
        <app-table-mobile-vouchers *ngIf="widthScreen < maxWidthMobile" [entity]="bookletClass" [service]="bookletService"
          [data]="bookletData"></app-table-mobile-vouchers>
      </div>

      <div>
        <mat-spinner [diameter]="35" *ngIf="load"></mat-spinner>
      </div>

      <div class='no-data-container' *ngIf="!load && !bookletData">
        <div class="loadingContent">
          <h4 class="no-data">
            <mat-icon>cloud_off</mat-icon>
            <span> {{voucher.no_data}} </span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #assign>
  <mat-dialog-content class="modal-container">
    <h4 class="modal-title underline-accent">{{voucher.voucher_assign_title | titlecase}}</h4>
    <div class="dialog-template" *ngIf="step1">
      <div class="modal-body">
        <table class="modal-table">
          <tr class="modal-row">
            <th class="table-title">{{ voucher.project }}</th>
            <th class="table-value">
              <form class="form" [formGroup]="form">
                <mat-form-field class="full-width">
                  <mat-select [(ngModel)]="storeChoice['project']" [formControl]="controls" (selectionChange)="getDistributions()">
                    <mat-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </th>
          </tr>

          <tr class="modal-row">
            <th class="table-title">{{ voucher.distribution }}</th>
            <th class="table-value">
              <form class="form" [formGroup]="form">
                <mat-form-field class="full-width">
                  <mat-select [(ngModel)]="storeChoice['distribution']" formControlName="distributionControl"
                    (selectionChange)="getBeneficiaries()">
                    <mat-option *ngFor="let distribution of distributions" [value]="distribution.id">{{distribution.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </th>
          </tr>

          <tr class="modal-row">
            <th class="table-title">{{ voucher.beneficiary }}</th>
            <th class="table-value">
              <form class="form" [formGroup]="form">
                <mat-form-field class="full-width">
                  <mat-select [(ngModel)]="storeChoice['beneficiary']" formControlName="distributionControl">
                    <mat-option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary.id">{{beneficiary.full_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </th>
          </tr>
        </table>
      </div>
      <div class="modal-footer action">
        <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
        <button mat-button class="confirm" (click)="nextStep(2)">{{voucher.next}}</button>
      </div>
    </div>

    <div class="dialog-template" *ngIf="step2">
      <app-scanner (result)="getResultScanner($event)"></app-scanner>
    </div>

    <div *ngIf="step3">
      <p>{{ voucher.voucher_scan_text }}</p>

      <div class="scan-checked">
        <mat-icon>check_circle_outline</mat-icon>
      </div>

      <div class="button-text-accent center-items">
        <mat-icon>local_activity</mat-icon>
        <span>{{ bookletQRCode }}</span>
      </div>

      <div class="dialog-template">
        <div class="modal-footer action">
          <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
          <button mat-button class="confirm" (click)="nextStep(4)">{{voucher.next}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="step4">
      <span>{{ voucher.voucher_define_password}} {{ bookletQRCode }} ?</span>
      <mat-checkbox color="primary" [(ngModel)]="displayPassword" class="margin-left"></mat-checkbox>

      <div [hidden]="!displayPassword">
        <p>{{ voucher.voucher_ask_code }}</p>
        <div class="dialog-template">
          <mat-form-field class="full-width">
            <input matInput type="text" [(ngModel)]="password" placeholder={{voucher.model_password}} />
          </mat-form-field>
        </div>
      </div>

      <div class="dialog-template">
        <div class="modal-footer action">
          <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
          <mat-spinner [diameter]="25" *ngIf="loadingPassword"></mat-spinner>
          <button mat-button class="confirm" (click)="nextStep(5)" *ngIf="!loadingPassword">{{voucher.next}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="step5">
      <p>{{ voucher.model_booklet }} {{ bookletQRCode }} {{ voucher.voucher_step5 }} {{ beneficiaryName }} {{
        voucher.voucher_for }} {{ distributionName }}</p>

      <div class="dialog-template">
        <div class="modal-footer action">
          <button mat-button class="cancel button-text-accent" (click)="exit('Assignation canceled')">{{voucher.cancel}}</button>
          <mat-spinner [diameter]="25" *ngIf="loadingAssignation"></mat-spinner>
          <button mat-button class="confirm" (click)="assignBooklet()" *ngIf="!loadingAssignation">{{voucher.transaction_confirm_button}}</button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>