<div class="modal-container">
    <h4 class="modal-title underline-primary stickyHeader" [ngClass]="{'arabic': language==='ar'}" >{{modal.modal_leave}}</h4>
    <div class="modal-table" [ngClass]="{'arabic': language==='ar'}" >
        {{language.modal_leave_sentence}}
    </div>
    <div class="modal-button action-buttons stickyFooter" [ngClass]="{'arabic':language==='ar'}">
        <button mat-button class="button-text-primary" (click)="cancel()">{{language.cancel}}</button>
        <button mat-raised-button class="button-background-primary" (click)="leave()">{{language.modal_leave}}</button>
    </div>
</div>
