<div class="page-container">
    <div class="container-title">
      <h2>HOUSEHOLDS</h2>
    </div>
    <div class="container-table">
      <div class="container-content">
        <div class="content-button">
          <button mat-icon-button class="add-button">
            <i class="fas fa-plus"></i>
          </button>

          <div class="import-export">
            <button mat-button class="export-button">
              <i class="fas fa-upload">
                <span>EXPORT</span>
              </i>
            </button>
            <a routerLink="/households/import">
              <button mat-button class="import-button">
                  <i class="fas fa-download">
                    <span>IMPORT</span>
                  </i>
              </button>
            </a>
          </div>
        </div>
        <div class="content-table">
          <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService" [data]="households"></app-table-search>
          <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService" [data]="households"></app-table-mobile-search>
        </div>
      </div>
    </div>
  </div>