<div class="page-container">
    <div class="container-title">
      <h2>{{household.households_title | uppercase}}</h2>
    </div>
    <div class="container-table">
      <div class="container-content">
        <div class="content-button">
          <button mat-icon-button class="add-button">
            <mat-icon>add</mat-icon>
          </button>

          <div class="import-export">
            <button mat-raised-button class="export-button">
              <mat-icon>get_app</mat-icon>
              <span>{{household.households_export | uppercase}}</span>
            </button>
            <a routerLink="/households/import">
              <button mat-raised-button class="import-button">
                <mat-icon>publish</mat-icon>
                <span>{{household.households_import | uppercase}}</span>
              </button>
            </a>
          </div>
        </div>
        <div class="content-table">
          <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService" [data]="households"></app-table-search>
          <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService" [data]="households"></app-table-mobile-search>
        </div>
      </div>
    </div>
  </div>