<div class="page-container">
    <div class="container-title">
        <h2>{{language.beneficiaries | uppercaseFirst}}</h2>
    </div>
    <div class="container-table">
        <div class="container-content box-primary">
            <div class="content-button">
                <div class="action-buttons">
                    <button mat-flat-button class="button-background-primary"
                        *ngIf="selection.selected.length > 0 && userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')"
                        [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                        <span>{{language.table_actions | titlecase}}</span>
                    </button>
                    <div class="extension">
                        <mat-menu #menu class="extMenu">
                            <button mat-menu-item *ngIf="userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')"
                                (click)="addToProject(addBeneficiaries)">
                                {{language.beneficiary_add_list}}
                            </button>
                            <button mat-menu-item *ngIf="userService.hasRights('ROLE_DISTRIBUTIONS_DIRECTOR')" (click)="deleteSelected()">
                                {{language.delete | titlecase}}
                            </button>
                        </mat-menu>
                    </div>

                    <div class="button-with-extension"
                        *ngIf="userService.hasRights('ROLE_PROJECT_MANAGEMENT')"
                        [ngClass]="{'rtl':language.direction === 'rtl'}">
                        <button mat-flat-button [disabled]="!(dataSource.length$ | async)"
                            *ngIf="userService.hasRights('ROLE_BENEFICIARY_EXPORT') && !loadingExport"
                            class="button-background-primary" (click)="export()">
                            <mat-icon>get_app</mat-icon>
                            <span *ngIf="selection.selected.length > 0; else noSelected">{{language.export_selected | uppercaseFirst}}</span>
                            <ng-template #noSelected>
                                <span >{{language.export | uppercaseFirst}}</span>
                            </ng-template>
                        </button>
                        <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
                        <div class="extension"
                            *ngIf="userService.hasRights('ROLE_BENEFICIARY_EXPORT') && !loadingExport">
                            <button mat-flat-button class="dropdown button-background-primary"
                                [matMenuTriggerFor]="exportType" [disabled]="!(dataSource.length$ | async)">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #exportType>
                                <button mat-menu-item (click)="setType('xls')"> .xls <mat-icon
                                        *ngIf="extensionType=='xls'">done</mat-icon>
                                </button>
                                <button mat-menu-item (click)="setType('csv')"> .csv <mat-icon
                                        *ngIf="extensionType=='csv'">done</mat-icon>
                                </button>
                                <button mat-menu-item (click)="setType('ods')"> .ods <mat-icon
                                        *ngIf="extensionType=='ods'">done</mat-icon>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div class="add-buttons"
                    [ngClass]="{'add-buttons-rtl': language.direction === 'rtl', 'add-buttons-mobile': currentDisplayType.type === 'mobile'}"
                    (mouseenter)="currentDisplayType.type !== 'mobile' && this.addToggled = true"
                    (mouseleave)="currentDisplayType.type !== 'mobile' && this.addToggled = false">
                    <div class="toggled-buttons" [ngClass]="{'toggled': addToggled}">
                        <button mat-flat-button class="button-background-accent" routerLink="/beneficiaries/import">
                            <mat-icon>publish</mat-icon>
                            <span>{{language.import | uppercaseFirst}}</span>
                        </button>
                        <button mat-flat-button class="button-background-accent" (click)="addOneHousehold()">
                            <mat-icon>group_add</mat-icon>
                            <span>{{language.add_beneficiary_title | uppercaseFirst}}</span>
                        </button>
                    </div>
                </div>
                <button
                    *ngIf="currentDisplayType.type !== 'mobile' && userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')"
                    mat-flat-button class="add-button-create" (click)="toggleAddButtons()">
                    <mat-icon>add</mat-icon>
                    {{language.create | uppercaseFirst}}
                </button>
                <button mat-fab
                    *ngIf="currentDisplayType.type === 'mobile' && userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')"
                    class="add-button"
                    [ngClass]="{'add-button-rtl': language.direction === 'rtl'}"
                    (click)="toggleAddButtons()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="content-table">
                <app-table-server *ngIf="currentDisplayType.type !== 'mobile'"
                    [selectable]="userService.hasRights('ROLE_PROJECT_MANAGEMENT') || userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')" [selection]="selection"
                    [deletable]="userService.hasRights('ROLE_DISTRIBUTIONS_DIRECTOR')" [entity]="referedClassToken"
                    [service]="householdsService" [data]="dataSource" [updatable]="userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')"
                    (openModal)="openDialog($event)"></app-table-server>
                <app-table-mobile-server *ngIf="currentDisplayType.type === 'mobile'" [paginable]="true" [deletable]="userService.hasRights('ROLE_DISTRIBUTIONS_DIRECTOR')" [selection]="selection"
                    [selectable]="userService.hasRights('ROLE_PROJECT_MANAGEMENT') || userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')"
                    [entity]="referedClassToken" [service]="householdsService" [data]="dataSource" [updatable]="userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_WRITE')"
                    (openModal)="openDialog($event)"></app-table-mobile-server>
            </div>
        </div>
    </div>
</div>

<ng-template #addBeneficiaries>
    <h4 mat-dialog-title class="modal-title underline-primary" [ngClass]="{'rtl':language.direction === 'rtl'}">{{language.beneficiary_add_project_title | uppercaseFirst }}</h4>
    <mat-dialog-content class="modal-container">
        <div class="modal-body">
            <p> {{language.beneficiary_add_project}} {{ selection.selected.length }}
                {{language.beneficiary_selected_project}}</p>
            <div class="selectBeneficiaries">
                <ng-select appendTo="body" [formControl]="projectAddControl" class="single-select" [multiple]="false" [searchable]=true
                    [closeOnSelect]="true" placeholder="{{language.projects | uppercaseFirst}}">
                    <ng-option class="options" *ngFor="let project of projectsList" [value]="project.id">
                        {{project.name}}
                    </ng-option>
                </ng-select>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions >
        <div class="modal-button action-buttons"
            [ngClass]="{'rtl':language.direction === 'rtl'}">
            <button mat-button class="button-text-primary" (click)="dialog.closeAll()">{{language.cancel}}</button>
            <button mat-flat-button class="button-background-primary" [disabled]="!projectAddControl.valid"
                (click)="confirmAdding()">{{language.transaction_confirm_button}}</button>
        </div>
    </mat-dialog-actions>
</ng-template>
