@import '../../../assets/css/variable.scss';
@import '../../../assets/css/global.scss';

app-table-server {
    width: 100%;
    height: 100%;
}

app-table-mobile-server {
    width: 100%;
    height: 100%;
}

app-placeholder-panel {
    width: 95%;
    height: 800px;
}

@media only screen and (max-width: 750px) {
    app-placeholder-panel {
        width: 85% !important;
    }
}

.container-title h2 {
    padding-bottom: 0;
}

.mat-badge {
    z-index: 1;
}

.action-buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    .button-with-extension, .action-button {
        margin-top: 10px;
    }
}
