<div class="page-container">
  <div class="container-title">
    <h2>{{language.beneficiaries | titlecase}}</h2>
  </div>
  <div class="container-table">
    <div class="container-content box-primary">
      <div class="content-button">
        <div class="action-buttons">
            <button mat-raised-button class="button-background-primary" *ngIf="checkedElements.length > 0" [matMenuTriggerFor]="menu"  [matBadge]="checkedElements.length">
                <mat-icon>more_vert</mat-icon>
                <span>{{language.table_actions | titlecase}}</span>
            </button>
            <div class="extension">
                <mat-menu #menu class="extMenu">

                  <button mat-menu-item *ngIf="userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT')" (click)="addToProject(addBeneficiaries)">
                    {{language.beneficiaries_add_list}}
                  </button>
                  <button mat-menu-item *ngIf="canDelete" (click)="deleteSelected()">
                    {{language.delete | titlecase}}
                  </button>
                </mat-menu>
            </div>
          
          <div class="button-with-extension" [ngClass]="{'arabic':languageService.languageToString(language)==='ar'}">
            <button mat-raised-button [disabled]="!(dataSource.length$ | async)" *ngIf="userService.hasRights('ROLE_BENEFICIARY_EXPORT') && !loadingExport" class="button-background-primary" (click)="export()" [matBadge]="getNumberToExport()">
              <mat-icon>get_app</mat-icon>
              <span>{{language.export | titlecase}}</span>
            </button>
            <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
            <div class="extension" *ngIf="userService.hasRights('ROLE_BENEFICIARY_EXPORT') && !loadingExport">
              <button mat-raised-button class="dropdown button-background-primary" [matMenuTriggerFor]="exportType" [disabled]="!(dataSource.length$ | async)">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #exportType>
                <button mat-menu-item (click)="setType('xls')"> .xls <mat-icon *ngIf="extensionType=='xls'">done</mat-icon>
                </button>
                <button mat-menu-item (click)="setType('csv')"> .csv <mat-icon *ngIf="extensionType=='csv'">done</mat-icon>
                </button>
                <button mat-menu-item (click)="setType('ods')"> .ods <mat-icon *ngIf="extensionType=='ods'">done</mat-icon>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>

        <div class="add-buttons" [ngClass]="{'add-buttons-arabic': languageService.languageToString(language)==='ar', 'add-buttons-mobile': currentDisplayType.type === 'mobile'}" (mouseenter)="currentDisplayType.type !== 'mobile' && this.addToggled = true" (mouseleave)="currentDisplayType.type !== 'mobile' && this.addToggled = false">
          <div class="toggled-buttons" [ngClass]="{'toggled': addToggled}">
            <button mat-raised-button class="button-background-accent" routerLink="/beneficiaries/import">
              <mat-icon>publish</mat-icon>
              <span>{{language.import | titlecase}}</span>
            </button>
            <button mat-raised-button class="button-background-accent" (click)="addOneHousehold()">
              <mat-icon>group_add</mat-icon>
              <span>{{language.add_beneficiary_title | titlecase}}</span>
            </button>
          </div>
        </div>
        <button *ngIf="currentDisplayType.type !== 'mobile' && userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_READ')" mat-raised-button class="add-button-create" (click)="toggleAddButtons()">
          <mat-icon>add</mat-icon>
          {{language.create | titlecase}}
        </button>
        <button mat-fab *ngIf="currentDisplayType.type === 'mobile' && userService.hasRights('ROLE_BENEFICIARY_MANAGEMENT_READ')" class="add-button" [ngClass]="{'add-button-arabic': languageService.languageToString(language)==='ar'}" (click)="toggleAddButtons()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="content-table">
          <app-table-server *ngIf="currentDisplayType.type !== 'mobile'" selectable="true" [selection]="selection" (selectChecked)="getChecked($event)" [deletable]='canDelete' [entity]="referedClassToken" [service]="householdsService" [data]="dataSource" [updatable]="canEdit" (openModal)="openDialog($event)"></app-table-server>
          <app-table-mobile-server *ngIf="currentDisplayType.type === 'mobile'" [deletable]='canDelete' [entity]="referedClassToken" [service]="householdsService" [data]="dataSource" [updatable]="canEdit" (openModal)="openDialog($event)"></app-table-mobile-server>
      </div>
    </div>
  </div>
</div>

<ng-template #addBeneficiaries>
  <mat-dialog-content class="modal-container">
    <h4 class="modal-title underline-accent stickyHeader">{{language.beneficiaries_add_distribution}}</h4>
    <div class="dialog-template">
      <div class="modal-body">
        <p> {{language.beneficiaries_add_project}} {{ checkedElements.length }}
          {{language.beneficiaries_selected_project}}</p>
        <div class="selectBeneficiaries">
          <ng-select [formControl]="projectAddControl" class="single-select" [multiple]="false" [searchable]=true [closeOnSelect]="true" placeholder="{{language.projects | titlecase}}">
            <ng-option class="options" *ngFor="let project of projectsList" [value]="project.id">
              {{project.name}}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="modal-button action-buttons stickyFooter"  [ngClass]="{'arabic':languageService.languageToString(language)==='ar'}">
        <button mat-button class="cancel" (click)="dialog.closeAll()">{{language.cancel}}</button>
        <button mat-raised-button class="button-background-accent" [disabled]="!projectAddControl.valid" (click)="confirmAdding()">{{language.transaction_confirm_button}}</button>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
