@import '../../../assets/css/variable.scss'; 

.container-icons{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 15vh;
    justify-content: center;
    transition: none !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;

    button{
        width:100%;
        border:0;
        border-radius: 0;
        padding: 1vh;
        display: flex;
        background: none;

        .icon{
            height: 10vh;
            width: 10vh;  
            display:inline-block;
            border-bottom: solid 0.2vh #f0fff090;
            align-self: center !important; 
            padding-bottom: 1vh;
            position: fixed;
        }

        .small-icon{
            height: 8vh;
            width: 8vh;  
        }

        .icon-title{
            align-self: center;
        } 
    
        .icon-last{
            border-bottom: 0 !important;                
        }
    
        h3{
            margin-left: 10vh;
            color: #f0fff090;
            padding-left: 1.5vh;    
            padding-right: 1.5vh;  
            font-family: $bms_font_header;  
            font-size : 2vh;
            align-self: center;           
            padding-bottom: 10px;

            &.menuHoverTitle{
                opacity: 0;
            }
        }
       
        &:hover{
            cursor: pointer;
            
            h3{
                color: white !important;
            }
        }
    
        &.active-button{
            h3{
                color: $bms_red !important;
            }
        }
    }
}

.menuHover{
    border-bottom: solid 0px #f0fff090 !important;    
}