@import '../../../assets/css/variable.scss'; 

.container-icons{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 15vh;
    justify-content: center;
    transition: none !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;

    button{
        width:100%;
        height: 10vh;
        border:0;
        border-radius: 0;
        padding: 1vh;
        display: flex;
        flex-wrap: wrap;
        background: none;
        align-items: center;
        .icon{
            width: 10vh;  
            border-bottom: solid 0.2vh #f0fff090;
            position: fixed;
        }

        .small-icon{
            height: 8vh;
            width: 8vh;  
        }

        .icon-title{
            padding-left: 1vh; 
            margin-left: 10vh;
            color: #f0fff090;
            font-family: $bms_font_header;  
            font-size : 15px;

            &.menuHoverTitle{
                opacity: 0;
            }
        } 
    
        .icon-last{
            border-bottom: 0 !important;                
        }
       
        &:hover{
            cursor: pointer;
            
            h3{
                color: white !important;
            }
        }
    
        &.active-button{
            h3{
                color: $bms_red !important;
            }
        }
    }
}

.menuHover{
    border-bottom: solid 0px #f0fff090 !important;    
}