@import '../../../assets/css/variable.scss'; 

app-box-setting{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-grow: 4;
    width : 200px;
    height : 80px;
    min-width: 190px;
    &.isLast{
        margin-right: 0px !important;
    }
}

.add-project {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    width : 100px;
    min-width: 180px !important;
    height : 80px;
    min-width: 95px;
    background-color: $bms_light_grey;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    margin-right: 10px;

    &:hover {
        cursor: pointer;
    }
    
    .icon-content {
        height: 100%;
        width: 30%;
        background-color: $bms_red;
        overflow: hidden;
        text-align: center;

        mat-icon {
            width:70%;
            height:70%;
            font-size: 45px;
            color: white;
            vertical-align: middle;
            margin-top: 19%;
        }
    }

    .title {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 50 !important;
    }
}
    
app-table-distribution{
    width: 100%;
    height: 100%;
}

app-table-mobile-distribution{
    width: 100%;
    height: 100%;
}

.export-button-container{
    display: flex;
    justify-content: flex-start;
}

.properties-displayed{
    display: flex;
    flex-grow: 1;
}

button{
    color: $bms_white;
    background-color: $bms_red;
    

    &.export-button{
        background-color: $bms_green !important;
        height: 40px;
    }

    &.add-button{
        width: 50px;
        height: 50px;
    }

    span{
        font-family: $bms_font_text;
        padding-left:20px;
    }
}

.container-content {
    border-top: solid 12px $bms_green;
}

.waitingDataContainer {
    width:100%;
    text-align: center;
    margin-left: 45%;
    font-size: 20px;
  }

  .import-export {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 40px;

    .import-button {
        margin-left: 5px;
    }
    .export-button {
        background-color: $bms_green !important;
        height: 40px;
        margin-right: 0px;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .extension {
        width: 30px;
        text-align: center;
        height: 36px;

        .dropdown {
            background-color: $bms_green;
            height: 100%;
            width: 20px !important;
            padding: 2px !important;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-left: solid 1px $bms_light_grey;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3); 
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }

            mat-icon {
                float: left !important;
                margin: auto;
                color: white;
            }
        }
    }
}

.mat-menu-item {
    background-color: white;
    color: black;

    &:hover {
        background-color: $bms_green;
        color: white;
        font-weight: bold;
    }

    mat-icon {
        margin-left: 10px;
    }
}

//for mobile screen
@media only screen and (max-width: 750px){
    .content-button{
        flex-direction: column !important;
    }
    .properties-displayed{
      width : 100% !important;
    }

    .export-button-container{
        width : 100% !important;
    }
    button{
        &.add-button{
            position: fixed;
            bottom: 20px;
            left: 80%;
            z-index: 1000;
        }

        
    }       
}