<!-- TABLE -->
<div class="table-container">
    <div class="noDataContainer" *ngIf="!filled">
        <h3>
            <mat-icon>clear</mat-icon>
            No data available
        </h3>
    </div>
    <div class="container-header" *ngIf="filled">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{table.table_filter}}">
        </mat-form-field>
    </div>
    <div *ngIf="filled">
        <table *ngFor="let element of data._renderData._value" class="box-element">
            <tbody>
                <tr *ngFor="let property of properties" routerLink="/projects/distributions/{{element.id}}" class="cursor-pointer">
                    <td class="element-value">
                        <span> {{mapperService.mapTitle(property)}}</span>
                    </td>
                    <td>
                        <span *ngIf="propertiesTypes[property]=='image'">
                            <app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)"
                                [name]="image"></app-icon-svg>
                        </span>
                        <span *ngIf="propertiesTypes[property]=='png'">
                            <img *ngFor="let image of mapperService.mapValue(element, property)" class="png" src={{mapperService.mapValue(element,property)}}>
                        </span>
                        <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element,
                            property)}}</span>
                    </td>
                    <td *ngIf="propertiesTypes[property]=='png'">
                        <img class="png" src={{mapperService.mapValue(element,property)}}>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <div class="validated-distribution" *ngIf="element.validated" >
                    <button mat-icon-button class="green" routerLink="/projects/distributions/{{element.id}}">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
                    <button mat-icon-button class="blue" *ngIf="!element.validated" routerLink="/projects/distributions/{{element.id}}">
                        <mat-icon inline=true>search</mat-icon>
                    </button>
                    <button *ngIf="!mapperService.mapValue(element, 'validated') && !element.validated" mat-button
                        class="light-red" (click)="openDialog('update', element); $event.stopPropagation()">
                        <mat-icon inline=true>edit</mat-icon>
                    </button>
                    <button *ngIf="!mapperService.mapValue(element, 'validated') && !element.validated" mat-button
                        class="red" (click)="openDialog('delete', element); $event.stopPropagation()">
                        <mat-icon inline=true>close</mat-icon>
                    </button>
            </tfoot>
        </table>
    </div>
    <mat-paginator *ngIf="filled" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>