<!-- TABLE -->
<div class="table-container">
    <div *ngIf="filled==false" class="noDataContainer">
        <h3>
            <mat-icon>clear</mat-icon>
            {{table.no_data}}
        </h3>
    </div>

    <div class="container-header" *ngIf="filled==true">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{table.table_filter}}">
        </mat-form-field>
    </div>

    <div *ngIf="filled === true && data && data.data" style="max-height: 370px; overflow: auto;">
        <table mat-table [dataSource]="data" matSort>
            <ng-container matColumnDef="check" *ngIf="checkbox">
                <th mat-header-cell class="header-cell" *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                    </mat-checkbox>
                </th>
                <td mat-cell class="content-cell" *matCellDef="let element">
                    <mat-checkbox *ngIf="!element.used" (click)="$event.stopPropagation()" (change)="selectCheck($event, element)" [checked]="selection.isSelected(element)"
                        color="primary">
                    </mat-checkbox>
                    <i class="material-icons" *ngIf="element.used">check</i>
                </td>
            </ng-container>
            <ng-container *ngFor="let property of properties" matColumnDef="{{property}}">
                <th mat-header-cell *matHeaderCellDef id="table-header" mat-sort-header>
                    {{mapperService.mapTitle(property)}}</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="propertiesTypes[property]=='image'">
                        <app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)"
                            [name]="image"></app-icon-svg>
                    </span>
                    <span *ngIf="propertiesTypes[property]=='png'">
                        <img *ngFor="let image of mapperService.mapValue(element, property)" class="png" [src]="image">
                    </span>
                    <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png' ">{{mapperService.mapValue(element,
                        property)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell class="header-cell" *matHeaderCellDef>{{table.table_actions | titlecase }}</th>
                <td mat-cell class="content-cell" *matCellDef="let element">
                    <button *ngIf="editable" mat-icon-button class="green" (click)="openDialog('update', element); $event.stopPropagation()"
                        [matTooltip]="table.details">
                        <mat-icon>search</mat-icon>
                    </button>

                    <button *ngIf="deletable" mat-icon-button (click)="openDialog('delete', element); $event.stopPropagation()"
                        [matTooltip]="table.delete" class="red">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button *ngIf="printable" mat-icon-button (click)="print(element); $event.stopPropagation()"
                        [matTooltip]="'print'" class="grey" [disabled]="!isPrintable(element)">
                        <mat-icon>printer</mat-icon>
                    </button>
                    <button mat-icon-button [matTooltip]="'assign'" *ngIf="assignable" (click)="assign(element); $event.stopPropagation()" class="grey" [disabled]="!isAssignable(element)">
                        <mat-icon>assignment</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="propertiesActions; sticky: true;" class="header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: propertiesActions; let element" class="single-row cursor-pointer"
                (click)="openDialog('details', element)"></tr>
        </table>
    </div>

    <div class="no-data-container" *ngIf="!data || !data._data || !data._data.value">
        <div class="loadingContent">
            <h4 class="no-data">
                <mat-icon>cloud_off</mat-icon>
                <span> {{table.no_data}} </span>
            </h4>
        </div>
    </div>

    <mat-paginator *ngIf="filled==true" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>


<td mat-cell *matCellDef="let element">
    <app-icon-svg *ngIf="propertiesTypes[property]=='image'" class="icon" [name]="mapperService.mapValue(element, property)"></app-icon-svg>
    <span class="icon" *ngIf="propertiesTypes[property]=='png'">
        <img src={{mapperService.mapValue(element,property)}}>
    </span>
    <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element,
        property)}}</span>
</td>