<div class="page-container">
  <div class="container-title">
    <h2>{{error.not_found | titlecase}}</h2>
  </div>
  <div class="container-table">
      <div class="container-content box-red">
          <div class="content-table">
              <div>
                <mat-card>
                    <div>
                        <h4>{{error.not_found_message}}</h4>
                    </div>
                </mat-card>
              </div>
          </div>
          <div class="content-button-footer">
              <button mat-raised-button routerLink="/">
                  <mat-icon>backspace</mat-icon>
                  <span> {{error.back_to_homepage | titlecase }}</span>
              </button>
          </div>
      </div>
  </div>
</div>
