@import '../../../../assets/css/variable.scss'; 

.content-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    color: $bms_white;
    background-color: $bms_green;
    .clicked {
        background-color: $bms_dark_grey !important;
    }
}

.box-green{
    border-left: solid 12px $bms_green;
}

.content-validation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectOld {
    margin-bottom: 1vh;
}

.selectNew {
    margin-top: 1vh;
}

.mat-checkbox {
    margin: 0 4vw 0 0;
}

.select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .select-button {
        width: 7vw;
    }
}

.mat-checkbox {
    display: flex;
}

.mat-divider {
    width: 90%;
}

.dataToCompare {
    flex-grow: 1;
}

//for mobile screen
@media only screen and (max-width: 750px){

   .content-button {
       width: 100%;
       display: flex;
       flex-grow: 1;
       flex-wrap: wrap;
   }

   button {
       font-size: 3vw;
       width: 40%;
       margin-bottom: 10%;
   }
}



