<div class="page-container">
    <div class="container-title">
        <h2>DATA VERIFICATION AND VALIDATION</h2>
    </div>

    <div class="content-button">
        <button mat-button (click)="selectAll()" *ngIf="check == false" >SELECT ALL</button>
        <button mat-button (click)="selectAll()" *ngIf="check == true" >DESELECT ALL</button>
        <button mat-button (click)="keepExisting()" >KEEP EXISTING</button>
        <button mat-button (click)="replaceWithNew()" >REPLACE WITH NEW</button>
        <button mat-button (click)="validate()" >VALIDATE</button>
    </div>

    <div class="container-table" *ngFor="let data of datas">
        <div class="container-content box-green">
            <div class="content-table">
                <mat-checkbox [checked]="check" color="warn" (change)="allChecked($event)">
                </mat-checkbox>
                <div class="content-validation" >
                    <div class="select selectOld">
                        <div class="dataToCompare">{{data.old.name}}</div>
                        <div class="dataToCompare">{{data.old.address}}</div>
                        <div class="dataToCompare">{{data.old.location}}</div>
                        <button mat-button class="select-button">Select old</button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="select selectNew">
                        <div class="dataToCompare">{{data.new.name}}</div>
                        <div class="dataToCompare">{{data.new.address}}</div>
                        <div class="dataToCompare">{{data.new.location}}</div>
                        <button mat-button class="select-button">Select new </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>