@import '../../../../assets/css/variable.scss'; 


.mat-stepper-horizontal {
    display: block;
    width: 100%;
    .fas {
        color: white;
    }
    .container-table {
        padding: 0px;
        .box-green{
            border-top: solid 12px $bms_green;
            .content-button{
                justify-content: end !important;
                .next{
                    font-weight: 900;
                    margin-right: 0.8vw;
                 }
            } 
            .content-table {
                flex-wrap: wrap;
                justify-content: space-evenly;
                .mat-card {
                    display: flex;
                    width: 15%;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 0.5vw;
                    margin-right: 0.5vw;
                    margin-bottom: 2vw;
                    .mat-chip-list {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        .mat-chip {
                            font-size: 1vh;
                            padding: 1px 8px;
                            margin: 4px 4px 13px 4px;
                        }
                    }
                    .mat-card-content {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        .mat-divider {
                            position: relative !important;
                            margin: 10px 0px 10px 0px;
                        }                
                        .householdData {
                            width: 100%;
                            text-align: center;
                            flex-grow: 1;
                            height: 50%;
                            display: flex;
                            flex-direction: row;
                            .content-householdData {
                                width: 100%
                            }
                            .content-beneficiariesData{
                                display: flex;
                                justify-content: center;
                                width: 100%;
                            }
                            .dataToCompare {
                                font-size: 1.2vh;
                            }
                            .mat-checkbox {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }  
    }
    button{
        color: $bms_white;
        background-color: $bms_green;
       
    }
}

.no-data-box{
    border: solid 2px black;
    border-radius: 80px;
    text-align: center;
    justify-content: center;
    padding: 3%;
    margin: 5em 6em 5em 6em;
    display: flex;
    width: 100%;
  
    .box-title{
      display: flex;
      font-style: bold;
      font-size: 50px;
      font-family: Lato,Helvetica,Arial,sans-serif;
    }
  }


//for mobile screen
@media only screen and (max-width: 750px){



}



