@import '../../../../assets/css/variable.scss'; 

.content-button {
    width: 100%;
    display: flex !important;
    justify-content: space-around !important;
    padding: 0px
}

button {
    color: $bms_white;
    background-color: $bms_green;
}

.clicked {
    background-color: $bms_dark_grey !important;
}

.box-green{
    border-top: solid 12px $bms_green;
}

.content-validation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectOld {
    margin-bottom: 1vh;
}

.selectNew {
    margin-top: 1vh;
}

.mat-checkbox {
    margin: 0 4vw 0 0;
}

.content-data {
    display: flex;
    flex-direction: row;
}

.select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 23vh;
    .select-button {
        width: 9vw;
    }
}

.mat-checkbox {
    display: flex;
}

.mat-divider {
    width: 85%;
}

.dataToCompare {
    flex-grow: 1;
    width: 50%;
}

.mat-radio-group{
    display: flex;
    align-items: center;
}

.container-table {
    flex-grow: 1;
    width: auto;
}

.mat-card {
    flex-grow: 1;
    background-color: $bms_light_grey;
}

.page-container {
    width: auto
}

.mat-accordion {
    width: 80%;
}

.mat-card-button {
    margin-bottom: 3vh;
}

//for mobile screen
@media only screen and (max-width: 750px){

   .content-button {
       width: 100%;
       display: flex;
       flex-grow: 1;
       flex-wrap: wrap;
   }

   button {
       font-size: 3vw;
       width: 40%;
       margin-bottom: 10%;
   }
}



