
.modal-table {
    flex-direction: row;
    align-items: flex-end;
    .modal-row {
      width: unset;
      margin-right: 20px;
    }
  
  
    .advanced-icon {
        text-align: right;
        margin-left: -16px;
    }
  
  
  }
  
  //for mobile screen
  @media only screen and (max-width: 750px) {
    .modal-row {
      width: 100% !important;
      form {
        width: 100%;
        .mat-form-field {
          width: 100%;
        }
      }
    }
  }