<div class="modal-container">
  <h4 class="modal-title underline-accent stickyHeader">{{modal.modal_projects_title}}</h4>
  <div class="modal-table" cdkFocusRegionstart>
    <span class="language-text">{{modal.modal_projects_project}}</span>
    <div class="select-container">
      <mat-select [(ngModel)]="project" [formControl]="controls" class="button-flag">
        <mat-option *ngFor="let p of projects" [value]="p">
          {{p | titlecase}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="modal-button action-buttons stickyFooter">
    <button mat-button (click)="closeDialog()" class="button-text-accent">{{modal.close}}</button>
    <button mat-raised-button (click)="save()" class="button-background-accent">{{modal.save}}</button>
  </div>
</div>
