<div class="table-container">
    <div class="noDataContainer" *ngIf="!tableServerData">
        <h3>
            <mat-icon>clear</mat-icon>
            {{language.no_data}}
        </h3>
    </div>

    <div class="container-header" *ngIf="tableServerData">
        <mat-form-field>
            <input matInput (keyup)="applySpecificFilter($event.target.value, 'any')"
                placeholder="{{language.table_filter | titlecase}}">
        </mat-form-field>
    </div>

    <div *ngIf="filtersForm && advancedResearch">
        <form [formGroup]="filtersForm" class="filters">
            <ng-container *ngFor="let fieldName of filterFields">
                <div *ngIf="display(filters.fields[fieldName]); let field" class="filter-fields">
                    <ng-container *ngIf="field.kindOfField === 'MultipleSelect'; else isSingleSelect">
                        <ng-select [formControlName]="fieldName" [placeholder]="field.title | titlecase" [multiple]="true"
                            [closeOnSelect]="false">
                            <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                {{option.get(field.bindField) | titlecase}}
                            </ng-option>
                        </ng-select>
                    </ng-container>

                    <ng-template #isSingleSelect>
                        <ng-container *ngIf="field.kindOfField === 'SingleSelect'; else isMaterialField">
                            <ng-select [formControlName]="fieldName" [placeholder]="field.title | titlecase">
                                <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                    {{option.get(field.bindField) | titlecase}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </ng-template>

                    <ng-template #isMaterialField>
                        <mat-form-field
                            *ngIf="field.kindOfField !== 'Object' && field.kindOfField !== 'MultipleObject'; else isObject">
                            <ng-container *ngIf="field.kindOfField === 'Text'; else checkForDateField">
                                <input *ngIf="field.isPassword; else checkForTextArea" [placeholder]="field.title | titlecase"
                                    matInput type="password" [formControlName]="fieldName" autocomplete="new-password">

                                <ng-template #checkForTextArea>
                                    <ng-container *ngIf="field.isLongText; else checkForTextInput">
                                        <textarea matInput type="text" [formControlName]="fieldName"
                                            [placeholder]="field.title | titlecase"></textarea>
                                    </ng-container>
                                </ng-template>

                                <ng-template #checkForTextInput>
                                    <input matInput type="text" [formControlName]="fieldName"
                                        [placeholder]="field.title | titlecase">
                                </ng-template>
                            </ng-container>


                            <ng-template #checkForDateField>
                                <ng-container *ngIf="field.kindOfField === 'Date'; else checkForNumberField">
                                    <input matInput [matDatepicker]="picker" [formControlName]="fieldName"
                                        [placeholder]="field.title | titlecase">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </ng-container>
                            </ng-template>

                            <ng-template #checkForNumberField>
                                <ng-container *ngIf="field.kindOfField === 'Number'">
                                    <input matInput type="number" [formControlName]="fieldName">
                                </ng-container>
                            </ng-template>
                            <mat-error
                                *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('required')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('required'))">
                                {{ fieldName | titlecase}} is required
                            </mat-error>
                            <mat-error
                                *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('pattern')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('pattern'))">
                                {{field.hint | titlecase}}
                            </mat-error>
                            <mat-hint align="start" *ngIf="field.hint && modalType !== 'Details'">
                                <strong>{{field.hint | titlecase}}</strong> </mat-hint>
                        </mat-form-field>
                    </ng-template>
                </div>
            </ng-container>
        </form>
    </div>

    <div class="buttons-search-clear">
        <button mat-raised-button class="button-text-accent" (click)="showAdvancedResearch()">
            <mat-icon *ngIf="!advancedResearch">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="advancedResearch">keyboard_arrow_up</mat-icon>
            {{language.beneficiaries_advanced_research | titlecase}}
        </button>
        <button *ngIf="advancedResearch" mat-raised-button class="button-text-accent" (click)="clearSearch()">
            <mat-icon>clear</mat-icon>
            {{language.beneficiaries_clear_all_research | titlecase}}
        </button>
    </div>

    <div class="spinner-container" *ngIf="tableServerData.loading$ | async; else dataInTable">
        <mat-spinner></mat-spinner>
    </div>

    <ng-template #dataInTable>
        <table *ngFor="let element of tableServerData.data$ | async" class="box-element">
            <tbody>
                <tr *ngFor="let property of displayProperties" (click)="openDialog('details', element)"
                    class="cursor-pointer">
                    <td class="element-value">
                        <span> {{entityInstance.fields[property].title}}</span>
                    </td>
                    <td class="element-value" *ngIf="element.fields[property]; let field">
                        <app-display-field [field]="field" [element]="element"></app-display-field>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <ng-container *ngIf="validatable">
                    <button mat-button (click)="openDialog('visit', element); $event.stopPropagation();" class="light-red">
                        <mat-icon *ngIf="element.get('validated') && element.get('finished')">done</mat-icon>
                        <mat-icon *ngIf="element.get('validated') && !element.get('finished')">lock</mat-icon>
                        <mat-icon *ngIf="!element.get('validated') && updatable">edit</mat-icon>
                    </button>
                </ng-container>
                <button mat-button *ngIf="!validatable && updatable"
                    (click)="openDialog('visit', element); $event.stopPropagation();" class="light-red">
                    <mat-icon inline=true>edit</mat-icon>
                </button>

                <button mat-button (click)="requestLogs(element); $event.stopPropagation()" *ngIf="loggable" class="grey">
                    <mat-icon>history</mat-icon>
                </button>

                <button *ngIf="editable && rights && (!validatable || !element.get('validated'))" mat-button
                    (click)="openDialog('edit', element); $event.stopPropagation()" class="green">
                    <mat-icon>search</mat-icon>
                </button>
                <button *ngIf="rights && deletable && (!validatable || !element.get('validated'))" mat-button
                    (click)="openDialog('delete', element); $event.stopPropagation()" class="red">
                    <mat-icon>close</mat-icon>
                </button>
                <button *ngIf="printable" mat-button (click)="print(element); $event.stopPropagation()" class="grey"
                    [disabled]="!element.isPrintable()">
                    <mat-icon>description</mat-icon>
                </button>
                <button mat-button *ngIf="assignable" (click)="assign(element); $event.stopPropagation()" class="grey"
                    [disabled]="!element.isAssignable()">
                    <mat-icon>assignment</mat-icon>
                </button>
            </tfoot>
        </table>
    </ng-template>

    <mat-paginator [length]="tableServerData.length$ | async" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10"
        showFirstLastButtons></mat-paginator>
</div>
