<div class="table-container">
    <div class="noDataContainer" *ngIf="!tableServerData">
        <h3>
            <mat-icon>cloud_off</mat-icon>
            {{language.no_data}}
        </h3>
    </div>

    <div class="container-header" *ngIf="tableServerData">
        <mat-form-field>
            <input matInput (keyup)="applySpecificFilter($event.target.value, 'any')"
                placeholder="{{language.table_filter | uppercaseFirst}}">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="filtersForm && advancedResearch">
        <form [formGroup]="filtersForm" class="filters">
            <ng-container *ngFor="let fieldName of filterFields">
                <div *ngIf="display(filters.fields[fieldName]); let field" class="filter-fields">
                    <ng-container *ngIf="field.kindOfField === 'MultipleSelect'; else isSingleSelect">
                        <ng-select [formControlName]="fieldName" [placeholder]="field.title | uppercaseFirst" [multiple]="true"
                            [closeOnSelect]="false">
                            <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                {{option.get(field.bindField) | uppercaseFirst}}
                            </ng-option>
                        </ng-select>
                    </ng-container>

                    <ng-template #isSingleSelect>
                        <ng-container *ngIf="field.kindOfField === 'SingleSelect'; else isMaterialField">
                            <ng-select [formControlName]="fieldName" [placeholder]="field.title | uppercaseFirst">
                                <ng-option *ngFor="let option of field.options" [value]="option.get('id')">
                                    {{option.get(field.bindField) | uppercaseFirst}}
                                </ng-option>
                            </ng-select>
                        </ng-container>
                    </ng-template>

                    <ng-template #isMaterialField>
                        <mat-form-field
                            *ngIf="field.kindOfField !== 'Object' && field.kindOfField !== 'MultipleObject'; else isObject">
                            <ng-container *ngIf="field.kindOfField === 'Text'; else checkForDateField">
                                <input *ngIf="field.isPassword; else checkForTextArea" [placeholder]="field.title | uppercaseFirst"
                                    matInput type="password" [formControlName]="fieldName" autocomplete="new-password">

                                <ng-template #checkForTextArea>
                                    <ng-container *ngIf="field.isLongText; else checkForTextInput">
                                        <textarea matInput type="text" [formControlName]="fieldName"
                                            [placeholder]="field.title | uppercaseFirst"></textarea>
                                    </ng-container>
                                </ng-template>

                                <ng-template #checkForTextInput>
                                    <input matInput type="text" [formControlName]="fieldName"
                                        [placeholder]="field.title | uppercaseFirst">
                                </ng-template>
                            </ng-container>


                            <ng-template #checkForDateField>
                                <ng-container *ngIf="field.kindOfField === 'Date'; else checkForNumberField">
                                    <input matInput [matDatepicker]="picker" [formControlName]="fieldName"
                                        [placeholder]="field.title | uppercaseFirst">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </ng-container>
                            </ng-template>

                            <ng-template #checkForNumberField>
                                <ng-container *ngIf="field.kindOfField === 'Number'">
                                    <input matInput type="number" [formControlName]="fieldName">
                                </ng-container>
                            </ng-template>
                            <mat-error
                                *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('required')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('required'))">
                                {{ fieldName | uppercaseFirst}} is required
                            </mat-error>
                            <mat-error
                                *ngIf="(form.controls[fieldName] && form.controls[fieldName].hasError('pattern')) || (form.controls[fieldName + '0'] && form.controls[fieldName + '0'].hasError('pattern'))">
                                {{field.hint | uppercaseFirst}}
                            </mat-error>
                            <mat-hint align="start" *ngIf="field.hint && modalType !== 'Details'">
                                <strong>{{field.hint | uppercaseFirst}}</strong> </mat-hint>
                        </mat-form-field>
                    </ng-template>
                </div>
            </ng-container>
        </form>
    </div>

    <div class="buttons-search-clear">
        <button mat-flat-button class="button-text-accent" (click)="showAdvancedResearch()">
            <mat-icon *ngIf="!advancedResearch">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="advancedResearch">keyboard_arrow_up</mat-icon>
            {{language.beneficiary_advanced_research | uppercaseFirst}}
        </button>
        <button *ngIf="advancedResearch" mat-flat-button class="button-text-accent" (click)="clearSearch()">
            <mat-icon>clear</mat-icon>
            {{language.beneficiary_clear_all_research | uppercaseFirst}}
        </button>
    </div>

    <div class="spinner-container" *ngIf="tableServerData.loading$ | async; else dataInTable">
        <mat-spinner></mat-spinner>
    </div>

    <ng-template #dataInTable>
        <div *ngFor="let element of tableServerData.data$ | async" class="table-entry">
            <div class="table-properties" (click)="openDialog('details', element)"
                appMobilePress (longPressedAndReleased)="toggleCheck(element)"
                [ngClass]="{'checked': selection.selected.includes(element)}">
                <div *ngFor="let property of displayProperties" class="table-property">
                    <div class="element-title">
                        <span> {{entityInstance.fields[property].title | uppercaseFirst}}</span>
                    </div>
                    <div class="element-value" *ngIf="element.fields[property]; let field">
                        <app-display-field [field]="field" [element]="element"></app-display-field>
                    </div>
                </div>
            </div>
            <div class="actions">
                <ng-container *ngIf="validatable">
                    <button mat-button (click)="openDialog('visit', element); $event.stopPropagation();" class="blue">
                        <mat-icon *ngIf="element.get('validated') && element.get('finished')">done</mat-icon>
                        <mat-icon *ngIf="element.get('validated') && !element.get('finished')">lock</mat-icon>
                        <mat-icon *ngIf="!element.get('validated') && updatable">edit</mat-icon>
                    </button>
                </ng-container>
                <button mat-button *ngIf="!validatable && updatable"
                    (click)="openDialog('visit', element); $event.stopPropagation();" class="blue">
                    <mat-icon inline=true>edit</mat-icon>
                </button>

                <button mat-button (click)="requestLogs(element); $event.stopPropagation()" *ngIf="loggable" class="grey">
                    <mat-icon>history</mat-icon>
                </button>

                <button *ngIf="editable && (!validatable || !element.get('validated'))" mat-button
                    (click)="openDialog('edit', element); $event.stopPropagation()" class="green">
                    <mat-icon>search</mat-icon>
                </button>
                <button *ngIf="deletable && (!validatable || !element.get('validated'))" mat-button
                    (click)="openDialog('delete', element); $event.stopPropagation()" class="red">
                    <mat-icon>close</mat-icon>
                </button>
                <button *ngIf="printable" mat-button (click)="print(element); $event.stopPropagation()" class="grey"
                    [disabled]="!element.isPrintable()">
                    <mat-icon>description</mat-icon>
                </button>
                <button mat-button *ngIf="assignable" (click)="assign(element); $event.stopPropagation()" class="grey"
                    [disabled]="!element.isAssignable()">
                    <mat-icon>assignment</mat-icon>
                </button>
            </div>
        </div>
    </ng-template>

    <mat-paginator [length]="tableServerData.length$ | async" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10"
        showFirstLastButtons></mat-paginator>
</div>
