@import "../../../../assets/css/variable.scss";

.placeholder-container {
    width:95%;
    margin: 2.5%;
    margin-top: 5px !important;
    height: 100%;

    .placeholder-stepper-header {
        width: 100%;
        height: 65px;
        background: $bms_dark_grey;
        animation: wave 2s ease-in-out 0s infinite;
        margin-bottom: 30px;
        border-radius: 3px;
    }

    app-placeholder-panel {
        width: 100% !important;
        height: 500px !important;
    }

}

@media only screen and (max-width: 750px) {

    .placeholder-stepper-header {
        height: 0px !important;
        background: transparent;
        margin-bottom: 0px !important;
        border-radius: 3px;
    }
}