<!-- TABLE -->
<div class="table-container">
    <div class="noDataContainer" *ngIf="!filled">
        <h3>
            <mat-icon>clear</mat-icon>
            {{table.no_data}}
        </h3>
    </div>

    <div *ngIf="filled && data && data.data">
        <table mat-table [dataSource]="data" matSort matSortActive="date_distribution"
            matSortDirection="desc">
            <ng-container *ngFor="let property of properties" matColumnDef="{{property}}">

                <th mat-header-cell *matHeaderCellDef id="table-header" mat-sort-header>{{mapperService.mapTitle(property)}}</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="propertiesTypes[property]=='image'">
                        <app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)"
                            [name]="mapperService.mapValue(element, property)"></app-icon-svg>
                    </span>
                    <span *ngIf="propertiesTypes[property]=='png'"><img [matTooltip]="getImageName(mapperService.mapValue(element, property))"
                            class="png" [src]="mapperService.mapValue(element, property)"></span>
                    <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element,
                        property)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell class="header-cell" *matHeaderCellDef>{{table.table_actions | titlecase }}</th>
                <td mat-cell class="content-cell" *matCellDef="let element">
                    <div class="validated-distribution" *ngIf="element.validated && element.finished" (click)="openDialog('details', element); $event.stopPropagation()">
                        <mat-icon>done</mat-icon>
                    </div>
                    <div class="red" *ngIf="element.validated && !element.finished" (click)="openDialog('details', element); $event.stopPropagation()">
                        <mat-icon>lock</mat-icon>
                    </div>
                    <button mat-icon-button *ngIf="checkItemStateRights(element) && rightsEdit" (click)="openDialog('update', element); $event.stopPropagation()"
                        [matTooltip]="table.update" class="green">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="checkItemStateRights(element) && rights" (click)="openDialog('delete', element); $event.stopPropagation()"
                        [matTooltip]="table.delete" class="red">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="propertiesActions; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: propertiesActions; let element" class="distribution-details cursor-pointer"
                (click)="checkItemStateRights(element) && rightsEdit ? openDialog('update', element) : openDialog('details', element)"></tr>
        </table>
    </div>


    <div class="no-data-container" *ngIf="!data || !data.data || data._data._value == null || data.data.length === 0">
        <div class="loadingContent">
            <h4 class="no-data">
                <mat-icon>cloud_off</mat-icon>
                <span> {{table.no_data}} </span>
            </h4>
        </div>
    </div>

</div>