<!-- TABLE -->
<div class="table-container">
    <div *ngIf="filled==false" class="noDataContainer">
        <h3>
            <mat-icon>clear</mat-icon>
            {{table.no_data}}
        </h3>
    </div>

    <div class="container-header" *ngIf="filled==true">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{table.table_filter}}">
        </mat-form-field>
    </div>

    <div *ngIf="filled==true && data && data.data && data.data.length > 0" style="max-height: 370px; overflow: auto;">
        <table mat-table [dataSource]="data" matSort>

            <ng-container *ngFor="let property of properties" matColumnDef="{{property}}">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'integered':propertiesTypes[property]=='number'}">
                    {{mapperService.mapTitle(property)}}</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="propertiesTypes[property]=='image'">
                        <app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)"
                            [name]="image"></app-icon-svg>
                    </span>
                    <span *ngIf="propertiesTypes[property]=='png'">
                        <img [matTooltip]="getImageName(image)" *ngFor="let image of mapperService.mapValue(element, property)"
                            class="png" [src]="image">
                    </span>
                    <span *ngIf="property=='rights'">{{recoverRights(element)}}</span>
                    <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png' && property!='rights'">{{mapperService.mapValue(element,
                        property)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell class="header-cell" *matHeaderCellDef>{{table.table_actions | titlecase }}</th>
                <td mat-cell class="content-cell" *matCellDef="let element">
                    <button mat-icon-button (click)="requestLogs(element); $event.stopPropagation()" class="logsButton"
                        *ngIf="entityIsUser()" [matTooltip]="table.settings_log_button">
                        <mat-icon>history</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="entity.__classname__ != 'Financial Provider'" (click)="openDialog('update', element); $event.stopPropagation()"
                        class="green" [matTooltip]="table.details">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button *ngIf="editable && checkEntityUpdateRights() && rights" mat-icon-button (click)="openDialog('details', element); $event.stopPropagation()"
                        [matTooltip]="table.update" class="light-red">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="editable && rights && deletable" mat-icon-button (click)="openDialog('delete', element); $event.stopPropagation()"
                        [matTooltip]="table.delete" class="red">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="propertiesActions; sticky: true;" class="header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: propertiesActions; let element" class="single-row cursor-pointer"
                (click)="openDialog('details', element)"></tr>
        </table>
    </div>


    <div class="no-data-container" *ngIf="!data || !data._data || !data._data.value ||  data.data.length == 0">
        <div class="loadingContent">
            <h4 class="no-data">
                <mat-icon>cloud_off</mat-icon>
                <span> {{table.no_data}} </span>
            </h4>
        </div>
    </div>

    <mat-paginator *ngIf="filled==true" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>


<td mat-cell *matCellDef="let element">
    <app-icon-svg *ngIf="propertiesTypes[property]=='image'" class="icon" [name]="mapperService.mapValue(element, property)"></app-icon-svg>
    <span class="icon" *ngIf="propertiesTypes[property]=='png'">
        <img src={{mapperService.mapValue(element,property)}}>
    </span>
    <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element,
        property)}}</span>
</td>