<div class="modal-container">
  <h4 class="modal-title underline-accent">{{modal.modal_add_title}}{{entityDisplayedName | lowercase}}</h4>
  <table class="modal-table">
    <tr *ngFor="let p of properties">
      <div *ngIf="p != 'weight'" class="modal-row">
        <th class="table-title" *ngIf="p!='value_string'">{{mapperObject[p]}}</th>
        <th class="table-title" *ngIf="(p=='value_string')&&checkDataCriteria.type">{{mapperObject[p]}}</th>

        <th class="table-value">
          <form class="form" *ngIf="p!='value_string'">
            <mat-form-field class="full-width">
              <input matInput *ngIf="propertiesTypes[p]!='select' && propertiesTypes[p]!='selectCriteria' && propertiesTypes[p]!='number'"
                [(ngModel)]="newObject[p]" placeholder="{{mapperObject[p]}}" [ngModelOptions]="{standalone: true}"
                [type]="propertiesTypes[p]" required>

              <mat-select *ngIf="propertiesTypes[p]=='select'" [(ngModel)]="newObject[p]" placeholder="{{mapperObject[p]}}"
                [formControl]="controls" required>
                <mat-option *ngFor="let singleData of loadedData[p]; let i = index" [value]="i+1">{{singleData.field_string}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>

          <form class="form" *ngIf="(p=='value_string')&&checkDataCriteria.type">
            <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string === 'gender'">
              <mat-select placeholder="Gender" [formControl]="controls" (selectionChange)="genderOnChange($event)"
                required>
                <mat-option value="Woman">{{modal.add_distribution_female}}</mat-option>
                <mat-option value="Man">{{modal.add_distribution_male}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string === 'dateOfBirth'">
              <input matInput [matDatepicker]="dateDistribution" placeholder="Date" (dateChange)='selectDate($event)'
                required>
              <mat-datepicker-toggle matSuffix [for]="dateDistribution"></mat-datepicker-toggle>
              <mat-datepicker #dateDistribution></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string !== 'gender' && checkDataCriteria.field_string !== 'dateOfBirth'">
              <input matInput *ngIf="propertiesTypes[p]!='select'" [(ngModel)]="newObject[p]" placeholder="{{mapperObject[p]}}"
                [ngModelOptions]="{standalone: true}" [type]="checkDataCriteria.type" required>
            </mat-form-field>
          </form>
        </th>
      </div>
    </tr>

    <div class="advanced-icon">
      <mat-icon (click)="changeDisplay()">{{ iconAdvanced }}</mat-icon>
    </div>

    <tr *ngIf="displayWeight" class="modal-row">
      <th class="table-title">{{mapperObject['weight']}}</th>

      <th class="table-value">
        <form class="form" *ngIf="p!='value_string'">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="newObject['weight']" [ngModelOptions]="{standalone: true}" type="number" min="0">
          </mat-form-field>
        </form>
      </th>
    </tr>
  </table>
  <div class="modal-button action-buttons">
    <button mat-button (click)="closeDialog()" class="button-text-accent">{{modal.modal_cancel}}</button>
    <button mat-raised-button (click)="add()" class="button-background-accent">{{modal.modal_add}}</button>
  </div>
</div>