.modal-table {
  flex-direction: row;
  align-items: flex-end;
  .modal-row {
    width: unset;
    margin-right: 20px;
  }

  .advanced-icon {
      text-align: center;

      mat-icon {
        border: solid 1px black;
        border-radius: 100%;
        cursor: pointer;
      }
  }
}

//for mobile screen
@media only screen and (max-width: 750px) {
  .modal-row {
    width: 100% !important;
    form {
      width: 100%;
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
