.modal-table {
  flex-direction: row;
  align-items: flex-end;
  .modal-row {
    width: unset;
    margin-right: 20px;
  }

  .advanced-icon {
      text-align: center;
  }
}

.stickyHeader {
  position: sticky;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  z-index: 2;
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  background-color: white;
}

//for mobile screen
@media only screen and (max-width: 750px) {
  .modal-row {
    width: 100% !important;
    form {
      width: 100%;
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
