<div class="modal-container">
  <h4 class="modal-title underline-accent">{{modal.modal_add_title}}{{entityDisplayedName | lowercase}}</h4>
  <table class="modal-table">
    <th *ngFor="let p of properties" class="modal-row">
      <form *ngIf="p!='value_string'">
        <mat-form-field class="full-width">
          <input matInput *ngIf="propertiesTypes[p]!='select' && propertiesTypes[p]!='selectCriteria'" [(ngModel)]="newObject[p]"
            placeholder="{{mapperObject[p]}}" [ngModelOptions]="{standalone: true}" [type]="propertiesTypes[p]">
          <mat-select *ngIf="propertiesTypes[p]=='select'" [(ngModel)]="newObject[p]" placeholder="{{mapperObject[p]}}"
            [formControl]="controls">
            <mat-option *ngFor="let singleData of loadedData[p]; let i = index" [value]="i+1">{{singleData.field_string}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form *ngIf="(p=='value_string')&&checkDataCriteria.type">
        <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string === 'gender'">
          <mat-select placeholder="Gender" [formControl]="controls" (selectionChange)="genderOnChange($event)">
            <mat-option value="Woman">{{modal.add_distribution_female}}</mat-option>
            <mat-option value="Man">{{modal.add_distribution_male}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string === 'dateOfBirth'">
          <input matInput [matDatepicker]="dateDistribution" placeholder="Date" (dateChange)='selectDate($event)'>
          <mat-datepicker-toggle matSuffix [for]="dateDistribution"></mat-datepicker-toggle>
          <mat-datepicker #dateDistribution></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string !== 'gender' && checkDataCriteria.field_string !== 'dateOfBirth'">
          <input matInput *ngIf="propertiesTypes[p]!='select'" [(ngModel)]="newObject[p]" placeholder="{{mapperObject[p]}}"
            [ngModelOptions]="{standalone: true}" [type]="checkDataCriteria.type">
        </mat-form-field>
      </form>
    </th>
  </table>
  <div class="modal-button action-buttons">
    <button mat-button (click)="closeDialog()" class="button-text-accent">{{modal.modal_cancel}}</button>
    <button mat-raised-button (click)="add()" class="button-background-accent">{{modal.modal_create}}</button>
  </div>
</div>
