<div class="modal-container">
  <h4 class="modal-title underline-accent stickyHeader"[ngClass]="{'arabic': language==='ar'}" >{{modal.modal_add_title |titlecase }}{{entityDisplayedName | titlecase}}</h4>
  <table class="modal-table" [ngClass]="{'arabic': language==='ar'}">
    <tr *ngFor="let p of properties">
      <div *ngIf="p != 'weight'" class="modal-row">
        <th class="table-title" *ngIf="p!='value_string'">{{mapperObject[p]}}</th>
        <th class="table-title" *ngIf="(p=='value_string')&&checkDataCriteria.type">{{mapperObject[p]}}</th>

        <th class="table-value">
          <form class="form" *ngIf="p!='value_string'">
            <ng-select *ngIf="p=='field_string' && propertiesTypes[p]=='select'" class="single-select" [(ngModel)]="newObject[p]"
                          [multiple]="false" placeholder="{{mapperObject[p]}}" [closeOnSelect]="true"
                        [searchable]="true" [ngModelOptions]="{standalone: true}" required>
                <ng-option *ngFor="let item of loadedData[p]; let i= index" [value]="i+1">
                  {{item.field_string | humanize}}
                </ng-option>
              </ng-select>

              <ng-select class="full-width" *ngIf="p=='condition_string' && propertiesTypes[p]=='select'" [(ngModel)]="newObject[p]"
                placeholder="{{mapperObject[p]}}" [formControl]="controls" [disabled]="newObject['field_string'] && newObject['field_string'] === 8" required>
                <ng-option *ngFor="let singleData of loadedData[p]; let i = index" [value]="i+1">{{singleData.field_string}}</ng-option>
              </ng-select>

          </form>

          <form class="form" *ngIf="(p=='value_string') && checkDataCriteria.type">
              <ng-select *ngIf="checkDataCriteria.field_string === 'gender'" class="single-select" [(ngModel)]="newObject[p]"
                          [multiple]="false" placeholder="Gender" [closeOnSelect]="true"
                        [searchable]="true" [ngModelOptions]="{standalone: true}" (selectionChange)="genderOnChange($event)" required>
                <ng-option [value]="modal.add_distribution_female">{{modal.add_distribution_female}}</ng-option>
                <ng-option [value]="modal.add_distribution_male">{{modal.add_distribution_male}}</ng-option>
              </ng-select>

            <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string === 'dateOfBirth'">
              <input matInput [matDatepicker]="dateDistribution" placeholder="Date" (dateChange)='selectDate($event)'
                required>
              <mat-datepicker-toggle matSuffix [for]="dateDistribution"></mat-datepicker-toggle>
              <mat-datepicker #dateDistribution></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="checkDataCriteria.field_string !== 'gender' && checkDataCriteria.field_string !== 'dateOfBirth'">
              <input matInput *ngIf="propertiesTypes[p]!='select'" [(ngModel)]="newObject[p]" placeholder="{{mapperObject[p]}}"
                [ngModelOptions]="{standalone: true}" [type]="checkDataCriteria.type" required>
            </mat-form-field>
          </form>
        </th>
      </div>
    </tr>
    <tr>
      <div class="modal-row">
        <th class="table-title"></th>
        <th class="table-value advanced-icon-wrapper">
          <div class="advanced-icon">
            <button mat-button class="button-text-accent" (click)="changeDisplay()">
              <span>{{ modal.add_distribution_advanced_option | titlecase}}</span>
              <mat-icon>{{ iconAdvanced }}</mat-icon>
            </button>
          </div>
        </th>
      </div>
    </tr>
    <tr *ngIf="displayWeight" class="modal-row">
      <th class="table-title">{{mapperObject['weight']}}</th>

      <th class="table-value">
        <form class="form" *ngIf="p!='value_string'">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="newObject['weight']" [ngModelOptions]="{standalone: true}" type="number" min="0">
          </mat-form-field>
        </form>
      </th>
    </tr>
  </table>
  <div class="modal-button action-buttons stickyFooter" [ngClass]="{'arabic':language==='ar'}">
    <button mat-button (click)="closeDialog()" class="button-text-accent">{{modal.cancel}}</button>
    <button mat-raised-button (click)="add()" class="button-background-accent">{{modal.add}}</button>
  </div>
</div>
