<div class="modal-container">
  <h4 class="modal-title">Details</h4>
  <table class="modal-table">
    <tr *ngFor="let p of properties" class="modal-row">
      <th class="table-title">{{data.mapper.mapTitle(p)}}</th>
      <th class="table-value">
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput cdkFocusRegionstart disabled value="{{data.mapper.mapValueDetails(data.data, p)}}">
          </mat-form-field>
        </form>
      </th>
    </tr>
  </table>
  <div class="modal-button">
    <button mat-button (click)="closeDialog()" class="button-close">Close</button>
  </div>
</div>