<mat-dialog-content class="modal-container">
  <h4 class="modal-title underline-accent stickyHeader">{{modal.details}}</h4>
  <table class="modal-table">
    <tr *ngFor="let p of properties" class="modal-row">
      <th class="table-title">{{data.mapper.mapTitle(p)}}</th>
      <th class="table-value">
        <form class="form">
          <mat-form-field class="full-width" *ngIf="data.mapper.mapValueDetails(data.data, p).length <= 40">
            <input matInput cdkFocusRegionstart disabled value="{{data.mapper.mapValueDetails(data.data, p)}}">
          </mat-form-field>
          <mat-form-field class="full-width" *ngIf="data.mapper.mapValueDetails(data.data, p).length>40">
            <textarea matInput cdkFocusRegionstart disabled> {{data.mapper.mapValueDetails(data.data, p)}} </textarea>
          </mat-form-field>
        </form>
      </th>
    </tr>
  </table>
  <div class="modal-button action-buttons stickyFooter">
    <button mat-raised-button (click)="closeDialog()" class="button-background-accent">{{modal.close}}</button>
  </div>
</mat-dialog-content>
