<div class="container-table">
    <div class="container-content box-primary">
        <div *ngIf="transactionData !== undefined" class="progression">
            <div class="commodities" *ngFor="let commodity of actualDistribution.commodities">
                <h4>{{ commodity.modality_type.name }} {{ TEXT.transaction_progress }} {{ getPercentageValue(commodity) }} % </h4>
                <mat-progress-bar mode="determinate" [value]="getPercentageValue(commodity)"></mat-progress-bar>
                <div class="details">
                    <div class="info_1">
                        <h5>{{TEXT.transaction_amount_total | titlecase}}</h5>
                        {{ getTotalCommodityValue(commodity) }} {{commodity.unit}}
                    </div>
                    <div class="info_2">
                        <h5>{{TEXT.transaction_amount_distributed | titlecase}}</h5>
                        {{ getAmountSent(commodity) }} {{commodity.unit}}
                    </div>
                    <div class="info_3">
                        <h5>{{TEXT.transaction_amount_used | titlecase}}</h5>
                        {{ getReceivedValue(commodity) }} {{commodity.unit}}
                    </div>

                </div>
            </div>
        </div>

        <div class="content-button">
            <div class="action-buttons">
                <button mat-raised-button *ngIf="!loadingAssign" class="button-background-primary" (click)="openAssignDialog()">
                        <span>{{TEXT.voucher_assign | titlecase }}</span>
                </button>
                <mat-spinner [diameter]='25' *ngIf="loadingAssign"></mat-spinner>
                <div class="button-with-extension" [ngClass]="{'arabic':language==='ar'}">
                    <button mat-raised-button class="button-background-primary" (click)="exportTransaction(exportTypeTransaction, 'voucherDistribution')" *ngIf="!loadingExport">
                        <mat-icon>get_app</mat-icon>
                        <span>{{TEXT.export | titlecase}}</span>
                    </button>
                    <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
                    <div class="extension" *ngIf="!loadingExport">
                        <div mat-button class="dropdown" [matMenuTriggerFor]="exportTypeTransaction" [ngClass]="{'arabic':language==='ar'}">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </div>
                        <mat-menu #exportTypeTransaction class="extMenu">
                            <button mat-menu-item (click)="extensionType = 'xls'"> .xls <mat-icon *ngIf="extensionType=='xls'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'csv'"> .csv <mat-icon *ngIf="extensionType=='csv'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'ods'"> .ods <mat-icon *ngIf="extensionType=='ods'">done</mat-icon>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="waitingDataContainer" *ngIf="loadingTransaction">
            <mat-spinner></mat-spinner>
        </div>

        <div class="content-table" *ngIf="!loadingTransaction">
            <app-transaction-table *ngIf="widthScreen >= maxWidthMobile" [parentObject]="actualDistribution" [entity]="entity" [service]="BeneficiariesService" [data]="transactionData" [editable]="false" [printable]="true" [selection]="selection" [checkbox]="true"
                (selectChecked)="getChecked($event)" [assignable]="true" (reloadTable)="emitReloadTable()">
            </app-transaction-table>
            <app-transaction-table-mobile *ngIf="widthScreen < maxWidthMobile" (reloadTable)="emitReloadTable()" [parentObject]="actualDistribution" [entity]="entity" [service]="BeneficiariesService" [data]="transactionData" [printable]="true" [editable]="false" [assignable]="true">
            </app-transaction-table-mobile>
        </div>

        <div class="content-button content-button-footer">
            <div class="action-buttons">
                <mat-spinner [diameter]="35" *ngIf="loaderCache"></mat-spinner>
                <button mat-stroked-button [disabled]="distributionIsStored" *ngIf="!loaderCache" class="button-text-accent" (click)="storeBeneficiaries()">
                    <mat-icon>save</mat-icon>
                    <ng-container *ngIf="distributionIsStored; else distributionIsntStored">
                        {{TEXT.cache_stored_beneficiaries}}
                    </ng-container>
                    <ng-template #distributionIsntStored>
                        {{TEXT.cache_store_beneficiaries}}
                    </ng-template>
                </button>

                <mat-spinner [diameter]="35" *ngIf="distributed && checkedLines.length > 0"></mat-spinner>
            </div>
        </div>
    </div>
</div>
