<div class="container-table">
    <div class="container-content box-primary">
        <div *ngIf="transactionData !== undefined" class="progression">
            <div class="commodities">
                <h4>{{ language.transaction_progress | uppercaseFirst }}
                    {{ getPercentageValue(actualDistribution.get('commodities')[0]) | number: '1.0-0' }} % </h4>
                <mat-progress-bar mode="determinate" [value]="getPercentageValue(actualDistribution.get('commodities')[0])">
                </mat-progress-bar>
                <div class="details">
                    <div class="info_1">
                        <h5>{{language.transaction_amount_total | uppercaseFirst}}</h5>
                        <span *ngFor="let commodity of actualDistribution.get('commodities')">
                            {{ getTotalCommodityValue(commodity) }} {{commodity.get('unit')}} <br>
                        </span>
                    </div>
                    <div class="info_2">
                        <h5>{{language.transaction_amount_distributed | uppercaseFirst}}</h5>
                        <span *ngFor="let commodity of actualDistribution.get('commodities')">
                            {{ getAmountSent(commodity) }} {{commodity.get('unit')}} <br>
                        </span>
                    </div>
                    <div class="info_3">
                        <h5>{{language.transaction_amount_used | uppercaseFirst}}</h5>
                        <span *ngFor="let commodity of actualDistribution.get('commodities')">
                            {{ getReceivedValue(commodity) }} {{commodity.get('unit')}} <br>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="content-button">
            <div class="action-buttons">
                <button [disabled]="actualDistribution.get('finished')" mat-flat-button *ngIf="!loadingAssign" class="button-background-primary" (click)="openAssignDialog()">
                        <span>{{language.voucher_assign | uppercaseFirst }}</span>
                </button>
                <mat-spinner [diameter]='25' *ngIf="loadingAssign"></mat-spinner>
                <div class="button-with-extension" [ngClass]="{'rtl':language.direction === 'rtl'}">
                    <button mat-flat-button class="button-background-primary" (click)="exportTransaction(extensionType, 'voucherDistribution')" *ngIf="!loadingExport">
                        <mat-icon>get_app</mat-icon>
                        <span>{{language.export | uppercaseFirst}}</span>
                    </button>
                    <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
                    <div class="extension" *ngIf="!loadingExport">
                        <button mat-flat-button class="dropdown button-background-primary" [matMenuTriggerFor]="exportTypeTransaction">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #exportTypeTransaction class="extMenu">
                            <button mat-menu-item (click)="extensionType = 'xls'"> .xls <mat-icon *ngIf="extensionType=='xls'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'csv'"> .csv <mat-icon *ngIf="extensionType=='csv'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'ods'"> .ods <mat-icon *ngIf="extensionType=='ods'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="extensionType = 'pdf'"> .pdf <mat-icon *ngIf="extensionType=='pdf'">done</mat-icon>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <button mat-flat-button *ngIf="currentDisplayType.type !== 'mobile' && userService.hasRights('ROLE_PROJECT_MANAGEMENT')" (click)="openModal({action:'addBeneficiary', distribution: actualDistribution})" class="add-button-create">
                <mat-icon>add</mat-icon>
                {{language.add | titlecase}}
            </button>
            <button mat-fab *ngIf="currentDisplayType.type === 'mobile' && userService.hasRights('ROLE_PROJECT_MANAGEMENT')" (click)="openModal({action:'addBeneficiary', distribution: actualDistribution})" class="add-button" [ngClass]="{'add-button-rtl': language.direction === 'rtl'}">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="content-table">
            <app-table [isLoading]="loadingTransaction" [searchable]="true" [paginable]="true" *ngIf="currentDisplayType.type !== 'mobile'" [parentObject]="actualDistribution" [entity]="entity" [service]="BeneficiariesService" [data]="transactionData"
                [assignable]="!actualDistribution.get('finished')" (openModal)="openModal($event)" (assignOne)="assign($event)" [editable]="userService.hasRights('ROLE_DISTRIBUTIONS_MANAGEMENT')" [deletable]="userService.hasRights('ROLE_PROJECT_MANAGEMENT')">
            </app-table>
            <app-table-mobile [isLoading]="loadingTransaction" *ngIf="currentDisplayType.type === 'mobile'" (openModal)="openModal($event)" [parentObject]="actualDistribution" [entity]="entity" [service]="BeneficiariesService" [data]="transactionData"
                [assignable]="!actualDistribution.get('finished')" (assignOne)="assign($event)" [editable]="userService.hasRights('ROLE_DISTRIBUTIONS_MANAGEMENT')" [deletable]="userService.hasRights('ROLE_PROJECT_MANAGEMENT')">
            </app-table-mobile>
        </div>

        <div class="content-button content-button-footer">
            <div class="action-buttons">
                <mat-spinner [diameter]="35" *ngIf="loadingComplete"></mat-spinner>
                <button mat-stroked-button (click)="complete(); $event.stopPropagation()" color="primary"
                    *ngIf="!actualDistribution.get('finished') && userService.hasRights('ROLE_DISTRIBUTIONS_MANAGEMENT') && !loadingComplete">
                    <mat-icon>done</mat-icon> {{language.close}}
                </button>
                <mat-spinner [diameter]="35" *ngIf="loaderCache"></mat-spinner>
                <button mat-stroked-button [disabled]="distributionIsStored" *ngIf="!loaderCache" class="button-text-accent" (click)="storeBeneficiaries()">
                    <mat-icon>save</mat-icon>
                    <ng-container *ngIf="distributionIsStored; else distributionIsntStored">
                        {{language.cache_stored_beneficiaries}}
                    </ng-container>
                    <ng-template #distributionIsntStored>
                        {{language.cache_store_beneficiaries}}
                    </ng-template>
                </button>
            </div>
        </div>
    </div>
</div>
