<div class="page-container">
    <div class="container-title">
        <h2 *ngIf='mode=="update"'>{{Text.update_beneficiary_title | titlecase}}</h2>
        <h2 *ngIf='mode=="create"'>{{Text.add_beneficiary_title | titlecase}}</h2>
    </div>

    <app-placeholder-stepper *ngIf="!updatedHousehold"></app-placeholder-stepper>

    <app-placeholder-panel *ngIf="loader"></app-placeholder-panel>

    <mat-horizontal-stepper #stepper *ngIf="!loader && (mode == 'create' || (mode == 'update' && updatedHousehold.beneficiaries[0]))">
        <ng-template matStepperIcon="done">
            <mat-icon>done</mat-icon>
        </ng-template>

        <mat-step>
            <ng-template class="step" matStepLabel>{{Text.add_beneficiary_step1}} </ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">1</span>
                    <span>{{Text.add_beneficiary_step1}} </span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table content-table-step1">
                        <div class="step1 all-information">
                            <div class="column-container">
                                <h4>{{ Text.add_beneficiary_res_address }}</h4>
                                <mat-form-field>
                                    <input matInput #addressNumber placeholder={{Text.add_beneficiary_getAddressNumber}}
                                        [(ngModel)]="updatedHousehold.address_number" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput #addressStreet placeholder={{Text.add_beneficiary_getAddressStreet}}
                                        [(ngModel)]="updatedHousehold.address_street" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput #addressPostcode placeholder={{Text.add_beneficiary_getAddressPostcode}}
                                        [(ngModel)]="updatedHousehold.address_postcode" required>
                                </mat-form-field>
                            </div>
                            <div class="column-container">
                                <h4>{{ Text.location }}</h4>
                                <mat-form-field>
                                    <mat-select #province placeholder={{Text.adm1}} [(ngModel)]="updatedHousehold.location.adm1"
                                        (selectionChange)='reloadLocation(1)' required>
                                        <mat-option *ngFor="let province of provinceList" [value]="province">
                                            {{province}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select #district placeholder={{Text.adm2}} [(ngModel)]="updatedHousehold.location.adm2"
                                        (selectionChange)='reloadLocation(2)'>
                                        <mat-option *ngFor="let district of districtList" [value]="district">
                                            {{district}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select #commune placeholder={{Text.adm3}} [(ngModel)]="updatedHousehold.location.adm3"
                                        (selectionChange)='reloadLocation(3)'>
                                        <mat-option *ngFor="let commune of communeList" [value]="commune">
                                            {{commune}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select #village placeholder={{Text.adm4}} [(ngModel)]="updatedHousehold.location.adm4">
                                        <mat-option *ngFor="let village of villageList" [value]="village">
                                            {{village}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="column-container">
                                <mat-form-field>
                                    <input matInput #livelihood placeholder={{Text.add_beneficiary_getOccupation}}
                                        [matAutocomplete]="autoLivelihood" [(ngModel)]="updatedHousehold.livelihood">
                                    <mat-autocomplete #autoLivelihood="matAutocomplete">
                                        <mat-option *ngFor="let livelihood of livelihoodsList" [value]="livelihood">
                                            {{livelihood}} </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="specifics" *ngIf="updatedHousehold.specificAnswers">
                                    <h4>{{ Text.add_beneficiary_country_specifics | titlecase }}</h4>
                                    <mat-form-field *ngFor="let specific of updatedHousehold.specificAnswers">
                                        <input matInput [type]="specific.type" placeholder={{specific.field_string}}
                                            [(ngModel)]="specific.answer">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="lign-container textarea-input">
                                <mat-form-field class="area-size">
                                    <textarea matInput matTextareaAutosize="true" matAutosizeMinRows="5"
                                        matAutosizeMaxRows="5" placeholder={{Text.model_notes}} [(ngModel)]="updatedHousehold.notes"
                                        #Notes></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="additional-information">

                        </div>
                    </div>
                    <div class="content-button-footer">
                        <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                        <button mat-raised-button class="button-background-primary margin-right" (click)="nextValidation(1, stepper)">
                            {{Text.next}}
                        </button>
                        <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading"
                            (click)="update()">{{Text.update}}</button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template class="step" matStepLabel>{{Text.add_beneficiary_step2}}</ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">2</span>
                    <span>{{Text.add_beneficiary_step2}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table">
                        <div class="step2 head" *ngIf="updatedHousehold.beneficiaries[0]">
                            <div class="column-container">
                                <mat-form-field>
                                    <input matInput type="text" placeholder={{Text.add_beneficiary_getFamilyName}}
                                        [(ngModel)]="updatedHousehold.beneficiaries[0].family_name" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text" placeholder={{Text.add_beneficiary_getGivenName}}
                                        [(ngModel)]="updatedHousehold.beneficiaries[0].given_name" required>
                                </mat-form-field>
                            </div>
                            <div class="column-container">
                                <mat-form-field>
                                    <mat-select placeholder={{Text.gender}} [(ngModel)]="updatedHousehold.beneficiaries[0].gender"
                                        required>
                                        <mat-option *ngFor="let type of genderList" [value]="type">
                                            {{type}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="datepicker-computer" required>
                                    <input #DateOfBirthHead matInput [matDatepicker]="birthHeadComputer" placeholder={{Text.add_beneficiary_getDateOfBirth}}
                                        [(ngModel)]="updatedHousehold.beneficiaries[0].birth_date">
                                    <mat-datepicker-toggle matSuffix [for]="birthHeadComputer"></mat-datepicker-toggle>
                                    <mat-datepicker #birthHeadComputer></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="datepicker-mobile" required>
                                    <input #DateOfBirthHead matInput [matDatepicker]="birthHeadMobile" placeholder={{Text.add_beneficiary_getDateOfBirth}}
                                        [(ngModel)]="updatedHousehold.beneficiaries[0].birth_date">
                                    <mat-datepicker-toggle matSuffix [for]="birthHeadMobile"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #birthHeadMobile></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="column-container">
                                <mat-form-field>
                                    <mat-select placeholder={{Text.add_beneficiary_getTypeNationalId}} [(ngModel)]="updatedHousehold.beneficiaries[0].national_id.type">
                                        <mat-option *ngFor="let type of typeNationalIdList" [value]="type">
                                            {{type}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text" placeholder={{Text.add_beneficiary_getNationalID}}
                                        [(ngModel)]="updatedHousehold.beneficiaries[0].national_id.number">
                                </mat-form-field>
                            </div>
                            <div class="lign-container lines-phones">
                                <div class="items-line">
                                    <mat-form-field>
                                        <mat-select placeholder={{Text.add_beneficiary_getTypePhone}} [(ngModel)]="updatedHousehold.beneficiaries[0].phone[0].type">
                                            <mat-option *ngFor="let type of typePhoneList" [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-checkbox color="primary" [(ngModel)]="updatedHousehold.beneficiaries[0].phone[0].proxy">{{Text.beneficiaries_proxy}}</mat-checkbox>
                                </div>

                                <div class="items-line">
                                    <mat-form-field>
                                        <mat-select placeholder={{Text.add_beneficiary_getTypePhone}} [(ngModel)]="updatedHousehold.beneficiaries[0].phone[1].type">
                                            <mat-option *ngFor="let type of typePhoneList" [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-checkbox color="primary" [(ngModel)]="updatedHousehold.beneficiaries[0].phone[1].proxy">{{Text.beneficiaries_proxy}}</mat-checkbox>
                                </div>
                            </div>
                            <div class="lign-container lines-phones">
                                <div class="items-line">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="updatedHousehold.beneficiaries[0].phone[0].code"
                                            placeholder="{{Text.add_beneficiary_code}}">
                                            <mat-option *ngFor="let country of countryCodesList" [value]="country">{{country}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="tel" placeholder={{Text.model_beneficiaries_phones}}
                                            [(ngModel)]="updatedHousehold.beneficiaries[0].phone[0].number">
                                    </mat-form-field>
                                </div>

                                <div class="items-line">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="updatedHousehold.beneficiaries[0].phone[1].code"
                                            placeholder="{{Text.add_beneficiary_code}}">
                                            <mat-option *ngFor="let country of countryCodesList" [value]="country">{{country}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="tel" placeholder={{Text.model_beneficiaries_phones}}
                                            [(ngModel)]="updatedHousehold.beneficiaries[0].phone[1].number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="lign-container">
                                <mat-checkbox color='primary' *ngFor="let vulnerability of vulnerabilityList, let vulIndex=index"
                                    [checked]="updatedHousehold.beneficiaries[0].vulnerabilities[vulIndex]" (change)="updatedHousehold.beneficiaries[0].vulnerabilities[vulIndex] = !updatedHousehold.beneficiaries[0].vulnerabilities[vulIndex]">
                                    {{vulnerability.field_string}}
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="content-button-footer">
                            <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
                            <button mat-raised-button class="button-background-primary margin-right" (click)='nextValidation(2, stepper)'>
                                {{Text.next}}
                            </button>
                            <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading"
                                (click)="update()">{{Text.update}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template class="step" matStepLabel>{{Text.add_beneficiary_step3}}</ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">3</span>
                    <span>{{Text.add_beneficiary_step3}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table">
                        <div class="step3" *ngFor="let member of updatedHousehold.beneficiaries, let memberIndex=index">
                            <div class="container member" *ngIf="memberIndex>0">
                                <div class="button-container">
                                    <div class="member-rank">
                                        {{memberIndex}}
                                    </div>
                                    <button mat-mini-fab color='primary' class='delete' (click)="removeBeneficiary(memberIndex)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </div>
                                <div class="column-container">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder={{Text.add_beneficiary_getFamilyName}}
                                            [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].family_name"
                                            required>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder={{Text.add_beneficiary_getGivenName}}
                                            [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].given_name"
                                            required>
                                    </mat-form-field>
                                </div>
                                <div class="column-container">
                                    <mat-form-field>
                                        <mat-select placeholder={{Text.gender}} [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].gender"
                                            required>
                                            <mat-option *ngFor="let type of genderList" [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="datepicker-computer" required>
                                        <input matInput [matDatepicker]="birthHeadComputer" placeholder={{Text.add_beneficiary_getDateOfBirth}}
                                            [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].birth_date"
                                            #DateOfBirthHead>
                                        <mat-datepicker-toggle matSuffix [for]="birthHeadComputer"></mat-datepicker-toggle>
                                        <mat-datepicker #birthHeadComputer (selectedChanged)="formatDate(memberIndex)"></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field class="datepicker-mobile" required>
                                        <input #DateOfBirthHead matInput [matDatepicker]="birthHeadMobile" placeholder={{Text.add_beneficiary_getDateOfBirth}}
                                            [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].birth_date">
                                        <mat-datepicker-toggle matSuffix [for]="birthHeadMobile"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #birthHeadMobile (selectedChanged)="formatDate(memberIndex)"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="column-container">
                                    <mat-form-field>
                                        <mat-select placeholder={{Text.add_beneficiary_getTypeNationalId}} [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].national_id.type">
                                            <mat-option *ngFor="let type of typeNationalIdList" [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder={{Text.add_beneficiary_getNationalID}}
                                            [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].national_id.number">
                                    </mat-form-field>
                                </div>
                                <div class="lign-container lines-phones">
                                    <div class="items-line">
                                        <mat-form-field>
                                            <mat-select placeholder={{Text.add_beneficiary_getTypePhone}} [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[0].type">
                                                <mat-option *ngFor="let type of typePhoneList" [value]="type">
                                                    {{type}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-checkbox color="primary" [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[0].proxy">{{Text.beneficiaries_proxy}}</mat-checkbox>
                                    </div>

                                    <div class="items-line">
                                        <mat-form-field>
                                            <mat-select placeholder={{Text.add_beneficiary_getTypePhone}} [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[1].type">
                                                <mat-option *ngFor="let type of typePhoneList" [value]="type">
                                                    {{type}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-checkbox color="primary" [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[1].proxy">{{Text.beneficiaries_proxy}}</mat-checkbox>
                                    </div>
                                </div>

                                <div class="lign-container lines-phones">
                                    <div class="items-line">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[0].code"
                                                placeholder="{{Text.add_beneficiary_code}}">
                                                <mat-option *ngFor="let country of countryCodesList" [value]="country">{{country}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field>
                                            <input matInput type="tel" placeholder={{Text.model_beneficiaries_phones}}
                                                [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[0].number">
                                        </mat-form-field>
                                    </div>

                                    <div class="items-line">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[1].code"
                                                placeholder="{{Text.add_beneficiary_code}}">
                                                <mat-option *ngFor="let country of countryCodesList" [value]="country">{{country}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field>
                                            <input matInput type="tel" placeholder={{Text.model_beneficiaries_phones}}
                                                [(ngModel)]="updatedHousehold.beneficiaries[memberIndex].phone[1].number">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="lign-container">
                                    <mat-checkbox color='primary' *ngFor="let vulnerability of vulnerabilityList, let vulIndex=index"
                                        [checked]="updatedHousehold.beneficiaries[memberIndex].vulnerabilities[vulIndex]"
                                        (change)="updatedHousehold.beneficiaries[memberIndex].vulnerabilities[vulIndex] = !updatedHousehold.beneficiaries[memberIndex].vulnerabilities[vulIndex]">
                                        {{vulnerability.field_string}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <mat-divider *ngIf="memberIndex>0 && memberIndex<updatedHousehold.beneficiaries.length-1"></mat-divider>
                        </div>
                    </div>
                    <div class="content-button-footer">
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                        <div class="action-buttons">
                            <button mat-raised-button (click)="updatedHousehold.beneficiaries.push( pushBeneficiary() )"
                                class="button-background-accent">
                                <mat-icon>add</mat-icon>
                                {{ Text.add }}
                            </button>
                            <button mat-raised-button class="button-background-primary margin-right" (click)="passHousehold(); nextValidation(3, stepper)">
                                {{Text.next}}
                            </button>
                            <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading"
                                (click)="update()">
                                {{Text.update}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [editable]="true">
            <ng-template matStepLabel>{{Text.summary}}</ng-template>
            <div class="container-table">
                <div class="stepInMobile">
                    <span class="dot">4</span>
                    <span>{{Text.summary}}</span>
                </div>
                <div class="container-content box-green">
                    <div class="content-table">
                        <ng-select #projects class="custom" [(ngModel)]="updatedHousehold.projects" bindLabel="name"
                            [items]="projectList" [multiple]="true" placeholder="{{Text.projects}}" [closeOnSelect]="false"
                            [searchable]="true" [ngModelOptions]="{standalone: true}" required>
                        </ng-select>
                        <div class="summary">
                            <h3>{{Text.beneficiaries_household_info}}</h3>
                            <div class="info-resume">
                                <div class="info-container" *ngIf="updatedHousehold.livelihood">
                                    <h4 class='summary-title'>{{Text.add_beneficiary_getOccupation}}: </h4>
                                    <p class="summary-title-value">{{updatedHousehold.livelihood}}</p>
                                </div>
                                <div class="info-container" *ngIf="updatedHousehold.address_number && updatedHousehold.address_postcode && updatedHousehold.address_street">
                                    <h4 class='summary-title'> {{Text.beneficiaries_full_address}} </h4>
                                    <p class="summary-title-value">
                                        {{updatedHousehold.address_number}}
                                        {{updatedHousehold.address_street}},
                                        {{updatedHousehold.address_postcode}}
                                    </p>
                                </div>
                                <div class="info-container" *ngIf="updatedHousehold.location.adm1">
                                    <h4 class='summary-title'> {{ Text.beneficiaries_location }} </h4>
                                    <p class="summary-title-value">
                                        {{getFullLocation()}}
                                    </p>
                                </div>
                            </div>
                            <h3> {{ Text.beneficiaries}} : </h3>
                            <table mat-table [dataSource]="tableData" class="mat-elevation-z8 summary">
                                <ng-container [matColumnDef]=tableColumns[0]>
                                    <th mat-header-cell *matHeaderCellDef> {{ tableColumns[0] }} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.given_name}} </td>
                                </ng-container>

                                <ng-container [matColumnDef]=tableColumns[1]>
                                    <th mat-header-cell *matHeaderCellDef> {{ tableColumns[1] }} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.family_name}} </td>
                                </ng-container>

                                <ng-container [matColumnDef]=tableColumns[2]>
                                    <th mat-header-cell *matHeaderCellDef> {{ tableColumns[2] }} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                                </ng-container>

                                <ng-container [matColumnDef]=tableColumns[3]>
                                    <th mat-header-cell *matHeaderCellDef> {{ tableColumns[3] }} </th>
                                    <td mat-cell *matCellDef="let element"> {{ this.formatDate(element.birth_date) }}
                                    </td>
                                </ng-container>

                                <ng-container [matColumnDef]=tableColumns[4]>
                                    <th mat-header-cell *matHeaderCellDef> {{ tableColumns[4] }} </th>
                                    <td mat-cell *matCellDef="let element">
                                        <p *ngIf="element.phone.number">
                                            {{ element.phone.number }}
                                        </p>
                                    </td>
                                </ng-container>

                                <ng-container [matColumnDef]=tableColumns[5]>
                                    <th mat-header-cell *matHeaderCellDef> {{ tableColumns[5] }} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.national_id.number}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="content-button-footer">
                        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                        <div class="action-buttons">
                            <button mat-button class="button-text-primary" (click)="leave()">{{Text.cancel}}</button>

                            <button mat-raised-button class="button-background-primary" *ngIf="mode=='create' && !validationLoading"
                                (click)="create()">{{Text.create}}</button>
                            <button mat-raised-button class="button-background-primary" *ngIf="mode=='update' && !validationLoading"
                                (click)="update()">{{Text.update}}</button>
                        </div>

                    </div>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>