@import '../../../../assets/css/variable.scss'; 

app-placeholder-stepper {
    width: 100% !important;
    height: 100% !important;
}

mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.datepicker-mobile {
    display: none;
}

.datepicker-computer {
    display: block;
}

table {
    border-radius: 5px !important;
    text-align: center;

    th, td {
        min-width: 75px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center !important;
    }
}

.all-information, .head, .member, .info-resume {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .column-container {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 10px;
        margin-right: 10px;
    }

    .specifics {
        display: flex;
        flex-direction: column;
    }

    .lign-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 20px;

        .mat-form-field {
            width: 80%;
        }
    }

    .info-resume {
        width: 100%;
        padding: 15px;

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            
            p {
                margin-left: 20px;
            }
    
        }
    }

    .button-container {
        text-align: right;
        width: 100%;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 750px) {
    .datepicker-mobile {
        display: block;
    }

    .datepicker-computer {
        display: none !important;
    }
}