<div class="page-container">
    <div class="container-title">
        <h2>{{household.beneficiaries_import_title | titlecase}}</h2>
    </div>

    <div class="container-boxes">
        <app-box-setting (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "folder", color: "green", title:household.beneficiaries_import_file, subtitle:"", ref:"file import"}'></app-box-setting>
        <app-box-setting class="isLast" (emitClickedTitle)="selectTitle($event)" [selectedTitle]="selectedTitle" [info]='{icon: "settings/api", color: "red", title:household.beneficiaries_import_api, subtitle:"", ref:"api import"}'></app-box-setting>
    </div>

    <div class="container-table" *ngIf="selectedTitle == 'file import'">
        <div class="container-content box-green">

            <div class="content-button">
                <mat-form-field>
                    <mat-select placeholder={{household.beneficiaries_import_getProject}} [formControl]="projects" (selectionChange)="getProjectSelected($event)">
                        <mat-option *ngFor="let project of projectList" [value]="project">{{project}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-stroked-button color="primary" class="template" (click)="exportTemplate()">{{household.beneficiaries_import_csv | uppercase }}</button>
            </div>
            <div class="content-table">
                <div class="content-drag-and-drop" draggable="true" [ngClass]="dragAreaClass">
                    <mat-card class="card-drag-and-drop">
                        <div>
                            <img class='img-folder' src="assets/images/folder.png">
                        </div>
                        <div class="select-file">
                            <a class="fenetre-selection" href="javascript:void(0)" (click)="file.click()">
                                <button mat-button color="primary" class="button-add-file">{{household.beneficiaries_import_addFile | uppercase}}</button>
                            </a>
                            <input type="file" #file [multiple] (change)="fileChange($event, 'target')" style="display:none" />
                        </div>

                    </mat-card>
                </div>
                <mat-list *ngIf="csv != null">
                    <mat-list-item>
                        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                        <h4 mat-line class="text">{{ csv.name }}</h4>
                        <p mat-line class="text" >{{ csv.size }} bytes, {{ csv.lastModifiedDate | date: ddMMyyyy}} </p>
                    </mat-list-item>
                </mat-list>

            </div>
            <div class="content-button content-button-footer">
                    <mat-spinner  [diameter]="35" *ngIf="load"></mat-spinner>
                    <button *ngIf="!load" mat-raised-button class="upload-button" (click)="addHouseholds()">
                        <mat-icon>publish</mat-icon>
                        <span>{{household.beneficiaries_import_upload | uppercase }}</span>
                    </button>
            </div>
        </div>
    </div>

    <div class="container-table" *ngIf="selectedTitle == 'api import'">
        <div class="container-content box-red">

            <div class="content-button">

            </div>
            <div class="content-table">


            </div>
            <div class="content-button content-button-footer">

            </div>
        </div>
    </div>
</div>