@import '../../../../assets/css/variable.scss';

.content-drag-and-drop {
    display: flex;
    width: 100%;

    .card-drag-and-drop {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .img-folder {
        height: 11vh;
        padding: 5%;
      }
    }
}

.api-information {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.content-select {
    display: flex;
    flex-direction: column;
}

// for mobile screen
@media only screen and (max-width: 750px){

    .content-button {
        flex-direction: column;
    }

    .mat-form-field {
        width: 100%;
    }

    .template {
      margin-bottom: 20px;
    }

    .api-information {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}
