@import '../../../../assets/css/variable.scss';

.content-button {
    .action-buttons {
        .spinner {
            margin-bottom: 0px !important;
        }
        .button-background-primary {
            height: 100% !important;
        }
    }
}
.content-table {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    min-height: 30vh;

    .content-drag-and-drop {
        display: flex;
        width: 40%;
        min-height: 30vh;
        margin: 0 auto;

        .card-drag-and-drop {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

            .img-folder {
                height: 11vh;
                padding: 5%;
            }
        }
    }
}

.greyed-out {
    background-color: rgba(0,0,0,0.4);
    z-index: 2,
}

.importedFile {
    padding: 0 !important;
}

.extension {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid black;
    border-left: none;

    &.arabic {
        transform: rotate(180deg);
        mat-icon {
            transform: rotate(180deg);
        }
    }
}

.api-information {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.content-select {
    display: flex;
    flex-direction: column;

    mat-form-field {
        width: 200px;
    }
}

.pointer {
    cursor: pointer;
}

.text {
    color: $bms_red;
}



.drag-and-drop-file {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    .img-folder {
        height: 11vh;
        padding: 5%;
    }
}

.warning {
    font-style: italic;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.ng-select-focused ::ng-deep {
    .ng-select-container::after {
        border-color: #424242;
        border-width: 2px;
    }
}

.ng-select-focused ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
    color: #424242;
}

.ng-select-focused ::ng-deep .ng-arrow {
    color: #424242 !important;
}

.ng-select-opened ::ng-deep .ng-option-selected {
    color: #424242 !important;
}

@media only screen and (min-width: 750px) {
  mat-dialog-content {
    width: 60vw !important;
  }
}


// for mobile screen
@media only screen and (max-width: 750px) {
    .mat-form-field {
        width: 100%;
    }

    .template {
      margin-bottom: 20px;
    }

    .api-information {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .content-table {
        display: flex;
        justify-content: space-around;
        flex-direction: column !important;
        height: 100%;
    }

    .content-drag-and-drop {
        display: flex;
        width: 100% !important;
        margin-top: 5% !important;
        .mat-card {
            margin-bottom: 20px;
        }
    }

    .card-api {
        display: flex !important;
        justify-content: space-around !important;
        flex-direction: row !important;
    }

}

.select-file.project-input{
    width:100%;
}
