@import '../../../../assets/css/variable.scss';

.content-drag-and-drop {
    display: flex;
    width: 100%;

    .card-drag-and-drop {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .img-folder {
        height: 11vh;
        padding: 5%;
      }
    }
}

.extension {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid black;
    border-left: none;

    &.arabic {
        transform: rotate(180deg);
        mat-icon {
            transform: rotate(180deg);
        }
    }
}

.api-information {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.content-select {
    display: flex;
    flex-direction: column;

    mat-form-field {
        width: 200px;
    }
}

.pointer {
    cursor: pointer;
}

.text {
    color: red;
}

// for mobile screen
@media only screen and (max-width: 750px) {
    .mat-form-field {
        width: 100%;
    }

    .template {
      margin-bottom: 20px;
    }

    .api-information {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}
