@import '../../../../assets/css/variable.scss';

.content-table {
    display: flex;
    justify-content: space-around !important;
    flex-direction: row !important;

    .content-drag-and-drop {
        display: flex;
        width: 40%;
        height: 25vh;
        
        .card-drag-and-drop {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
            .img-folder {
                height: 11vh;
                padding: 5%;
            }
        }
    }
}

.card-api {
    height: 30vh;
}

.background-api {
    height: 55vh;
}

.importedFile {
    padding: 0 !important;
}

.extension {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid black;
    border-left: none;

    &.arabic {
        transform: rotate(180deg);
        mat-icon {
            transform: rotate(180deg);
        }
    }
}

.api-information {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.content-select {
    display: flex;
    flex-direction: column;

    mat-form-field {
        width: 200px;
    }
}

.pointer {
    cursor: pointer;
}

.text {
    color: $bms_red;
}

// for mobile screen
@media only screen and (max-width: 750px) {
    .mat-form-field {
        width: 100%;
    }

    .template {
      margin-bottom: 20px;
    }

    .api-information {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .content-table {
        display: flex;
        justify-content: space-around;
        flex-direction: column !important;
    }

    .content-drag-and-drop {
        display: flex;
        width: 100% !important;
        height: 30vh !important;
        .mat-card {
            margin-bottom: 20px;
        }
    }

    .content-api {
        margin-bottom: 10%;
    }
}
