<div class="page-container">
  <div class="container-title">
      <h2>{{ 'Logs ' | uppercaseFirst}}</h2>
  </div>
  <div class="container-table">
    <div class="container-content box-primary">
      <div class="content-table">
          <app-table *ngIf="currentDisplayType.type !== 'mobile'" 
              [entity]="logClass" [service]="logsService" [data]="logData"
              [searchable]="true" [paginable]="true" [isLoading]="loadingLog">
          </app-table>
          <app-table-mobile *ngIf="currentDisplayType.type === 'mobile'"
            [entity]="logClass" [service]="logsService" [data]="logData"
            [searchable]="true" [paginable]="true" [isLoading]="loadingLog">
          </app-table-mobile>
      </div>
    </div>
  </div>
</div>
