@import "../../../../../assets/css/variable.scss";

@keyframes wave {
    0%   {opacity: 0.2;}
    50%  {opacity: 0.6;}
    100% {opacity: 0.2;}
  }

.bar{
    width:20%;
}

.no-data{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: $bms_font_text;
}

.boxLoader{
    width: 50%;
    height: 50%;
    background-color: $bms_black;
    opacity: 0.2;
    transition: all 2s ease;
    text-align: center;
    justify-content: center;
    display:flex;
    margin: 35px;
    animation: wave 2s ease-in-out 0s infinite;
}