.modal-dialog {
  width: 900px;
}

.modal-title {
  text-align: center;
}

.export-message{
  text-align: center;
  font-style: italic;
  background-color: grey;
  color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}