<button mat-icon-button class="round-button" (click)="toggle()">
  <mat-icon>menu</mat-icon>
</button>

<app-request-display></app-request-display>

<span class="spacer"></span>

<button mat-icon-button class="round-button" routerLink="/">
  <img src="assets/images/bms_logo.png">
</button>

<span class="spacer"></span>

<button class="round-button" *ngIf="countries.length === 1">
  <mat-icon>language</mat-icon>
  <span>{{selectedCountry}}</span>
</button>
<button class="round-button" [matMenuTriggerFor]="country" *ngIf="countries.length > 1">
  <mat-icon>language</mat-icon>
  <span>{{selectedCountry}}</span>
</button>

<mat-menu #country="matMenu" overlapTrigger=false>
  <button class="flag-button" *ngFor="let c of countries" mat-menu-item (click)="selectCountry(c)">
    <mat-icon>language</mat-icon>
    <span>{{c}}</span>
  </button>
</mat-menu>

<button mat-icon-button class="round-button" [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #menu="matMenu" overlapTrigger=false>
  <button mat-menu-item (click)="openDialog('language')">
    <mat-icon>language</mat-icon>
    <span>{{language.header_language | titlecase}}</span>
  </button>
  <button mat-menu-item routerLink="/profile">
    <mat-icon>person_outline</mat-icon>
    <span>{{language.header_profile | titlecase}}</span>
  </button>
  <button mat-menu-item (click)="logOut()" routerLink="/login">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{language.header_disconnect | titlecase}}</span>
  </button>
</mat-menu>
