@import '../../../../assets/css/variable.scss';

button {
  color: $bms_grey;

  img {
    height: 24px;
    width: 24px;
  }
}

.spacer {
  flex-grow: 1;
}

span {
    color: $bms_black;
}


.flag-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    img {
        width: 30px !important;
        height: 25px !important;
    }
}

app-request-display {
    height: 100%;
}