@import '../../../../assets/css/variable.scss';

.round-button {
  position: relative;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 35px;
  width: 35px;
  line-height: 35px;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  mat-icon {
    height: 35px;
    width: 35px;
    font-size: 35px;
    line-height: 35px;
    color: $bms_white;
  }

  img {
    height: 35px;
    width: 35px;
    font-size: 35px;
  }

  span {
    color: $bms_white;
    background-color: $bms_black;
    position: absolute;
    width: 100%;
    font-size: 10px;
    line-height: 14px;
  }
}

.flag-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &.selected {
    background-color: $bms_dark_blue;
    color: $bms_white;
}

  img {
    width: 30px !important;
    height: 25px !important;
  }
}

.spacer {
  flex-grow: 1;
}

app-request-display {
  height: 100%;
}
