<button mat-icon-button (click)="toggle()">
  <mat-icon>menu</mat-icon>
</button>
<span class="spacer"></span>
<button mat-icon-button routerLink="/" (click)="setCurrentRoute('')">
  <img src="assets/images/bms_logo.png">
</button>
<span class="spacer"></span>
<button mat-icon-button>
  <img src="assets/images/cambodia.png">
</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>perm_identity</mat-icon>
</button>
<mat-menu #menu="matMenu" overlapTrigger=false>
  <button mat-menu-item (click)="openDialog('language')">
    <mat-icon>language</mat-icon>
    <span>{{header.header_language | uppercase}}</span>
  </button>
  <button mat-menu-item routerLink="/profile" (click)="setCurrentRoute('profile')">
    <mat-icon>person_outline</mat-icon>
    <span>{{header.header_profile | uppercase}}</span>
  </button>
  <button mat-menu-item (click)="logOut()" routerLink="/login">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{header.header_disconnect | uppercase}}</span>
  </button>
</mat-menu>
