<div class="page-container">
  <div class="container-title">
    <h2>{{household.header_imported | titlecase}}</h2>
  </div>

  <app-placeholder-panel *ngIf='loadingTable' class="container-table"></app-placeholder-panel>

  <div class="container-table" *ngIf="!loadingTable">
    <div class="container-content box-primary">
      <div class="content-table">
        <app-table-search *ngIf="widthScreen > maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService"
          [data]="data" [editable]="true">
        </app-table-search>
        <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService"
          [data]="data" [editable]="true">
        </app-table-mobile-search>
      </div>

      <div class="content-button content-button-footer">
        <div class="action-buttons">
          <button mat-raised-button class="button-background-primary project-button" (click)="goProject()">
            <mat-icon>assignment</mat-icon>
            <span>{{ household.import_back_to_project }}</span>
          </button>
          <button mat-raised-button class="button-background-primary" (click)="goBeneficiaries()">
            <mat-icon>supervisor_account</mat-icon>
            <span>{{ household.import_back_to_beneficiaries }}</span>
          </button>
          </div>
      </div>
    </div>
  </div>
</div>
