app-placeholder-panel {
    min-height: 338px;
}

.project-button {
    margin-left: 10px;
}

.content-imported-data-table{
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}