@import '../../../../assets/css/variable.scss';

.header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 10;

    .container-routes {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding : 10px;
        font-size: 0.8em;
        flex-wrap: wrap;

        span {
            padding: 3px;
            font-family: $bms_font_text;
            text-decoration: none;

            a {
                text-decoration: none;
                color: $bms_black;
                &:hover {
                    color : $bms_red;
                }
            }
        }
    }

    .container-buttons {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;

        .buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            align-content: end;
            height: 50px;
            z-index: 50;

            .button-language {
              min-width: unset;
              margin-right: 15px;
              margin-left: 15px;
            }

            .round-button {
              border:none;
              outline: none;
              display: flex;
              align-items: center;
              background: none;
              height: 40px;
              img {
                width: 40px;
                height: 100%;
                border-radius: 20px;
              }
              &:hover {
                cursor: pointer;
              }
            }
        }

    }
}

.flag-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    img {
        width: 30px !important;
        height: 25px !important;
    }
}

app-request-display {
    height: 100%;
}