<div class="header-container">
    <div class="container-routes">
        {{breadcrumbs}}
        <span *ngFor="let item of breadcrumbs">
           {{item}}
        </span>
    </div>
    <div class="container-buttons">
        <div *ngIf="selectedCountry" class="buttons">
            <app-request-display></app-request-display>
            <button mat-icon-button color=primary [matTooltip]="tooltip">
                <mat-icon>help_outline</mat-icon>
            </button>
            <button class="round-button" *ngIf="countries.length === 1">
                <mat-icon>language</mat-icon>
                <span>{{selectedCountry.get('id')}}</span>
            </button>
            <button class="round-button" [matMenuTriggerFor]="country" *ngIf="countries.length > 1">
                <mat-icon>language</mat-icon>
                <span>{{selectedCountry.get('id')}}</span>
            </button>
            <mat-menu #country overlapTrigger=false>
                <button class="flag-button" [ngClass]="{'selected': country === selectedCountry}" *ngFor="let country of countries" mat-menu-item (click)="selectCountry(country)">
                    <mat-icon>language</mat-icon>
                    <span>{{country.get('id')}}</span>
                </button>
            </mat-menu>
            <button class="round-button" [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu" overlapTrigger=false>
                <button mat-menu-item (click)="openLanguageDialog()">
                    <mat-icon>language</mat-icon>
                    <span>{{language.header_language | titlecase}}</span>
                </button>
                <button mat-menu-item routerLink="/profile">
                    <mat-icon>person_outline</mat-icon>
                    <span>{{language.header_profile | titlecase}}</span>
                </button>
                <button mat-menu-item routerLink="/login">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>{{language.header_disconnect | titlecase}}</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
