@import '../../../../assets/css/variable.scss';

.header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 10;

  .container-routes {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 0.8em;
    flex-wrap: wrap;

    span {
      padding: 3px;
      font-family: $bms_font_text;
      text-decoration: none;

      a {
        text-decoration: none;
        color: $bms_black;

        &:hover {
          color: $bms_red;
        }
      }
    }
  }

  .container-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

    button {
      margin-right: 8px;
      margin-left: 8px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 50px;
      z-index: 50;

      .button-language {
        min-width: unset;
      }

      .round-button {
        position: relative;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        height: 40px;
        width: 40px;
        line-height: 40px;
        padding: 0;

        &:hover {
          cursor: pointer;
        }

        mat-icon {
          height: 40px;
          width: 40px;
          font-size: 40px;
          color: $bms_dark_blue;
        }

        span {
          color: $bms_dark_blue;
          background-color: $bms_grey;
          position: absolute;
          width: 100%;
          height: 14px;
          line-height: 15px;
        }
      }
    }
  }
}

.flag-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 30px !important;
    height: 25px !important;
  }
}

app-request-display {
  height: 100%;
}
