<div class="page-container">

    <div class="container-title" *ngIf="actualDistribution && !actualDistribution.get('validated') && !loadingDistribution">
        <h2>{{TEXT.distribution_edit | titlecase}}</h2>
    </div>

    <div class="container-title" *ngIf="actualDistribution && actualDistribution.get('validated') && !loadingDistribution">
        <h2>{{ TEXT.distribution_validated_title | titlecase }}</h2>
    </div>

    <div class="container-data" *ngIf="actualDistribution && !loadingDistribution">
        <div class="container-content">
            <h3 class="container-subtitle">
                {{actualDistribution.get('name') | titlecase}}
                <mat-icon class="valid" *ngIf="actualDistribution.get('validated') === true">lock</mat-icon>
                <mat-icon class="unvalid" *ngIf="actualDistribution.get('validated') === false">lock_open</mat-icon>
                <mat-icon class="valid" *ngIf="actualDistribution.get('validated') === true && distributionFinished">done</mat-icon>
            </h3>
            <app-box-properties *ngIf="actualDistribution" class="properties-displayed" [displayedInstance]="actualDistribution"></app-box-properties>
        </div>
    </div>

    <app-placeholder-stepper *ngIf="loadingDatas"></app-placeholder-stepper>

    <app-not-validated-distribution *ngIf="!loadingDistribution && actualDistribution && !actualDistribution.get('validated')" [actualDistribution]="actualDistribution" [loaderCache]="loaderCache" (storeEmitter)="storeBeneficiaries($event)"></app-not-validated-distribution>

    <ng-container *ngIf="actualDistribution && actualDistribution.get('validated')">
        <app-mobile-money *ngIf="getDistributionType() === 'mobile-money' && !loadingDatas" [actualDistribution]="actualDistribution"
            [loaderCache]="loaderCache" (storeEmitter)="storeBeneficiaries($event)" (finishedEmitter)="distributionFinished()">
        </app-mobile-money>

        <!-- <app-general-relief *ngIf="getDistributionType() === 'general-relief' && !loadingDatas" [actualDistribution]="actualDistribution"
            [loaderCache]="loaderCache" (storeEmitter)="storeBeneficiaries($event)">
        </app-general-relief>

        <app-qr-voucher (reloadTable)="getSelectedDistribution()" *ngIf="getDistributionType() === 'qr-voucher' && !loadingDatas" [actualDistribution]="actualDistribution"
            [loaderCache]="loaderCache" (storeEmitter)="storeBeneficiaries($event)">
        </app-qr-voucher> -->
    </ng-container>
</div>

