<div class="page-container">

    <div class="container-title" *ngIf="!actualDistribution.validated && !loadingDistribution">
        <h2>{{TEXT.distribution_edit | titlecase}}</h2>
    </div>

    <div class="container-title" *ngIf="actualDistribution.validated && !loadingDistribution">
        <h2>{{ TEXT.distribution_validated_title | titlecase }}</h2>
    </div>

    <div class="container-data" *ngIf="actualDistribution && !loadingDistribution">
        <div class="container-content">
            <h3 class="container-subtitle">
                {{actualDistribution.name | titlecase}}
                <mat-icon class="valid" *ngIf="actualDistribution.validated === true">lock</mat-icon>
                <mat-icon class="unvalid" *ngIf="actualDistribution.validated === false">lock_open</mat-icon>
                <mat-icon class="valid" *ngIf="actualDistribution.validated === true && !loadingTransaction && getAmount('people') === 0">done</mat-icon>
            </h3>
            <app-box-properties *ngIf="actualDistribution && initialBeneficiaryData" class="properties-displayed" [entity]="distributionEntity" [mapperService]="mapperService" [componentDisplayed]="actualDistribution" [data]="initialBeneficiaryData.data"></app-box-properties>
        </div>
    </div>

    <app-placeholder-stepper *ngIf="loadingDatas"></app-placeholder-stepper>

    <mat-horizontal-stepper #myStepper *ngIf="!loadingDatas && !actualDistribution.validated">

        <mat-step label="{{ TEXT.distribution_details_export | titlecase }}" [stepControl]="form1">
            <form [formGroup]="form1">

                <div class="container-table">
                    <div class="container-content box-primary box-primary">
                        <div class="content-button">
                            <div class="action-buttons">
                                <div class="button-with-extension" [ngClass]="{'arabic':language==='ar'}">
                                    <button mat-raised-button class="button-background-primary" (click)="export()" *ngIf="!loadingExport">
                                        <mat-icon>get_app</mat-icon>
                                        <span>{{TEXT.export | titlecase}}</span>
                                    </button>
                                    <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
                                    <div class="extension" *ngIf="!loadingExport">
                                        <div mat-button class="dropdown" [matMenuTriggerFor]="exportType1" [ngClass]="{'arabic':language==='ar'}">
                                            <mat-icon>keyboard_arrow_down</mat-icon>
                                        </div>
                                        <mat-menu #exportType1 class="extMenu">
                                            <button mat-menu-item (click)="setType(1, 'xls')"> .xls <mat-icon *ngIf="extensionTypeStep1=='xls'">done</mat-icon>
                                            </button>
                                            <button mat-menu-item (click)="setType(1, 'csv')"> .csv <mat-icon *ngIf="extensionTypeStep1=='csv'">done</mat-icon>
                                            </button>
                                            <button mat-menu-item (click)="setType(1, 'ods')"> .ods <mat-icon *ngIf="extensionTypeStep1=='ods'">done</mat-icon>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button *ngIf="widthScreen > maxWidthMobile && hasRights" (click)="getProjectBeneficiaries(); openDialog(addBeneficiary)" class="add-button-create" [disabled]="actualDistribution.validated">
                                <mat-icon>add</mat-icon>
                                {{TEXT.add | titlecase}}
                            </button>
                            <button mat-fab *ngIf="widthScreen <= maxWidthMobile && hasRights" (click)="getProjectBeneficiaries(); openDialog(addBeneficiary)" class="add-button" [ngClass]="{'add-button-arabic': language == 'ar'}" [disabled]="actualDistribution.validated">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <div class="content-table">
                            <div class="waitingDataContainer" *ngIf="loadingFirstStep">
                                <mat-spinner></mat-spinner>
                            </div>
                            <app-table-search *ngIf="widthScreen > maxWidthMobile && !loadingFirstStep" [entity]="beneficiaryEntity" [service]="beneficiariesService" [data]="initialBeneficiaryData" [editable]="!actualDistribution.validated"
                                [parentId]="distributionId" [rights]="hasRights">
                            </app-table-search>
                            <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile && !loadingFirstStep" [entity]="beneficiaryEntity" [service]="beneficiariesService" [data]="initialBeneficiaryData" [editable]="!actualDistribution.validated"
                                [parentId]="distributionId" [rights]="hasRights">
                            </app-table-mobile-search>
                        </div>
                        <div class="content-button content-button-footer">
                            <button mat-raised-button class="button-background-primary" matStepperNext (click)="this.getDistributionBeneficiaries('both')">{{TEXT.next}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step label="{{ TEXT.distribution_details_import | titlecase }}" [stepControl]="form2">
            <form [formGroup]="form2">

                <div class="container-table">
                    <div class="container-content box-primary">
                        <div class="import-content">
                            <app-import-distribution *ngIf="!actualDistribution.validated" [distribution]="this.actualDistribution" [rights]="hasRights" (success)=" this.getDistributionBeneficiaries('final');
                                            this.getDistributionBeneficiaries('initial');
                                            jumpStep(myStepper)"
                                (selected)="fileSelected($event)">
                            </app-import-distribution>
                        </div>
                        <div class="container-empty" *ngIf="actualDistribution.validated">
                            <p>
                                <mat-icon>folder</mat-icon>
                                {{TEXT.distribution_cant_update}}
                            </p>
                        </div>
                        <div class="content-button content-button-footer" *ngIf="!selected">
                            <button mat-raised-button class="button-background-primary" matStepperNext>{{TEXT.next}}</button>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step label="{{ TEXT.distribution_details_random | titlecase }}" [stepControl]="form3">
            <form [formGroup]="form3">

                <div class="container-table">
                    <div class="container-content box-primary">
                        <div class="content-button">
                            <div class="action-buttons">
                                <div class="button-with-extension" [ngClass]="{'arabic':language==='ar'}">
                                    <button mat-raised-button class="button-background-primary" (click)="exportSample()" *ngIf="!loadingExport">
                                        <mat-icon>get_app</mat-icon>
                                        <span>{{TEXT.export | titlecase}}</span>
                                    </button>
                                    <mat-spinner [diameter]='25' *ngIf="loadingExport"></mat-spinner>
                                    <div class="extension">
                                        <div mat-button class="dropdown" *ngIf="!loadingExport" [matMenuTriggerFor]="exportType3" [ngClass]="{'arabic':language==='ar'}">
                                            <mat-icon>keyboard_arrow_down</mat-icon>
                                        </div>
                                        <mat-menu #exportType3>
                                            <button mat-menu-item (click)="setType(3, 'xls')"> .xls <mat-icon *ngIf="extensionTypeStep3=='xls'">done</mat-icon>
                                            </button>
                                            <button mat-menu-item (click)="setType(3, 'csv')"> .csv <mat-icon *ngIf="extensionTypeStep3=='csv'">done</mat-icon>
                                            </button>
                                            <button mat-menu-item (click)="setType(3, 'ods')"> .ods <mat-icon *ngIf="extensionTypeStep3=='ods'">done</mat-icon>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                            <div class="sample-size-input">
                                <button mat-fab class="button-background-accent" (click)="generateRandom()">
                                    <mat-icon>shuffle</mat-icon>
                                </button>
                                <mat-form-field>
                                    {{TEXT.distribution_details_sample_size | titlecase}} :
                                    <input matInput [(ngModel)]="this.sampleSize" [ngModelOptions]="{standalone: true}" min="0" max="100" type="number">
                                    %
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="container-empty" *ngIf="!randomSampleData && !loadingThirdStep">
                            <p>
                                <mat-icon>clear</mat-icon>
                                {{TEXT.distribution_no_random_sample}}
                            </p>
                        </div>
                        <div class="waitingDataContainer" *ngIf="loadingThirdStep">
                            <mat-spinner></mat-spinner>
                        </div>
                        <div class="content-table" *ngIf="randomSampleData">
                            <app-table-search *ngIf="widthScreen > maxWidthMobile && !loadingThirdStep" [entity]="beneficiaryEntity" [service]="beneficiariesService" [data]="randomSampleData" [parentId]="distributionId">
                            </app-table-search>
                            <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile" [entity]="beneficiaryEntity" [service]="beneficiariesService" [data]="randomSampleData" [parentId]="distributionId">
                            </app-table-mobile-search>
                        </div>
                        <div class="content-button content-button-footer">
                            <button mat-raised-button class="button-background-primary" matStepperNext>{{TEXT.next}}</button>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step label="{{ TEXT.distribution_details_validate | titlecase }}" [stepControl]="form4">
            <form [formGroup]="form4">

                <div class="container-table">
                    <div class="container-content box-primary">
                        <div class="content-button">
                        </div>
                        <div class="container-empty" *ngIf="!finalBeneficiaryData && !loadingFinalStep">
                            <p>
                                <mat-icon>edit</mat-icon>
                                {{TEXT.distribution_not_modified}}
                            </p>
                            <button mat-raised-button class="button-background-primary" (click)="getDistributionBeneficiaries('final')">
                                {{TEXT.distribution_show_data}} </button>
                        </div>
                        <div class="waitingDataContainer" *ngIf="loadingFinalStep">
                            <mat-spinner></mat-spinner>
                        </div>
                        <div class="content-table" *ngIf="finalBeneficiaryData">
                            <app-table-search *ngIf="widthScreen > maxWidthMobile && !loadingFinalStep" [entity]="beneficiaryEntity" [service]="beneficiariesService" [data]="finalBeneficiaryData" [editable]="!actualDistribution.validated" [parentId]="distributionId">
                            </app-table-search>
                            <app-table-mobile-search *ngIf="widthScreen < maxWidthMobile && !loadingFinalStep" [entity]="beneficiaryEntity" [service]="beneficiariesService" [data]="finalBeneficiaryData" [editable]="!actualDistribution.validated"
                                [parentId]="distributionId">
                            </app-table-mobile-search>
                        </div>
                        <div class="content-button content-button-footer">
                            <div class="action-buttons">
                                <mat-spinner [diameter]="35" *ngIf="loaderCache"></mat-spinner>
                                <button mat-stroked-button [disabled]="distributionIsStored" *ngIf="!loaderCache" class="button-text-accent" (click)="storeBeneficiaries()">
                                    <mat-icon>save</mat-icon>
                                    <ng-container *ngIf="distributionIsStored; else distributionIsntStored">
                                        {{TEXT.cache_stored_beneficiaries}}
                                    </ng-container>
                                    <ng-template #distributionIsntStored>
                                        {{TEXT.cache_store_beneficiaries}}
                                    </ng-template>
                                </button>
                                <mat-spinner [diameter]="35" *ngIf="loaderValidation"></mat-spinner>
                                <button mat-raised-button *ngIf="!loaderValidation" class="button-background-accent" (click)="openDialog(validation)" [disabled]="actualDistribution.validated">
                                    <mat-icon>lock</mat-icon>
                                    {{TEXT.distribution_validate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>

    <ng-container *ngIf="actualDistribution.commodities">
        <app-mobile-money *ngIf="actualDistribution.validated && getDistributionType() === 'mobile-money' && !loadingDatas" [actualDistribution]="actualDistribution" [transactionData]="transactionData" [distributionId]="distributionId" [hasRights]="hasRights"
            [loaderCache]="loaderCache" [hasRightsTransaction]="hasRightsTransaction" (exportEmitter)="exportTransaction($event)" (storeEmitter)="storeBeneficiaries()">
        </app-mobile-money>

        <app-general-relief *ngIf="actualDistribution.validated && getDistributionType() === 'general-relief' && !loadingDatas" [actualDistribution]="actualDistribution" [transactionData]="transactionData" [distributionId]="distributionId"
            [loaderCache]="loaderCache" [hasRights]="hasRights" [hasRightsTransaction]="hasRightsTransaction" (exportEmitter)="exportTransaction($event)" (storeEmitter)="storeBeneficiaries()">
        </app-general-relief>

        <app-qr-voucher (reloadTable)="getSelectedDistribution()" *ngIf="actualDistribution.validated && getDistributionType() === 'qr-voucher' && !loadingDatas" [actualDistribution]="actualDistribution" [transactionData]="transactionData" [distributionId]="distributionId" [hasRights]="hasRights"
            [loaderCache]="loaderCache" [hasRightsTransaction]="hasRightsTransaction" (exportEmitter)="exportTransaction($event)" (storeEmitter)="storeBeneficiaries()">
        </app-qr-voucher>
    </ng-container>
</div>

<ng-template #validation>
    <mat-dialog-content class="modal-container">
        <h4 class="modal-title underline-accent stickyHeader">{{TEXT.transaction_validation}}</h4>
        <div class="dialog-template">
            <div class="modal-body">
                <p> {{TEXT.transaction_validate_distribution}} </p>
            </div>
            <div class="modal-button action-buttons stickyFooter" [ngClass]="{'arabic':language==='ar'}">
                <button mat-button class="button-text-accent" (click)="exit('Validation canceled')">{{TEXT.cancel}}</button>
                <button mat-button class="button-background-accent" (click)="confirmValidation()">{{TEXT.transaction_confirm_button}}</button>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>

<ng-template #addBeneficiary>
    <mat-dialog-content class="modal-container">
        <h4 class="modal-title underline-accent stickyHeader">{{TEXT.distribution_add_beneficiaries}}</h4>
        <div class="dialog-template">
            <div class="modal-body">
                <p> {{TEXT.distribution_select_beneficiaries}} <strong> {{actualDistribution.project.name}} </strong>
                    {{TEXT.distribution_want_add}} <strong> {{actualDistribution.name}} </strong>
                    {{TEXT.distribution | lowercase}}.</p>
                <div class="selectBeneficiaries">
                    <ng-select class="multiple-select" [(ngModel)]="selectedBeneficiaries" bindLabel="full_name" [items]="beneficiaryList" [multiple]="true" placeholder="{{TEXT.beneficiaries}}" [closeOnSelect]="false" [searchable]="true"
                        [ngModelOptions]="{standalone: true}" required>
                    </ng-select>
                </div>
            </div>
            <div class="modal-button action-buttons stickyFooter" [ngClass]="{'arabic':language==='ar'}">
                <button mat-button class="button-text-accent" (click)="exit('Adding canceled')">{{TEXT.cancel}}</button>
                <button mat-button class="button-backgroun-accent" (click)="confirmAdding()">{{TEXT.transaction_confirm_button}}</button>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>
