@import '../../../../assets/css/variable.scss'; 

.page-container {
    width: 100%;
    
    .title {
        width: 100%;
        height: 100px;
        text-align : center;
        margin: 0 auto;
        padding: 15px;

        h2 {
            text-align: left;
        }
        p {
            margin-top : 10px;
            font-size: 18px;

            mat-icon {
                padding: auto;
                margin-left: 3px;
                font-size: 20px;
                vertical-align: middle;

                &.unvalid {
                    color: grey;
                }
                &.valid {
                    color: $bms_red;
                }
            }
        }
    }
}
   
app-table-search{
    width: 100%;
    height: 100%;
}

app-table-mobile{
    width: 100%;
    height: 100%;
}

.container-content {
    border-top: solid 12px $bms_green;
}
.container-empty {
    width: 100%;
    margin: 15px;
    text-align: center;
    font-size: 18px;

    .show {
        background-color: $bms_green;
    }
}

.properties-displayed{
    display: flex;
    flex-grow: 1;
}

button{
    color: $bms_white;
    background-color: $bms_red;

    &.import-button{
        background-color: $bms_green !important;
        height: 40px;
    }

    &.add-button, &.random-button, &.refresh-button {
        width: 50px;
        height: 50px;
    }

    span{
        font-family: $bms_font_text;
        padding-left:20px;
    }

    &:disabled {
        background-color: darkgrey;
    }
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.import-content {
    margin: 15px;
    width: 100%;
}

.next-container {
    width: 100%;
    text-align: right;
    margin: 10px;

    .next {
        background-color: $bms_green;
    }

    .back {
        float: left;
        color: black;
        background-color: lightgray;
    }
}

.validation {
    width : 100%;
    text-align: right;

    .ok {
        background-color: $bms_red;
        font-weight: bold;
        width: 75px;
        height: 45px;
        margin: 20px;

        &:disabled {
            background-color: darkgrey;
        }
    }
    .back {
        float: left;
        color: black;
        background-color: lightgray;
        margin: 20px;
    }
    .transact {
        background-color: $bms_red;
        font-weight: bold;
        width: 100px;
        height: 45px;
        margin: 20px;

        &:disabled {
            background-color: darkgrey;
        }
    }
}

.content-table {
    display: flex;
    width : 100%;
    flex-direction: column;
}

.waitingDataContainer {
    width:100%;
    text-align: center;
    margin-left: 45%;
    font-size: 20px;
}

.validate, .adding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-form-field {
        width: 100%;
    }
    .action {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin: 10px;

        .cancel {
            background-color: $bms_white;
            color: $bms_red;
            margin-right: 5px;
        }
        .confirm {
            background-color: $bms_red;
            color: $bms_white;
        }
    }
}

.sample-size-input {
    width: 270px;
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-form-field {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input {
            text-align: right;
            width: 47px;
        }
    }
}

.import-export {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 40px;

    .export-button {
        background-color: $bms_green !important;
        height: 40px;
        margin-right: 0px;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .extension {
        width: 30px;
        text-align: center;
        height: 36px;

        .dropdown {
            background-color: $bms_green;
            height: 100%;
            width: 20px !important;
            padding: 2px !important;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-left: solid 1px $bms_light_grey;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3); 
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }

            mat-icon {
                float: left !important;
                margin: auto;
                color: white;
            }
        }
    }
}

.mat-menu-item {
    background-color: white;
    color: black;

    &:hover {
        background-color: $bms_green;
        color: white;
        font-weight: bold;
    }

    mat-icon {
        margin-left: 10px;
    }
}

//for mobile screen
@media only screen and (max-width: 750px){
    button{
        &.add-button{
            position: absolute;
            bottom: 20px;
            left: 80%;
            z-index: 1000;

            &:disabled {
                background-color: darkgrey;
            }
        }

        &.export-button{
            margin-right: 0px !important;
        }
    }
    
    .import-export {
        width: 100%;
        padding-bottom: 20px;
    }

    .mat-raised-button{
        font-size: 2vh;
    }
    
}