@import '../../../../assets/css/variable.scss';

mat-dialog-content {
    width: 60vw !important;

    h4 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .warning-info {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 20px;

        .container {
            width: 100%;
            height: auto;         
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba($bms_green, 0.5);
            border-radius: 8px;
            
            * {
                margin: 10px;
            }
        }
    }

    table {
        width: 100%;
      
        tr {
            &.req-detail-row {
                height: 0;
            }
            
            &.req-element-row:not(.req-expanded-row):hover {
                background: #f5f5f5;
            }
            
            &.req-element-row:not(.req-expanded-row):active {
                background: #efefef;
            }
        }
        
        td {
            cursor: pointer;
        }
        th {
            font-weight: bolder;
            font-size: 1em;
            border-bottom: 1px solid $bms_slate;
        }


        td, th {
            text-align: center;

            &.icon {
                width: 5%;
            }
            &.method {
                width: 20%;
            }
            &.target {
                width: 35%
            }
            &.date {
                width: 20%;
            }
            &.actions {
                width: 20%
            }
        }

        .req-element-row td {
            border-bottom-width: 0;
        }
        
        .req-element-detail {
            overflow: hidden;
            display: flex;
        }

        .req-details-container {
            width: 100%;
            padding: 10px 5px 10px 5px;
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .req-properties {
                width: auto;
                min-width: 20%;
                max-width: 40%;
                padding: 5px;
                margin: 5px;
                border-radius: 4px;
                background-color: rgba($bms_green, 0.5);
                overflow: hidden;
            }
        }

        .actions{
            button {
                font-size: 1em;
                font-weight: bold;
            }
        }
    }
}

.loading-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-progress-bar {
        display: inherit !important;
        width: 100%;
        height: 6px;
    }
    .progress-info {
        margin-top: 10px;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }
    .progress-errors {
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .error-row {
            width: 90%;
            margin: 5px;
            display: flex;
            justify-content: space-evenly;
        }
    }
}