@import '../../../assets/css/variable.scss';
@import '../../../assets/css/global.scss';

.stickyHeader {
  position: sticky;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $bms_white;
  z-index: 2;
  padding-block-start: 1.33em;
  margin-block-end: 1.33em;
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  background-color: $bms_white;
  margin-block-end: 1.33em;
  z-index: 1;
}

.input-file.ng-star-inserted {
  display:flex;
  p {
    margin-left: 8px;
    font-size: 15px;
    font-style: italic;
  }
  #file {
    display: none;
  }
  label {
    padding-top: 11px;
    cursor: pointer;
  }
}

