@import '../../../assets/css/variable.scss';

.stickyHeader {
  position: sticky;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  z-index: 2;
  padding-top: 20px;
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  background-color: #fff;
}