@import '../../../assets/css/variable.scss';

.stickyHeader {
  position: sticky;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $bms_white;
  z-index: 2;
  padding-block-start: 1.33em;
  margin-block-end: 1.33em;
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  background-color: $bms_white;
  margin-block-end: 1.33em;
  z-index: 1;
}

.ng-select.multiple ::ng-deep .ng-select-container .ng-value-container .ng-value {
  background-color: #424242;
}

.ng-select-focused ::ng-deep {
  .ng-select-container::after {
      border-color: #424242;
      border-width: 2px;
  }
}

.ng-select-focused ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  color: #424242;
}

.ng-select-focused ::ng-deep .ng-arrow {
  color: #424242 !important;
}

.ng-select-opened ::ng-deep .ng-option-selected {
  color: #424242 !important;
}
