@import "../node_modules/leaflet/dist/leaflet.css";
@import "./assets/css/classes.scss";
@import "./assets/css/animations.scss";

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

// THEME
@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-gray, 800);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);


body {
  font-family: 'Roboto', sans-serif;
  background-color: $bms_white !important;
}

// Override Material theme
.mat-stepper-horizontal {
  background-color: $bms_white !important;
}
.mat-drawer-container {
  background-color: $bms_white !important;
}

.mat-step-icon {
  color: $bms_white !important;
}

.mat-step-icon-not-touched {
  color: $bms_white !important;
}

@media only screen and (max-width: 750px){
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  .mat-horizontal-content-container {
    padding: 0 5px 0 0 !important;
  }
}
