@import "../node_modules/leaflet/dist/leaflet.css";
@import "./assets/css/classes.scss";

.leaflet-control-attribution.leaflet-control {
  display: none !important;  
}

// THEME
@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-teal, 300);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);