<!-- TABLE -->
<div class="table-container">
  <div class="noDataContainer" *ngIf="!filled">
      <h3>
          <mat-icon>clear</mat-icon>
          No data available
      </h3>
  </div>
    <div class="container-header" *ngIf="filled">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{table.table_filter}}">
      </mat-form-field>
    </div>
    <table *ngIf="filled" mat-table [dataSource]="data" matSort matSortActive="date_distribution" matSortDirection="asc">

      <ng-container *ngFor="let property of properties" matColumnDef="{{property}}" [class.little]="p==dependents">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{mapperService.mapTitle(property)}}</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="propertiesTypes[property]=='image'">
            <app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)" [name]="image"></app-icon-svg>
          </span>
          <span *ngIf="propertiesTypes[property]=='png'">
            <img [matTooltip]="getImageName(mapperService.mapValue(element, property))" class="png" [src]="mapperService.mapValue(element, property)">
          </span>
          <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element, property)}}</span>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell class="header-cell" *matHeaderCellDef>{{table.table_actions}}</th>
        <td mat-cell class="content-cell" *matCellDef="let element">
          <div class="validated-distribution" *ngIf="element.validated" routerLink="/projects/distributions/{{element.id}}">
              <mat-icon>done</mat-icon>
          </div>
          <div class="unvalidated-distribution" *ngIf="!element.validated">
            <button mat-icon-button class="green" routerLink="/projects/distributions/{{element.id}}">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!mapperService.mapValue(element, 'validated') && !element.validated" class="light-red" (click)="openDialog('update', element); $event.stopPropagation()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!mapperService.mapValue(element, 'validated') && !element.validated" class="red" (click)="openDialog('delete', element); $event.stopPropagation()" >
                <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="propertiesActions" class="header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: propertiesActions; let element" class="single-row distribution-details cursor-pointer" routerLink="/projects/distributions/{{element.id}}"></tr>
    </table>
    <mat-paginator *ngIf="filled" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="50" showFirstLastButtons></mat-paginator>
  </div>
  
  
  <td mat-cell *matCellDef="let element">
    <app-icon-svg *ngIf="propertiesTypes[property]=='image'" class="icon" [name]="mapperService.mapValue(element, property)"></app-icon-svg>
    <span class="icon" *ngIf="propertiesTypes[property]=='png'">
      <img src={{mapperService.mapValue(element,property)}}>
    </span>
    <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element, property)}}</span>
  </td>