@import '../../../../assets/css/variable.scss'; 

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
}

table {
  overflow: auto;
  width: 100%;
  border:0;

  td{
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-right: 12px;
    
    app-icon-svg{
      display: flex;
      width: 4.5vh;
      height: 4.5vh;
    }
  }

  .header-cell{
    text-align: center;
    width: 200px;
  }

  .content-cell{
    text-align: center;
    width: 200px;
  }
}

button{
  color: $bms_white;
  margin: 0.5vh
}

.green{
  background-color: $bms_green;
}

.red{
  background-color: $bms_red;
}

.light-red{
  background-color: $bms_light_red;
}

.png {
  height: 4vh;
  width: 2vw;
}

.dependents {
  width : 40%;
}

.distribution-details {

  &:hover {
    //background-color: lightgreen;
    cursor: pointer;
  }
}

.noDataContainer {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
}

.waitingDataContainer {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
}