  @import "../../../../assets/css/variable.scss";
 

.reporting-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .container-title{
      width: 100%;
      padding-left: 20px;
      font-family: $bms_font_header;
      font-size: 2vh;       
  }

  .container-boxes{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      padding: 20px;
      justify-content: space-between;

    button-filter{
      justify-content: end;
      display: flex;
      margin-right: 10px;
      margin-bottom: 10px;
      flex-grow: 1;
      width : 100%;
      height : 80px;
      min-width: 150px;
      &.isLast{
        margin-right: 0px !important;
      }
    }
  }

  .container-table{
    display: flex;
    width: 100%;
    padding: 20px;

    .container-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: $bms_light_grey;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);    
        border-top: solid 12px $bms_green;
        border-radius: 3px;

      .content-table{
          display: flex;
          width: 100%;
          padding : 20px;

          app-table-search{
            width: 100%;
            height: 100%;
          }

          app-table-mobile{
            width: 100%;
            height: 100%;
          }
      }

      .content-button{
        display: flex;
        width: 100%;
        padding : 20px;
        padding-bottom: 0px !important;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        .frequency {
          display: flex;
        }

        button {
          background-color: $bms_green !important;
          margin-right: 10px;
          color: $bms_white;
          


          span{
              font-family: $bms_font_text;
              padding-left:10px;
            }
        }

        button-filter{
          display: flex;
          
        }
      }


    }
  }
}

.container-indicator{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 9em;
  max-width: 100%;

  app-indicator{
    margin: 2em;
  }
}

.chartLoader{
  background-color: black;
  opacity: 0.2;
  animation: wave 2s ease-in-out 0s infinite;
}

.subtitle{
  color: $bms_dark_red ;
  text-transform: uppercase;
}

.text {
  flex-grow: 2;
  color: $bms_dark_red;
  font-size:18px;
  width: 100%;
  &:hover{
    color: $bms_green;
  }
}

.textTitle{
  text-align: left;
  width:100%;
}

.button{
  width:100%;
  padding: 15px;
}

/* Tooltip text */
.tooltip-container .tooltip-text {
  margin-top: 20px;
  font-size: 14px;
  font-family: Lato,Helvetica,Arial,sans-serif;
  visibility: hidden;
  background-color: $bms_red;
  color: #fff;
  padding: 5px;
  border-radius: 3px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

@keyframes wave {
  0%   {opacity: 0.2;}
  50%  {opacity: 0.6;}
  100% {opacity: 0.2;}
}

.loader-title{
  display: flex;
  justify-content: center;

  h1{
    display: flex;
    background-color: black;
    color: black;
    opacity: 0.2;
    width: 30%;
    font-weight: bold;
    height: 100%;
    animation: wave 2s ease-in-out 0s infinite;
  }

  h2{
    display: flex;
    background-color: black;
    color: black;
    opacity: 0.2;
    width: 20%;
    font-weight: bold;
    height: 100%;
    animation: wave 2s ease-in-out 0s infinite;
    margin-bottom: 50px;
  }
}

.no-data-box{
  border: solid 2px black;
  border-radius: 80px;
  text-align: center;
  justify-content: center;
  padding: 3%;
  margin: 5em 6em 5em 6em;
  display: flex;
  width: 100%;

  .box-title{
    display: flex;
    font-style: bold;
    font-size: 50px;
    font-family: Lato,Helvetica,Arial,sans-serif;
  }
}

.no-data-text{
  color: $bms_green;
  font-style: italic;
}

//for mobile screen
@media only screen and (max-width: 750px){
  .container-boxes{
      flex-wrap: nowrap !important;
      overflow-x: scroll;
  }
}