  @import "../../../../assets/css/variable.scss";

.container-boxes {
    width: 100%;
}

app-placeholder-boxline {
    width: 100% !important;
    margin-bottom: 30px;
}

button-filter-items{
  justify-content: end;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  width : 100%;
  height : 80px;
  min-width: 150px;
  &.isLast{
    margin-right: 0px !important;
  }
}

app-placeholder-panel {
    width: 100% !important;
    height: 400px !important;
}

.container-table {
    width: 100% !important;

    .container-content {
        border-top: solid 12px $bms_green;
      }
}


.container-indicator{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 9em;
  max-width: 100%;

  app-indicator{
    margin: 2em;
  }
}

.chartLoader{
  background-color: black;
  opacity: 0.2;
  animation: wave 2s ease-in-out 0s infinite;
}

.subtitle{
  color: $bms_black ;
  text-transform: uppercase;
}

.text {
  flex-grow: 2;
  color: $bms_black;
  font-size:18px;
  width: 100%;
  &:hover{
    color: $bms_green;
  }
}

.textTitle{
  text-align: left;
  width:100%;
}

.button{
  width:100%;
  padding: 15px;
}

/* Tooltip text */
.tooltip-container .tooltip-text {
  margin-top: 20px;
  font-size: 14px;
  font-family: Lato,Helvetica,Arial,sans-serif;
  visibility: hidden;
  background-color: $bms_red;
  color: #fff;
  padding: 5px;
  border-radius: 3px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes wave {
  0%   {opacity: 0.2;}
  50%  {opacity: 0.6;}
  100% {opacity: 0.2;}
}

.loader-title{
  display: flex;
  justify-content: center;

  h1{
    display: flex;
    background-color: black;
    color: black;
    opacity: 0.2;
    width: 30%;
    font-weight: bold;
    height: 100%;
    animation: wave 2s ease-in-out 0s infinite;
  }

  h2{
    display: flex;
    background-color: black;
    color: black;
    opacity: 0.2;
    width: 20%;
    font-weight: bold;
    height: 100%;
    animation: wave 2s ease-in-out 0s infinite;
    margin-bottom: 50px;
  }
}

.frequency {
  display: flex;
}

.button-export {
  color: $bms_grey;
}

button-filter-date{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

// .clicked {
//   background-color: $bms_dark_grey !important;
//   color: $bms_grey;
// }

.panel-frequency{
  display: none;
  .content-select-period-mobile {
    display: none;
  }
}

.content-select-period {
  width: 100%;
  padding: 20px;
  .mat-card {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    padding: 15px;
    .mat-form-field {
      width: 40%;
    }
    .apply-period {
      background-color: $bms_green !important;
      color: $bms_grey;
    }
  }
}
.content-select{
  width: 100%;
  padding: 20px;
  .mat-card {
    // justify-content: space-between;
    display: flex;
    // align-items: baseline;
    padding: 15px;
  }
  .mat-form-field {
    margin-right: 5%;
    flex-grow: 1
  }
}

.content-button {
  flex-wrap: wrap;
  flex-direction: row;
}




//for mobile screen
@media only screen and (max-width: 750px){

  .container-boxes {
    display: grid !important;
    width: 95% !important;
  }

  .container-boxline {
    width: 100% !important;
    text-align: center;
    }
    app-placeholder-panel {
        width: 100% !important;
        height: 100px !important;
        text-align: center;
    }

  .container-table {
    width: 97% !important;
  }

  .content-button {
    order: -1;
  }

  .frequency {
    display: none !important;;
  }

  .panel-frequency{
    margin-bottom: 0px !important;
    display: inline-block !important;
    width: 100%;
    margin: 1em;
    order: -1;
    .mat-expansion-panel-header {
      font-size: 1.2em;
    }
    .panel-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      .panel-selectPeriod {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
      }
      .button-period {
        background-color: $bms_green;
        font-size: 3vw;
        min-width: 70px;
        width: 90% !important;
        margin-bottom: 2vh;
      }
    }
    .content-select-period-mobile {
      font-size: 3vw;
      display: flex !important;
      width: 100%;
      flex-direction: column;
      .datepicker {
        display: flex;
        flex-direction: column;
        align-items: center;
          .mat-form-field {
          width: 100%;
        }
      }
      .apply-period-mobile {
        background-color: $bms_green !important;
        color: $bms_grey;
        font-size: 3vw;
        min-width: 70px;
        width: 50% !important;
        padding: 0px !important;
      }
    }
  }
  .content-select-period {
    display: none;
  }


  .content-select {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    margin: 1.25em;
    font-size: 1.2em;
    .mat-card {
      padding: 11px !important;
      flex-direction: column;
      .mat-form-field {
        margin: 0px 12px !important;
      }
    }
  }

  .no-data-box{
    margin: 5em 1em 5em 1em !important;
    .box-title {
      font-size: 10vw !important;
    }
  }


  div.mat-expansion-panel-body {
    padding: 0 !important;
  }

  .button-filter {
    min-height: 26vh;
  }

}
