@import "../../../../../assets/css/variable.scss";
 
$chart_titleMain_fontSize : 20px;
$chart_titleSub_fontSize : 15px;

@keyframes wave {
  0%   {opacity: 0.2;}
  50%  {opacity: 0.6;}
  100% {opacity: 0.2;}
}

.header{
  flex-basis: fit-content;
  display: flex;
  min-height: 85px;
  width: 100%;
  padding : 10px;
}

.title{
  font-weight: bold;
  display: flex;
  color: $bms_dark_red;
  padding : 5px;
  font-size: $chart_titleMain_fontSize;
  width: 100%;
  justify-content: center;

  .actions{
    float: right;
    display: flex;
    flex-direction: row;
    width: 14px;
    span {
      cursor: pointer;
    }
    .glyphicon{
      display: flex;
    }
  }
}

.headerLoader{
  flex-basis: fit-content;
  min-height: 85px;
  width: 100%;
  padding-left: 35px;
}

.titleLoader{
  display: flex;
  background-color: black;
  color: black;
  opacity: 0.2;
  font-weight: bold;
  height: 30%;
  text-align: center;
  font-size: $chart_titleMain_fontSize;
  animation: wave 2s ease-in-out 0s infinite;
}

.titleLoader1{
  width: 80%;
}

.titleLoader2{
  width: 40%;
}

.tooltip-container {
  position: relative;
  display: block;
}

/* Tooltip text */
.tooltip-container {

  .icon{
    background-color: $bms_red;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    list-style-type: none;
    position: absolute;
    margin-left: 20px;
    transition: all 0.3s ease-out;
    opacity: 1;
    z-index: 100;
    button {
      cursor: pointer;   
    }
    &:hover {
      color: $bms_red;
      background-color: $bms_white;
      border: 1px solid $bms_red;
    }
    &.closed{
      z-index: -1;
      opacity: 0;
    }
  }
.tooltip-text {
  margin-top: 20px;
  font-size: 14px;
  font-family: Lato,Helvetica,Arial,sans-serif;
  visibility: hidden;
  width: 100%;
  background-color: $bms_red;
  color: #fff;
  padding: 5px;
  border-radius: 3px;

  /* Position the tooltip text - see examples below! */
  position: fixed;
  z-index: 1;
  width: auto;
}
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover{
  cursor: pointer;
  .tooltip-text {
  visibility: visible 
  }
}

.subtitle{
  font-weight: bold;
  color: black;
  // font-size: $chart_titleSub_fontSize;
}
