@import '../../../assets/css/variable.scss'; 

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 30vh;
  width: 100%;
  max-height: 30vh;
}

.mat-table {
  overflow: auto;

  .mat-header-cell{
    justify-content: center;    
    width: 5vh; 
  }
  .mat-cell{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    app-icon-svg{
      display: flex;
      width: 4.5vh;
      height: 4.5vh;
    }
  }
}

.action-column{
  display: flex;
  justify-items: flex-end;
  background-color: $bms_green !important; 
  
}


.green{
  color: $bms_green;
}

.red{
  color: $bms_red;
}

.light-red{
  color: $bms_light_red;
}