<div class="table-container">
    <div class="noDataContainer" *ngIf="!tableData; else dataInTable">
        <h3>
        <mat-icon>clear</mat-icon>
        {{table.no_data}}
        </h3>
    </div>

    <ng-template #dataInTable>
        <div class="container-header" *ngIf="searchable">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{table.table_filter}}">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="tableData" matSort matSortActive="entityInstance.matSortActive">

            <ng-container *ngIf="selectable" matColumnDef="check">
                <th mat-header-cell class="header-cell" *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                    </mat-checkbox>
                </th>
                <td mat-cell class="content-cell" *matCellDef="let element">
                    <mat-checkbox *ngIf="element.isCheckable()" (click)="$event.stopPropagation()" (change)="selectCheck($event, element)" [checked]="selection.isSelected(element)"
                    color="primary">
                    </mat-checkbox>
                    <i class="material-icons" *ngIf="!element.isCheckable()">check</i>
                </td>
            </ng-container>

            <ng-container *ngFor="let property of displayProperties" matColumnDef="{{property}}">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>{{entityInstance.fields[property].title}}</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.fields[property]; let field">
                        <app-display-field [field]="field" [element]="element"></app-display-field>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{table.table_actions | titlecase }}</th>
                <td mat-cell *matCellDef="let element">

                    <ng-container *ngIf="validatable">
                        <button mat-icon-button (click)="openDialog('visit', element); $event.stopPropagation();">
                            <mat-icon *ngIf="element.get('validated') && element.get('finished')">done</mat-icon>
                            <mat-icon *ngIf="element.get('validated') && !element.get('finished')" class="red">lock</mat-icon>
                            <mat-icon *ngIf="!element.get('validated') && updatable" class="light-red">edit</mat-icon>
                        </button>
                    </ng-container>
                    <button mat-icon-button (click)="openDialog('visit', element); $event.stopPropagation();">
                            <mat-icon *ngIf="!validatable && updatable" class="light-red">edit</mat-icon>
                    </button>

                    <button mat-icon-button (click)="requestLogs(element); $event.stopPropagation()" class="logsButton"
                        *ngIf="loggable" [matTooltip]="table.settings_log_button">
                        <mat-icon>history</mat-icon>
                    </button>

                    <button *ngIf="editable && rights && (!validatable || !element.get('validated'))" mat-icon-button (click)="openDialog('edit', element); $event.stopPropagation()"
                        [matTooltip]="table.update" class="green">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button *ngIf="rights && deletable && (!validatable || !element.get('validated'))" mat-icon-button (click)="openDialog('delete', element); $event.stopPropagation()"
                        [matTooltip]="table.delete" class="red">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button *ngIf="printable" mat-icon-button (click)="print(element); $event.stopPropagation()"
                        [matTooltip]="'print'" class="grey" [disabled]="!element.isPrintable()">
                        <mat-icon>printer</mat-icon>
                    </button>
                    <button mat-icon-button [matTooltip]="'assign'" *ngIf="assignable" (click)="assign(element); $event.stopPropagation()" class="grey" [disabled]="!element.isAssignable()">
                        <mat-icon>assignment</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let element" class="cursor-pointer" (click)="openDialog('details', element)"></tr>
        </table>
    </ng-template>
    <mat-paginator *ngIf="paginable" [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>

