@import '../../../assets/css/variable.scss';

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .filter-combo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

    .input-filter {
      width: 15%;
      flex-shrink: 0;
    }
  }
}

table {
  overflow: auto;
  width: 100%;
  border:0;

  td{
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-right: 12px;
    width: 300px;

    app-icon-svg{
      display: flex;
      width: 4.5vh;
      height: 4.5vh;
    }
  }

  .header-cell{
    text-align: center;
    width: 200px;
  }

  .content-cell{
    text-align: center;
    //width: 200px;
  }
}

button{
    // color: $bms_grey;
    margin: 0.5vh;

    mat-icon {
      font-weight: 800  !important;
      font-size: 25px;
    }

    &:hover {
        background-color: $bms_white;
    }
  }

  .green{
    color: $bms_light_blue;
  }

  .red{
    color: $bms_red;
  }

  .light-red{
    color: $bms_dark_blue;
  }

.png {
  height: 3vh;
  width: 3vh;
}

.dependents {
  width : 40%;
}

.distribution-details {

  &:hover {
    //background-color: lightgreen;
    cursor: pointer;
  }
}

.noDataContainer {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
}

.waitingDataContainer {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
}

.validated-distribution {

    overflow: hidden;
    width: 100%;
    height: 100%;

    mat-icon {
        font-weight: 900  !important;
        font-size: 25px;
        color: $bms_green;
        overflow: hidden;
    }

    &:hover {
        background-color: $bms_white;
    }
}

.cursor-pointer {
  cursor: pointer;
}

.no-data-container {
    width: 100%;
    height: 200px;

    .loadingSpinner {
        width: 100%;
        height: 195px;
        background-color: $bms_grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value {
  background-color: #424242;
}

.ng-select-focused ::ng-deep {
  .ng-select-container::after {
      border-color: #424242;
      border-width: 2px;
  }
}

.ng-select-focused ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  color: #424242;
}

.ng-select-focused ::ng-deep .ng-arrow {
  color: #424242 !important;
}

.ng-select-opened ::ng-deep .ng-option-selected {
  color: #424242 !important;
}
    
.loadingContent {
    display: flex;
    justify-content: center;
    
    mat-spinner {
        margin-top: 30px;
    }
}