@import '../../../assets/css/variable.scss'; 

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  max-height: 300px;
}

.mat-table {
  overflow: auto;

  .mat-header-cell{
    justify-content: center;    
  }
  .mat-cell{
    justify-content: center;
  }
}

.green{
  color: $bms_green;
}

.red{
  color: $bms_red;
}

.light-red{
  color: $bms_light_red;
}