@import '../../../assets/css/variable.scss';
@import '../../../assets/css/global.scss';

.table-container {
    display: block;
    flex-direction: column;
    width: 100%;

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .buttons-header {
        display: flex;
    }

    .container-header {
        width: 25%;
        mat-icon {
            vertical-align: middle;
            color: rgba(0, 0, 0, 0.54);
            margin-right: 5px;
        }
    }

    .buttons-search-clear {
        margin-left: 10px;
        button {
            padding-left: 0;
            margin-left: 0;
        }
        mat-icon.material-icons {
            margin-left: 0;
            padding-bottom: 2px;
        }
    }

    .filter-combo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;

        .input-filter {
            width: 15%;
            flex-shrink: 0;
        }
    }
}

mat-table {
    overflow: auto;
    width: 100%;
    border: 0;
    transition: all 0.5s;

    &.displayed {
        opacity: 1;
        max-height: 1080px;
    }

    #table-header {
        font-size: 14px;
        font-weight: bold;
    }

    mat-header-cell {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        hyphens: auto;

        mat-checkbox {
            margin: 0 15px;
        }
    }

    mat-cell {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .scrollable-icons {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-x: auto;

        .icon {
            margin-right: 5px;
        }
    }

    mat-cell:last-of-type,
    mat-footer-cell:not(last-of-type),
    mat-header-cell:not(last-of-type) {
        padding-right: 0;
    }

    mat-cell:first-of-type,
    mat-footer-cell:first-of-type,
    mat-header-cell:first-of-type {
        padding-left: 0;
    }

    .header-cell {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
}

button {
    margin: 0.5vh;

    mat-icon {
        font-weight: 800 !important;
        font-size: 25px;
    }

    &:hover {
        background-color: $bms_white;
    }
}

.light-blue {
    color: $bms_light_blue;
}

.green {
    color: $bms_green
}

.red {
    color: $bms_red;
}

.dark-blue {
    color: $bms_dark_blue;
}

.grey {
    color: $bms_dark_grey;
}

.dependents {
    width: 40%;
}

.distribution-details {
    &:hover {
        cursor: pointer;
    }
}

.noDataContainer {
    margin: 10px auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: $bms_dark_grey;
}

.waitingDataContainer {
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
}

.validated-distribution {
    overflow: hidden;
    width: 100%;
    height: 100%;

    mat-icon {
        font-weight: 900 !important;
        font-size: 25px;
        color: $bms_green;
        overflow: hidden;
    }

    &:hover {
        background-color: $bms_white;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.no-data-container {
    width: 100%;
    height: 200px;

    .loadingSpinner {
        width: 100%;
        height: 195px;
        background-color: $bms_grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ng-select.ng-select-multiple ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
    line-height: 25px;
}

.loadingContent {
    display: flex;
    justify-content: center;

    mat-spinner {
        margin-top: 30px;
    }
}

mat-table.rtl {
    mat-cell {
        padding-right: 0;
    }
}

.spinner-container {
    min-height: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.table-placeholder {
    height: 400px;
}

.removed {
    background-color: $bms_neutral_grey;
    opacity: 0.7;
}

.selected-items {
    display: flex;
    width: 25%;
    margin-left: auto;
    margin-right: 10px;
    justify-content: flex-end;
    font-size: 14px;
    color: $bms_dark_grey;
    font: $bms_font_text;
}


