<div class="table-container">
    <div class="noDataContainer" *ngIf="!data">
        <h3>
        <mat-icon>clear</mat-icon>
        {{table.no_data}}
        </h3>
    </div>
    <table *ngIf="data" mat-table [dataSource]="data" matSort>
        <ng-container *ngFor="let property of displayProperties" matColumnDef="{{property}}">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>{{entityInstance.fields[property].title}}</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.fields[property]; let field">

                <ng-container *ngIf="field.kindOfField === 'Boolean' ; else isObject">
                    Hello
                </ng-container>

                <ng-template #isObject>
                    <ng-container *ngIf="field.kindOfField === 'Object'; else isMultipleObject">
                        {{ field.displayTableFunction(field.value) }}
                    </ng-container>
                </ng-template>

                <ng-template #isMultipleObject>
                    <ng-container *ngIf="field.kindOfField === 'MultipleObject'; else isArrayField">
                        <ng-container *ngIf="!field.displayTableFunction(field.value).length; else isArrayMultipleObjects">
                            {{ field.displayTableFunction(field.value) }}
                        </ng-container>
                        <ng-template #isArrayMultipleObjects>
                                <div class="multiple-items">
                                    <span *ngFor="let value of field.displayTableFunction(field.value)">
                                            <ng-container *ngIf="field.isImageInTable; else notImage">
                                                <app-icon-svg [imagePath]="value"></app-icon-svg>
                                            </ng-container>
                                            <ng-template #notImage>
                                                    {{value}}
                                            </ng-template>
                                    </span>
                                </div>
                        </ng-template>
                    </ng-container>
                </ng-template>

                <ng-template #isArrayField>
                    <ng-container *ngIf="field.kindOfField === 'MultipleSelect' || field.kindOfField === 'ArrayInputField'; else isSingleSelect">
                        <div class="multiple-items">
                            <span *ngFor="let value of field.value">
                                <ng-container *ngIf="field.isImageInTable; else notImage">
                                    <app-icon-svg [imagePath]="value.getImage()"></app-icon-svg>
                                </ng-container>
                                <ng-template #notImage>
                                        {{value.get(field.bindField)}}
                                </ng-template>
                            </span>
                        </div>
                    </ng-container>
                </ng-template>

                    <ng-template #isSingleSelect>
                        <ng-container *ngIf="field.kindOfField === 'SingleSelect'; else isNotSelect">
                                <ng-container *ngIf="field.isImageInTable; else singleNotImage">
                                    <app-icon-svg [imagePath]="field.value.getImage()"></app-icon-svg>
                                </ng-container>
                                <ng-template #singleNotImage>
                                    <ng-container *ngIf="field.value">{{field.value.get(field.bindField)}}</ng-container>
                                </ng-template>
                        </ng-container>
                    </ng-template>

                    <ng-template #isNotSelect>
                        <ng-container *ngIf="field.kindOfField === 'Date'; else isNotDate">
                            <ng-container *ngIf="field.value">{{ field.formatForApi() }}</ng-container>
                        </ng-container>
                    </ng-template>
                    <ng-template #isNotDate>
                        {{field.value }}
                    </ng-template>

                </ng-container>


            </td>
        </ng-container>


        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{table.table_actions | titlecase }}</th>
            <td mat-cell *matCellDef="let element">

                <ng-container *ngIf="validatable">
                    <button mat-icon-button (click)="openDialog('visit', element); $event.stopPropagation();">
                        <mat-icon *ngIf="element.get('validated') && element.get('finished')">done</mat-icon>
                        <mat-icon *ngIf="element.get('validated') && !element.get('finished')" class="red">lock</mat-icon>
                        <mat-icon *ngIf="!element.get('validated') && updatable" class="light-red">edit</mat-icon>
                    </button>
                </ng-container>
                <button mat-icon-button (click)="openDialog('visit', element); $event.stopPropagation();">
                        <mat-icon *ngIf="!validatable && updatable" class="light-red">edit</mat-icon>
                </button>

                <button *ngIf="editable && rights && (!validatable || !element.get('validated'))" mat-icon-button (click)="openDialog('edit', element); $event.stopPropagation()"
                    [matTooltip]="table.update" class="green">
                    <mat-icon>search</mat-icon>
                </button>
                <button *ngIf="rights && deletable && (!validatable || !element.get('validated'))" mat-icon-button (click)="openDialog('delete', element); $event.stopPropagation()"
                    [matTooltip]="table.delete" class="red">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let element" class="cursor-pointer" (click)="openDialog('details', element)"></tr>
    </table>
</div>
