<!-- TABLE -->
<div class="table-container">
  <div class="noDataContainer" *ngIf="!filled">
      <h3>
          <mat-icon>clear</mat-icon>
          No data available
      </h3>
  </div>
  <table *ngIf="filled" mat-table [dataSource]="data" matSort matSortActive="date_distribution" matSortDirection="desc">
    <ng-container *ngFor="let property of properties" matColumnDef="{{property}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{mapperService.mapTitle(property)}}</th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="propertiesTypes[property]=='image'"><app-icon-svg class="icon" *ngFor="let image of mapperService.mapValue(element, property)" [name]="mapperService.mapValue(element, property)"></app-icon-svg></span>
          <span *ngIf="propertiesTypes[property]=='png'"><img *ngFor="let image of mapperService.mapValue(element, property)" class="png" src={{mapperService.mapValue(element,property)}}></span>
          <span *ngIf="propertiesTypes[property]!='image' && propertiesTypes[property]!='png'">{{mapperService.mapValue(element, property)}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="header-cell" *matHeaderCellDef>{{table.table_actions}}</th>
      <td mat-cell class="content-cell" *matCellDef="let element">
          <div class="validated-distribution" *ngIf="element.validated" routerLink="/projects/distributions/{{element.id}}">
              <mat-icon>done</mat-icon>
          </div>
        <button mat-icon-button *ngIf="checkItemStateRights(element)" (click)="openDialog('details', element); $event.stopPropagation()" class="green">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button *ngIf="checkItemStateRights(element)" (click)="openDialog('update', element); $event.stopPropagation()" class="light-red">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="checkItemStateRights(element)" (click)="openDialog('delete', element); $event.stopPropagation()" class="red">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="propertiesActions"></tr>
    <tr mat-row *matRowDef="let row; columns: propertiesActions; let element" class="distribution-details cursor-pointer" (click)="openDialog('details', element)"></tr>
  </table>
</div>
