.content-select {
    display: flex;
    flex-direction: column;
}

.all-information {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.vulnerabilities {
    justify-content: space-around;
}
.additional-information {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}