<form [formGroup]="form" *ngIf="form">
    <tr class="modal-row" *ngFor="let field of formStructure">
        <th class="table-title">
            {{ field.name | uppercaseFirst }}
        </th>
        <td class="form-item">
            <ng-container *ngIf="field.type === 'string'; else isBoolean">
                <mat-form-field>
                    <input matInput disabled="false" type="text"
                        [formControlName]="field.name"
                        [placeholder]="field.name | uppercaseFirst">
                </mat-form-field>
            </ng-container>

            <ng-template #isBoolean>
                <ng-container *ngIf="field.type === 'boolean'; else isNumber">
                    <mat-checkbox [formControlName]="field.name" type="checkbox" color="primary"></mat-checkbox>
                </ng-container>
            </ng-template>

            <ng-template #isNumber>
                <ng-container *ngIf="field.type === 'number'">
                    <input matInput disabled="false"
                        type="number" [formControlName]="field.name"
                        [placeholder]="field.name | uppercaseFirst">
                </ng-container>
            </ng-template>
        </td>
    </tr>
</form>
