@import '../../../assets/css/variable.scss';


app-table-search {
    width: 100%;
    height: 100%;
}

app-table-mobile {
    width: 100%;
    height: 100%;
}

app-placeholder-panel {
    width: 100%;
    height: 400px;
}
.selectingBeneficiaries {
    float: right;
}
