@import '../../../assets/css/variable.scss';


app-table-beneficiaries {
    width: 100%;
    height: 100%;
}

app-table-mobile-beneficiaries {
    width: 100%;
    height: 100%;
}

app-placeholder-panel {
    width: 95%;
    height: 800px;
}


// .selectingBeneficiaries {
//     margin-top: 10px;
//     float: right;
// }



@media only screen and (max-width: 750px) {
    app-placeholder-panel {
        width: 85% !important;
    }
}