<div class="page-container">
    <div class="container-title">
        <h2>{{household.beneficiaries_title | titlecase}}</h2>
    </div>
    <!-- <app-placeholder-panel class="container-table" *ngIf="!loadingBeneficiaries"></app-placeholder-panel> -->
    <div class="container-table">
        <div class="container-content box-green">
            <div class="content-button">
                <div class="add-buttons" (mouseenter)="widthScreen > maxWidthMobile && this.addToggled = true" (mouseleave)="widthScreen > maxWidthMobile && this.addToggled = false">
                    <div class="toggled-buttons" [ngClass]="{'toggled':addToggled}">
                        <button mat-raised-button class="button-background-accent" routerLink="/beneficiaries/import">
                            <mat-icon>publish</mat-icon>
                            <span>{{household.beneficiaries_import | uppercase}}</span>
                        </button>
                        <button mat-raised-button class="button-background-accent" (click)="addOneHousehold()">
                            <mat-icon>group_add</mat-icon>
                            <span>{{household.add_beneficiary_title | uppercase}}</span>
                        </button>
                    </div>
                    <button mat-fab class="add-button" (click)="toggleAddButtons()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="action-buttons">
                    <div class="extension">
                        <button mat-raised-button class="button-background-primary" (click)="export()">
                            <mat-icon>get_app</mat-icon>
                            <span>{{household.beneficiaries_export | uppercase}}</span>
                        </button>
                        <div mat-button class="dropdown" [matMenuTriggerFor]="exportType">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </div>
                        <mat-menu #exportType>
                            <button mat-menu-item (click)="setType('xls')"> .xls <mat-icon *ngIf="extensionType=='xls'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="setType('csv')"> .csv <mat-icon *ngIf="extensionType=='csv'">done</mat-icon>
                            </button>
                            <button mat-menu-item (click)="setType('ods')"> .ods <mat-icon *ngIf="extensionType=='ods'">done</mat-icon>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <button mat-raised-button class="selectingBeneficiaries button-background-primary"
                (click)="addToProject(addBeneficiaries)" [matBadge]="selection.length">
                    Add this list to a project
                </button>
            </div>
            <div class="content-table">
                <app-table-beneficiaries #benefTable *ngIf="widthScreen > maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService"
                    [data]="households" [editable]="true" (updating)="updateBeneficiary($event)" (selected)="updateSelection($event)"></app-table-beneficiaries>
                <app-table-mobile-beneficiaries #benefTable *ngIf="widthScreen < maxWidthMobile" [entity]="referedClassToken" [service]="referedClassService"
                    [data]="households" [editable]="true" (updating)="updateBeneficiary($event)" (selected)="updateSelection($event)"></app-table-mobile-beneficiaries>
            </div>
        </div>
    </div>
</div>

<ng-template #addBeneficiaries>
    <div class="dialog-template">
        <div class="modal-header">
            <h2>Add beneficiaries to this distribution</h2>
        </div>
        <div class="modal-body">
            <p> Please select the project(s) in which you would like to add the {{selection.length}} selected beneficiaries:</p>
            <div class="selectBeneficiaries">
                <mat-form-field>
                    <mat-select placeholder="Projects" [formControl]="projectForm" [(ngModel)]="selectedProject">
                        <mat-option class="options" *ngFor="let project of projectsList" [value]="project.id">
                            {{project.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="modal-footer action">
            <button mat-button class="cancel" (click)="dialog.closeAll()">Cancel</button>
            <button mat-button class="confirm" (click)="confirmAdding()">Confirm</button>
        </div>
    </div>
</ng-template>
